[2020-10-07 16:25] chriswhitehead commented on #2143
@brettsam we are seeing this - or at least the description above aligns exactly to what we see. The very last operation in a QueueTrigger invocation is a Write-Log (aside from a catch which is a no-op). Yet we see the script execute again (after the 10 min visibility timeout).

Is there any ETA for this, or any known workarounds. I'm tempted to try putting a call to DeleteMessageAsync in a finally

[2020-10-07 17:25] mathewc commented on #2143
@brettsam - it looks like we took a commit relatively recently in this area that you assisted with: https://github.com/Azure/azure-webjobs-sdk/commit/ae7f67a478b2387b96bb9ff541367ab24a135647, which was to address issue https://github.com/Azure/azure-webjobs-sdk/issues/2345. Wasn't that issue similar to the one we're discussing here?

[2020-10-08 03:22] tanujnarula commented on #2584
Do we have any resolution for this? We have exact same issue.

[2020-10-08 07:38] Scooletz commented on #2601
Thank you for your input @brettsam 🙇 Looking forward to hearing more about the process or its amendments.

[2020-10-08 16:10] brettsam commented on #2290
@NickSevens (or @czb182, if you remember) -- how were you cancelling the host in your repro? Were you using CTRL+C from the console to cancel locally?

[2020-10-08 16:17] mathewc commented on #2601
Thanks for all your work @Scooletz, much appreciated. All the PRs referenced by this issue are now merged. We're focusing heavily on performance right now, so your changes are timely. I've been applying the "performance" tag to all performance related work.

[2020-10-08 17:05] NickSevens commented on #2290
Well, it's been a while :/ But I do believe I tried it using CTRL+C, yes.

[2020-10-08 17:59] drdamour commented on #2546
@stephanruhland but then how would u cancel the execution of the function ina way that wouldn't override the response as throwing an exception makes it a 500

[2020-10-08 20:30] brettsam commented on #2601
Going to assign this to @fabiocav to take care of some bot improvements next sprint.

[2020-10-08 20:59] stephanruhland commented on #2546
1. Implement a custom exception, like for example an _AbortRequestException_.
2. Check your custom logic in the _IFunctionInvocationFilter_ or _IFunctionInvocationAttribute_ implementation and throw your abort exception.
3. In the implementation of the interface _IFunctionExceptionFilter_ it can be checked if it is a Http function (httpContextAccessor.HttpContext != null) that is the source of the

[2020-10-09 11:14] Scooletz commented on #2601
Thank you for this positive feedback @mathewc I noticed the label and it looks awesome 😄

Just to clarify, I put the PRs as an example not as a leverage point or some kind of pressure. Being passive aggressive is not my cup of tea.

[2020-10-09 12:56] v-anvari commented on #2362
Hi @cgrevil , Apologies for the delayed response. Functions in [Consumption plan](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#consumption-plan) usually scales out if the host is not up and running. If you are still facing the issue, please provide us additional information of your function app for us to go through logs.

Repro steps:
Function App Name:
Region:
Timestamp:

[2020-10-09 14:00] ghost commented on #2566
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-10-09 15:29] sanjaykulkarni04 commented on #2566
@ThejaChoudary I am using Event Grid now. I wanted to implement custom audit trail info of each uploaded/overwrite/deleted blob/file as I mentioned in my last comments. Is there any way?

[2020-10-11 02:14] erickson71 commented on #921
What is the official MS recommendation for service bus.. Using the Asynch Collector or using SDK client?

[2020-10-12 12:19] v-anvari commented on #2374
Hi @utkarsh24 , apologies for delayed response, to access the Dead letter Queue you can use the [syntax](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dead-letter-queues#path-to-the-dead-letter-queue).

For regular messages, you can set up [different modes](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-queues-topics-subscriptions#receive-modes)

[2020-10-12 12:19] #2374 closed, assigned to nobody

[2020-10-12 17:17] v-anvari commented on #2381
_Below are my findings on the webjobs (.Net framework) package in visual studio._

Repro steps:

1. Visual studio - webjobs (.Net framework)
2. Updates with older version of _Microsoft.Azure.WebJobs_
![webjob framework](https://user-images.githubusercontent.com/66122429/95772565-9066eb80-0cda-11eb-8b13-ac8e5e1524b3.jpg)
3. Upon Upgrading to Latest versions of _Microsoft.Azure.WebJobs_ , installs t

[2020-10-12 18:00] ghost commented on #2290
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-10-13 13:00] ghost commented on #2362
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-10-13 18:22] mathewc opened #2604 "SharedBlobQueueListener not using QueueProcessor override"
The SharedBlobQueueListener used for BlobTrigger is no longer using the custom QueueProcessor it used to be configured with, which handled poison queue location override for multi-storage account scenarios. In [this commit](https://github.com/Azure/azure-webjobs-sdk/commit/56b5302dda3ff6d671fb7e4c1b9ddcce0594a9a2).

It looks like this was regressed in [this commit](https://github.com/Azure/azure-w

[2020-10-14 18:09] danielwertheim commented on #2591
@brettsam Should I interpret this as "there's nothing else to use"? And given the lack of response from your colleague,  I'm guessing this will not come out of "preview" any time this year.

[2020-10-14 19:30] yojagad opened #2605 "[AppveyorToDevops] Create azure-pipelines.yml"
Yml should target PRs and merges. It should also support creating artifacts when a keyword like [pack] is used like the way azure-functions-host does today.

Parent: #2472

[2020-10-14 19:33] yojagad opened #2606 "[AppveyorToDevops] Break up .\run-tests.ps1"
Break up the tests present in https://github.com/Azure/azure-webjobs-sdk/blob/dev/runtests.ps1 as part of azure-pipelines.yml so that they run in parallel during every build.

Parent: #2472

[2020-10-14 19:37] yojagad opened #2607 "[AppveyorToDevops] Sign the artifacts generated as part of devops"
Preferrably move away from https://github.com/Azure/azure-webjobs-sdk/tree/dev/tools/runsigningjob.ps1 and https://github.com/Azure/azure-webjobs-sdk/tree/dev/tools/PollSigningResults and use devops signing to sign the artifacts.

Parent: #2472

[2020-10-14 20:14] pragnagopa commented on #2571
Moving to Sprint 87 to figure out if this change is needed or not.

[2020-10-14 20:14] pragnagopa commented on #2570
@brettsam - should this be moved to next sprint?

[2020-10-15 15:22] pragnagopa commented on #2576
@ZachTB123  - changes made for this issue should not affect  exceptions surfaces to Application insights. Exception that you have shared above is the complete stack. We made improvement in the system logs, to show complete stack for the team to be able to diagnose issues.

[2020-10-15 15:56] viniciuschiele commented on #2586
I'm also facing this issue on Mac, I added the latest version of `Microsoft.Azure.Webjobs` and installed the latest version of `Azure Functions Core Tools`, no success. It does work when I run `func start` on the terminal.

[2020-10-15 19:00] #2290 closed, assigned to v-anvari

[2020-10-15 21:57] LayZeeDK commented on #2586
Try updating all the dependencies and tools listed here:
https://github.com/Azure/azure-functions-dotnet-extensions/issues/51#issuecomment-698359427

[2020-10-16 14:00] #2362 closed, assigned to v-anvari

[2020-10-17 00:26] MarkAtAgilliance commented on #2406
Anything moving on this?

Given that we have a
`public` override void ConfigureAppConfiguration(IFunctionsConfigurationBuilder builder)

that allows us to add in file-based json configurations, it seems then that we cannot use them in the Configure() override.

Similar to Ian, I have used a temporary config in Configure() to work around this but wonder if ConfigureAppConfiguration is even useful i

[2020-10-18 19:01] 1TheMuffinMan commented on #1314
There's absolutely no way it's been 3 years and this still isn't a feature. You guys are like trying to come out with your own car on Azure and it's released without a defroster system for the windshield after years. 🤣

[2020-10-19 03:45] krish-gh opened #2609 "Add option to enable query params logging in http request auto-collection"
Currently auto-request logging specifically skips logging the query params in the request URL. I also validated by looking at the code: https://github.com/Azure/azure-webjobs-sdk/blob/b243ac087e6efcd75b432cce327fa95eca37eb98/src/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/Initializers/WebJobsTelemetryInitializer.cs#L154
Can we expose a new option in logging->applicationInsights->httpAutoCo

[2020-10-19 10:08] sonic1981 commented on #980
Despite this thread being from 2017 the link to that wiki still has

Is this true? Is it in preview or has it been accepted permanently now?

[2020-10-19 10:10] sonic1981 commented on #980
Looks like this is getting helb up by https://github.com/Azure/azure-webjobs-sdk/issues/1284

Specifically https://github.com/Azure/azure-webjobs-sdk/issues/1284#issuecomment-559191198

[2020-10-19 10:13] sonic1981 commented on #980
Looking like this approach is going to get abandoned:

https://github.com/Azure/azure-webjobs-sdk/issues/1284#issuecomment-690342063

[2020-10-19 13:16] ThejaChoudary commented on #2600
@velocicoder-1 as **Microsoft.Azure.Webjobs.Logging.ApplicationInsights 3.0.23** is released accidentally and we are trying to get it hidden ,Please use the existing nuget package i.e **Microsoft.Azure.Webjobs.Logging.ApplicationInsights 3.0.18**.Hence proceeding to close the issue.Please free to reach out to us if you have any further queries.

[2020-10-19 13:16] #2600 closed, assigned to soninaren, ThejaChoudary

[2020-10-19 18:19] mronnlun commented on #2609
This is really relevant for rest api's where there could be parameters both from the url and the querystring, e.g. url pattern "/customers/{customerid}" and then a parameter "includeorderdata=true" can be added to the querystring. So the incoming url would be https://ourazurefunction/api/customers/12345?includeorderdata=true.

[2020-10-19 19:10] ThejaChoudary commented on #2588
Able to repro the issue.
![image](https://user-images.githubusercontent.com/57453616/96500059-e9e79100-126b-11eb-91bc-d8fb912c6155.png)
![image](https://user-images.githubusercontent.com/57453616/96500199-1f8c7a00-126c-11eb-9cc0-6c34974e3a55.png)
Even though the  Microsoft.ApplicationInsights.AspNetCore is >=2.15.0 , the Required version of dependent package Microsoft.ApplicationInsights.AspNetCor

[2020-10-19 22:41] zmarty commented on #2318
@brettsam, is it normal to see about 10K AcquireBlobLease per minute in one app service plan with 7-8 apps? Is it one lease per .. what? Per function?

[2020-10-20 14:31] BC89 commented on #1094
This still appears to be the case when i right click deploy too and is incredibly frustrating. Even when debugging locally and I've stopped the App Service in Portal, sometimes it picks up jobs thereby bypassing the local debug instance.

[2020-10-21 02:27] joshidp commented on #2088
Any update, please?

Thanks

[2020-10-21 20:39] lambdakris commented on #1284
@jeffhollan @anthonychu is there somewhere where work on middleware is being planned or tracked?

[2020-10-22 02:04] mohsinonxrm commented on #2523
@abmis-mi , here's how I got it to work
`
builder.ConfigureHostConfiguration(configuration =>
            {
                configuration.AddJsonFile("appsettings.json", false);
                var builtConfig = configuration.Build();

                var azureServiceTokenProvider = new AzureServiceTokenProvider();
                var keyVaultClient = new KeyVaultClient(
                    new Ke

[2020-10-22 02:26] nagarjunacspeaks commented on #625
Looks like this is pending since long time. Though the one with service bus batch trigger got implemented. https://github.com/Azure/azure-functions-servicebus-extension/issues/15
Any idea if this is going to implemented in near future?

[2020-10-22 02:57] abhishek-msft commented on #2523
Looks neat!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: mohsinonxrm <notifications@github.com>
Sent: Thursday, October 22, 2020 7:34:41 AM
To: Azure/azure-webjobs-sdk <azure-webjobs-sdk@noreply.github.com>
Cc: Abhishek Kumar Mishra <Abhishek.Mishra@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-webjobs-sdk] Not able to set

[2020-10-22 12:38] BobbyCannon commented on #2088
I also cannot seem to find the correct answer on how to gracefully shutdown a continuous web job.

[2020-10-22 13:53] Socolin commented on #2088
@BobbyCannon I'm using something like this as a workaround
[code]

[2020-10-22 15:44] JSCProjects commented on #2088
The problem for me was that I deployed the webjob with azure devops with deployment method "Auto-detect"
![image](https://user-images.githubusercontent.com/19533149/96896709-21358800-148e-11eb-8ae5-35616d4ec1a4.png)
after changing it to "Zip Deploy"
![image](https://user-images.githubusercontent.com/19533149/96896757-314d6780-148e-11eb-9e43-28e329906fae.png)
I was able to stop the webjob normally

[2020-10-23 14:49] piotrzbyszynski opened #2612 "Application Insights logs handled exceptions (using Polly)"
#### Repro steps
The problem occurs while using Polly library, when using `Policy.Handle<HttpRequestException>().RetryAsync()` (inside Azure Function). When the exception happens it is logged by application insights although in my opinion it should be regarded as handled

#### Expected behavior
No exception should be logged

#### Actual behavior
Exception is logged and is visible request timeline

[2020-10-23 14:59] piotrzbyszynski commented on #2548
@brettsam I have SQL command text instrumentation (in Azure Function Startup.cs) disabled like so:

[code]

Now, not only SQL command text is not logged, but SQL dependency is not logged at all. I would expect that dependency is still logged, bu only SQL query text is disabled. If I turn `EnableSqlCommandTextInstrumentation` on, both dependency and sql query text is logged

Here are dependencies I

[2020-10-23 18:43] krishnasingh1818 commented on #2548
i added below code in my function startup but still its not showing sql command text. it is showing dependency in appinsight but command text is only show sql servername instead of full command text.

builder.Services.ConfigureTelemetryModule<DependencyTrackingTelemetryModule>((m, o) =>
            {
                m.EnableSqlCommandTextInstrumentation = true;
            });

![image](https://us

[2020-10-23 19:08] brettsam commented on #2548
@krishnasingh1818 -- doing that won't work in Functions. PR #2608 will fix this by exposing these settings in host.json.

[2020-10-24 10:08] marcocenzato commented on #1687
This is an old thread.
I've found it very interesting because because I too have problems in reaching a high parallelism degree with WebJob (I'm using version 3.0.19).
Is something changed in the meantime in the SDK or what reported in this thread is still yet valid?

[2020-10-24 10:23] abhaldar opened #2615 "QueueTrigger ComplexType inconsistent Deserialization issue"
Please provide a succinct description of the issue.

#### Repro steps
Create a complex class for serving as input type in IAsyncCollector and receive the same in Queue trigger.

#### Expected behavior

It should get the object and de-serialize it correctly

#### Actual behavior

Throwing exception inconsistently

[2020-10-24T10:13:26.798] System.Private.CoreLib: Exception while executing function:

[2020-10-24 16:13] Kumar9676 commented on #1876
Is there any way I can avoid this error when using Output binding and using the return value as Blob content in Java?

Below is my function annotation and I am seeing 404 in the HEAD request of Blob.

@FunctionName("ProcessZipFiles2Cosmos")
    @StorageAccount("blobStorageAccount")
    @BlobOutput(name = "$return",
            path = "nonpii/{name}.json")
    public static String run(

[2020-10-24 18:42] #2615 closed, assigned to nobody

[2020-10-24 20:13] rubenmamo commented on #1726
Solving this would be a great help and would really simplify development of functions which access cosmos db and where you pass some sort of identifier as a header

[2020-10-25 21:07] TimPosey2 opened #2616 "Namespace clash on ConsistencyLevel with CosmosDB v3 SDK"
Latest version of `Microsoft.Azure.WebJobs.Extensions.Storage` references `Microsoft.Azure.Cosmos.Table`, which has a namespace collision on `ConsistencyLevel` with `Microsoft.Azure.Cosmos`.

#### Repro steps

1. Upgrade (or create new) project to `Microsoft.Azure.WebJobs.Extensions.Storage` 4.0.3

2. Include `Microsoft.Azure.Cosmos` to use the latest v3 SDK for CosmosDB (v3.14.0)

3. Reference `C

[2020-10-26 02:39] AartBluestoke opened #2617 "Crash with out of memory with rapid blob changes"
When there are many (>1 million/hour) blob writes, and a blob trigger anywhere on the same storage account (even on a different container) job hosts with limited memory can crash, due the log watcher materializing large arrays.

#### Repro steps

Provide the steps required to reproduce the problem

1. have some code that writes many blobs
(following code is hacked together to simulate the failure

[2020-10-26 14:35] pragnagopa commented on #2617
cc @mathewc  as FYI

Moving issue to Triaged milestone.

[2020-10-27 10:57] ThejaChoudary commented on #2566
@sanjaykulkarni04 Yes it is possible ,it is something you can do now that you are notofied of every action and every activity against the blob storage. Event create is going to call the function anytime there is an update modification,like anytime a blob is deleted or blob is created ,which gives a notification and the information is logged about the blob.

[2020-10-27 14:55] brettsam commented on #1726
There's no update on this. It would require a restructuring of how our bindings pass information, and since there's a way to do this without any change, we've prioritized this lower than other issues.

The recommended solution is to pull in the Cosmos SDK and run the query in the function itself. For example, the code where we do this from our binding (which likely can be simplified if it's not a

[2020-10-27 15:12] brettsam commented on #1876
@Kumar9676 -- can you share a sample path for the 404s you're seeing? That would help identify where it's coming from.

[2020-10-27 18:55] BobbyCannon commented on #2088
Where is this setting? We deploy our jobs with our website deployment...

[2020-10-27 23:07] mwwhited commented on #2586
When I updated to Microsoft.Azure.Functions.Extensions 1.1.0 and deploy to azure I get an error about ...

Microsoft.Azure.WebJobs.Script: The Functions scale controller may not scale the following functions correctly because some configuration values were modified in an external startup class.

 It then lists every function that has a connection string, time or queue name that is configured versu

[2020-10-27 23:12] #2548 closed, assigned to soninaren

[2020-10-27 23:24] krishnasingh1818 commented on #2548
Microsoft.Azure.WebJobs 3.0.24 seems has fix for this issue but I don't see it available on nuget.org . within how many days should I expect it to be available on nuget.org so that I can upgrade my version. pls advise.

thanks.
krishna

[2020-10-28 05:26] aaltotsky commented on #2586
Check the version of the Microsoft.Azure.WebJobs.Host.dll in the C:\Users\CURRENT_USER\AppData\Local\AzureFunctionsTools\Releases\3.13.0\cli folder. My is 3.0.19.0

[2020-10-28 11:40] v-anvari commented on #2616
@TimPosey2 , I tried to repro it by using "consistency level" in my code, but didn't get any build error. Can you kindly give us your piece of code or the solution in a zip file that's busted so that I can clone it.

If its a clone of [#247](https://github.com/Azure/azure-cosmos-dotnet-v3/issues/247), then it's a known bug and team is still working on it.

[2020-10-28 12:16] AdrianPell opened #2619 "ICollector fails - IAsyncCollector has no failure path"
### Description

Messages posted to a queue using ICollector occasionally fail. While this can be caught, IAsyncCollector cannot be used because the error is silently buried with no way to catch it.

### Expected behavior

ICollector and IAsyncCollector should either be reliable, or should have clearly documented error paths

### Actual behavior

ICollector fails with a StorageException. A similar

[2020-10-28 14:20] codecontemplator opened #2618 "Dependencies to Microsoft.Extensions.* version >= 2.1"
Hi,

This is more of a question than a bug report. We note that [the latest Azure Web Jobs SDK](https://www.nuget.org/packages/Microsoft.Azure.WebJobs/3.0.22) takes dependencies on the following Microsoft.Extensions packages:

* Microsoft.Extensions.Configuration (>= 2.1.0)
* Microsoft.Extensions.Configuration.Abstractions (>= 2.1.0)
* Microsoft.Extensions.Configuration.EnvironmentVariables (>= 2.

[2020-10-28 17:28] cgillum commented on #2619
Hi @AdrianPell. This is an issue with the storage queue binding, which is maintained elsewhere, so I'm transferring this issue to the correct repo so that the right person can take a look.

[2020-10-28 20:25] fabiocav commented on #2571
Closing this issue as this is not something will be doing now.

@Scooletz will provide some information using the other issue we have open to track some enhancements. Would love to get more feedback once those changes are done.

[2020-10-28 20:25] #2571 closed, assigned to nobody

[2020-10-29 14:56] t-l-k commented on #2332
@anthonychu @fabiocav now that the biggest `dotnet` DI issue concerning scoped instances has been resolved, the limitations presented by this quirk requires tedious boilerplate to work around, and that boilerplate has to be tested and maintained etc etc.

Its marked as a feature, but I think it really should be a **bug**, because of the unexpected behaviour when injecting classes that have depende

[2020-10-29 19:41] v-anvari commented on #2567
Hi @sanjaykulkarni04, This feature is not controlled by functions, this is controlled by storage. Were not aware of a mechanism to customize the event schema from storage, but once you have notification and once event is identified, you will have the ability to communicate with storage and retrieve any additional information you need. Yeah, but functions don't have the control of everything that c

[2020-10-29 19:41] #2567 closed, assigned to nobody

[2020-10-30 10:00] v-anvari commented on #2342
Hi @fabiocav , able to repro this scenario. Flagging this to triaged

[2020-10-31 12:00] ghost commented on #2566
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-01 06:00] #2495 closed, assigned to nobody

[2020-11-01 12:00] ghost commented on #2616
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-01 13:01] chinwobble commented on #2584
We have the same issue too

[2020-11-02 17:21] pallavit opened #2622 "TimerTrigger stopped working for the service"
Timer trigger on the webjob stopped working with no errors.

We recently upgraded the web job package versions and deployed the service and the timer trigger ran for the first pulse and then never recovered. Looking at the service logs we saw the web job thread trying to acquire the lock and was stuck on it.
Redeployment of the service fixed it. We have not seen this issue again however would like

[2020-11-02 18:37] TimPosey2 commented on #2616
In your Function1.cs:

[code]

And the .csproj looks like:

[code]

[2020-11-03 13:00] #2566 closed, assigned to pragnagopa, ThejaChoudary

[2020-11-04 02:56] musa-pro commented on #1986
I'm trying using Java but It throws me error when I tried to get meta information using @BindingName("MessageReceiver") -
[code]
Any clue?

[2020-11-04 07:23] gohar94 opened #2623 "FunctionName incorrectly parsed in Kusto logs"
Please provide a succinct description of the issue.

We noticed that after our instrumentation changes #2557, some of the apps’ logs have an incorrect `FunctionName` for the newly added log statement, while some of them are fine.

#### Repro steps
Kusto query:
[code]

#### Expected behavior

The `FunctionName` field should have the name of the function and not the name of the blob being accessed.

[2020-11-04 07:25] gohar94 commented on #2623
cc: @pragnagopa @brettsam @goiri

[2020-11-04 15:53] v-anvari commented on #2622
Hi @pallavit, We will try to retrieve the logs from our end if you could you please provide the function app name and approx. time stamp during which timer got busted.

[2020-11-04 16:41] jeffhollan commented on #2595
Moving comment from @casper-79 here: https://github.com/Azure/azure-functions-java-library/issues/132#issuecomment-721812596

  "strategy":"exponentialBackoff",
  "maxRetryCount":6,
  "minimumInterval":"00:00:10",
  "maximumInterval":"00:05:00"
}

[2020-11-04 16:48] jeffhollan commented on #2595
(we may need to break out a few of these other issues but replying in bulk here):

One thing worth noting is that the host retry policy layers **on top** of the trigger source - it doesn't know anything about the trigger source directly.  So for Event Hubs this is easy because Event Hubs itself has no retry policy so this is the only one.  However, queues is a bit more interesting.  Let's imagine

[2020-11-04 17:03] jeffhollan opened #2624 "Confirm some test cases for retry policy"
Per early feedback and questions around retry policy, want to test a few scenarios to confirm:

### Scale controller behavior
- If you have a queue triggered function and retry it 100 times with a 5 minute delay between executions, will the execution logs or locked queue message prevent it from scaling to 0?
- If you have a queue triggered function and retry it 100 times with a 30 minute delay bet

[2020-11-04 17:21] casper-79 commented on #2595
Thanks @jeffhollan

Your description matches my own initial expectations, but even though i looked for signs of step 4/5 I have yet to observe this behaviour. It seems failed messages are just stuck on the queue after the first failure in step 3.

When is step 4 supposed to take place? Up until now retries at the queue level have happened immediately, so this is what I have been looking for.

Best

[2020-11-04 18:16] pallavit commented on #2622
FunctionName: ScheduleTriggerFunctions.TriggerScheduleAsync
StartTime: 2020/10/25 10:26 AM UTC
Stop 2020/10/27 7:19 AM UTC

[2020-11-05 00:02] pragnagopa commented on #2624
Tested and added notes for FunctionTimeout and Drain Mode section in the description.

[2020-11-05 11:08] hooyao opened #2625 "AsyncLocal doesn't work between FunctionInvocationFilterAttribute and HttpTrigger"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem
I use .net core 3.1 to implement the azure functions.
The AsyncLocal doesn't work between FunctionInvocationFilterAttribute and the HttpTrigger
1. Step A
Implements FunctionInvocationFilterAttribute and set AsyncLocal value in OnExecutingAsync

2. Step B
Implements HttpTrigger

[2020-11-05 12:24] v-anvari commented on #2622
Hi @pallavit , is this a running function App, because our logs says that it doesn't exist

[2020-11-05 15:10] v-anvari commented on #2616
Thankyou for providing the code @TimPosey2 , I am able to repro the issue

If you are willing to work with the latest Microsoft.Azure.WebJobs.Extensions.Storage 4.0.3 version, then its ideal to uninstall Microsoft.Azure.Cosmos. Since, Microsoft.Azure.Cosmos.Table is included in the latest storage package.

Feel free to open the issue in case of any queries related to this issue

[2020-11-05 18:44] TimPosey2 commented on #2616
Using `Microsoft.Azure.Cosmos` is the ONLY way to utilize CosmosDB v3. Even if you're only using the SQL API (and *NOT* the Tables API) this issue prevents you from utilizing CosmosDB v3 within Azure Functions and changing the `ConsistencyLevel`. Again, I'm not using `Microsoft.Azure.Cosmos.Table`, but because it is now included in v4.0.3 of `Microsoft.Azure.WebJobs.Extensions.Storage` then it bre

[2020-11-05 20:20] pragnagopa commented on #2624
Test : Consumption plan + Azure Storage Queue Trigger + Infinite Retries

By default Azure Storage Queue Trigger retries 5 times i.e. [dequeueCount](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.storage.queue.cloudqueuemessage.dequeuecount?view=azure-dotnet-legacy) < 5 . If Message dequeue count exceeds 5, message is moved to poison queue.

If host retry is configured,  on a single h

[2020-11-05 21:33] josiahvinson commented on #2308
@brettsam is this on a roadmap?

[2020-11-05 22:14] drdamour opened #2626 "Allow DisableAttribute to be multiples"
I'd like to annotate Functions with multiple disables so i could have
[code]

and it'd be disabled if either DISABLE_EXPERIMENTAL or DISABLE_BROKEN settings resolve true

[2020-11-06 00:23] fabiocav commented on #2626
@drdamour can you share more details of your use case? Thanks!

[2020-11-06 00:38] fabiocav opened #2627 "Ensure XML docs are properly present in the Microsoft.Azure.Webjobs package"
Ensure XML docs are present in the Microsoft.Azure.Webjobs package to prevent Intellisense issues.

[2020-11-06 00:39] fabiocav opened #2628 "Ensure XML docs are properly present in the Microsoft.Azure.Webjobs.Core package"
Ensure XML docs are present in the Microsoft.Azure.Webjobs package to prevent Intellisense issues.

[2020-11-06 00:40] fabiocav opened #2629 "Ensure XML docs are present in the Microsoft.Azure.Webjobs.Logging package"
Ensure XML docs are present in the Microsoft.Azure.Webjobs.Logging package to prevent Intellisense issues.

[2020-11-06 01:11] drdamour commented on #2626
@fabiocav what details are u looking for?

[2020-11-06 01:37] fabiocav opened #2630 "Ensure XML docs are properly present in the Microsoft.Azure.Webjobs.Logging.ApplicationInsights package"
Ensure XML docs are present in the Microsoft.Azure.Webjobs.Logging.ApplicationInsights package to prevent Intellisense issues.

[2020-11-06 01:39] fabiocav opened #2631 "Ensure XML docs are properly present in the Microsoft.Azure.Webjobs.Extensions.Storage package"
Ensure XML docs are present in the Microsoft.Azure.Webjobs.Extensions.Storage package to prevent Intellisense issues.

[2020-11-06 15:18] pragnagopa commented on #2616
cc @brettsam
Thanks for reporting the issue. Moving it next sprint to discuss options we have to address this issue.

[2020-11-06 20:13] command0r opened #2632 "Azure DevOps build fails due to inability to restore dependencies"
We've got an Azure durable function we're building in a Docker container (using Azure Pipelines). The process fails due to the following error:
`Determining projects to restore...
Restored /src/azure-functions-host/src/WebJobs.Script.WebHost/WebJobs.Script.WebHost.csproj (in 11.14 sec).
/src/azure-functions-host/src/WebJobs.Script/WebJobs.Script.csproj : error NU1605: Detected package downgrade: M

[2020-11-09 07:57] tompazourek opened #2634 "Unhide the previously hidden Microsoft.Azure.Webjobs.Logging.ApplicationInsights 3.0.23 on NuGet"
In #2600, the **[Microsoft.Azure.WebJobs.Logging.ApplicationInsights](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/) 3.0.23** was hidden because **[Microsoft.Azure.WebJobs](https://www.nuget.org/packages/Microsoft.Azure.WebJobs/) 3.0.23** was not yet released on NuGet.

On Wednesday 4th November, the **Microsoft.Azure.WebJobs 3.0.23** has already been released

[2020-11-09 13:00] ghost commented on #2622
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-09 14:52] ThejaChoudary commented on #2618
@codecontemplator The dependencies of.net core and dependencies of DOT Net standard are different things, so there should not be any conflict.Please let us know if the conflicts occurs so that we can investigate further.

[2020-11-09 18:18] v-anvari commented on #2493
Hi @Glebby, Let us know if you are still facing the issue, if yes, we require additional information to find the errors. Please provide us the details of your App name and timestamp of the error and repro steps

[2020-11-09 19:47] brettsam commented on #2634
Done.

[2020-11-09 19:47] #2634 closed, assigned to mathewc

[2020-11-10 23:18] anthonychu opened #2635 "AppInsights - Override function app properties in logs with Static Web Apps resource information"
2020/12/10 updating to only overriding cloud rolename. The remainder will be in #2654

https://github.com/Azure/static-web-apps/issues/204

@annaji-msft can you share more details on what properties to override and where to get the value from?

@brettsam FYI

[2020-11-11 00:08] yojagad opened #2636 "TriggerAdapterBindingProvider not taking requestedType into account"
Currently TriggerAdapterBindingProvider does not take into account the requestedType provided to it and value returned by `GetDefaultType` would depend on the Converters available and their precedence as specified here https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Bindings/BindingProviders/TriggerAdapterBindingProvider.cs

As a result, any extensions that do

[2020-11-11 09:24] v-anvari commented on #2496
Please find the discussion in [#1284](https://github.com/Azure/azure-webjobs-sdk/issues/1284)

[2020-11-11 15:21] codecontemplator commented on #2618
Thanks for the response @ThejaChoudary . Please have a look at https://github.com/collector-bank/azure-webjobs-sdk-issue-2618 for a repro case of a the problem we are experiencing.

[2020-11-11 21:29] fabiocav commented on #2616
This is a compatibility issue. Currently, the version of the extension you're using does not support the version of the Cosmos DB SDK you're referencing. This is currently in progress.

If you need to use the latest SDK version, you can use that standalone, without the extension functionality.

[2020-11-11 21:29] #2616 closed, assigned to nobody

[2020-11-12 14:00] #2622 closed, assigned to soninaren, v-anvari

[2020-11-13 06:00] v-anvari commented on #2393
Hi @bilalmalik777, running webjobs would be an alternative to windows service, you can find a bit more information on windows service migration in [here](https://stackoverflow.com/a/59476088).

[2020-11-13 06:00] #2393 closed, assigned to nobody

[2020-11-13 10:00] okyrylchuk opened #2638 "Custom Metrics are not collected using Application Insights"
Hi,
I've added custom Event Counters to my WebJob. I can collect them using `dotnet-counters` tool locally. I have a problem to configure Application Insights to collect them.

My Program.cs file looks this:
[code]

I found the example of customizing counters to be collected here https://docs.microsoft.com/en-us/azure/azure-monitor/app/eventcounters#customizing-counters-to-be-collected.

I've also

[2020-11-13 11:44] Ruud-cb commented on #2586
I'm having the same error as @mwwhited , I'm now trying to revert to v1.0.0. Above reference shows detailed azure function setup & versions whoever is interested.
EDIT: Downgrade did solve the problem, still having issues regarding trigger syncing with azure infrastructure, which I am now writing a issue for.

[2020-11-13 22:23] paulbatum commented on #2575
Hi folks, good news - the first 5.0 preview release of the storage extension is now available:
https://github.com/Azure/azure-sdk-for-net/releases/tag/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs_5.0.0-beta.1
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage/5.0.0-beta.1

Also please be aware that the new extension lives here:
https://github.com/Azure/azure-sdk-for-net/

[2020-11-14 01:10] zmarty commented on #2488
@fabiocav  We still need this :)

[2020-11-14 09:41] mauve commented on #2575
That is amazing, can't wait to try it out on Monday!

This means I can omit the key from the AzureWebJobsStorage setting even when deploying?

[2020-11-15 10:00] ghost commented on #2493
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-16 10:30] Fin3 commented on #1980
It worked for me also, and imho it's the right way to do it.

However to let it work i need to have informations about task scheduling in both the task activation:

[code]

than in the file Settings.job (that was auto-created during publish process):
[code]
If I delete the file Settings.job the job will be executed only the first time.
If I delete the parameters from the RetrieveDataExecution func

[2020-11-16 17:47] fabiocav commented on #2626
@drdamour just trying to understand your scenario and why what we currently have is a blocker. This would help us evaluate and prioritize the feature on our side.

[2020-11-16 17:49] drdamour commented on #2626
@fabiocav yeah but i laid out my scenario when i opened the ticket..can you please explain the additional detail you're looking for?

[2020-11-16 18:17] paulbatum commented on #2575
@mauve Not yet. AzureWebJobsStorage is used by the functions host and we have not updated it to the v12 SDK yet. Similarly, our scale infrastructure uses your connection strings to monitor event sources and that has not been updated either. We are beginning design and planning for this work now. You should treat this preview release as an opportunity to see how much of your code you are going to n

[2020-11-16 18:40] paulbatum commented on #2436
The fix was made and deployed to Azure Stack, but deploying to public Azure is still pending. Reopening until that happens.

[2020-11-16 18:58] fabiocav commented on #2626
@drdamour what is described above is what and how you'd like to do it. Can you please elaborate on the why? Why is what we have now insufficient for what you're trying to accomplish?

Thanks!

[2020-11-17 00:44] drdamour commented on #2626
Ok.  Because i want one code base in all my environments.  In prod i want to disable the broken and experimental, in test i want to only disable broken, and in dev i want all enabled (disable none).  Is that what u were looking for?

[2020-11-17 01:51] lovettchris commented on #983
I was having the same problem with Azure Functions (built on WebJobs) until I switched to a more expensive VM that runs my job with more than 1 core.  This way the health monitoring is not blocked by the work my job does.  I would argue that since web jobs architecture requires health monitoring, you should pay for (and automatically configure) that extra core to get health information back from m

[2020-11-17 08:46] ThejaChoudary commented on #2623
@gohar94, Could you please provide the function app name and time stamp ,which would be helpful for us to retrieve the logs.

[2020-11-17 10:09] ThejaChoudary commented on #2520
@chitoiur **Microsoft.Azure.Search** package has been deprecated as it is legacy and no longer maintained. Can you please use alternative **Azure.Search.Documents** .
And also please make use of  the latest versions to avoid version conflicts.
 **Microsoft.Azure.WebJobs.Extensions.Storage**  4.0.3
**Microsoft.Azure.Cosmos.Table**  1.0.8
**Microsoft.OData.Core**  7.7.3
**Microsoft.Spatial**  7.7.3

[2020-11-17 15:34] pragnagopa commented on #2623
@ThejaChoudary - thanks for pinging. I have context on this. Assigned this to myself.

[2020-11-18 11:00] #2493 closed, assigned to v-anvari

[2020-11-19 16:56] jjcv2304 commented on #2222
There is a solution proposal on stackoverflow https://stackoverflow.com/questions/64904741/how-to-unit-test-when-microsoft-azure-servicebus-core-messagereceiver-is-involve#comment114768525_64904741
But I'm not sure of possible side effects when casting down to the interface, Does someone knows if that solution has any inconvenient, aside from having to add more code?

[2020-11-19 16:56] jjcv2304 commented on #2365
There is a solution proposal on stackoverflow https://stackoverflow.com/questions/64904741/how-to-unit-test-when-microsoft-azure-servicebus-core-messagereceiver-is-involve#comment114768525_64904741
But I'm not sure of possible side effects when casting down to the interface, Does someone knows if that solution has any inconvenient, aside from having to add more code?

[2020-11-19 18:05] v-anvari commented on #2591
Hi @danielwertheim, Details on the status are [here](https://github.com/Azure/azure-webjobs-sdk/issues/1284). Adding the issue to feature request

[2020-11-19 20:22] StannieV commented on #2365
Perhaps [my suggestion](https://github.com/Azure/azure-webjobs-sdk/pull/2218#issuecomment-647584346) in #2218 is also an option.

[2020-11-19 20:22] StannieV commented on #2222
Perhaps [my suggestion](https://github.com/Azure/azure-webjobs-sdk/pull/2218#issuecomment-647584346) in #2218 is also an option.

[2020-11-19 20:33] jjcv2304 commented on #2365
@StannieV I like your solution better than the one on stackoverflow. Would you like to add it to stackoverflow? I would accept it as the right answer

[2020-11-19 21:06] mathewc opened #2640 "QueueTrigger RTS improvements"
We should consider adding the new QueueTrigger scale heuristics that were added to ScaleController to the RTS logic. These ScaleController changes were made after the initial version of RTS was released.

Those ScaleController changes also apply to ServiceBus, so if we do this we should also do it for ServiceBusTrigger.

[2020-11-19 22:24] StannieV commented on #2365
Done

[2020-11-20 13:04] v-anvari commented on #2380
Hi @r1sc , Let us know if you are still facing issues with the latest packages.

[2020-11-20 13:49] v-anvari commented on #2379
Hi @OzBob , Apologies for the delay in response. Let us know if you were able to resolve the issue. Let us know if you are still facing the issue, so that we can look into backend logs

[2020-11-20 13:55] v-anvari commented on #2390
Hi @irriss , Apologies for the delay in response. Let us know if you were able to resolve the issue. If you are still facing the issue, let us know the repro steps, so that we can clone the scenario. Were you using Visual studio to deploy the case?

[2020-11-21 11:00] ghost commented on #2520
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-22 21:07] KonKri commented on #2549
This issue was gone for me when Microsoft.Azure.WebJobs.Extensions.Storage and Microsoft.NET.Sdk.Functions were both in the 3.0.11 version.

[2020-11-24 12:00] #2520 closed, assigned to ThejaChoudary

[2020-11-24 14:00] ghost commented on #2390
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-24 14:00] ghost commented on #2380
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-24 14:00] ghost commented on #2379
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-11-25 21:41] matejskubic opened #2644 "Update package reference to Azure.Storage"
WebJobs.Extensions.Storage still [refers](https://github.com/Azure/azure-webjobs-sdk/blob/72cf608c3891045390b0f26d7ecec63c8a81cef7/src/Microsoft.Azure.WebJobs.Extensions.Storage/WebJobs.Extensions.Storage.csproj#L98) to obsolete package [Microsoft.Azure.Storage.Queue](https://www.nuget.org/packages/Microsoft.Azure.Storage.Queue/).

All references should be updated to Azure.Storage ([Azure.Storage.

[2020-11-26 12:23] v-anvari commented on #2644
Hi @matejskubic, Thank you for pointing this out to us.

Triaging the issue for updating the changes

[2020-11-27 10:11] v-anvari commented on #2455
Hi @d3ullist, I am able to build successfully with the latest package references.

 <PackageReference Include="Microsoft.Azure.WebJobs.Extensions.Storage" Version="3.0.10" />
    <PackageReference Include="Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator" Version="1.2.0" />
    <PackageReference Include="Microsoft.NET.Sdk.Functions" Version="3.0.7" />

1>Done building project "FunctionAp

[2020-11-27 10:34] v-anvari commented on #2477
Hi @ggailey777, Thank you for pointing this to us! We will review and update as appropriate.

@mathewc , Can we make the required changes in the [summary tag ](https://github.com/Azure/azure-webjobs-sdk/blob/72cf608c3891045390b0f26d7ecec63c8a81cef7/src/Microsoft.Azure.WebJobs/DisableAttribute.cs#L54)

[2020-11-27 15:00] #2390 closed, assigned to v-anvari

[2020-11-27 15:00] #2380 closed, assigned to v-anvari

[2020-11-27 15:00] #2379 closed, assigned to v-anvari

[2020-11-27 16:17] djjlewis opened #2645 "FunctionIndexingException thrown when same function method name is used in different classes"
Having a `[ServiceBusTrigger]` attribute `Message` parameter on one or methods with the same name, but in different classes, throws `Microsoft.Azure.WebJobs.Host.Indexers.FunctionIndexingException: Error indexing method  System.ArgumentException: An item with the same key has already been added.` in `FunctionIndexer.cs` line 93 when the webjob console app starts.

It appears this broke from versio

[2020-11-27 16:18] bojidar-bg opened #2646 "TriggerData.ReturnValueProvider ignored if ValueProvider is not given"
If one creates a TriggerBinding which uses `ReturnValueProvider` without also using a `ValueProvider` (via the `TriggerData` constructor), the `ReturnValueProvider` is ignored.

#### Repro steps

1. Create and register a WebJobs extension that uses `ITriggerBinding`.

2. Make sure that `ITriggerBinding.BindAsync` returns `TriggerData` without a `ValueProvider` but with a `ReturnValueProvider`, e.g

[2020-11-29 14:27] d3ullist commented on #2455
Using v1.2.0 the build error no longer seems to occur

[2020-11-29 14:27] #2455 closed, assigned to v-anvari

[2020-11-29 16:58] hakon3 commented on #1094
try changing the version of your app before you deploy, just up the minor.

[2020-11-30 16:38] v-anvari commented on #2412
Hi @ThomasArdal , Apologies for the delayed response, We would like to know if you are still seeing such errors with the latest versions and packages.

[2020-11-30 19:22] ThomasArdal commented on #2412
I don't see the error in any of my logs. But to be honest, I have "fixed" errors like this by simply creating ignore rules for them.

[2020-12-01 07:51] v-anvari commented on #2412
@ThomasArdal , Thank you for the confirmation

[2020-12-01 07:51] #2412 closed, assigned to nobody

[2020-12-01 08:30] v-anvari commented on #2481
Hi @toburger , There is a beta  package available here
[Microsoft.Azure.WebJobs.Extensions.Storage/5.0.0-beta.1](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage/5.0.0-beta.1).

You can also find the related discussion in [#2575](https://github.com/Azure/azure-webjobs-sdk/issues/2575)

[2020-12-01 08:32] #2481 closed, assigned to nobody

[2020-12-02 10:55] phatcher opened #2647 "Latest releases not on nuget"
The last release on nuget is 3.0.23 though your release page shows 24 and 25 as being released.

#### Repro steps

Provide the steps required to reproduce the problem

1. Step A

2. Step B

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actual behavior observed.

#### Known workarounds

Provide a description of any known

[2020-12-02 14:08] brettsam opened #2648 "[BlobTrigger] Change BlobScanInfo to use continuation token rather than timestamp"
Several years ago, I added the `BlobScanInfo` to speed up our processing of blobs in large containers: #824

Because blob queries cannot sort or filter, we still have to list all blobs in the container on host startup. But now if the `LastUpdated` timestamp is older than the serialized `BlobScanInfo`, we'll skip it quickly.

We've had some customer incidents where a customer is trying to trigger o

[2020-12-02 14:10] brettsam commented on #2648
FYI -- flagging as a supportability issue (even though it's more of a perf issue) so we don't lose track of it. It takes a long time to diagnose problems like this and ideally customers would never hit it.

[2020-12-02 19:25] FinVamp1 opened #2649 "Detect if Application Insights is not able to connect to the Telemetry and Live Metrics Endpoints."
Customers run their Functions in a number of environments.
In some of these environments like Isolated and\or Functions Premium it is possible that they may have configured the Virtual Networks in such a way as to block access to the endpoints.
E.G DNS, Route Tables, NSG's etc.

https://docs.microsoft.com/en-us/azure/azure-monitor/app/ip-addresses

The customer may also choose to block ingestion f

[2020-12-02 20:07] fabiocav opened #2650 "Deprecate the old Microsoft.Azure.WebJobs.ServiceBus package"
Opening this issue to track the work to mark Microsoft.Azure.WebJobs.ServiceBus as deprecated and delist the appropriate versions.

[2020-12-03 17:55] kasobol-msft commented on #2648
If implemented plz make sure this also lands in latest extension here: https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs

[2020-12-03 18:09] v-anvari commented on #2475
Hi @yojagad, Do we have any updates here, request you to Triage the issue in case it still requires implementation.

[2020-12-03 19:03] yojagad commented on #2475
AppInsights is at 2.16. https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/WebJobs.Logging.ApplicationInsights.csproj . This can be closed.

[2020-12-03 19:03] #2475 closed, assigned to nobody

[2020-12-03 22:14] anthonychu commented on #2635
Proposal

- If `WEBSITE_CLOUD_ROLENAME` is set, use it to override Cloud RoleName in app insights
- If `WEBSITE_APPINSIGHTS_REQUEST_HOSTNAME` is set, replace the request.URL hostname

https://github.com/anthonychu/20201201-appinsights-override/blob/872d98fecdfd2b9c238397d08be043931a799966/functions/MyRoleEnvironmentTelemetryInitializer.cs#L58-L73

[2020-12-04 11:05] realrubberduckdev commented on #2586
I just installed the latest azure-functions-core-tools and I do not get this load error anymore.

[code]
[code]

[2020-12-04 11:38] Ruud-cb commented on #2586
@realrubberduckdev I didn't mention it that clearly, but my problem was occuring in Azure, did they update it there as well?

[2020-12-07 19:04] ashvinnihalani commented on #1073
Is this still not implemented?

[2020-12-08 17:02] cn894 commented on #2109
Hi, my team is still looking for official MSI support in the SDK. Has there been any update on this issue?

[2020-12-09 09:31] v-anvari commented on #2647
Hi @phatcher, Thank you for pointing this out to us.

Hi @mathewc, Can you please look into this and kindly make the required changes.

[NuGet gallery](https://www.nuget.org/packages/Microsoft.Azure.WebJobs/):

![image](https://user-images.githubusercontent.com/66122429/101610754-ac62e100-3a2e-11eb-82c0-46059c336710.png)

[azure-appservice](https://myget.org/gallery/azure-appservice):

![image](ht

[2020-12-09 21:37] ComeChao opened #2652 "Durable function timeout exception bug"
This is moved from Azure Durable Functions. (https://github.com/Azure/azure-functions-durable-extension/issues/1599)

I have an Azure Durable Function whose host.json file sets all functions to never timeout:
{ "version": "2.0", "functionTimeout": "-1" } }

When the durable function is run though the activity function called by the orchestrator function gets a timeout after the default 30 minutes:

[2020-12-09 21:38] ComeChao commented on #2652
I tried these changes to host.json:

{
"version": "2.0",
"functionTimeout": -1
}
and
{
"version": "2.0",
"functionTimeout": "-01:00:00"
}

and got the Timeout Exception in both cases.

2020-12-09T20:27:05.997 [Error] Timeout value of 00:30:00 exceeded by function 'LongRunningActivity' (Id: ''). Initiating cancellation.

The stack trace is this:

at Microsoft.Azure.WebJobs.Host.Executors.FunctionEx

[2020-12-09 21:49] mathewc commented on #2652
What SKU are you running in? The limits for timeout values by SKU are here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout.

Can you share your function app name/info, or an invocation ID for a failed function that we can look into? What are the code details of your function - is it a .NET function with a [Timeout] attribute applied directly to it (which

[2020-12-09 22:04] ComeChao commented on #2652
SKU: Premium

Target framework: .NET Core 3.1

packages:
Microsoft.Azure.Functions.Extensions (1.0.0)
Microsoft.Azure.Webjobs (3.0.16)
Microsoft.Azure.Webjobs.Extensions.DurableTask (2.2.2)
Microsoft.NET.Sdk.Functions (3.0.9)

The  activity function does not have a Timeout attribute.

This is one invocation of the activity function:
Date (UTC)		Success	Result Code 	Duration (ms)	Operation Id
2020-

[2020-12-10 02:04] rseanhall opened #2653 "Singleton lock timing relative to PrepareParameters"
I'm using the Blob binding functionality along with Singletons (https://github.com/rseanhall/issue-label-watcher/blob/6730985892d705ae1feae597483a4f9c152d3566/IssueLabelWatcherWebJob/Functions.cs). Right now, the input Blob parameter is created before acquiring the Singleton lock and that's defeating the purpose of why I need the Singleton.

https://github.com/Azure/azure-webjobs-sdk/blob/56f26f32

[2020-12-10 22:23] fabiocav commented on #2623
PR out, fix in progress. @pragnagopa is working on additional validation, so bumping this to sprint 91

[2020-12-10 22:58] anthonychu opened #2654 "AppInsights - Override request URL with SWA hostname if app setting exists"
`WEBSITE_APPINSIGHTS_REQUEST_HOSTNAME` is the proposed app setting name, but open to suggestions.

[2020-12-10 23:00] anthonychu commented on #2635
Scoping this only to overriding the cloud rolename via `WEBSITE_CLOUD_ROLENAME`. The remainder of the work is split to #2654

[2020-12-11 18:22] ComeChao commented on #2652
Also run the Durable Function with ""functionTimeout": "02:00:00" and also got the timeout excepton. 'GenerateExtract_Worker' is an activity function called by an orchestrator function:

2020-12-11T16:58:51  Welcome, you are now connected to log-streaming service. **The default timeout is 2 hours.** Change the timeout with the App Setting SCM_LOGSTREAM_TIMEOUT (in seconds).
2020-12-11T16:59:51  No

[2020-12-14 20:02] soninaren commented on #2436
This has now been deployed to public Azure.

[2020-12-14 20:02] #2436 closed, assigned to soninaren

[2020-12-15 17:25] pragnagopa commented on #2647
@mhoeger  - Assigned this to you as the current release owner.  Can you please follow up and check if runtime is deployed to Windows and Linux if yes, release from myget to nuget?

[2020-12-15 19:28] pakrym commented on #2627
microsoft.azure.webjobs 3.0.23 shipped without xml docs:

[code]

[2020-12-16 14:45] chrismcclure commented on #2546
@stephanruhland , I would very much like to use your idea. However, isn't IFunctionInvocationFilter  obsolete?  I am running Azure Functions 3 and when I go to implement it, visual studio let's me know that is obsolete.

[2020-12-16 15:34] stephanruhland commented on #2546
Yes, its marked as obsolete but i think they want to update and remove the obsolete attribute. It says only "preview" and not outdated code. Im dont know another "better" solution for now, so that was my way to go.
[code]

[2020-12-16 23:01] sujjitt commented on #2566
This issue is still relevant. I have logs turned on

[2020-12-17 17:34] v-anvari commented on #2638
Hi @okyrylchuk , [azure-functions-supported-features](https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-functions-supported-features#supported-features), Event Counters are not listed in the supported features as of now, which could be why you are unable to see them in insights.

 Tagging  @brettsam, for more inputs

[2020-12-18 13:55] ahawes-clarity commented on #2308
Looking for this too.

[2020-12-18 16:26] b10-dslappendel commented on #2152
I'm currently hitting this issue as well (and I'm quite surprised since this issue exists for almost 2 years now!). The docs clearly state that when `autoComplete: "false"`, we are responsible for handling abandon as well. So it's quite odd that the functions framework still abandons it on its own. Is there anyone responsible for fixing this?

[2020-12-20 01:14] joelverhagen opened #2655 "Application Insights metrics are filtered out when log level excludes Information"
### Repro steps

1. Install `Microsoft.Azure.WebJobs.Logging.ApplicationInsights`
2. In host.json, set log level to be `Warning` or more severe
3. Depend on `TelemetryClient` in your Azure Function constructor
4. Emit a metric in the body of your Azure Function

**host.json**
[code]

**Function1.cs**
[code]

### Expected behavior

The custom metric should appear in Application Insights.

### Actua

[2020-12-21 19:30] okyrylchuk commented on #2638
Hi @v-anvari, thank you for your response.
Besides Event Counters, custom metrics from TelemetryClient also didn't show up in the App Insights. I did workaround. I've created my own instance of TelemetryClient and register it as singleton. It's not recommended in documentation. But it's the only working way I found.

[2020-12-22 09:21] v-anvari commented on #2638
Hi @okyrylchuk , Thank you for the update. It should be fine to create an instance of your own, until there is a warning or error. Let us know if you are facing any difficulty with your work around

[2020-12-22 09:56] v-anvari commented on #2626
Hi @drdamour , Can you give us the piece of code that you think is busted. We also require the repro steps for us to understand the scenario better. It would be helpful if you could provide us any related links that you are referring to.

[2020-12-22 14:41] drdamour commented on #2626
@v-anvari nothing is busted, this is an enhancement request. I provided the code in the initial post

[2020-12-23 06:01] litex1982 commented on #2546
Can you suggest how can we abort the exception in IFunctionExceptionFilter?

[2020-12-26 10:00] ghost commented on #2638
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-12-26 12:07] okyrylchuk commented on #2638
Hi @v-anvari, I've been using my workaround more than a month. No warning or error. I can see my custom metrics in the App Insights.

[2020-12-28 10:42] v-anvari commented on #2638
Thankyou for the update. Closing the issue

[2020-12-28 10:42] #2638 closed, assigned to nobody

[2020-12-29 11:25] andreybutko commented on #2152
Don't forget about that issue with using Startup: https://github.com/Azure/azure-functions-servicebus-extension/issues/81

[2020-12-29 23:59] kumarz commented on #162
is there a way to increase the maxDequeueCount from 5 to our wish?

[2020-12-31 22:55] kumarz commented on #2112
I am running into a similar situation for .Net framework 4.6.2.
I am getting the following error message in spite of having the value in app.config.

![image](https://user-images.githubusercontent.com/22509606/103428905-255de000-4b78-11eb-8995-d4eb72e3f88d.png)

[2020-12-31 23:56] kumarz opened #2656 "Looking for an example of .net framework and not .netcore"
Provide the steps required to create .net framework project for Azure webjobs. I have found the sample for .net core and it works great. However, would like to know about .net Framework

since I am getting an error for missing AzureWebStorage in-app settings in spite of having it in in the app.config file.

#### Repro steps

* create a .net framework project of version 4.6.2
* reuse the code of .n

[2021-01-04 06:38] SeanFeldman commented on #1577
Function V3 with the following

[code]

is throwing

[code]

[2021-01-05 09:25] v-anvari commented on #2632
Hi @command0r, 3.0.25 version is yet to be updated in the NuGet gallery, which will be updated soon.

[2021-01-05 11:10] v-anvari commented on #2656
Hi @kumarz, We would like to understand your scenario better. Can you provide us the piece of code that's busted. We require the content of your [app settings](https://github.com/Azure/azure-functions-core-tools/issues/1473) file or the zip deploy so that we can clone the scenario.

Also, Could you please go through the issue number [#1473](https://github.com/Azure/azure-functions-core-tools/issue

[2021-01-05 14:38] kumarz commented on #2656
@v-anvari
Thanks for taking time to look into my issue. So I don't have any code with me. Hence asking for a sample project that is of .net framework 4.X for a webjob.

I thought it would be nice to have

[2021-01-05 17:53] v-anvari commented on #2656
Hi @kumarz , Please find the link to [create the webjobs using . Net Framework](https://docs.microsoft.com/en-us/azure/app-service/webjobs-dotnet-deploy-vs#webjobs-as-net-framework-console-apps).

Can you confirm if you have [configured Storage](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started#configure-storage-to-run-locally) to run locally in Appsetting.json file and no

[2021-01-05 17:57] kumarz commented on #2656
I was looking for this,
I found it finally.
https://github.com/Azure/azure-webjobs-sdk-samples/tree/master/BasicSamples/QueueOperations

Thanks @v-anvari

[2021-01-05 17:57] #2656 closed, assigned to nobody

[2021-01-05 19:22] pawel-zolty commented on #2406
I suppose that it could be quite a good workaround since _Microsoft.Azure.Functions.Extensions_ version 1.1.0:

[code]

[2021-01-06 21:19] fabiocav commented on #2647
Just waiting on deployments to be finalized before pushing this out.

[2021-01-07 09:37] KamilLach commented on #1968
In my case i filter out those logs using Serilog exclude mechanism:
`    "Using": [ "Serilog.Settings.Configuration" ],
    "Filter": [
      {
        "Name": "ByExcluding",
        "Args": {
          "expression": "(Application is not null) and **has(State)** "
        }
      }
    ],`

[2021-01-07 11:38] sergevm commented on #2584
Bumping into issues too. We migrated a .net framework solution with web jobs to dotnet core with an update of the app insights SDK's. Because of a breaking behaviour in the way the SDK logs stuff since the update, I wanted to see if I can revert things by using a processor. But the processor doesn't trigger. Tried the second fix mentioned above, but it looks like the Request telemetry that I start

[2021-01-09 06:25] alrod commented on #2452
old issue

[2021-01-09 06:25] #2452 closed, assigned to alrod

[2021-01-09 23:24] MSIT-BPSC-IOT commented on #2652
Do we have any update on this? I am facing the same problem where the activity function is not honoring host.json.

[2021-01-11 12:00] v-anvari commented on #2542
Hi @lostmsu , Apologies for the delayed response. Are you still facing this issue?

Can you provide us the complete error and the code that is busted by adding breaking points in your code.

[2021-01-11 13:09] v-anvari commented on #2532
Hi @mliesmons , Could you please elaborate the ask? The version is currently at [6.8.0](https://www.nuget.org/packages/System.IdentityModel.Tokens.Jwt/)

[2021-01-12 16:06] brettsam commented on #2649
Merging this comment from https://github.com/Azure/azure-functions-host/issues/6944 (which we'll close as dupe):

[2021-01-13 07:54] haletskipavel opened #2659 "Triggered webjob became aborted without any reasons"
#### Repro steps

We are using web jobs in the asp net core web application and faced that sometimes triggered web job changes status to aborted without any reasons and there are no related exceptions. How we can clarify the reason of why web job became aborted?

#### Expected behavior

Webjob should be always in running status

#### Actual behavior

Sometimes webjob changes its status to aborted

[2021-01-13 19:52] mhoeger commented on #2647
Deployment complete and packages pushed to NuGet. Thanks!

[2021-01-13 19:52] #2647 closed, assigned to mhoeger

[2021-01-14 23:02] pragnagopa commented on #2063
@fabiocav / @brettsam  - FYI

[2021-01-15 14:00] ghost commented on #2532
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-01-16 16:00] ghost commented on #2542
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-01-18 11:58] v-bbalaiagar commented on #2659
Hi @Haletski, You may review and make changes to WEBJOBS_IDLE_TIMEOUT and stopping_wait_time parameters appropriately based on your requirement and see if that helps. Checkout the [document](https://github.com/projectkudu/kudu/wiki/WebJobs#changing-the-shutdown-wait-time) for more details on this configuration.

For Continuous jobs, there is a default period of 5 seconds waiting for the job proces

[2021-01-18 12:10] haletskipavel commented on #2659
Hi @v-bbalaiagar, Thank you for your answer.

WEBJOBS_IDLE_TIMEOUT is set to 36000 in the app setting value but I haven't change stopping_wait_time. Is it possible to change  stopping_wait_time via app settings? Or do we need to make a change for settings.job?

Our application deployed in the UK South location.

Thank you in advance

[2021-01-18 15:00] #2532 closed, assigned to v-anvari

[2021-01-19 08:49] v-anvari commented on #2618
Hi @codecontemplator , I have tried the repro that you have provide. I am able to repro the issue and get the "[System.MethodAccessException](https://github.com/dotnet/efcore/issues/18834)". Triaging this issue in order to perform detailed analysis.
I am not sure if it is a dependency issue, because I tried different workarounds by adding required package reference and update few packages, but yet

[2021-01-19 09:38] v-anvari commented on #2652
Hi @ComeChao , Apologies for the delay, Were you able to solve this? Kindly provide the Function App name and Location for us to check the logs.

[2021-01-19 11:49] v-anvari commented on #2626
Adding this as an enhancement request

Cc: @fabiocav , Can we consider this feature to be included in later releases?

[2021-01-19 12:26] FinVamp1 opened #2660 "Storage Extension Feature Request: Log the details about the Storage account bindings for Queues and Blobs"
#### Repro steps

Customers use the Queue and Blob Storage account bindings very frequently.
If these don't work then we need to ask the customer for the details of those storage accounts to see if there is an issue on that side.
Adding this information when the Storage extension starts to listen on the Queue or Blob container would allow us to be able to
a) Build Detectors that access this inform

[2021-01-19 17:00] #2542 closed, assigned to fabiocav, v-anvari

[2021-01-20 02:48] alrod opened #2661 "ExponentialBackoffRetryAttribute shares does not work properly as it shares state with other executions"

[2021-01-20 12:12] v-anvari commented on #2609
Hi @krish-gh , Moving this to feature request to keep a track of the request. Let us know if this has already been fulfilled

[2021-01-20 13:05] v-anvari commented on #2524
Hi @ms-teli ,

Were you able to find a solution here? We can add the dependencies. But, the scenario you are asking is not clear enough. Can you tell us the error that you are facing

[2021-01-21 01:57] kvbutler commented on #1986
Thanks very much that did it. This (messageReceiver naming convention) should be in **BIG BOLD** text somewhere in the documentation...

[2021-01-21 18:11] #2661 closed, assigned to alrod

[2021-01-21 22:48] bgribaudo opened #2662 "Custom Binding - Access Http Request (or a header from the request)"
Hello,

Inside a custom binding, is there a way to access the current HttpRequest or a specific HTTP header on the request?

For example, is there some way to use a binding expression to pass in the request:

[code]

Or to use a binding expression to pass in a specific header:
[code]

Or to somehow directly access the current HttpRequest from inside the custom binding's code without passing it in-

[2021-01-21 22:50] bgribaudo commented on #2195
Looks like this is now planned work!

https://feedback.azure.com/forums/355860-azure-functions/suggestions/16711846-sql-azure-trigger-support

[2021-01-22 21:43] bgribaudo opened #2663 "Binding to Trigger Property - fails with "Unable to resolve binding parameter""
In an input binding's binding expression, referencing a public property on the object returned by the trigger fails with the the following error:
[code]

**Trigger/binding setup being used:**
_Note how binding `Special`'s `ContentType` value is set to a binding expression which attempts to reference the `ContentType` property from the trigger input object._
[code]

#### Repro steps

Provide the st

[2021-01-23 10:00] ghost commented on #2652
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-01-24 14:00] ghost commented on #2524
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-01-25 06:20] admalledd commented on #2146
Just ran into basically the same problem. I have a "BaseWorker" which itself doesn't have any functions but sets up and builds many other things, and a few different specific workers that each have their own (webjob triggered) functions. However the "specific workers" only transiently reference the WebJobs SDK. None of the functions were being found.

It seems to be root-caused by the [DefaultType

[2021-01-25 09:13] loopjockey commented on #625
:+1: this would be great

[2021-01-25 09:24] v-bbalaiagar commented on #2659
Hi @Haletski, You can change the grace period of a job by specifying it (in seconds) in the settings.job file where the name of the setting is stopping_wait_time like so:
{ "stopping_wait_time": 60 }

checkout the [document ](https://github.com/projectkudu/kudu/wiki/WebJobs#changing-the-shutdown-wait-time)for more details on this configuration.

Also, Could you please go through the issue number [

[2021-01-26 02:16] fabiocav commented on #2627
@pakrym yeah, unfortunately, a few packages did. Fixing that across the board.

[2021-01-26 03:51] #2627 closed, assigned to fabiocav

[2021-01-26 11:00] #2652 closed, assigned to mathewc, v-anvari

[2021-01-27 08:35] mountain65 commented on #2422
One year later this is still a problem. Maybe add it to the documentation? "When you move your reference to the Webjob SDK to a different project to re-use som initialization code make sure you add the [FunctionName] attribute to your functions"

[2021-01-27 10:40] v-anvari commented on #2626
Hi @drdamour , you can also raise a new feature request or post a new idea in [feedback.azure.com-azure-web-apps](https://feedback.azure.com/forums/169385-web-apps)

[2021-01-27 15:00] #2524 closed, assigned to v-anvari

[2021-01-27 18:04] mathewc opened #2665 "Add default converters for BinaryData"
We should add default converters for byte[] <=> [BinaryData](https://github.com/Azure/azure-sdk-for-net/blob/System.Memory.Data_1.0.1/sdk/core/System.Memory.Data/api/System.Memory.Data.netstandard2.0.cs) to the core set of converters [here](https://github.com/Azure/azure-webjobs-sdk/blob/a3e31ba400c70925fdca5ca27168d641aacc2155/src/Microsoft.Azure.WebJobs.Host/Bindings/ConverterManager.cs#L38-L87)

[2021-01-28 16:33] pragnagopa opened #2666 "Validate `functionName` column is populated in logs for BlobTrigger, BlobInput and BlobOutput binding."
Related to https://github.com/Azure/azure-webjobs-sdk/issues/2623

Add E2E test to verify `functionName` is populated for BlobTrigger, BlobInput and BlobOutput binding.

[2021-01-28 16:35] #2623 closed, assigned to madelinegordon

[2021-01-28 18:15] v-anvari commented on #2653
Hi @rseanhall, We would like to understand the issue better. Could you give us more insights about the scenario, what is the error that you are facing and what is the usage of the singleton in your project.

Please provide us the repro steps as well if possible.

[2021-01-28 19:00] rseanhall commented on #2653
@v-anvari I'm not sure how much more information I can give. The `Blob` input parameter to the function is being prepared before the singleton lock is acquired. The return value of the function also uses the `Blob` binding to write to that same blob. Both functions using the singleton read and write from the same blob. Therefore, the function that has the lock will write its output to the Blob but

[2021-01-29 10:00] ghost commented on #2659
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-01-29 11:16] blueelvis opened #2667 "Enable Processing of non-base64 encoded Queue Messages using Queue Trigger"
Right now, the QueueTrigger only accepts base64 encoded messages which is a problem for me. The error I get is -
[code]

The problem is that Event Grid delivers events to the Storage Queue which is not base64 encoded. The reason behind why we do it like this because our Functions are using Private Endpoint and the Event Grid cannot connect to Functions over Private Endpoint.

#### Repro steps

Pro

[2021-01-29 11:29] blueelvis commented on #2667
Never mind. This issue can be closed. I upgraded the package to the latest '5.0.0-beta.1' and it is now able to work with the messages which are not base64 encoded. Thanks!

[2021-01-29 11:29] #2667 closed, assigned to soninaren

[2021-01-29 13:18] adriennn commented on #625
go vote
https://feedback.azure.com/forums/34192--general-feedback/suggestions/42573244-storage-queue-batch-storage-queue-batch-binder

[2021-01-29 19:26] SeanFeldman commented on #625
@adriennn, it would be better to consolidate the effort and have upvotes on [the issue](https://github.com/Azure/azure-webjobs-sdk/issues/625#issue-128654197) instead of monitoring two different sources. I would suggest doing the opposite and directing from user feedback site here.

[2021-01-29 21:39] pragnagopa opened #2668 "Release Storage extension to nuget"
https://github.com/Azure/azure-webjobs-sdk/commit/21d9d4ea4917a11f274bcd9f61600fbfbfceed17

Assigning to myself as currently I am currently on the release loop

[2021-01-31 01:17] snympi commented on #625
@adriennn @SeanFeldman I voted at both locations.

[2021-02-01 11:00] #2659 closed, assigned to soninaren, v-bbalaiagar

[2021-02-01 17:32] v-anvari commented on #2653
Triaging this issue for further investigation

cc: @fabiocav / @mathewc

[2021-02-02 21:33] mathewc commented on #2645
Thanks for reporting. Fix will go out in the next package update.

[2021-02-03 01:09] mathewc commented on #2488
@zmarty Sorry this got lost in the shuffle. Assuming you guys still need these overloads so you can remove the temp reflection hack I put together for Greg?

[2021-02-03 10:29] sander1095 commented on #2645
@mathewc  Could you keep this issue open until it is fixed?

Or perhaps could you post an update here when that is released? I have the same issue :)

[2021-02-03 16:27] niksanla2 commented on #1284
@jeffhollan where is our middleware?

[2021-02-03 16:49] sidkri commented on #2660
Option 1: Expand on logic in azure-functions-host\src\WebJobs.Script.WebHost\Management to include event source information
Option 2: Log these details at startup and have an analytics job that keeps a copy of startup events in a separate table.
Option 3: Log these details on each trigger event

[2021-02-03 17:56] zmarty commented on #2488
Hi @mathewc. Yes, we definitely still need this. Also, out of curiosity can you point me to this: "temp reflection hack I put together for Greg"? You can send me an internal mail if you wish, just look for my name.

[2021-02-03 20:42] alrod commented on #2595
merged https://github.com/Azure/azure-webjobs-sdk/pull/2658

[2021-02-03 20:42] #2595 closed, assigned to alrod

[2021-02-03 21:06] fabiocav commented on #2668
Need to ensure the Azure SDK team is notified or a PR is sent to them.

[2021-02-03 21:27] fabiocav commented on #2649
@brettsam moving this to next sprint, but we may need to push this back because of the .NET work.

[2021-02-03 21:39] mathewc commented on #2645
Yes, when the new package version is on nuget, I'll let you know.

[2021-02-04 16:06] ftballguy45 commented on #1314
2021 and still nothing? 😖

[2021-02-11 11:09] v-anvari commented on #2663
Hi @bgribaudo , Can you give us an example of the custom binding that you are using. We would like to reproduce the scenario to understand the error better

[2021-02-11 16:22] pragnagopa opened #2672 "Emit metrics for function execution retries"
cc @jeffhollan @mathewc @fabiocav @AnatoliB

[2021-02-11 17:58] v-anvari commented on #2559
Hi @hiraldesai , Apologies for the delayed response. Could you please elaborate the scenario, for us to understand the issue better. Can you give us an example of the usage

[2021-02-11 23:13] ssumit opened #2673 "How to listen to multiple topics across multiple service bus"
Is there an example or a recommended way when there are multiple service bus involved ?
Currently I can use a single service bus and multiple topics (via multiple function/event handlers).
I'm using 1 JobHost with 1 ServiceBusConfiguration object in my app service

In case of say 2 service bus, should we create 2 JobHost objects or there is way to use multiple service bus using 1 JobHost ?

I also

[2021-02-12 08:05] adriennn commented on #625
@SeanFeldman thanks for the headsup, it's always difficult to judge which of the feedback platforms are used to take decisions.

btw, for these developping with old sdk, there's QueueBatch
https://github.com/Scooletz/QueueBatch

[2021-02-12 14:44] jaimecamargo commented on #2042
@cheng93 did you find any solution to pass dynamically parameters to the "ServiceBusTrigger" attribute?

[2021-02-12 14:56] cheng93 commented on #2042
For `[ServiceBusTrigger(topicName: "%alpha%", subscriptionName: "%subscrption-high%")]`

I implemented `INameResolver` so that if the name began with `subscription-` it does a substring and passes it on to my SubscriptionNameResolver, otherwise use my TopicNameResolver

It's been a while, so I don't remember much. Hope this helps

[2021-02-12 15:35] jaimecamargo commented on #2042
Hi @cheng93, thanks for your fast reply.

I created an Azure Function by using the template that VS.NET offers, and right now this Azure Function is getting the parameters from the "local.settings.json" file. This template generated the following structure:

![image](https://user-images.githubusercontent.com/19808588/107787360-fad97800-6d1c-11eb-80c4-8df81c062236.png)

The code for the class "Cons

[2021-02-12 16:18] cheng93 commented on #2042
https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#register-services

Something along those lines should help you register dependencies

[2021-02-12 17:36] pragnagopa commented on #2668
Track 2 porting issue: https://github.com/Azure/azure-sdk-for-net/issues/18720

[2021-02-12 18:18] pragnagopa commented on #2668
Release: https://github.com/Azure/azure-webjobs-sdk/releases/tag/storage-v4.0.4

Increment to next version: https://github.com/Azure/azure-webjobs-sdk/pull/2675

[2021-02-12 19:37] pragnagopa commented on #2668
Pushed Microsoft.Azure.WebJobs.Extensions.Storage 4.0.4  to myget feed: azure-appservice-staging

[2021-02-12 20:54] pragnagopa commented on #2668
Closing as addressed: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage/4.0.4

[2021-02-12 20:54] #2668 closed, assigned to pragnagopa

[2021-02-12 20:56] pragnagopa commented on #2623
Released https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage/4.0.4 to nuget . Package includes fix for this issue.

[2021-02-13 08:39] gwinnem commented on #2496
OMG I have been waiting for so long, and im still writing boiler plate code in each function.. When can the community expect someone to take action and bring this issue to an end ?

[2021-02-15 01:13] FanBaoMS opened #2676 "The log of Azure Function on Application Insights changed customDimensions name from prop__FunctionName to prop__functionName"
#### Repro steps

1. Create a new Azure Function project (HTTP trigger) with following codes
[code]

2. Create a new Azure Function (Windows) resource with Application Insights enabled, deploy the project. (When I test all deployed to West US 2).

3. Test run and wait for the log available.

#### Expected behavior

The trace looks like `customDimensions={ "prop__FunctionName" : "Test" }` (Uppercas

[2021-02-15 12:00] ghost commented on #2663
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-15 14:02] v-anvari commented on #2401
Hi @RickBlouch , Apologies for the delayed response. The job can be distributed while using dedicated plan. To know more about the plans, [here is the document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#overview-of-plans)

[2021-02-15 14:06] v-anvari commented on #2394
Hi @czb182 , Apologies for the delayed response. Kindly give us more details to understand this scenario better, what package are you using for your latest project and the usage of it your code. Can you give us the repro steps as well.

[2021-02-15 14:11] v-anvari commented on #2420
Hi @NickSevens , Apologies for the delayed response. Let us know if you are still facing the issue, so that we can look into it further

[2021-02-15 18:00] ghost commented on #2559
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-15 18:18] v-bbalaiagar commented on #2673
Hi @ssumit, A single job function is tied to a single ServiceBus connection. The trigger attribute model is not designed to allow you to have a single function that is triggered by multiple different connections/queues.
Also, Could you please go through the issue number [#2042](https://github.com/Azure/azure-webjobs-sdk/issues/2042)  this looks like a similar issue.

[2021-02-15 22:21] IGx89 commented on #2586
Just in the past week we've start running into this same issue on our Isolated app service plan in Azure, just with a slightly older host version (3.0.16.0). It only happens when our pool auto-scales up, and only happens on one of the newly started instances, and resolves immediately once I restart the function app. We're going to start taking advantage of the new Health Check functionality to aut

[2021-02-15 23:30] MisinformedDNA commented on #2366
I vote to reopen.

[2021-02-16 11:44] v-anvari commented on #2559
This is not possible by-design, we still require to look into the usage to find a work around. Closing this issue, please feel free to re-open the issue in case you want us to look into it further

[2021-02-16 11:44] #2559 closed, assigned to v-anvari

[2021-02-16 15:52] brettsam commented on #2586
@IGx89 -- what version of the Functions Host is running in Azure for you? The Extensions 1.1.0 requires 3.0.18 or higher: https://www.nuget.org/packages/Microsoft.Azure.Functions.Extensions/1.1.0. Could you be building locally against a newer version, but deploying to an older?

![image](https://user-images.githubusercontent.com/1089915/108086991-cff86800-702b-11eb-8e56-0147e6ba7147.png)

[2021-02-16 15:56] IGx89 commented on #2586
@brettsam How do I tell what version of the Functions Host my app is running on? It's not in my zip deploy archive, so it's part of the Azure environment itself. I have `FUNCTIONS_EXTENSION_VERSION` set to `~3`, so I'm at the mercy of whatever Azure decides to use.

[2021-02-16 16:00] brettsam commented on #2586
If you could share your Function App name (either explicitly or [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)), I can see if I find anything from the backend logs.

[2021-02-16 16:10] IGx89 commented on #2586
`2021-02-16T15:57:55.9558916Z baa8f447-4f6e-4168-a18e-61b45acfba9`, East US. Last confirmed time this issue existed for us was ~1:00pm CST yesterday (when scaled up to four instances), though it's likely happened since too.

If there's a way for us to see the host version of a particular instance, using Kudu or whatever, I'd be very interested in that too. Then next time this happens I could look

[2021-02-16 17:30] IGx89 commented on #2586
@brettsam This just happened ~30min ago during an autoscale up -- found the details on the "Function Executions and Errors" report under "Availability and Performance":

[code]

[2021-02-16 17:57] brettsam commented on #2586
I'm seeing your app occasionally start up with a really old version of the host (from last April). I've not seen this before and I wonder if it has something to do with your ASE. I'm going to ask some experts on our team -- but your best bet may be to submit an support ticket (which should get routed to the correct team).

I'll update here if I hear back any recommendations...

[2021-02-16 18:52] ssumit commented on #2673
Hi, thanks for the response. I wanted to add more clarification. The requirement is to listen to multiple service bus say A and B.
I'm creating two different functions for this purpose.
The problem m facing is that in AppService, m not able to use Connection attribute in ServiceBusTrigger annotation or ServiceBusAccount annotation.
We use key-vault to get the key and therefore the value is not pre

[2021-02-16 20:26] brettsam commented on #2586
If you file a ticket, can you let me know the ticket number here? Then I can refer to it internally.

[2021-02-16 20:28] IGx89 commented on #2586
Sure thing: 2102160040004856

Thanks a lot for your help with this!

[2021-02-17 14:50] czb182 commented on #2394
There is no repo, its just a question.  I've implemented webjobs sometimes using Microsoft.Azure.WebJobs.Logging.ApplicationInsights and sometimes using Microsoft.ApplicationInsights.WorkerService.  It seems like Microsoft.ApplicationInsights.WorkerService is a fit for webjobs, just wondering how it fits in.

[2021-02-17 15:39] v-anvari commented on #2394
Hi @czb182 , It is best suited for non-HTTP workloads like messaging, background tasks, console applications. Adding this package would allow you to use "Microsoft.ApplicationInsights;".

You can use either of the packages but it depends on the individual package dependencies

 [Application Insights for Worker Service applications (non-HTTP applications)](https://docs.microsoft.com/en-us/azure/azu

[2021-02-17 17:55] bgribaudo commented on #2663
Hi @v-anvari,

Thanks for looking at this. The custom binding is included in the source code in this issue's body (hidden under the spoiler under "Repo Steps", "1. Create an Azure Function defined as follows:", "Function definition, including custom input binding.").

[2021-02-17 21:20] fabiocav commented on #2660
@sidkri do we need to discuss this work item, or is this something you're expecting to handle?

[2021-02-17 21:29] sidkri commented on #2660
@fabiocav I'm handling this one but will be reviewing the solution with you before submitting a PR.

[2021-02-17 22:00] mathewc commented on #2660
Is the ask only for triggers, or for input/output bindings as well? What about binding types other than Queues (e.g. CosmosDB, etc.)? For triggers, I can see us logging some account/queue details on listener startup.

[2021-02-17 22:00] fabiocav commented on #2660
We also need to make sure any changes are ported to the track 2 SDK extensions.

[2021-02-17 22:46] sidkri commented on #2660
At present the focus is for both triggers and input/output bindings (any place a customer configures a connection with another Azure service).  Based on frequency of issues, the initial focus is Storage, Service Bus and Event Hubs.

[2021-02-18 00:03] ChaitanyaNaykodi-MSFT commented on #2676
Hello @brettsam / @pragnagopa.  Can you please have a look at this issue? Thank you!

[2021-02-18 09:16] v-anvari commented on #2349
Thankyou @chris-johnston for updating the package description, we are good to close this issue

[2021-02-18 09:17] #2349 closed, assigned to nobody

[2021-02-18 09:21] v-anvari commented on #2663
Thankyou @bgribaudo , We will be looking into it

[2021-02-19 13:26] bgribaudo commented on #2663
Thank you, @v-anvari!

[2021-02-19 15:00] ghost commented on #2420
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-19 15:00] ghost commented on #2401
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-19 17:10] v-bbalaiagar commented on #2523
Hi @abmis-mi, Apologies for the delayed response. Were you able to find a solution here. Kindly let us know if you could resolve it can we close this issue?

[2021-02-19 17:30] abhishek-msft commented on #2523
Yes,I used the solution by @mohsinonxrm above.

[2021-02-21 16:00] ghost commented on #2394
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-22 10:25] v-bbalaiagar commented on #2523
Hi @abmis-mi, Closing this issue, please feel free to re-open the issue for any further queries regarding this issue.

[2021-02-22 10:25] #2523 closed, assigned to nobody

[2021-02-22 14:12] v-bbalaiagar commented on #2516
Hi @manjunathreddy1,  Apologies for the delayed response, We tried to reproduce and we are able to trigger the web job as expected. Let us know if you are still facing the same issue, if yes please provide us the latest error logs and share us the function app details privately by following the below link.
https://github.com/Azure/azure-webjobs-sdk-script/wiki/Sharing-Your-Function-App-name-privat

[2021-02-22 16:00] #2420 closed, assigned to v-anvari

[2021-02-22 16:00] #2401 closed, assigned to v-anvari

[2021-02-22 18:15] v-anvari commented on #2625
Hi @hooyao , Apologies for the delayed response, we were looking at the possibilities of this scenario but, as of today this is not a supported scenario. As Async class cannot be called from a binding in this case.

[2021-02-22 18:15] #2625 closed, assigned to nobody

[2021-02-22 20:38] FanBaoMS commented on #2676
Hi @ChaitanyaNaykodi-MSFT, @brettsam, @pragnagopa. I did some investigation in the code, and I suspect it's due to following change. However, it's a change made 3 months ago. I'm not sure about Azure Function host release cycle, so not sure if this change was made into product on 2/4.

https://github.com/Azure/azure-webjobs-sdk/commit/b65cd520e7a6e6fc08dd59d7ab6328d79ee480d5#diff-53748978dccb3c067

[2021-02-23 09:49] #2394 closed, assigned to nobody

[2021-02-23 17:13] biltongza commented on #2447
Any updates on this?

[2021-02-24 18:38] Sergey-Nosov-GH opened #2677 "Server failed to authenticate the request"
After adding the Microsoft.Azure.WebJobs.Extensions.DurableTask nugget package v2.4.1 to the function app, we are seeing the following error on Azure. The error occurs only on Azure, not in local storage emulator. Removing the package fixes the error.

A host error has occurred during startup operation:

Microsoft.Azure.Storage.StorageException : Server failed to authenticate the request. Make sur

[2021-02-24 20:10] Sergey-Nosov-GH commented on #2677
Update. We found the following setting in the Azure Function App.

ConnectionStrings__AzureWebJobsStorage

We do not know where that setting came from, or what is its purpose. But deleting this setting fixes the error.

[2021-02-24 20:11] #2677 closed, assigned to brettsam

[2021-02-24 22:19] kulkarnisonia16 commented on #2648
Closing since we are deflecting this with Blob Trigger detector. Recommendation is to use Event Grid storage integration.

[2021-02-24 22:19] #2648 closed, assigned to nobody

[2021-02-25 14:12] czb182 commented on #2645
I think release has been made, but nuget package has not been deployed to nuget.org

[2021-02-26 15:00] ghost commented on #2516
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-28 15:17] yarseyah commented on #2322
Could this not be set to never create by the user of binding, e.g. with an input parameter of "ThrowIfNotExists" on the binding?

The existence of the tables is quite fundamental in my use-case, so getting 500 errors from function would be preferable to a 409 in every call.

[2021-03-01 08:07] YvonneArnoldus opened #2678 "Microsoft.Azure.WebJobs.Extensions.SendGrid 3.0.2 depends on Microsoft.Azure.WebJobs (>= 3.0.17) but Microsoft.Azure.WebJobs 3.0.17 was not found. An approximate best match of Microsoft.Azure.WebJobs 3.0.18 was resolved."
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Use Microsoft.Azure.WebJobs.Extensions.SendGrid 3.0.0 in a Project
2. Upgrade the package to Microsoft.Azure.WebJobs.Extensions.SendGrid 3.0.2

#### Expected behavior

Upgrade the packages to Microsoft.Azure.WebJobs.Extensions.SendGrid 3.0.2

#### Actual behavior

Get the

[2021-03-01 12:19] v-anvari commented on #2663
Hi @bgribaudo , I tried to repro but, unable to repro it right. What is in the namespace Work. Can you give a zip file of the project to my mail?

[2021-03-01 12:23] v-anvari commented on #2678
Hi @YvonneArnoldus , The error is because the package Microsoft.Azure.WebJobs.Extensions.SendGrid 3.0.2 is dependent on any version greater than 3.0.17. Can you tell us the Webjobs version that you are using.

![image](https://user-images.githubusercontent.com/66122429/109496557-d1f40980-7ab6-11eb-9eb2-9dffc0c47933.png)

[2021-03-01 13:24] v-anvari commented on #2502
Hi @vicky96talokar ,  Apologies for the delayed response, are you still seeing this error, If yes, could you give us more information for us to understand the root cause of the error and resolve it for you

[2021-03-01 14:25] YvonneArnoldus commented on #2678
Hi,

I have no reference to any Microsoft.Azure.WebJobs but I do have a reference to Microsoft.Azure.WebJobs.Extensions.Storage 4.0.4 which has dependencies

.NETStandard 2.0
Microsoft.Azure.Cosmos.Table (>= 1.0.7)
Microsoft.Azure.Storage.Blob (>= 11.1.7)
Microsoft.Azure.Storage.Queue (>= 11.1.7)
Microsoft.Azure.WebJobs (>= 3.0.22)

And this packages works fine without errors. So it is not my Micr

[2021-03-01 16:00] #2516 closed, assigned to v-bbalaiagar

[2021-03-01 16:11] RamunasAdamonis commented on #2662
Was looking for the same thing and found this: https://stackoverflow.com/a/64414981/8367627 But it feels like so much trouble just to access httpRequest.

[2021-03-01 16:50] v-anvari commented on #2678
Hi @YvonneArnoldus, yes you are right, it works with versions greater than 3.0.17. This package must have been removed, though it looks like the package shall be updated. I will update this internally to get it updated.

Thankyou

[2021-03-01 16:58] vigouredelaruse commented on #2318
i'm also trying to drive down the associated costs of high blob lease tranctions associated with function apps - unfortunately this suggests 1 app per storage account https://docs.microsoft.com/en-us/azure/azure-functions/storage-considerations

i think this is less than ideal and i'm looking for a more efficient solution because of this graph
![image](https://user-images.githubusercontent.com/310

[2021-03-01 17:46] v-anvari commented on #2678
Reproduced the issue and the Error is just a warning, not a blocker. This is resolved by VS by downloading the latest version. Require an upgrade to 3.0.18 to suppress the warning and not to search for 3.0.17

Warning : Severity	Code	Description	Project	File	Line	Suppression State
Warning	NU1603	Microsoft.Azure.WebJobs.Extensions.SendGrid 3.0.2 depends on Microsoft.Azure.WebJobs (>= 3.0.17) but Mi

[2021-03-01 18:07] v-anvari commented on #2662
Tagging @kashimiz for more inputs

[2021-03-02 10:05] v-bbalaiagar commented on #2673
cc @alrod, Tagging alexey for more inputs

[2021-03-02 14:28] bgribaudo commented on #2663
@v-anvari, thanks for looking into this. Zip shared.

[2021-03-02 15:52] cbar92 opened #2681 "How to debug an IScaleMonitor implementation (scale controller) ?"
I develop a custom azure function trigger which implement the IScaleMonitor interface but I'm not able to view any log activity into Application Insights after deployment into Azure Function with Consumption plan.
In //, my extension works well but I can't able to scale in or scale out the Azure Function.

Also can you provide sample and documentation because no technical resources are available.

[2021-03-03 17:57] olegsych opened #2682 "WebJobsTelemetryInitializer causes throttling of Application Insights custom metrics"
Default instrumentation of Azure Functions produces metrics with unbounded cardinality, which leads to throttling of custom metrics in Azure Monitor.

#### Repro steps

Enable integration with Application Insights and add the following code to your function.

[code]

#### Expected behavior

MyMetric is tracked without high-cardinality custom dimensions.

#### Actual behavior

MyMetric is tracked w

[2021-03-03 21:07] fabiocav commented on #2645
Assingning this to myself to update when deployed.

[2021-03-03 21:11] fabiocav commented on #2660
@sidkri should we move this to the next sprint?

[2021-03-03 21:20] #2635 closed, assigned to kashimiz

[2021-03-03 21:22] sidkri commented on #2660
Yes, I have updated it just now to the next sprint.

[2021-03-04 19:04] v-anvari commented on #2663
Hi @bgribaudo , Thankyou for the repro, I could get the error, it could be because the special attribute that you are building is not defined completely. The rules need to be defined as explained in the document you have referred to earlier . Can you tell us the purpose of the special attribute used here.

[2021-03-05 16:15] v-anvari commented on #2460
Hi @srinayani , AddAzureStorageCoreServices makes sure that your WebJob is hooked to a storage account for persisting data, creating logs.

Installing the latest packages from [Microsoft.Azure.WebJobs.Extensions/](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions/) will solve the error of not finding the "AddAzureStorageCoreServices".

[webjobs-sdk-get-started](https://docs.microso

[2021-03-05 16:19] v-anvari commented on #2466
Hi @stasyess , Apologies for the delayed response, are you still seeing this issue, do you want to see a warning explaining the above scenario?

[2021-03-05 16:23] v-anvari commented on #2498
Hi @ogvolkov , Apologies for the delayed response, can you provide us the repro steps of what exactly are you trying. Are you creating a queue and then deleting it? or are are you not creating a queue itself. Because for the latter case, usually the function App throws an error saying it doesn't find the queue

[2021-03-05 16:26] v-anvari commented on #2511
Hi @fume , Apologies for the delayed response, we shall look into this scenario, if this is by-design and the case sensitive can be ignored.

[2021-03-05 20:49] ogvolkov commented on #2498
Hi @v-anvari, here's what I can recollect: it was a Java function, running on 1.3.1 Azure functions java library, and the queue name was incorrect for whatever reason (I don't quite remember why, maybe it wasn't reading it from the environment correctly or there was something with the reserved words, but I can't remember exactly). I'm pretty sure that the function did start normally, but was never

[2021-03-08 17:28] v-anvari commented on #2511
Hi @fume, Thank you for bringing this to notice.

Adding this issue to Traiged for update, as it is a bug. The Boolean expression needs to be parsed, which seems to be missing.

[public static bool IsSettingEnabled(string settingName)](https://github.com/Azure/azure-webjobs-sdk/blob/00bc34086ed262fcb3b23739d11246661bfe0a17/src/Microsoft.Azure.WebJobs.Host/ConfigurationUtility.cs#L37)

cc @brettsam

[2021-03-08 17:52] v-anvari commented on #2676
Triaging this issue, as it requires further investigation.
CC @mathewc , Could you confirm if the commit was intentional or requires an update. As the change happens along with the SDK version update from 3.0.15193 to 3.0.15371.

[2021-03-08 18:01] mathewc commented on #2676
Agree with the analysis. The name cache was added as an optimization, and the fact that it's case insensitive was a subtle unintentional change. The cache should probably be case sensitive to preserve the previous behavior. @brettsam do you agree?

[2021-03-08 20:00] ghost commented on #2663
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-09 06:59] mpth commented on #1925
Still happening March 2021. (App Service Plan Linux, App just recently created)

 Caused me quite some head scratching. So glad I found this issue.

[2021-03-09 11:06] v-anvari commented on #2460
Closing the issue as the required information is provided. Please feel to reach back to us in case of any query related to this issue.

[2021-03-09 11:06] #2460 closed, assigned to nobody

[2021-03-09 11:19] v-anvari commented on #2498
Thank you for confirming @ogvolkov , I couldn't reproduce the scenario while creating the Queue trigger. Hence closing this issue

[2021-03-09 11:19] #2498 closed, assigned to nobody

[2021-03-09 17:00] ghost commented on #2466
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-11 15:16] jcbrooks92 commented on #2284
For context this will need to be added to your host.json:

  "applicationInsights": {
    "ingestionEndpoint": "https://dc.applicationinsights.us/v2/track",
    "liveEndpoint": "https://quickpulse.applicationinsights.us/QuickPulseService.svc"
  }

[2021-03-11 21:00] #2663 closed, assigned to brettsam, v-anvari

[2021-03-12 17:20] bgribaudo commented on #2663
HI @v-anvari,

Thanks for looking at this.

I believe the custom binding implementation itself works fine. This can be tested by changing:

[code]

to

[code]

After making this change, "abc" gets passed into `Special`. This can be observed by setting a breakpoint inside `BuildItemFromAttribute`. Based on this, it seems the custom binding itself works fine.

It seems the problem is that the bindin

[2021-03-12 18:00] #2466 closed, assigned to v-anvari

[2021-03-12 22:40] joaocc commented on #2318
Hi
In our case we are running the function as container in AKS, already with one storage per job.
The lock seems to arise from 2 instances of the function container trying to lock a file whose name is identical, due to truncation of the pod instance.
[code]
In this case, "verylongcontainernameuntil" seems to be derived from the original "very-long-container-name-until" deployment name, where the 2

[2021-03-13 21:31] jooki-tech commented on #1314
Much wanted feature!

[2021-03-15 00:30] ssa3512 commented on #1731
Seconding @marknblueswitch

This is something that would be extremely useful - we are looking to use Storage Queues over Service Bus due to the simplicity (Service Bus has a lot of extra features we just don't need, and doesn't have any local development/emulator support) but the lack of distributed tracing is a real bummer. It would be really nice to provide some sort of mechanism to allow settin

[2021-03-15 02:09] ssa3512 commented on #1731
@fabiocav @lmolkova is distributed tracing supposed to currently work for function to function queue messages? I ran across [QueueCausalityManager](https://github.com/Azure/azure-webjobs-sdk/blob/92be64b6f40b67301683bf1f8d56a1fd6251929d/src/Microsoft.Azure.WebJobs.Extensions.Storage/Queues/QueueCausalityManager.cs) which sets the `$AzureWebJobsParentId` value in the JSON being sent into the queue,

[2021-03-15 07:48] onurleblebici commented on #808
After five years, any progress or update?
At least a workaround?

[2021-03-15 14:11] v-bbalaiagar commented on #2530
Hi @kannannet, Apologies for the delayed response, Were you able to find a solution here. Let us know if you are still facing this issue.

[2021-03-15 18:34] Jay-Madden opened #2683 "Are there any plans to add imperative binding support to out of process .Net 5 functions?"
If this question has already been answered somewhere or is already being tracked/is in the wrong place please let me know.

[2021-03-15 20:09] alrod commented on #2673
You can use KeyVault secrets values as AppSettings:
https://azure.microsoft.com/en-us/blog/simplifying-security-for-serverless-and-web-apps-with-azure-functions-and-app-service

[2021-03-16 13:10] v-anvari commented on #2551
Hi @brettsam , Could you please look into this issue

[2021-03-17 11:20] v-anvari commented on #2681
Hi @cbar92 , We require more information to understand the scenario. Can you provide us the repro steps and what are you trying to achieve
Meanwhile, can you check if you have configured the Application Insights properly - [https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-trace-logs#configure-application-insights-to-collect-logs](https://docs.microsoft.com/en-us/azure/azure-monitor

[2021-03-17 20:15] fabiocav commented on #2660
Moving. this back to triaged. Please assign to an appropriate sprint if needed.

[2021-03-18 15:20] qsdfplkj opened #2684 "ExponentialBackoffRetryAttribute does not wait the last retry."
The ExponentialBackoffRetryAttribute doesn't wait the last retry.

Is it just a flaw or is this by design: In the code line 67: `context.RetryCount < MaxRetryCount`

Shouldn't this be `context.RetryCount <= MaxRetryCount`

PS. The same holds for the FixedDelayRetryAttribute

[2021-03-19 13:03] Fraegle opened #2685 "Microsoft.Azure.Functions.Extensions package with Microsoft.Extensions.DependencyInjection v5.x.x needed"
We are using WebJobs in Azure App Services and we want to migrate to using Azure Functions instead. The WebJob projects are targeting netcoreapp3.1 and we reference (amongst others)
Microsoft.Extensions.DependencyInjection v5.0.1
Microsoft.Extensions.Logging v5.0.0
Microsoft.EntityFrameworkCore.Tools v5.0.4

As documented, the current version (1.1.0) Microsoft.Azure.Functions.Extensions does only

[2021-03-19 13:40] piotrzbyszynski commented on #2548
@brettsam Not sure how to use this fix, so I have few questions:

1. Should we use it via `host.json` like so (I do not see this setting documented here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#applicationinsights)?
[code]

2. Is there ability to set `enableSqlCommandTextInstrumentation` in code?
3. Do we need to explicitly include `Microsoft.Azure.WebJobs` and `

[2021-03-19 15:00] ghost commented on #2530
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-19 15:13] v-bbalaiagar commented on #2747
Hi @imtrobin,  Apologies for the delayed response, Were you able to find a solution. Let us know if you are still seeing these error.

[2021-03-19 18:07] vigouredelaruse commented on #2685
if i understand you your project references resemble

    PackageReference Include="AutoMapper" Version="10.1.1" />
    PackageReference Include="AutoMapper.Extensions.Microsoft.DependencyInjection" Version="8.1.1" />
    PackageReference Include="Azure.Data.Tables" Version="3.0.0-beta.5" />
    PackageReference Include="azure.identity" Version="1.4.0-beta.3" />
    PackageReference Include="Azure

[2021-03-19 18:18] Fraegle commented on #2685
We are not running containers and we are not running Linux. The issues happened, when running the Functions App project on the local dev box, so it wouldn't even make it to a PR advancing to the deployed service.

[2021-03-19 18:19] Fraegle commented on #2685
Also, as men

[2021-03-19 18:23] Fraegle commented on #2685
Also, as mentioned above, the target of the WebJob Projects are also netcoreapp3.1. That works well, even though the NuGets are 5,x

[2021-03-19 18:37] vigouredelaruse commented on #2685
the package refs i pasted above go with this netcoreapp3.1 situation - i only mention the docker option as a potential way to get unblocked locally and potentially in production - the configuration i've shared here will only run in a docker container

          <PropertyGroup>
            <TargetFramework>netcoreapp3.1</TargetFramework>
            <AzureFunctionsVersion>v3</AzureFunctionsVersion>

[2021-03-19 18:45] Fraegle commented on #2685
At the moment we would prefer, that it works without containerizing the project.

[2021-03-20 11:45] Fraegle commented on #2685
I have created a repro and updated the repro steps at the top. I added a link to that repo there.

You were right and the Microsoft.Extensions.DependencyInjection was not the actual issue. I was just assuming it, because the [documentation ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) stated, that it only works with 3.x.

The actual problem started

[2021-03-20 23:43] vigouredelaruse commented on #2685
sorry to hear you're still blocked on this definite issue that i can also reproduce as you reported (break by upgrading to 5x, fix by downgrading to 3x) with the config i posted

on the other hand i fixed my build configuration and now i can publish with the 3.x setup to either docker or windows function apps as advertised

[2021-03-21 00:17] Fraegle commented on #2685
We cannot downgrade to 3.x, because that would violate the requirements of Entity Framework 5.x, which is one of the packages required by one of dependencies we need to inject.

[2021-03-21 12:00] ghost commented on #2681
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-21 12:00] ghost commented on #2502
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-22 16:00] #2530 closed, assigned to v-bbalaiagar

[2021-03-22 21:12] alfhj commented on #2684
I agree.

E.g. when using this on a C# function: `[FixedDelayRetry(1, "00:00:10")]`,
it runs the function two times in succession without waiting 10 seconds.

When changing to `[FixedDelayRetry(2, "00:00:10")]`,
it delays 10 seconds the first time it retries, then 0 seconds for the second retry.

Log output:
[code]

[2021-03-22 23:41] fabiocav commented on #2645
The packages have been deployed. thank you for the patience!

[2021-03-22 23:41] #2645 closed, assigned to mathewc, fabiocav

[2021-03-23 18:52] MuhamedSalihSeyedIbrahim commented on #1731
In queue storage & blob storage - Function-to-function only E2E logging means what?
if it offer distributed log tracing and how to achieve it ?

[2021-03-24 08:24] ghost commented on #2588
This is automatically fixed by upgrading to version 3.0.27 (dependency is updated to >= 2.16.0) (released on 23 march 2021)!
Closing this issue now

[2021-03-24 08:24] #2588 closed, assigned to mathewc, ThejaChoudary

[2021-03-24 10:00] v-anvari commented on #2684
Hi @qsdfplkj , We would like to reproduce this scenario. Can I get the repro steps so the I can repro the error?

[2021-03-24 10:07] v-bbalaiagar commented on #2673
Hi @ssumit, Closing this issue as the required information is provided, please feel free to reach back to us in case of any further queries related to this issue.

[2021-03-24 10:07] #2673 closed, assigned to nobody

[2021-03-24 10:08] v-anvari commented on #2528
Hi @OzBob ,  Apologies for the delayed response, can we know if you are still facing any challenges here

[2021-03-24 10:43] v-anvari commented on #2515
Hi @qsdfplkj , I see that the issue if [https://github.com/Azure/azure-functions-vs-build-sdk/issues/472](https://github.com/Azure/azure-functions-vs-build-sdk/issues/472) is active. Can I know if you are still facing any challenges here so that I can follow up with the right team

[2021-03-24 13:00] #2681 closed, assigned to soninaren, v-anvari

[2021-03-24 13:00] #2502 closed, assigned to v-anvari

[2021-03-26 09:18] Floriszz commented on #1327
What about this additional parameter 'Start time'? Does this have anything to do with this? I can't find documentation about this parameter.
![image](https://user-images.githubusercontent.com/19168937/112610151-a8f83780-8e1c-11eb-99e2-32942d6bbf45.png)

[2021-03-26 23:45] selMicrosoft commented on #2522
@fabiocav Any update on this? I was trying to validate options for azure functions v3 with no luck

[2021-03-28 11:00] ghost commented on #2684
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-28 11:00] ghost commented on #2528
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-29 12:55] MartinWickman commented on #1284
It might be worth noticing that Azure Function in .NET 5 will have support for [middleware](https://github.com/Azure/azure-functions-dotnet-worker#middleware) directly. My guess would be that supporting both approaches might not be in the pipeline for the future, though I don't know of course

[2021-03-30 07:15] deyanp opened #2688 "EventHubTrigger invoked repeatedly/continuously (every 10 seconds) for same message"
In the logs I am seeing every 10 seconds an invocation for same 2 sets of trigger details:

Trigger Details: PartionId: 0, Offset: 223338522328, EnqueueTimeUtc: 2021-03-29T11:44:55.0340000+00:00, SequenceNumber: 29791, Count: 2

 Trigger Details: PartionId: 1, Offset: 223338528600, EnqueueTimeUtc: 2021-03-29T11:44:54.9460000+00:00, SequenceNumber: 29796, Count: 1

This repeats forever ... restart

[2021-03-30 07:19] deyanp commented on #2688
This is what I see in the Event Hub namespace:

![image](https://user-images.githubusercontent.com/25847560/112948978-ffc18200-9138-11eb-8566-93e2a1243b11.png)

[2021-03-30 07:21] deyanp commented on #2688
This is what I see in the event hubs namespace:

![image](https://user-images.githubusercontent.com/25847560/112949232-47e0a480-9139-11eb-9067-4a9010ab4ef8.png)

[2021-03-30 10:33] qsdfplkj commented on #2684
The issue is at call site of GetNextDelay the retryCount is already 5.

    var retry = new ExponentialBackoffRetryAttribute(5, "00:00:01", "00:00:30");
    for (int i =1; i <= 5; i++) // the start at 1 is intentionally because the retrycount also starts at 1.
    {
        Console.WriteLine($"RetryCount: {i}  {retry.GetNextDelay(new Microsoft.Azure.WebJobs.Host.RetryContext() { RetryCount = i })}

[2021-03-30 11:20] deyanp commented on #2688
Seems that a NullReferenceException in a custom ConsoleFormatter (https://docs.microsoft.com/en-us/dotnet/core/extensions/console-log-formatter) was causing this.

[2021-03-30 11:20] #2688 closed, assigned to fabiocav

[2021-03-30 18:02] Shazhko-Artem opened #2689 "Suggestion to improve code and performance"
Why does the [BindingFactoryHelpers](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Bindings/BindingFactoryHelpers.cs) class uses reflection to build the [CustomTriggerArgumentBinding](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Triggers/TriggerArgumentBinding/CustomTriggerArgumentBinding.cs)? There are no advantages in

[2021-03-31 08:00] matt-lethargic commented on #1390
3.5 years on, is there any official advice on how to achieve this?

[2021-03-31 12:00] #2528 closed, assigned to v-anvari

[2021-03-31 19:12] fabiocav commented on #1390
@matt-lethargic there have been recommendations from @jeffhollan and @paulbatum on this issue. Aside from that, that has been no other work done.

Please do understand that, though the original question/request was made a while ago, there have been no commitments to bring anything beyond what we've been able to share. This is not something that have seen enough demand to be prioritized over other

[2021-04-01 10:57] v-bbalaiagar commented on #2425
Hi @abbasc52, Apologies for the delayed response, We would like to know if you are still seeing these error.

[2021-04-01 13:48] abbasc52 commented on #2425
hi @v-bbalaiagar, I used semaphore as a workaround in my code to get around this issue.

[code]

[2021-04-01 15:02] tidusjar commented on #1577
I am also interested in this, can we get any sort of update?

[2021-04-01 17:34] v-bbalaiagar commented on #2479
Hi @JakubHolovsky, Apologies for the delayed response, For classic .NET Framework v3 should be safe to use and web jobs v1 is OK for the coming months.
If the question is about using Web Jobs SDK is .NET Framework apps, as long as they're on 4.6.1 and above, you should be able to reference and use the SDK.

[2021-04-01 17:42] v-bbalaiagar commented on #2682
Hi @brettsam, Could you please suggest the repo to transfer this issue

[2021-04-03 00:50] FanBaoMS commented on #2676
Ping, is there any plan for the fix?

[2021-04-05 14:08] baconpat commented on #2676
It appears I'm also seeing this same issue, although in my case the variable went from the expected lower case to upper case, starting on January 26th, 2021.

Looking at the `sdkVersion`, the problem seems appears to have started for us with the switch from 3.0.15185.0 to 3.0.15277.0 on that date.

I've got App Insights queries that are looking for specific values under `prop__variableName` that a

[2021-04-05 15:02] mm-gmbd commented on #2676
@mathewc @brettsam pinging for a timeline for a fix as well.

I'm considering this a fairly **serious issue**, as this has caused some important information in our production App Insights logs being unqueryable, or at least unqueryable without additional work. This has negatively affected internal and external support requests for our production system.

Also, looking at the [App Insights REST API

[2021-04-05 17:44] v-bbalaiagar commented on #2425
Hi @abbasc52, Closing this issue as resolved, please feel free to reach back to us in case of any further queries related to this issue

[2021-04-05 17:44] #2425 closed, assigned to nobody

[2021-04-05 18:00] ghost commented on #2479
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-04-05 18:48] benpap24 opened #2690 "Runtime error with WebJobs.Extensions.CosmosDB in console app for .NET Framework 4.8"
I receive the following runtime error when configuring webjobs with cosmosdb:
[code]

#### Repro steps

Empty console project, for a .NET 4.8, and add latest relevant libraries.

**1. Set up the host builder, with `build.AddCosmosDB()`**

My code example:
[code]
You can add the connection string to the builder instead of the Trigger if you want.

**2. Set up the CosmosDBTrigger with the correct in

[2021-04-05 19:27] mathewc commented on #2676
Guys - I just sent a PR https://github.com/Azure/azure-webjobs-sdk/pull/2691 fixing this issue. Please have a look. We'll expedite this into our next release.

[2021-04-05 21:16] kirk-marple opened #2703 "Method not found: 'Microsoft.ApplicationInsights.Extensibility.IOperationHolder`1<!!0>"
We've been running into a problem between Azure Functions (.NET Core 3.1) and Application Insights.

I've already let the AppInsights team know, but filing a bug here, since they say the host is different.

I've created a sample repo to show the problem.

#### Repro steps

https://github.com/kirk-marple/function-app-missingmethodexception

Simply updating from 2.15.0 to 2.16.0 or 2.17.0 causes the

[2021-04-06 13:38] JakubHolovsky commented on #2479
OK, fine with that :)

[2021-04-06 13:38] #2479 closed, assigned to nobody

[2021-04-06 23:01] jjcv2304 commented on #2318
@brettsam  Has something changed recently that explains that I don't see 409 anymore? I was just testing last week and they were there, now I don't see a single one...it seems to have happen after Thursday DNS issues on Azure
Edit:
We can see the 409 on production but not on dev at the moment...

[2021-04-08 00:53] kirk-marple commented on #2703
Some more details, these are the packages that seem to cause problems for us.  If I upgrade past 3.1.13, I start running into conflicts with the Functions host, and things start not loading properly.
[code]

I'm able to use the newer AI packages, as long as I keep the above packages at 3.1.13.
[code]

Also, I did have to work around the TelemetryClient.StartOperation issue, but not using the versi

[2021-04-08 11:21] v-anvari commented on #2690
Thank you @benpap24, We will be looking into the issue and update you with our findings

Tagging @ealsur / @fabiocav , for more inputs

[2021-04-08 11:52] v-anvari commented on #2685
Hi @Fraegle , Apologies for the delay, we will be looking into this issue and update you

[2021-04-08 13:48] brettsam commented on #2682
@v-bbalaiagar -- this is the correct repo.

[2021-04-08 14:02] v-anvari commented on #2684
cc @pragnagopa , for more insights on this issue.

[2021-04-08 17:39] ealsur commented on #2690
The issue is that when on a NET Framework application, the WebJobs.CosmosDB package has only NET Standard 2.0 dependencies:

![image](https://user-images.githubusercontent.com/1633401/114071308-d352e780-9855-11eb-8317-0eb05163500c.png)

Which includes the Change Feed Processor package AND `Microsoft.Azure.DocumentDB.Core`.

But the Change Feed Processor has a conditional dependency:

![image](http

[2021-04-08 19:57] rhythmnewt commented on #746
Any plans to make @Microsoft.KeyVault work from local.settings.json file?

[2021-04-09 03:19] nicholastic commented on #1598
I'm also seeing this issue in my webjob. Can you get this fixed?

[2021-04-09 16:13] dsplaisted commented on #1598
@nicholastic Have you tried the workaround [here](https://github.com/Azure/azure-webjobs-sdk/issues/1598#issuecomment-468501905)?

[2021-04-10 14:48] pragnagopa commented on #2684
Commit https://github.com/Azure/azure-webjobs-sdk/commit/a3e31ba400c70925fdca5ca27168d641aacc2155 addresses this issue. We will be releasing the fix in the next two weeks.

[2021-04-10 14:49] pragnagopa commented on #2684
cc @alrod

[2021-04-12 14:03] v-anvari commented on #2690
Thank you Mathias,

@benpap24, Let us know if the information resolves your query, or if you have any further queries.

[2021-04-12 14:19] imtrobin commented on #2747
I have not updated to latest sdk, but it is not solved.

[2021-04-12 16:28] v-anvari commented on #2685
This issue requires further investigation for a workaround on the dependencies. Tagging @brettsam for more insights here.

[2021-04-12 16:58] v-anvari commented on #2689
Hi @Shazhko-Artem , This requires further investigation on the code to work on the improvements. I suggest you to raise a new pull request for this case and link it here.

[2021-04-12 17:50] NickMSW commented on #2584
We are running into this issue as well. Are there any updates?

[2021-04-12 17:54] v-anvari commented on #2703
Tagging @mathewc / @brettsam for more inputs here. Is this a dependency issue

[2021-04-12 19:00] ghost opened #2696 "Azure Functions V2 - Unable to use Retry Policy due to versioning isues"
For an Azure Function (HTTP Function)
Can't install Microsoft.Azure.WebJobs 3.0.23 because of Newtonsoft versioning issue with Microsoft.NET.Sdk.Functions 1.0.13.  Microsoft.NET.Sdk.Functions 1.0.13 is the versioning that must be set for V2 functions, nothing higher than version 1.0.13 works out of the box with no other changes.

#### Repro steps

Steps to replicate issue:

1. Add the ExponentialB

[2021-04-12 23:43] fabiocav commented on #2522
@selMicrosoft  Let me follow up with @soninaren on this issue.

[2021-04-12 23:49] fabiocav commented on #2696
@LockpickingDev is there something preventing you from targeting Functions 3.0? V2 will no longer see feature updates

[2021-04-13 00:17] ghost commented on #2696
We are currently only using .NET Standard 2.0.  Is that the only way to go about it other than hard coding retry logic in?

[2021-04-13 00:19] fabiocav commented on #2696
You can continue to target .NET Standard 2.0 and run on V3.

For new features and SDK updates, remaining in 2.0 would become a blocker.

[2021-04-13 00:23] ghost commented on #2696
Is there any documentation to assist in showing how to do that?  My first thought was to edit that project and change V2 to V3 then change target in Azure to V3.  But, that doesn't seem like something that would allow me install more a recent version of NuGet packages.

[2021-04-13 03:32] ghost commented on #2696
I'm using Visual Studio 2017.  I don't see an option for V3 while creating a project (I'm assuming because I have .NET Standard 2.0?)
![image](https://user-images.githubusercontent.com/8828716/114492788-e0b5fc00-9bde-11eb-845d-40a6b5d42c63.png)

[2021-04-13 04:53] rhyskoedijk opened #2697 "ArgumentNullException when configuring webjob host builder with .NET 6.0 (preview 3)"
I understand .NET 6.0 is still in preview and isn't expected to be compatible at this point, but I'm looking to see if anybody has any idea if this can be worked around easily without downgrading .NET. Also this might be an issue with .NET itself, not webjobs, just hoping somebody here can point me in the right direction. Thanks.

#### Repro steps

Provide the steps required to reproduce the probl

[2021-04-13 22:03] benpap24 commented on #2690
@v-anvari, The information allowed us to get it to start working. Thanks.

[2021-04-13 22:49] fabiocav commented on #2690
Thank you for the update. Closing as resolved, but let us know if you need any additional information.

[2021-04-13 22:49] #2690 closed, assigned to nobody

[2021-04-13 22:53] mathewc opened #2698 "BindingDataProvider.GetProperties should gracefully handle exceptions"
The code [here](https://github.com/Azure/azure-webjobs-sdk/blob/3f4ec78be9f43bb041937425ced00b341883aa42/src/Microsoft.Azure.WebJobs.Host/Bindings/BindingDataProvider.cs#L70) should handle exceptions when accessing a property value and if an exception was thrown skip adding it to binding data.

This came up recently in the context of the new track 2 ServiceBus extension, where the target trigger t

[2021-04-14 06:47] AlbertoLeon opened #2699 "Probable DDoS vulnerability on error binding"
When a negotiate end point expects UserId binding in headers for example {headers.x-ms-signalr-userid} but it is not present, the end point responds a 500 InvalidOperationException instead of a BadRequest.

This could overload the server handling the error and logging the stack trace and all that stuff.
Apart of taking so mutch time to respond, what impacts negatively in performance.

A proposed s

[2021-04-14 08:59] v-bbalaiagar commented on #2682
Hi @brettsam, Can you suggest how to further proceed to triage this issue. Do we require more information for further investigation

[2021-04-14 11:15] v-bbalaiagar commented on #2699
Hi @AlbertoLeon, Thank you for reaching out to us, Can you provide us more information regarding the project scenario, any repro steps

[2021-04-14 12:04] v-bbalaiagar commented on #2697
Hi @rhyskoedijk, Thank you for reaching out to us, checking internally on this issue

[2021-04-14 19:00] ghost commented on #2696
If it isn't possible to use V3 due to some constraint, is there logic to recall the Azure Function?  This way we could implement our own Retry policy on Exception?

[2021-04-14 20:57] fabiocav commented on #2522
Assigning this to @brettsam as he was recently impacted by the issue and worked on a fix.

[2021-04-15 01:35] nicholastic commented on #1598
@dsplaisted Yes, unfortunately workaround https://github.com/Azure/azure-webjobs-sdk/issues/1598#issuecomment-468501905 doesn't work for me.

[2021-04-15 06:41] dsplaisted commented on #1598
@nicholastic Can you share a [binlog](https://aka.ms/binlog) of the failing build (with the workaround applied)?

[2021-04-15 07:11] AlbertoLeon commented on #2699
I've just updated the description

[2021-04-15 17:03] v-bbalaiagar commented on #2697
Hi @rhyskoedijk, As of now the highest version we support is .Net 5.0

[2021-04-15 17:07] v-bbalaiagar commented on #2699
Tagging @anthonychu, for more inputs

[2021-04-15 19:03] fabiocav commented on #2699
@AlbertoLeon thank you for reporting this. We'll continue to follow up on this but remove the issue as per security policies. I've also updated the repo with the reporting information.

Thanks again!

[2021-04-15 19:03] #2699 closed

[2021-04-15 19:03] v-anvari commented on #2703
Tagging @brettsam / @fabiocav , for more insights

The dependency mentions the versions above 2.16.0

![image](https://user-images.githubusercontent.com/66122429/114922358-2f66ce80-9e49-11eb-9dfe-30d7f0a1b41c.png)

**Below is the validation for the version 2.15.0 (Microsoft.ApplicationInsights) or (>=3.0.25 - Microsoft.Azure.WebJobs.Logging.ApplicationInsights)**

[2021-04-15T16:19:20.162Z] Execut

[2021-04-15 20:26] #2522 closed, assigned to brettsam

[2021-04-15 21:10] adityavaish commented on #2499
I am getting this error too! Any help here?

[2021-04-16 17:26] reginald81 commented on #1966
This Issue is STILL VALID !

[2021-04-17 00:53] KenBrannigan commented on #2678
I have the same issue and my functions app is referencing Microsoft.NET.Sdk.Functions v3.0.11 which has a reference to Microsoft.Azure.WebJobs v3.0.23. I had to downgrade to Microsoft.Azure.WebJobs.Extensions.SendGrid v3.0.0 for the warning to go away.

[2021-04-19 11:51] v-anvari commented on #2619
Hi @AdrianPell , Apologies for the delayed response, Are you still facing this issue, if yes, can you provide us with the latest error details to understand the cause. Can you provide us with the repro steps to understand what you are trying to achieve.

[2021-04-19 11:57] v-anvari commented on #2534
Hi @Bpflugrad , Apologies for the delayed response. Thank you for the update, Its hard to say the cause of the error without reproducing it during the period. We are glad that the error is fixed. Closing this issue as the error is not re-occurred. Do let us know if the issue is seen in future.

[2021-04-19 11:57] #2534 closed, assigned to nobody

[2021-04-19 16:31] v-anvari commented on #2584
Tagging @brettsam for further insights

[2021-04-19 16:32] v-anvari commented on #2646
Triaging this issue for further investigation

[2021-04-19 17:42] v-anvari commented on #2696
Hi @LockpickingDev, You would need Visual studio 19 for using version 3 - [https://dotnet.microsoft.com/download/dotnet/3.1](https://dotnet.microsoft.com/download/dotnet/3.1).

You can use the .net standard 2.0 and target version 3.
[https://docs.microsoft.com/en-us/azure/azure-functions/set-runtime-version?tabs=portal](https://docs.microsoft.com/en-us/azure/azure-functions/set-runtime-version?tab

[2021-04-19 17:56] v-anvari commented on #2491
Hi @saikatguha , Apologies for the delayed response. Is this scenario completely based on functions or webjobs SDK. Because the Http Trigger is only supported in functions, But, the scope in which the above scenario trigger runs is the webjobs builder scope. Dispatching comes through the job host and not through the ASP .net Http Pipeline. Setting up in the ASP .Net  Http Pipeline will not work he

[2021-04-19 18:44] LockpickingDev commented on #2696
Ok, so other than going to Visual Studio 19, there is no way to do actual retry logic other than hard coding some loop to try the code again on a fail?  Sounds like no way to retry a request given what we have at the moment...

[2021-04-19 19:25] ghost commented on #2696
For using .NET Standard 2.0 to target V3, are you referring to referencing Extension Bundles in the host.json file to prevent incompatibilities?  If so, will that work with HTTP Triggers (this project is a HTTP Trigger)?  The article says: "With the exception of HTTP and timer triggers, Functions bindings in runtime version 2.x and higher are implemented as extension packages. HTTP bindings and ti

[2021-04-19 20:48] mathewc opened #2704 "WebJobs: Dynamic Concurrency Support"
Implement core WebJobs SDK Dynamic Concurrency feature set described in https://github.com/Azure/azure-functions-host/issues/7299.

[2021-04-19 22:37] ghost commented on #2696
I read through that document and made no real progress nor have any new findings.  Here's what I encountered when trying each section in the referenced link (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register)

"Extension bundles"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register#extension-bundles
It says "To add an extension bundle

[2021-04-19 22:40] fabiocav commented on #2696
Extension bundles should not be used by .NET Applications, particularly pre-compiled apps.

The steps to work with extension bundles (either by referencing them or installing the extensions with the tool) do not apply to .NET, as all that is. needed for that scenario is a NuGet package reference to the relevant extensions.

Visual Studio 2019 is not a requirement to work with Functions 3.0, but it

[2021-04-19 22:51] ghost commented on #2696
Ok.  What section of the article (or what article in general) helps me get .net standard 2.0 working with V3 that will resolve the conflicting references to different versions of Newtonsoft.Json?  I'm reading through everything as carefully as I can but not seeing no solutions.

[2021-04-19 22:56] fabiocav commented on #2696
My assumption is that @v-anvari shared the article above as a guide on how to target/change the runtime version. She can confirm.

For your original problem, targeting Azure Functions 3.0, which you can continue to do even if targeting .NET Standard 2.0, is what will give you access to the functionality you're looking for. For VS support, 2019 is required in order to work with 3.0.

Can you clarif

[2021-04-19 23:16] ghost commented on #2696
The original post has a detailed description of the NuGet package version conflicts we are experiencing with V2 using Visual Studio 2017.  From what you just said though, sounds like we **need** VS 2019 in order to do this in Visual Studio and get the functionality of Azure Functions V3.

Thank you for all the help!

[2021-04-19 23:16] #2696 closed, assigned to v-anvari

[2021-04-21 06:19] apavelm commented on #2515
This issue is still actual. Please do not close it!

[2021-04-21 09:48] v-anvari commented on #2515
Hi @qsdfplkj , The bot has closed the issue due to in-activity. We shall keep the issue open.

[2021-04-22 10:33] mauve commented on #2575
Hi @paulbatum do you have a new estimate?

[2021-04-22 16:57] paulbatum commented on #2575
You can track most of the remaining work by keeping an eye on these two PRs:
https://github.com/Azure/azure-webjobs-sdk/pull/2680
https://github.com/Azure/azure-functions-host/pull/7198

So allowing a week or so of reviews and changes, then allowing for a few weeks of deployment related activities, I think end of May seems likely.

[2021-04-23 06:39] mauve commented on #2575
Thanks @paulbatum do you know if there is work in progress for moving the ServiceBus binding to track2 as well?

Actually seems to already be supported: https://github.com/Azure/azure-functions-servicebus-extension/issues/128#issuecomment-761213261

[2021-04-23 07:11] paulbatum commented on #2575
Yes, support is in this preview release:
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.ServiceBus/5.0.0-beta.2

[2021-04-23 11:00] ghost commented on #2697
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-04-23 12:00] ghost commented on #2619
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-04-23 13:16] AdrianPell commented on #2619
I'll need to put together a repro for you. Since it only happens if there's an exception, it's a bit of a problem.

Actually, the main issue here is that using an IAsyncCollector doesn't provide any way to catch any exceptions - which can be an problem if they occur. In this case, it makes IAsyncCollector essentially useless.

[2021-04-23 16:25] cgillum commented on #2619
Unfortunately the `IAsyncCollector` implementations are binding specific, so the actual behavior depends on which binding you're using. Some implementations will throw while your code is executing and some will not, like you're observing. Adding @mathewc in case he wants to comment further.

A workaround you can consider is to configure [retry policies](https://docs.microsoft.com/en-us/azure/azure

[2021-04-23 18:00] ghost commented on #2491
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-04-24 20:45] gasserma commented on #2228
I am facing the same issue an have a simple repro. I have a manually triggered python webjob that sleeps for 10 minutes and intermittently prints a message. I want to be able to invoke it such that I have two of those jobs running at once. I have two instances in my app service plan, set to always on, and a pricing tier at Production - P1V2.

I am triggering the job using the kudu API and the firs

[2021-04-26 09:08] v-bbalaiagar commented on #2562
Hi @zweim1, Apologies for the delayed response, Were you able to find a solution here. Kindly let us know if you could resolve it can we close this issue?

[2021-04-26 12:00] #2697 closed, assigned to pragnagopa, v-bbalaiagar

[2021-04-26 12:48] zweim1 commented on #2562
The workaround: explicitly add Microsoft.Azure.EventHubs.Processor 4.3.0 or higher as dependency.
It would be better if Microsoft.Azure.WebJobs.Extensions.EventHubs can fix its dependencies.

[2021-04-27 10:10] MagnusBraathen opened #2706 ".NET Core WebJobs can't be linked with web projects"
From the [docs ](https://docs.microsoft.com/en-us/azure/app-service/webjobs-dotnet-deploy-vs#webjobs-as-net-core-console-apps) ".NET Core WebJobs can't be linked with web projects."
Why not?

We got dozens of webjobs. We need them to run on the same webapp.

Why is it not supported on .net core?

Not in .net 5?

.net 4 is slowly being deprecated. We need to port. We can't port without being able t

[2021-04-27 19:42] ghost commented on #2595
Is this something that has been implemented in C# yet?  If so, is there a link for documentation or some kind of resource for it?  I see NodeJS, Java, and Powershell so far.  We are trying to implement some final retry logic but have been unsuccessful through what we've found here and the links within.  We currently have a private static retryCount = 0 and increment it on every retry and set to 0

[2021-04-27 20:21] fabiocav commented on #2595
@LockpickingDev this should be available for C# in-proc. Is that what you're currently using?

[2021-04-28 11:58] piotrzbyszynski commented on #2612
Any news on that?

[2021-04-29 09:46] Bubelgin commented on #2644
Is there any update possibly of when this would be implemented? We're upgrading all of our webjobs from SDK v2 to v3 since the old version is using the deprecated WindowsAzure.Storage package just to find out that v3 also uses deprecated packages...

[2021-04-29 09:54] phenixita commented on #2609
Hi team, this feature would be really appreciated!

[2021-04-29 16:42] ghost commented on #2595
All we're doing is taking in a JSON request from an external source and storing it.  Theres really not much to it.  After reading, it sounds like that's not in-proc though.

[2021-04-29 16:50] v-anvari commented on #2644
Hi @Bubelgin , The packages are deprecated but they still support the functionalities. If this is causing you any impact, You can use [https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage/4.0.4](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage/4.0.4 ) package instead.

[2021-04-29 16:57] v-anvari commented on #2706
Hi @MagnusBraathen , Thank you for reaching us. We are internally working on this issue.

[2021-04-29 17:20] v-anvari commented on #2456
If the host is healthy, these renewals will succeed without issue. Can you let us know how long it takes the for these leases to get released. You may check the following points to check if everything is working as expected [https://github.com/Azure/azure-webjobs-sdk-extensions/wiki/TimerTrigger#troubleshooting](https://github.com/Azure/azure-webjobs-sdk-extensions/wiki/TimerTrigger#troubleshootin

[2021-04-30 14:25] david-peden-q2 commented on #1284
@MartinWickman Middlewares definitely help out with cross-cutting concerns, although they currently lack any real substance right now to make them useful. E.g., [no access to the request/response](https://github.com/Azure/azure-functions-dotnet-worker/issues/414) and no ability to terminate the pipeline.

Also, they don't really make sense as a replacement for filters that are intended to be appli

[2021-05-01 03:27] cloudsere commented on #2690
Hi, if I understand it right, by now we still cannot use `Microsoft.Azure.WebJobs.Extensions.CosmosDB` for net461, since the PR is not merged yet, right? @fabiocav
Can you share how did you solve the problem ? @benpap24

[2021-05-03 14:19] ealsur commented on #2690
@cloudsere The PR is still in progress and when merged, it will be a whole new major version of the extension. When the new version is released in the upcoming months, it would solve the dependency issue because it uses other packages altogether.

[2021-05-03 18:29] mathewc opened #2710 "Migrate Host.Storage to target new Azure SDK v12"
We need to create a new major version of the Microsoft.Azure.WebJobs.Host.Storage package that targets Azure Storage SDK v12, which will allow us to fully support "secretless" configuration for WebJobs SDK and Azure Functions.

[2021-05-03 19:27] benpap24 commented on #2690
As a temporary workaround we changed the reference of the two libraries and found a combination that functioned correctly. You should have access of both of these when downloaded the packages from nuget.

We changed ChangeFeedProcessor to **netstandard2.0**:
[code]

and we changed Microsoft.Azure.DocumentDB to **net45**:
[code]

We did not have to change Microsoft.Azure.DocumentDB.Core, and am sti

[2021-05-04 07:21] mdurini commented on #2063
We faced the same issue. We tried to publish the azure function app from Visual Studio 2019 version 16.9.4 and we discovered that the application setting that we configured in the "Manage Azure app service settings" were ignored if the setting was "classname:propertyname" (example "Idp:Cloud")
This problem is not happening with settings without the class name (example "IsScopeMonitored")
We didn't

[2021-05-04 21:26] melvincanafranca opened #2711 "Microsoft.Azure.WebJobs.Extensions.EventGrid v 2.1.0 binding issue"
Running a default Event Grid Triggered Azure function created in Visual Studio 2019 causes binding exception to be returned.

#### Repro steps

Provide the steps required to reproduce the problem

1. Create an Event Grid Triggered Azure function using Visual Studio 2019.
2. Validate that your Microsoft.Azure.WebJobs.Extensions.EventGrid package version is v  2.1.0.
3. Run the Azure Function in the

[2021-05-05 01:03] Herman-Wu commented on #625
This feature is very useful in our project too.

[2021-05-06 06:31] cloudsere commented on #2690
@benpap24 Hi, thanks for your reply.
We are using a `.csproj` for our net461 project, I add `<PackageReference Include="Microsoft.Azure.DocumentDB" Version="2.0.0" ExcludeAssets="All" />` and all the warnings of namespace conflicts went away, however, we cannot build this project, it will stuck and never ends
[code]

[2021-05-07 12:46] Shazhko-Artem commented on #2689
Hi @v-anvari , I raised a new pull request for this case. The solution was successfully built, but I can't figure out what the problem is with _vstest.console_. Looks like it's a pipeline setup problem. Let me know if the problem is with my pull request.
![image](https://user-images.githubusercontent.com/31850295/117451562-55185c80-af4b-11eb-9ac6-45a4008d1b29.png)

[2021-05-07 13:03] v-anvari commented on #2689
Hi @Shazhko-Artem , I shall follow up with the team to check if there is any known issue, will reach back to you if we require any further information

[2021-05-07 13:35] v-anvari commented on #2706
Document reference:
![image](https://user-images.githubusercontent.com/66122429/117457366-c6b1d400-af66-11eb-8283-11bc1a5ff25f.png)

cc: @ggailey777 , Do you know what is addressed as web projects here.

[2021-05-07 13:40] v-anvari commented on #2711
Hi @melvincanafranca , Thank you for reaching us. We will reproduce this issue and check if this issue is related to the latest versions, will update the findings here and triage the issue if required.

[2021-05-07 13:44] v-anvari commented on #2619
Hi @AdrianPell , Let us know if you have any further queries regarding this issue

[2021-05-07 14:05] v-bbalaiagar commented on #2562
Hi @zweim1, We will be considering this suggestion forward, but, Latest packages of Microsoft.Azure.WebJobs.Extensions.EventHubs provide fixes to different dependency related issues, and will have support towards latest features.
Let us know if this can be closed or you have further queries.

[2021-05-07 14:06] v-anvari commented on #2533
Hi @imtrobin , Apologies for the delayed response. Here is an example of using these filter correctly, they need to added in the pipeline / service collection in order to be read.
[improve-azure-function-logging-with-function-filters/](https://donotpanic.azurewebsites.net/2019/10/14/improve-azure-function-logging-with-function-filters/)

Let us know if any further information is required

[2021-05-07 14:12] v-anvari commented on #2518
Hi @zmarty , Issue 1054 is a tracking issue and the updates will be given there, can we close this issue as duplicate.

[2021-05-07 14:16] v-bbalaiagar commented on #2682
Hi @olegsych, Can you please give us more information regarding the scenario to reproduce the issue.

[2021-05-07 15:01] zweim1 commented on #2562
The the latest Microsoft.Azure.WebJobs.Extensions.EventHubs (4.2.0) did not provide the fixes.

To reproduce the issue:
Follow (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs-trigger?tabs=csharp) to create a simple Azure Function with event hub trigger.

Project settings:
<PropertyGroup>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <AzureFunctionsV

[2021-05-07 17:14] v-bbalaiagar commented on #2459
Hi @digitalfuller, Issue 2584 is a tracking issue which is being addressed and the updates will be given there, Can we close this issue as duplicate.

[2021-05-07 17:48] vachillo commented on #808
Also requesting a new feature/workaround for this situation

[2021-05-07 17:50] alexgman commented on #808
We will take your request into consideration.

On Fri, May 7, 2021 at 12:48 PM vachillo ***@***.***> wrote:

[2021-05-07 21:32] olegsych commented on #2682
@v-bbalaiagar I have provided this information in the issue. Do you have specific questions?

[2021-05-08 02:59] Liphi opened #2712 "a question about an unexpected behavior of web job singleton lock"
Hi, we have deployed 2 regions of web apps, and each region has 1 instance of the same timer-triggered web job running. The distributed lock to guarantee singleton is backed by the AzureWebJobsStorage storage account. I find when this storage account is available, singleton works. But when this storage account is unavailable (for example, incorrect connection string causes auth error, storage acco

[2021-05-08 08:46] Y-Sindo opened #2713 "When fails to auto-resolve attribute from http request data, should return 400 instead of 500"
#### Repro steps

1. Use this link to deploy to Azure. https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2FY-Sindo%2Ffn-http-queue-s%2Fmaster%2Fazuredeploy.json

2. Call the function api without query parameters. For example, in Azure portal, click the function resource, "Functions" - "http-queue" - "Code + Test" - "Test/Run"

#### Expected behavior

4

[2021-05-08 15:00] ghost commented on #2456
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-08 15:07] robertmclaws commented on #2456
Sometimes they never get released, especially if there is a dirty shutdown of the Webjob. That's why there needs to be an API to be able to release WebJobs lock file leases manually. This is causing us significant problems in our production environment.

[2021-05-10 09:09] v-anvari commented on #2456
Hi @robertmclaws , Thank you for the update, can we know how frequent is this issue. Do you see any reason in your logs on why the web job is getting shut down inappropriately.
Can we have the latest invocation id, region and time stamp during the time of error

[2021-05-10 17:46] GermanCoca commented on #2456
I agree with Robert, they sometimes never got released. Sadly we don't work with that client anymore so retrieving any more data (or how long it takes for the leases that eventually get released to do so) won't be possible.

In our case we used an Azure Pipeline to gracefully stop the Webjobs and WebApp, and tried different combinations of these actions without success.

Related to frequency, this

[2021-05-11 09:08] v-anvari commented on #2456
To understand the errors, looking into the backend logs is necessary. We would require the latest invocation id, region and time stamp during the time of error

[2021-05-11 11:19] v-anvari commented on #2711
@anthonychu , Do you any inputs here

[2021-05-11 14:00] ghost commented on #2619
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-11 14:37] AdrianPell commented on #2619
Anusri

I have long ago moved away from IAsyncCollector to ICollector in order to
give me enough awareness of failures, so I don't have repro cases any
longer (they were sporadic anyway).

Chris Gillum: thanks for the retry policies, but in this case I don't think
it's going to help as failure tolerance is fairly low. In addition, the
overhead of the sync vs async operation is minimal for us.

I'd

[2021-05-11 15:00] ghost commented on #2533
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-13 11:21] v-anvari commented on #2711
Hi @melvincanafranca ,

I reproduced this issue using Postman and [NGORK](https://docs.microsoft.com/en-us/azure/azure-functions/functions-debug-event-grid-trigger-local#allow-azure-to-call-your-local-function), and did not find any error.

**Results using NGORK:**
Executing 'Function1' (Reason='EventGrid trigger fired at 2021-05-13T15:19:49.6038044+05:30', Id=70b30607-56b3-4700-8dd3-2ba92687296a)

[2021-05-13 15:16] garywebb opened #2714 "Crash on shutdown of Azure App Service possibly due to old SnapshotCollector reference"
## TL;DR

[Microsoft.Azure.WebJobs.Logging.ApplicationInsights](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/) has a reference to a version of SnapshotCollector which has a known bug which causes crashes on application shutdown - [SnapshotCollector Issue](https://github.com/microsoft/ApplicationInsights-dotnet/issues/2097).
The fix described in the above issue

[2021-05-13 15:53] pharring commented on #2714
Easiest fix is to update to SnapshotCollector >= 1.3.7.5
The delta between 1.3.7.3 (what's currently referenced) and 1.3.7.5 is pretty small. Indeed, 1.3.7.5 addresses this exact issue.
See https://docs.microsoft.com/en-us/azure/azure-monitor/app/snapshot-collector-release-notes

[2021-05-13 20:44] saikatguha commented on #2491
This is functions only. Not web jobs.

[2021-05-13 21:35] melvincanafranca commented on #2711
Agree that this will work in NGROK, problem from my end is that NGROK is blocked from my enterprise's firewall which is why I'm trying to use the function's admin URL. Any suggestion on the required header for the function's URL?

[2021-05-14 13:31] v-anvari commented on #2711
Hi @melvincanafranca , I used "aeg-event-type" : "Notification" and "Content-type" : "Application/json" in the postman header and it worked all fine. Let us know if that works for you

[2021-05-14 15:28] melvincanafranca commented on #2711
It didn't work for me.
![image](https://user-images.githubusercontent.com/39720286/118293146-f731ca80-b49e-11eb-94b3-9a733ac9b5c7.png)
![image](https://user-images.githubusercontent.com/39720286/118293222-0ca6f480-b49f-11eb-87ef-c93da8b91404.png)

[2021-05-14 16:00] #2533 closed, assigned to v-anvari

[2021-05-14 16:35] v-anvari commented on #2713
Hi @Y-Sindo , I am unable to repro it with the source you gave. Can you give us more information regarding the repro steps.

[2021-05-14 16:38] v-anvari commented on #2712
Hi @Liphi , Thank you for reaching out to us, checking this internally for the possibilities. We will update you with any information found.

[2021-05-14 16:55] v-anvari commented on #2711
For team reference, I tried running this scenario twice with the 2 different URLs:

1. http://localhost:7071/admin/functions/Function1 -- causes error
2. http://localhost:7071/runtime/webhooks/EventGrid?functionName=Function1 -- succeeds
// second URL is the Default URL for triggering event grid function in the local environment.

![image](https://user-images.githubusercontent.com/66122429/1183032

[2021-05-15 12:00] ghost commented on #2518
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-15 15:50] Bayurzx commented on #2515
I experience the same problem randomly, sometimes when I add a new function locally from vscode.

Has anyone else experienced a similar trigger

[2021-05-16 18:49] mauve commented on #2575
Oh cool it looks like both PRs (#2680 and Azure/azure-functions-host#7198) have been merged. 🥳🥳🥳

[2021-05-16 21:17] itpropro commented on #2499
I have this error a lot on function apps using apollo serverless for graphql, are there any news @fabiocav ?

[2021-05-17 02:03] melvincanafranca commented on #2711
Thanks for the recommendation. The 2nd URL seems to work.

[2021-05-17 09:25] v-anvari commented on #2711
Thank you for the update, closing this issue as resolved

[2021-05-17 09:25] #2711 closed, assigned to nobody

[2021-05-17 14:21] Shazhko-Artem commented on #2689
Hi @v-anvari, do you have any updates?

[2021-05-17 18:18] v-anvari commented on #2689
Hi @Shazhko-Artem , I am following up with the team and the PR will be assigned to anyone from the team for further look up.

[2021-05-17 18:25] v-anvari commented on #2712
Hi @Liphi , I have checked with the team and they are skeptical about why the instances are running without acquiring the singleton lock when the  AzureWebJobsStorage  is unavailable. We would require further information regarding this scenario to understand what is the cause.

Can you give us more details about the whole scenario, with any errors or exceptions , repro steps, expected and actual r

[2021-05-17 18:33] Liphi commented on #2712
Here's the repro steps:
1. create 2 web app resources.
2. Configure AzureWebJobsStorage of a timer-triggered web job as something unconnectable, like invalid connection string, non-existing storage account, etc. Deploy this web job to both web apps.
3. Expected behavior is only 1 instance of this web job will run. Actual behavior is the 2 web job instances under the 2 web apps both run.

I've seen

[2021-05-17 18:33] v-anvari commented on #2619
Tagging @mathewc / @cgillum , for any further comments

[2021-05-18 05:53] AartBluestoke commented on #2617
Hi,
I have just seen this again, i have a function exploding with 2GB of ram usage (then a crash) every 5 minutes at the moment.
This triaged, above. Is there a timeline for any next steps?
Thanks,
Andrew.

[2021-05-18 11:50] v-anvari commented on #2712
Hi @Liphi , Thank you for the update, checking this internally if it is considered for a fix. But, We usually get an error when the connection string is invalid. I would still try to repro this error.

[2021-05-18 13:00] #2518 closed, assigned to v-anvari

[2021-05-18 15:00] ghost commented on #2456
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-18 17:00] ghost commented on #2713
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-19 03:15] Y-Sindo commented on #2713
Here is the snapshots of the test step:
![image](https://user-images.githubusercontent.com/15143836/118751158-69395380-b893-11eb-956a-e6496c05336d.png)
![image](https://user-images.githubusercontent.com/15143836/118751179-72c2bb80-b893-11eb-91bc-7b8b919d9c31.png)

[2021-05-19 04:19] FanBaoMS commented on #2676
Verified that the issue was fixed since 4/26 for our Azure Function resources. Thanks for the fix and close the issue.

[2021-05-19 04:19] #2676 closed, assigned to mathewc

[2021-05-19 11:05] v-anvari commented on #2499
Hi @saikatguha , I see a fix has already been made here - https://github.com/dapr/azure-functions-extension/pull/48. Can you let us know if that has fixed your project exception.

@itpropro , Can you open a new case with your project details so that the team can look into your scenario specifically. Since, I see that there are multiple scenarios which see this error.

[2021-05-19 14:41] cmanoliu commented on #2548
@soninaren @brettsam
Hello,

Can anyone please respond to @pzbyszynski ?
I have the same problem and wasting a lot of time trying to workaround this issue. Existing documentation does not help.
An answer would be very helpfull. Thank you.

Regards,

Catalin

[2021-05-19 20:51] #2689 closed, assigned to nobody

[2021-05-20 08:47] yuanweilei opened #2716 "Is it possible to ask you to change the license to MIT in v4.x.x please?"
Regading Microsoft.Azure.WebJobs.Extensions.Storage, I noticed that from v5.0.0-beta1, you changed the license to MIT.
Since the latest stable version is still v4.0.4, is it possible that you release a new version (e.g. v4.0.5) which is MIT license?

The license of v4.0.4 is:
https://www.microsoft.com/web/webpi/eula/aspnetcomponent_rtw_ENU.htm

[2021-05-20 09:58] v-anvari commented on #2491
@saikatguha , Thank you for your feedback! As this is functions based scenario, as suggested in the earlier comment, the scope in which the above scenario/code trigger runs is the webjobs builder scope. Dispatching comes through the job host and not through the ASP .net Http Pipeline. Setting up in the ASP .Net Http Pipeline will not work here as expected. So it is important that it will be dispat

[2021-05-20 16:53] v-anvari commented on #2712
Hi @Liphi , Thank you for bringing this out to us, I have reproduced this issue and likely to require a fix.

//For the team//

Console app using timer trigger executes successfully even if the storage account is not configured. Keeping the app settings file empty or giving a wrong value also works fine.

Console app: .Net core 1.x, 2.x, 3.x, .Net 5.0
Debug local - visual studio

**Repro steps:**

[2021-05-20 17:00] v-anvari commented on #2713
Hi @Y-Sindo , I have tried to reproduce this issue further and checked the parameters in your function.json file, and found that the queue name is given as below:
![image](https://user-images.githubusercontent.com/66122429/119019245-a1878180-b9ba-11eb-9ccc-4f31a7f26f6d.png)

The correct way of configuring the queue name is mentioned below, which is explained in the document [here](https://docs.mic

[2021-05-20 17:43] v-bbalaiagar commented on #2562
@alrod, Tagging alexy for further insights

[2021-05-21 03:07] Y-Sindo commented on #2713
No. Your example is a trigger while mine is just an input binding. In the queue input binding,  the queue name can be in the form `{....}`  or `%AppSetting%` , because `queueName` is an [AutoResolve] attribute.

[2021-05-21 03:24] Y-Sindo commented on #2713
We got an issue [Probable DDoS vulnerability](https://github.com/Azure/azure-functions-signalrservice-extension/issues/199) in SignalR Functions extensions repos. We also depend on the [AttributeCloner](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Bindings/AttributeCloner.cs) to resolve the `[AutoResolve]` attribute, so SignalR extensions behave similarly as

[2021-05-21 07:01] Liphi commented on #2712
I did more test. If the timer schedule is 'every 10 seconds', things behave as v-anvari and I mentioned no matter whether TimerTriggerAttribute.UseMonitor is true or false. But if the timer schedule is 'every hour', web job fails to start and requires a valid connectable storage account only if TimerTriggerAttribute.UseMonitor is true. Then I checked the source code, and see below. Now it's clear

[2021-05-21 08:46] v-anvari commented on #2712
Hi @Liphi , Thank you for further updates, adding this issue to sprint as the team wants to investigate further and make any fixes if required.

[2021-05-21 08:51] v-anvari commented on #2713
Hi @Y-Sindo , The function.json shows direction out which says its an output binding. I was mentioning the queue name in the output binding from your source

[2021-05-21 08:57] v-anvari commented on #2716
Hi @yuanweilei , Thank you for your feedback! We will investigate and update as appropriate.

[2021-05-21 08:58] Y-Sindo commented on #2713
Yes, that's a mistake. Anyway, the queue should be allowed to be `{query.name}` by design.

[2021-05-21 09:01] kamalkishorm commented on #1314
Any update on it or is there an alternative approach that can help us for now? 😖

[2021-05-21 09:15] v-anvari commented on #2713
Thank you for your feedback! We will investigate this further and update as appropriate.

[2021-05-22 16:00] ghost commented on #2456
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-23 12:00] ghost commented on #2499
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-23 19:09] Shazhko-Artem opened #2717 "Suggestion to improve code and performance 2 (like #2689)"
I found two more places that have similar situations as in task #2689. In the [TriggerAdapterBindingProvider](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Bindings/BindingProviders/TriggerAdapterBindingProvider.cs) and [BindToStreamBindingProvider](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Bindings/BindingProviders/

[2021-05-23 19:13] Shazhko-Artem commented on #2717
Also in the file [BindToStreamBindingProvider.cs](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Bindings/BindingProviders/BindToStreamBindingProvider.cs) on line 308 (after creating the variable), an extra curly brace is opened, it can also be removed.

[2021-05-24 10:00] ghost commented on #2491
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-24 10:04] saikatguha commented on #2491
Dispatch is happening inside the function handler.
See the code snippet here:

[code]

[2021-05-24 16:45] v-anvari commented on #2716
Hi @yuanweilei , The license used in 4.x.x is MIT license. You may have to update the packages with the license information if they are not updated. https://github.com/Azure/azure-webjobs-sdk/blob/dev/LICENSE.txt.

The project might not be updated to use the license for now, we will use this issue to track the update

[2021-05-24 16:56] v-anvari commented on #2713
Flagging this issue as feature request as it requires a validation for considering it in the breaking change

[2021-05-24 22:04] Liphi opened #2718 "deploy an azure web job via arm template and ev2?"
Hi, i don't know if below post has enough authority, or there's any update since last year. Today, is it supported to deploy an azure web job via arm template and ev2 (https://ev2docs.azure.net) ?

https://stackoverflow.com/questions/62633653/how-to-create-azure-webjob-using-azure-arm-template

[2021-05-24 22:20] Liphi opened #2719 "web job SDK should gracefully handle azure storage unavailability"
Hi, I have a timer-triggered azure web job and i'm using the latest .net core web job v3 SDK. Trigger interval is 1 hour TimerTriggerAttribute.UseMonitor is true. Whenever the underlying AzureWebJobsStorage storage account is unavailable (easily repro-able by shutting down the network of the machine where web job runs on), unhandled exception thrown from background thread ( which is spawned by web

[2021-05-24 23:55] yuanweilei commented on #2716
Hi @v-anvari , thank you for checking!

I am not sure if I can ask this question here, but even I used the latest v4.0.4 Nuget, it still shows this license:
https://www.microsoft.com/web/webpi/eula/aspnetcomponent_rtw_ENU.htm

Our legal team check the www.nuget.org and they worry that the license is not MIT.
Can I see you answer above (The license used in 4.x.x is MIT license) as an "official answ

[2021-05-25 12:30] v-anvari commented on #2491
@saikatguha , Thank you for your feedback! We will investigate and try to reproduce this scenario and update the findings

[2021-05-25 13:08] v-anvari commented on #2716
@yuanweilei , Apologies for the confusion if caused any, I have confirmed the above with the team before updating it here. As commented above, this issue will be used to track the required changes that are to be made in the packages. But, the 4.x.x  project shares the MIT license. So you can update the license details for now.

https://stackoverflow.com/questions/57682160/upload-nuget-package-how-

[2021-05-25 13:16] v-anvari commented on #2716
Tagging @davidmatson / @mathewc for further inputs

[2021-05-25 17:00] #2456 closed, assigned to brettsam, v-anvari

[2021-05-26 12:31] #2714 closed, assigned to soninaren

[2021-05-26 13:00] #2499 closed, assigned to v-anvari

[2021-05-26 13:21] v-bbalaiagar commented on #2718
Hi @Liphi , Thank you for reaching out to us, checking internally on this issue. We will update you with any information found.

[2021-05-26 14:20] BeChaRem opened #2722 "null logging entry when using SEQ"
When using an azure function with Seq.Extensions.Logging, some logging done by Host.Aggregator or Host.Results doesn't contain any message.

#### Repro steps

Provide the steps required to reproduce the problem

1. Create a new empty azure function project with an empty http trigger.
2. Install Seq.Extensions.Logging
3. Configure SEQ in startup.cs
[code]
4. Trigger a function so that `Host.Results

[2021-05-26 14:45] Liphi commented on #2718
thanks. i've got response from the team. Solution is documented here: https://github.com/projectkudu/kudu/wiki/WebJobs

[2021-05-26 14:45] #2718 closed, assigned to nobody

[2021-05-26 16:18] v-bbalaiagar commented on #2718
@Liphi ,Thank you for the update.

[2021-05-26 17:10] #2698 closed, assigned to ankitkumarr

[2021-05-27 10:01] FinVamp1 opened #2723 "Add in Application Insights Support for the SyntheticTelemetryInitializer to support Availability tests in the Application Map."
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Add an Availability Test to an Azure Functions app from the Application Insights Portal.

2. Check Application Map.

#### Expected behavior

Provide a description of the expected behavior.

1. It's expected that the Availability Test should appear in the Application Map.

[2021-05-27 14:13] furkanyildiz opened #2724 ".Net Core TimerTrigger not firing"
I have two time triggered functions to run every minutes but they are not firing. I tested it locally and on Azure but the result is same.

Program.cs:
[code]

MyTimerJobs.cs
[code]

#### Expected behavior

`Func` and `Func2` should trigger every minutes.

#### Actual behavior

They are not triggered.

#### Known workarounds

There are 2 workaronds to run these functions.

1) If I rename `Func` as

[2021-05-27 17:30] Liphi opened #2725 "how to remove redundancy of schedule configuration for timer-triggered azure web job?"
Hi, My timer-triggered azure web job is written with c# web job v3 SDK, and I use TimerTrigger attribute to decorate my timer callback. Problem is, this attribute has to take a schedule parameter in cron or scheduleType format, so i have to duplicate this schedule in both settings.job and TimerTrigger decorator. Is there any mechanism for my c# code to get the schedule from settings.job, so that i

[2021-05-28 10:06] piotrzbyszynski commented on #2548
@cmanoliu Please have a look here: https://github.com/Azure/Azure-Functions/issues/1613#issuecomment-802899247

The workaround for this issue is downgrading EF & AI libraries

[2021-05-28 13:36] v-anvari commented on #2491
Tagging @fabiocav , for more insights

[2021-05-28 13:44] v-anvari commented on #2717
Hi @Shazhko-Artem , Thank you for your feedback, you can create a PR. I shall follow up with the team to validate the scenario.

[2021-05-28 13:48] v-anvari commented on #2719
Hi @Liphi , Thank you for the feedback, We shall repro this issue and validate the errors.

[2021-05-28 13:49] v-bbalaiagar commented on #2724
Hi @furkanyildiz, Thank you for your feedback! Shall try to reproduce this scenario and update you with findings.

[2021-05-28 14:00] v-bbalaiagar commented on #2722
Hi @BeCharem, Thank you for reaching out to us, Checking this internally for the possibilities. We will update you with any information found.

[2021-05-28 14:04] v-anvari commented on #2725
Hi @Liphi , Thank you for your feedback! Checking this internally for any other workarounds

[2021-05-29 11:00] ghost commented on #2459
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-05-29 14:23] Steg17 commented on #2459
Thank you

[2021-06-01 03:11] CarlosOnline commented on #2586
We are still having this issue.  Restarting helps, but this is not an acceptable solution.  The repro happens with QueueTrigger functions with connection strings coming from key vault.  The Azure Function is behind a VNet / ISE.

[2021-06-01 11:51] v-anvari commented on #2406
Hi @idg10 , I see the PR has been reviewed and required changes were made, as per the comment here - https://github.com/Azure/azure-webjobs-sdk/pull/2405#issuecomment-627979743

Closing this issue as the required information is provided, please feel free to reach back to us in case of any further queries related to this issue

[2021-06-01 11:51] #2406 closed, assigned to nobody

[2021-06-01 11:53] v-anvari commented on #2410
Tagging @pragnagopa , for follow up

[2021-06-01 11:56] v-anvari commented on #2421
Hi @Ansssss , Apologies for the delayed response, thank you for your feedback! We will investigate this further and update as appropriate.

[2021-06-01 12:03] v-anvari commented on #2400
Hi @rkbalu ,  Apologies for the delayed response, thank you for your feedback! We will investigate this further and update as appropriate.

[2021-06-01 14:30] v-anvari commented on #2422
Hi @clauchiorean, Apologies for the delayed response. The issue was somehow lost in the course, please let us know how can we help you further. If the scenario needs to be documented, then please raise an issue in - https://github.com/MicrosoftDocs/azure-docs/issues/new

[2021-06-02 15:00] ghost commented on #2459
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-03 17:47] v-bbalaiagar commented on #2724
Hi @mathewc, Could you please look into this issue.

[2021-06-03 18:23] mathewc commented on #2724
I'm unable to repro this. Using the code above, I see the functions are triggered correctly once per minute. @v-bbalaiagar are you able to repro this?

One thing I notice above is that your functions aren't correctly async - they don't return tasks. So you should fix that for things to work properly. However even using your code, I see the functions being triggered.

[2021-06-04 19:12] #2717 closed, assigned to mathewc, v-anvari

[2021-06-05 15:00] ghost commented on #2422
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-05 16:00] #2459 closed, assigned to v-bbalaiagar

[2021-06-07 17:18] v-anvari commented on #2719
Hi @Liphi , Apologies for the delayed response, I was unable to repro the above mentioned scenario, My function App could run successfully.
Can you explain us the scenario in detail, can we get the stack trace, and were you able to identify the reason of the unhandled exception. When you say to shutdown the network, does that mean to interrupt the debug ? because, that still works as expected.

[2021-06-07 17:19] v-anvari commented on #2421
Tagging @mathewc , to validate this feature request

[2021-06-07 17:25] v-anvari commented on #2725
Tagging @mathewc , to validate this request. Request to provide any related documentation or information regarding this scenario

[2021-06-08 01:21] JoshLove-msft opened #2729 "Consider supporting wildcard parameter name in DataBindingProvider"
Currently, [DataBindingProvider ](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Bindings/Data/DataBindingProvider.cs#L24) matches on the parameter name specified in the bindingDataContract dictionary. There are times when this is not necessary as there would only ever be a single instance of the type that corresponds to the parameter. For example, we allow bi

[2021-06-08 01:49] JoshLove-msft commented on #2729
Would be happy to contribute this if this it is something that would be accepted.

/cc @fabiocav @paulbatum

[2021-06-08 13:20] v-bbalaiagar commented on #2724
Hi @mathewc, Thank you for looking into this issue. I tried to repro this issue.

Below are my findings :

MyTimerJobs.cs:

[code]

Program.cs:

       class Program
        {
           static async Task Main(string[] args)
            {

         var builder = new HostBuilder()
          .ConfigureServices((hostContext, services) =>
          {
              services.AddTransient<MyTimerJobs>();

[2021-06-08 14:07] ibradwan commented on #2088
Any updates? Or is there any consistent workaround to trigger some shutdown logic before the host kills the process?

[2021-06-08 14:45] qsdfplkj commented on #2515
One year later now this is just a waste of time. Today I've updated everything and even updated TargetFramework to .net50 but I still get: Could not load file or assembly 'Microsoft.Extensions.Logging.Abstractions, Version=5.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The system cannot find the file specified.

[2021-06-08 15:39] mathewc commented on #2724
@v-bbalaiagar The customer isn't using Azure Functions, this is a WebJobs SDK app. Looks like you're running this via Functions core tools?

Anyhow, I'm unable to repro this.  @furkanyildiz - please share the console output from your repro, ensuring that you've enabled console logging, and set the level to Debug as follows:

[code]

The issue might be that you're sharing the storage account with a

[2021-06-08 16:00] #2422 closed, assigned to v-anvari

[2021-06-08 17:21] mathewc commented on #2421
Note that if we were to do this, we'd need to support it for both Timeout and GracePeriod.

The difficulty here is that the TimeoutAttribute attribute ctors are already string based, so it's not clean for us to overload those string values to support either a timespan expression OR an app setting expression. E.g. one way we might attempt this would be to skip the timespan parse if the input is a %

[2021-06-08 17:39] mathewc commented on #2725
Correct - you're incorrectly mixing two different cron timer patterns here. If you're wanting to use the WebJobs SDK TimerTrigger, then your WebJob should be a Continuous WebJob with no settings.job schedule defined. WebJobs SDK should only be used in Continuous WebJobs. Going this route note that you don't have to hardcode the cron expression - you can define an app setting in your WebApp named w

[2021-06-08 17:39] #2725 closed, assigned to nobody

[2021-06-08 18:42] Liphi commented on #2725
Thanks. it works.

[2021-06-08 18:46] Liphi commented on #2719
by 'shutdown the network', i mean, to disconnect the network on the machine where the timer-triggered web job runs. for example, if you run timer-triggered web job on your dev box, then disconnect the network so that your dev box can't access internet.
after network is down, the web job is not able to connect to any azure storage. web job is crashed when the timer of the web job kicks in, complain

[2021-06-08 19:55] #2716 closed, assigned to kashimiz

[2021-06-09 16:12] brettsam commented on #2421
Don't we support this in some binding options? I.e. you can either set it up as a literal or use `%SomeSetting%` and we'll look it up and use it?

[2021-06-09 17:08] BeChaRem commented on #2722
To give more context, I added the namespace and took another screenshot of the SEQ output.

![image](https://user-images.githubusercontent.com/60513607/121398829-c5881400-c923-11eb-896e-df70b03fffe6.png)

[2021-06-09 20:16] fabiocav commented on #2712
Moving this to sprint 105 to reflect when we'll have the ability to look at the problem.

[2021-06-09 21:18] Shazhko-Artem commented on #2646
Hi @v-anvari and @mathewc, I can fix this using explicit conversion, just like it was done here.
https://github.com/Azure/azure-webjobs-sdk/blob/72cf608c3891045390b0f26d7ecec63c8a81cef7/src/Microsoft.Azure.WebJobs.Host/Triggers/TriggeredFunctionBinding.cs#L59-L59

#### Example
This code
https://github.com/Azure/azure-webjobs-sdk/blob/72cf608c3891045390b0f26d7ecec63c8a81cef7/src/Microsoft.Azure.Web

[2021-06-09 23:01] cgillum commented on #2646
Are you asking why I decided to use a settable property instead of initializing via the constructor? I don't remember, but most likely because it was a smaller change to make and I had very little familiarity with the codebase, which is quite complex.

Likely the same reason - doing the smallest possible change to avoid creating too much churn and potentially destabilizing the codebase. Had this w

[2021-06-10 05:43] Shazhko-Artem commented on #2646
@mathewc, what do you think about bringing this property to the interface and removing the public setter?
Advantages:
- This way we get rid of the explicit conversion.
- Cleaner design of code.

Disadvantages:
- We will need to increase the major version since the `ITriggerData` interface is public.

If we make these changes then I can update this package in the [azure-functions-durable-extension]

[2021-06-10 07:34] Shazhko-Artem commented on #2646
It also makes sense to rename this property to `ReturnValueBinder ` because it is not a provider, it is used to bind the return value.

[2021-06-10 15:21] mathewc commented on #2421
No we don't - that's what this issue relates to. As you can see, the attribute only exposes a TimeSpan value, so nowhere do we support specifying that value as an app resolved value. FunctionExecutor just consumes this TimeSpan directly [here](https://github.com/Azure/azure-webjobs-sdk/blob/3f4ec78be9f43bb041937425ced00b341883aa42/src/Microsoft.Azure.WebJobs.Host/Executors/FunctionExecutor.cs#L391

[2021-06-10 15:31] v-anvari commented on #2719
Hi @Liphi , I will try to repro it for an hour, but for every minute, the timer triggers even if there is no network.

[2021-06-10 16:47] Liphi commented on #2719
Please set the timer schedule longer than 1 minute (like: 2 minutes), and make sure AzureWebJobsStorage is configured on appSettings.json:

{
  "AzureWebJobsStorage": "connection string to an azure storage account"
}

[2021-06-10 23:47] mathewc commented on #2088
Fix is checked in (see https://github.com/Azure/azure-webjobs-sdk/commit/01786831f084c5e7a5afb4301464e2d91bfe17af). Will be in the next package release.

[2021-06-11 06:56] yuanweilei commented on #2716
Hi, @kashimiz
Thank you for fixing this!

Could you please tell me when you plan to release this?

[2021-06-11 08:15] keremkambur commented on #2724
https://stackoverflow.com/a/66479106/7273196 please check this life-saver comment, `UseHostId` is your keyword @furkanyildiz.

I had the same problem after upgrading to v3.

[2021-06-11 12:33] v-anvari commented on #2719
Hi @Liphi , I reproduced the issue and this is how I get the output, Can you confirm
![image](https://user-images.githubusercontent.com/66122429/121686786-3fb0c800-cadf-11eb-85e1-d4d68588d151.png)

**Error message**: Singleton lock renewal failed for blob 'c127cb70b77dd4cd468fe28d4e60acba/_2719.Function.Run.Listener' with error code 0. The last successful renewal completed at 2021-06-11T12:30:05.5

[2021-06-11 17:43] v-bbalaiagar commented on #2682
Hi @brettsam, Could you please look into this issue.

[2021-06-11 17:47] Liphi commented on #2719
yes, this is the same unhandled exception which crashes my process. thanks for repro.

[2021-06-11 19:13] paulbatum opened #2731 "Update Host.Storage to storage SDK 11.2.3"
The Host.Storage package currently depends on storage 11.1.7. It needs an update to the latest patch release [11.2.3](https://github.com/Azure/azure-storage-net/releases/tag/v11.2.3).

[2021-06-11 21:54] paulbatum commented on #2731
This is wrong. With the recent refactor of how the storage dependency in the host is handled, I need to make this change within the functions host repo. Closing.

[2021-06-11 21:54] #2731 closed, assigned to nobody

[2021-06-14 08:28] rdenisi opened #2732 "Run blob trigger only on new event"
Please provide a succinct description of the issue.

When I create for example, an azure function listening on the blob with a trigger in a specific path, all the files present are processed, while I would like to be able to specify not to process them (and immediately mark them as already processed).

#### Repro steps

Provide the steps required to reproduce the problem

1. Create a blob storage

[2021-06-14 16:44] v-anvari commented on #2382
Hi @dantheman999301 , Apologies for the delayed response, kindly let us know if you were able to find a solution, if not, can you explain your scenario further, what are you trying to achieve.

[2021-06-14 17:06] v-anvari commented on #2719
Triaging this issue for required fixes.

**Repro steps:**
1. Create a console application
2. Add a timer trigger function
3. Connect to any Azure storage account
4. Debug the Function App locally
5. Disconnect the Network from the local system where the web job runs

**Actual result:**
The Function App runs successfully when there is Network.
Throws an unhandled exception when the Network is disco

[2021-06-14 17:16] v-anvari commented on #2491
Hi @saikatguha , Apologies for the delayed response, We would like to know if you are facing this issue in version 3.0. There is an activity set-up during the invocation and it is likely impacting the flow of information and details as they are going down to the request that's being issued against the Test client.

[2021-06-15 00:07] saikatguha commented on #2491
Yes in 3 as well. It likely has to do with some global or singleton objects or thread local object since it shows up even when the TestServer/TestClient are completely disconnected from the original dispatch and request objects.

[2021-06-15 00:35] mathewc opened #2733 "DynamicConcurrency Memory Throttle"
The memory throttle is currently internal only - we have tests that exercise it fully. We need we need to finalize the design and behavior, and decide whether we'll keep it or remove it fully. See source code TODOs linking to this issue.

[2021-06-15 12:49] v-bbalaiagar commented on #2724
Hi @furkanyildiz, Let us know if the above information resolves your query, or if you have any further queries.

[2021-06-16 13:47] NeillCain-zz commented on #2546
I realise that this is now almost 6 months later @litex1982 but I myself was struggling to work out how to essentially do the same thing. We were using a custom HTTP header [I'll spare you the details as to why!] and needed a way to short circuit out of all function invocations in an x-cutting way. This example is what @stephanruhland suggested. However, we will not be shipping this to prod as we'

[2021-06-16 16:06] v-bbalaiagar commented on #2732
Hi @rdenisi, Thank you for reaching out to us, We shall try to reproduce this scenario and update you with findings.

[2021-06-17 11:37] v-anvari commented on #2400
Hi @rkbalu , Apologies for the delayed response, As you have mentioned in your comments, this feature isn't supported yet and we do not have an ETA. I see that users are interested for this feature to be supported for redis.  Requesting you to submit a new idea in the below mentioned link.

![image](https://user-images.githubusercontent.com/66122429/122389056-264fc600-cf8e-11eb-9f81-efc8091a966d.p

[2021-06-17 11:38] v-anvari commented on #2400
Feature requests will be tracked in the feedback forms, closing this issue as the required information is provided, please feel free to reach back to us in case of any further queries related to this issue

[2021-06-17 11:38] #2400 closed, assigned to nobody

[2021-06-17 11:47] v-anvari commented on #2384
Hi @dersia , Apologies for the delayed response, a similar issue like this is being tracked as a feature request which requires a breaking  change. Can you look into that issue and tell us if the ask is similar. This will help us understand the request better

https://github.com/Azure/azure-webjobs-sdk/issues/2713#issuecomment-845291397

[2021-06-17 11:50] v-bbalaiagar commented on #2732
Hi @rdenisi, I reproduced this issue with uploading blobs before creating a function and it is not getting read. Can you try to delete all the existing blobs and try again, restart the function app and try again.

[2021-06-17 11:57] v-anvari commented on #2464
Hi @Peter-B- , Apologies for the delayed response

Tagging @safihamid / @galiniliev , for further comments. Kindly validate this request

[2021-06-17 12:15] wmcainsh commented on #2584
Same as above, would be good to get a resolution to this as we are getting swamped with synthetic request log entries since moving to Azure Front Door.

[2021-06-17 12:21] v-anvari commented on #2508
Hi @et1975 , Apologies for the delayed response. On Azure, you are able to configure your settings directly in the application settings of your web app. This overrides the settings of your config file. This is because user secrets are read from the app settings. But, while working locally, there is a SecretManager tool, provided by the .NET Core SDK (Microsoft.Extensions.SecretManager.Tools), whic

[2021-06-17 12:26] v-anvari commented on #2491
Hi @saikatguha , Thank you for the information, triaging this issue for further investigation

[2021-06-17 12:28] v-anvari commented on #2619
cc @cgillum / @mathewc  , Can you please look into this request

[2021-06-17 12:29] et1975 commented on #2508
Please re-open as this answer does not address the problem I outlined. I know how function settings work, I also know how local secrets work and why one would use KeyVault in production.
What I'm saying is there's a problem when one tries to use local secrets with a function.
Please re-read the "Expected  behavior" section.

[2021-06-17 14:07] v-anvari commented on #2508
Hi @et1975 , Please provide the repro steps in detail with the code that you are trying, we shall reproduce to understand if any configuration is missing.

[2021-06-17 16:33] v-anvari commented on #2429
Triaging this issue to backlog for updates

[2021-06-17 16:33] arjunbalgovind opened #2734 "Component Governance issue on Microsoft.Azure.WebJobs.Logging.ApplicationInsights"
The Microsoft.Azure.WebJobs.Logging.ApplicationInsights nuget package has the following component governance alert:
https://msrc.microsoft.com/update-guide/vulnerability/CVE-2020-1045

Upgrade to version Microsoft.AspNetCore.App - 2.1.22, Microsoft.AspNetCore.All - 2.1.22,Microsoft.NETCore.App - 2.1.22, Microsoft.AspNetCore.Http - 2.1.22

#### Related information

The same issue was also present o

[2021-06-17 16:34] v-anvari commented on #2430
Moving this issue to backlog for further updates

[2021-06-17 23:25] #2704 closed, assigned to mathewc

[2021-06-18 17:00] ghost commented on #2382
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-19 01:11] AartBluestoke opened #2737 "Large Excessive memory use from SDK via the PollLogsStrategy of a BlobTrigger"
#### Investigative information

Memory dump of azure function demonstrating problem available privately.

#### Repro steps

Provide the steps required to reproduce the problem:

1. Have a function with a Blob Trigger.
2. Via any mechanism push a large number of blob events to the blob store (noticed at about 1000/second) (bear in mind the SLA for blobs is 20k/second)
3. Observe that when azure fun

[2021-06-19 01:15] AartBluestoke commented on #2737
(screenshots are from JetBrains dotMemory tool, analyzing dumps from an azure function, either triggered on exception, or manually)

[2021-06-19 13:00] ghost commented on #2724
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-21 12:00] ghost commented on #2732
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-21 12:00] ghost commented on #2384
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-21 18:00] #2382 closed, assigned to v-anvari

[2021-06-22 12:04] v-bbalaiagar commented on #2525
Hi @josh-endries, Apologies for the delayed response, checking this internally for the possibilities. We will update you with any information found.

[2021-06-22 14:00] #2724 closed, assigned to v-bbalaiagar

[2021-06-22 14:09] keremkambur commented on #2724
Like most of the eastern developers, of course no feedback left if the issue is solved or not xD

[2021-06-22 19:05] ms-v-csacha opened #2738 "Incorrect Web Hook URL"
When using a triggered Web Job deployed in Azure, the provided Web Hook URL in the WebJob properties is incorrect.

#### Repro steps

1. Create ASP.NET web app project and add a WebJob in visual studio (tested in VS2019). No additional content or modifications needed.

2. Deploy to Azure (existing App Service Plan or new).

3. Navigate to deployed Azure resource, open WebJobs page, and view WebJob

[2021-06-23 06:08] connorhazen commented on #1145
I am experiencing the same issue. I have an event that creates a message in a storage queue for all uploaded blobs. Then an azure function pulls from this queue, where one step is moving the file. this causes some file uploads to fail since the blob will no longer exist. How can I stop the event from adding the message to the queue before file upload is finished.

[2021-06-23 15:17] kostyamospan opened #2739 ""The host has not yet started" exception"
#### Repro steps

1. Create empty azure function
2. Add references to another projects in solutions
3. Run AzureFunctions

#### Expected behavior

Project starts and works properly

#### Actual behavior

Getting the `System.InvalidOperationException: "The host has not yet started."` just after CLI appears

When I`m removing references to another projects, everything works as expected

[2021-06-23 17:48] #2739 closed, assigned to pragnagopa

[2021-06-24 11:02] Shazhko-Artem commented on #2646
@mathewc sorry to bother you. I mentioned you above, but I guess you may not have seen it. I would like to send my Pull Request, but before it, I need you to approve this solution option.

[2021-06-24 11:35] v-anvari commented on #2738
Thank you for your feedback! We will investigate this further and update you with the findings.

[2021-06-24 13:00] #2732 closed, assigned to brettsam, v-bbalaiagar

[2021-06-24 13:00] #2384 closed, assigned to v-anvari

[2021-06-25 06:35] Rafael-Dabrowski commented on #2062
We are experiencing the same behaviour 3 Years later.

[2021-06-25 14:05] v-anvari commented on #2738
Hi @ms-v-csacha , I tried to reproduce it with the above steps in vs 19. What is the web app template that you are using, is it  ASP.NET MVC or  ASP.NET web app. Because with this template, I get error while creating webjob, that its not allowed to create a webjob.

[2021-06-25 16:27] ms-v-csacha commented on #2738
Hi @v-anvari,

I'm using the template named: "ASP.NET Web Application (.NET Framework)"

It's further down the list, but it's my understanding that the .NET Core versions don't permit web jobs. I'll send you a screenshot of it over Teams.

[2021-06-26 13:00] ghost commented on #2508
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-29 06:03] v-bbalaiagar commented on #2747
Hi @imtrobin, Apologies for the delayed response, checking this internally for the possibilities. We will update you with any information found.

[2021-06-29 14:00] #2508 closed, assigned to v-anvari

[2021-07-03 09:41] ddobric commented on #1940
Just want to ask why this issue is still open?