[2019-05-22 04:54] appalaraju commented on #529
@alrod , i am using V3.0.8 of Microsoft.Azure.WebJobs as specified below
![image](https://user-images.githubusercontent.com/17615932/58148292-c639a900-7c7b-11e9-8db3-cedbb8e060d8.png)

[2019-05-22 08:17] slechta commented on #1643
Can you get tell me please a date when this will be fixed?
We are dependent on this fix. It is currently a blocker for us and we cannot get to production.

[2019-05-22 15:56] paulbatum commented on #1643
@slechta We have not landed on a design for this yet so I can't provide an ETA. We are currently working on a around of updates for event hubs so hopefully we can provide an ETA in a month or so.

My reply above provided a workaround - can you explain why this workaround does not work for you, preventing you from going into production?

[2019-05-22 17:19] marchy commented on #1877
This still seems to be unresolved as of Microsoft.ApplicationInsights.AspNetCore version 2.6.1.

Any updates on how to resolve / work around this or expected fix?

[2019-05-22 18:04] marchy commented on #1877
Update: Resolved after updating the Microsoft.ApplicationInsights.SnapshotCollector library to 1.3.4

[2019-05-22 20:02] mhoeger commented on #2191
@mattchenderson - mind weighing in on this feature request?

[2019-05-23 00:15] alexgman commented on #35
Is this addressing ONLY input bindings or ienumerable is supported for OUTPUT bindings to blobs?

[2019-05-23 01:06] alrod commented on #2154
@SeanFeldman you are right. I closed the PR.

[2019-05-23 01:18] SeanFeldman commented on #2154
This does raise a question about the design of this class.
I.e. how to deserialize an XML serialized POCO sent using the new client.

[2019-05-23 07:38] thomaslevesque commented on #995
The [wiki](https://github.com/Azure/azure-webjobs-sdk/wiki/Blobs) still mentions `ICloudStreamBinder`, which is no longer there. I can't find any information on how to consume a POCO directly as a webjob function parameter. Is it even possible?

[2019-05-23 13:21] MichielCornilleESC commented on #1950
The fix is "simple" update your NuGet package to >= 3.5.0 from then on, AddScoped will behave as you expect, and scope per function call.

[2019-05-23 14:10] brettsam commented on #2201
/cc @lmolkova to help look at this one.

@rkbalu -- what kind of trigger is FundGame using?

The issues seem to correspond to when we turned on our auto-http tracking. This looks similar to https://github.com/Azure/azure-functions-host/issues/4389 (fix coming soon), but I want to make sure it's the same root cause.

[2019-05-23 14:12] brettsam commented on #2193
@alrod -- I believe you're already handling this, right?

[2019-05-23 14:34] brettsam commented on #2188
Agree. It likely won't be the same fix (if I recall that other one had to do with the Functions CLI and some DI stuff) but I'm seeing dupe errors in a simple repro.

[2019-05-23 14:41] brettsam commented on #2192
For the filtering:
It's behaving as-designed. Those logs are written out as "Information" level, so you're effectively turning them off by saying you only want "Warning". These docs are for Functions, but the same applies for WebJobs: https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#category-hostresults. Function results are logged with the "Host.Results" category and at

[2019-05-23 17:05] paulbatum opened #2210 "JavaScript function app using table storage output his int64 issue"
Create a javascript V2 function app with a table storage output and the following code:

[code]

You'll get the following error:
Executed 'Functions.TimerTrigger1' (Failed, Id=9a52e4e2-65b8-4384-b627-7f5769942620)
Value was either too large or too small for an Int32.

Not sure whether this is straightforward to address of there is a limitation with table storage here.

[2019-05-23 17:46] brettsam commented on #2208
Ultimately -- you want that correllationId to be attached to all telemetry inside that operation, but without the `prop__` prefix?

One thing you may be able to do is take advantage of [Activity](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/ActivityUserGuide.md) and use an `ITelemetryInitializer` to stick your correllation id onto your telemetry.

If I'm

[2019-05-23 19:35] rkbalu commented on #2201
@brettsam,  FundGame is an Eventhub Trigger binding. but note that the app this function deployed to has a timer trigger function too. Hope this helps. I have even noticed the  behavior mentioned the ticket https://github.com/Azure/azure-functions-host/issues/4389

[2019-05-23 19:53] brettsam commented on #2201
Thanks @rkbalu. I wonder if EventHubs has the same problems as Timers. I'll need to give it a try. I'm hopeful that the fix for the other issue with take care of this for you as well. I'll set some time aside to try to repro and verify.

[2019-05-23 19:55] mathewc commented on #995
Yes, you can register your own converter to do this via an extension. Say you have a WorkItem POCO. First write an IExtensionConfigProvider that registers converters as needed:

[code]

Then, you register this config provider with the host builder on startup:

[code]

Then you can bind your BlobTrigger function directly to your POCO:

[code]

[2019-05-23 19:56] sebastieno commented on #2208
I read some code from the `TelemetryClient` and indeed it seems to be a good solution using the `Activity.Current` and a custom `ITelemetryInitializer`.

I made some quick tests and it looks good. I will try to make some deeper tests and I keep you in touch.

Thanks a lot.

[2019-05-23 20:21] rkbalu commented on #2201
@brettsam also just wondering does this issue cause a spike in cpu as we noticed it quite recently. any help on this one would be much appreciated.

[2019-05-23 20:55] lmolkova commented on #2201
@rkbalu

could you please share how you create TelemteryClient and TelemetryConfiguration to manually track your dependencies?

has request telemetry:

this is definitely a bug. Do you know if those requests are from different triggers or it is the same trigger with and without invocation Id? Also, can you check if there is a request  that just didn't get invocation Id (but it should have correct

[2019-05-23 21:17] rkbalu commented on #2201
@lmolkova

`var cloudRoleName = System.Environment.GetEnvironmentVariable("CloudRoleName");
var telemetryClient = new TelemetryClient();
telemetryClient.Context.Cloud.RoleName = cloudRoleName;
`

BTW telemetryClient is singleton. and additional setting in host.json file.

We have 2 and only Eventhub trigger function, and i can confirm the pattern exists in both the function eventhub trigger.

I th

[2019-05-23 22:02] lmolkova commented on #2201
Thanks for update!

this is the problem for custom dependencies.
This de-facto uses TelemetryConfiguration.Active singleton which is NOT the same as instance Functions uses. So they are configured differently.
Check out this article on how to get the configuration here https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#version-2x-3.

On ApplicationInsights side we are maki

[2019-05-24 05:07] alrod commented on #2154
@SeanFeldman, ServiceBusTrigger supports only  JSON and XmlObjectSerializer deseralizations. you can deserialize  XML serialized POCO manually in the function code.

[2019-05-24 05:19] alrod commented on #2154
PR: https://github.com/Azure/azure-webjobs-sdk/pull/2211

[2019-05-24 05:31] alrod commented on #529
@appalaraju your project is targeting .NET Framework 4.6.1. You need to create a .NET Core 2.2 project.

[2019-05-24 05:44] SeanFeldman commented on #2154
@alrod in the future you could add `fixes #2154` in the PR description and it would
1. Close this issue when PR is merged
1. Link to the issue, as well as add a link back from the issue to the PR so that you don't have to [do it manually](https://github.com/Azure/azure-webjobs-sdk/issues/2154#issuecomment-495475937) (GitHub feature)

[2019-05-24 05:51] appalaraju commented on #529
@alrod , Thanks for your valuable information. i will try and reach you.

[2019-05-24 05:52] alrod commented on #2207
1. We do not have plans to support `TransactionScope`.
2. You can access `MessageReceiver` inside your function app code:
https://github.com/Azure/azure-webjobs-sdk/blob/f386e54e5000ddddf255f529689ab2a9c3ee78cd/test/Microsoft.Azure.WebJobs.Host.EndToEndTests/ServiceBusEndToEndTests.cs#L378

[2019-05-24 07:35] thomaslevesque commented on #995
Thanks @mathewc!

[2019-05-24 10:44] rkbalu commented on #2201
Thanks @lmolkova

If you see the below screenshot, all my custom dependency correlated nicely under single invocationid/operationid.

Correlation is inconsistent if there is **no** request trace at all. In this we get a **unique invocationid**, but multiple invocationid mapped to some random operationid.

I feel this is in consistent behavior or i may be wrong. any help on this one would be much u

[2019-05-24 14:19] HallJeremyG commented on #1366
Any update on this?  Restarting a production web app to fix the name in app insights is not acceptable.

[2019-05-24 16:40] SeanFeldman commented on #2207
@alrod thank you.

Just before I close this issue, is there a documented list of things that are available for injection for Service  Bus trigger? `MessageReceiver` is there, but if I try to inject `IClientEntity`, it fails. I'd rather look it up in the documentation than raise an issue each time. Thank you.

[2019-05-24 18:09] alrod commented on #2207
It looks like we do not have the full list in the docs. The only list I found is message properties:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#trigger---message-metadata

You can find full list here:
https://github.com/Azure/azure-webjobs-sdk/blob/2e374a2c58fd89232945e997141f199723dc04db/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus/Triggers/ServiceB

[2019-05-24 18:22] SeanFeldman commented on #2207
That is peculiar. I've raised a doco issue (https://github.com/MicrosoftDocs/azure-docs/issues/32126) to point that out. Would be nice have MessageReader in the context of the output binding, but affraid the modular design will not allow it. If you have two output bindings with two different namespaces, this would not work.
Thank you @alrod.

[2019-05-24 18:22] #2207 closed

[2019-05-24 18:45] SeanFeldman commented on #2207
You will hate me, but one more question - when using `MessageReceiver` to perform a transactional send from a Function, the incoming message must be completed within the transaction scope. Which is against the Functions design, assuming SDK has to complete the incoming message. It's not a biggie, but will cause the host to log a nasty exception for no good reason:

![image](https://user-images.git

[2019-05-24 18:51] alrod commented on #2207
https://github.com/Azure/azure-functions-host/issues/4397
`"autoComplete": false`

[2019-05-24 18:54] SeanFeldman commented on #2207
🤦‍♂️ Fantastic, thank you!

[2019-05-26 05:44] sonali92jain commented on #2068
Is this fix still working? "systemPropertiesArray " is still coming as undefined

[2019-05-28 04:22] joshua-hayes commented on #2134
Also interested in the status of this.

[2019-05-28 06:38] nicholastic commented on #1871
I don't know if anyone from Microsoft is even looking at this, but if you're going to introduce breaking changes and not update the project templates (everything breaks when you update the packages to the latest version), then at least write a decent tutorial on how to get this working. After screwing around with this for several days I'm using version 2.3 and only looking at material from 2016 or

[2019-05-28 06:46] nicholastic commented on #1870
I'm so confused, so if we create a WebJobs project and upgrade all the packages, it totally breaks.

Is this upgraded project still the old .NET Framework or has updating all these packages made it a .NET Core project? There is no information on this or how to get it compiling.

[2019-05-28 13:34] mdufourneaud-m2ocity commented on #919
This works if you set the ETag of the entity to "*".

[2019-05-28 14:34] brettsam commented on #1366
I don't think we realized this was still an issue -- we no longer rely on WEBSITE_HOSTNAME (see here -- https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/Initializers/WebJobsRoleEnvironmentTelmetryInitializer.cs).

After the slot swap, are you able to see the values of WEBSITE_SITE_NAME and WEBSITE_SLOT_NAME? They should be updated to the n

[2019-05-28 17:55] mathewc commented on #1366
FYI - we've made recent changes to address the original issue. I made Functions Runtime changes https://github.com/Azure/azure-functions-host/pull/4338 to update the hostname based on incoming requests. ANT 83 will also include updates to ping the site root after a swap, which coupled with the above fix will mean the runtime has the updated value. To get the updated value, code should use `HostNam

[2019-05-28 19:57] arajbanshi opened #2212 "use Managed service identity with service bus"
Hi,
I'm trying to use managed service identity with Azure functions with Azure service bus queues as the trigger. However, it looks like Azure functions do not currently support integration with managed system identity.

#### Repro steps
Provide the steps required to reproduce the problem

1. Create a Function in Azure with Azure service bus as trigger

#### Expected behavior
Provide a description

[2019-05-29 00:08] nicholastic commented on #1871
@paulbatum Thank you Paul, but that link discusses a .NET Core console app, and I don't think I can use V3 (is V3 necessarily .NET Core?), because the web app I'm setting up Web Jobs for (and all the class libraries it uses) is .NET. Is that the case? The Web Job needs to call repositories (which use Entity Framework 6) in separate class libraries, for example.  I tried calling these .NET data acc

[2019-05-29 01:59] paulbatum commented on #1871
@nicholastic WebJobs 3.x targets .NET Standard 2.0. This means you can use it from a .NET Framework application or a .NET Core 2.x application, the choice is up to you. If you want to make a .NET Framework application that uses WebJobs, then follow the same guide but with a .NET Framework console app as the starting point (instead of .NET Core).

Since you're planning on deploying this webjob to a

[2019-05-29 02:26] nicholastic commented on #1871
@paulbatum Thanks Paul, this is really helpful, maybe that document should say explicitly at the start that if you want to use .NET, just follow the same steps but with a .NET console app; I think that would clear up alot of confusion, I did see that document but thought it only applied to .NET Core.

But just to be really clear (this is the part that's been difficult for me), can I use Entity Fra

[2019-05-29 02:40] paulbatum commented on #1871
Yeah as far as I know, you got that all correct and it should work. Also I reached out to some folks about whether we can make that document clearer about how WebJobs 3.x lets you choose between .NET Framework or .NET Core.

[2019-05-29 03:00] nicholastic commented on #1871
@paulbatum Great, I'll have a crack at setting up a V3 .NET project because I like being up to date. More tutorials and samples would be really nice, otherwise it's a huge time sink to even get started (lots of tutorials and samples and good documentation is a big reason why people use Microsoft: they just want to build stuff and not waste time).

As I understand it, Azure Functions V2, although t

[2019-05-29 14:05] NathanYukai commented on #1886
Hi @reggiepangilinan-s5 , did you manage to solve this?
I'm getting the same error with function run time 2.0.12438.0
core tool 2.7.1158

[2019-05-29 15:19] NathanYukai commented on #1886
I found out that I used the wrong connection string, which does not contain an "Endpoint" value, and caused this error.

[2019-05-29 17:13] paulbatum commented on #1871
A V2 Function App is a .NET Core 2.2 application. That application will load your functions from a class library that is typically written as a .NET Core class library, but can be written as a .NET standard class library if you so choose.

An attempt to use a class library that targets .NET Framework from a .NET Core app will succeed or fail depending on what APIs that library uses. For example yo

[2019-05-29 21:59] chris-rogala commented on #1986
@mathewc - We really need the binding to be on interfaces and no concrete implementations.  Additionally, with the new DI release in Functions, how will this be impacted?  I don't want to create another issue if this is already working within the new DI framework or if there are plans to have IMessageReceiver become a bounded parameter.

Thank you in advance for your response!

[2019-05-29 22:53] mhoeger commented on #2195
Reposting @ColbyTresness 's answer from the related [user voice request](https://feedback.azure.com/forums/355860-azure-functions/suggestions/16711846-sql-azure-trigger-support):

From @KetanChawda-MSFT :

https://docs.microsoft.com/en-us/azure/connectors/connectors-create-api-sqlazure
https://docs.microsoft.com/en-us/connectors/sql/#triggers
This channel is for driving improvements towards MS Doc

[2019-05-30 00:14] mathewc commented on #1986
Yes, I agree with you guys that you should be able to bind to IMessageReceiver OR MessageReceiver with the framework allowing the polymorphism. Currently the static binding contract stuff is pretty simple (code [here](https://github.com/Azure/azure-webjobs-sdk/blob/8ea5470afad803e6c23f46ef15910242b770136c/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus/Triggers/ServiceBusTriggerBinding.cs#L128))

[2019-05-30 02:53] mattchenderson commented on #2191
@fhurta Can you explain the issue a bit further and provide steps to reproduce? Are you dealing with triggered webjobs or continuous? Does the failure occur at the point of getting the environment variables or when making a call to the token service?

[2019-05-30 08:11] AlexZhidkov commented on #2171
I have the same issue.
https://stackoverflow.com/questions/56373956/azure-service-bus-scheduled-message-in-binding-undefined

[2019-05-30 09:33] ahocquet commented on #529
I've tried the 3.1.0-beta2 nuget package but I'm having the following error :
[code]

I have the following configuration:

- Visual Studio 2019 V16.1.1
- .NET Core 2.2 Project
- Microsoft.NET.Sdk.Functions v1.0.27

I've uploaded my project to this repo : https://github.com/ahocquet/azure-function-service-bus-session

Some screenshots:
![](https://i.imgur.com/NXgEYYz.png)
![](https://i.imgur.com/1b

[2019-05-30 10:09] rkbalu commented on #2201
@lmolkova any thought about my above question? thanks.

[2019-05-30 16:44] alrod commented on #1024
ServiceBus SDK does not support batched receive. I marked the issue as blocked until batched receive be implemented in ServiceBus SDK.

[2019-05-30 17:38] brettsam commented on #1731
@lmolkova -- can you update this with the current status?

[2019-05-30 18:47] SeanFeldman commented on #1024
Service Bus supports [`Task<IList<Message>> ReceiveAsync(int maxMessageCount)`](https://github.com/Azure/azure-sdk-for-net/blob/6d14b1df5071bf6995cdbed9d80abdf370707103/sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/IMessageReceiver.cs#L68) which is intended to receive more than a single message. While there's an issue with returning `maxMessageCount` **or less**, this would still be considere

[2019-05-30 19:30] lmolkova commented on #2201
@rkbalu  thanks for the update,

This should be solved with Azure/azure-functions-host#4389

Regardless of that, please consider not using TelemetryConfiguration.Active to track custom dependencies - it will make sampling, filtering and post-processing of telemtery different between custom telemetry and functions. Please follow this article on how to get the configuration here https://docs.microso

[2019-05-30 22:45] DarinMacRae commented on #2098
Any update on this? Can you add a similar fix as you did for blob storage? One 404 is a lot better than thousands of 409s. Even better, can we have a policy? Then you can leave the default behavior in place but allow us to have some control without having to write our own bindings.

[2019-05-30 22:47] mathewc opened #2214 "SingletonAttribute.AccountName no longer works properly"
In the v2 -> v3 .NET Core migration, it looks like SingletonAttribute.AccountName support for multi-storage accounts was lost.

While the XML doc for this AccountName property is poor, it's value when specified should be an app setting name whose value is the storage account to use for blob leases. In the v2 codebase, that's how this worked.

However, in the current codebase, multiple accounts are

[2019-05-31 01:48] AlexZhidkov commented on #2171
@mathewc @brettsam  Would somebody be able to have a look at this issue?

[2019-05-31 18:37] mathewc commented on #2171
Hmmm, perhaps related to https://github.com/Azure/azure-webjobs-sdk/pull/2211. Can you try setting an "application/json" content type on the message if it isn't already being specified?

[2019-06-01 11:35] StefH commented on #1817
@fabiocav
I think that at the moment you want to decide if you use `local.settings.json` or `environment variables`, the **IOptions** are not available.
(At the DI startup-phase I mean...)

I use `Willezone.Azure.WebJobs.Extensions.DependencyInjection` and the startup-code looks like this:

[code]

[2019-06-01 13:12] chris-rogala opened #2217 "Unable to Sign CLA"
I have a local branch that I would like to push up and create a PR for, but I am unable to do so because of permissions.  I attempted to sign the CLA ([https://cla2.dotnetfoundation.org/](https://cla2.dotnetfoundation.org/)) but the connection just times out.  My PR is extremely simple and I verified all unit tests are working.

Additionally, there are errors in the wiki page that describes settin

[2019-06-01 13:26] chris-rogala commented on #2217
After creating a fork to my repo, and creating a PR, I was prompted with another link.  While there is still an issue with the wiki, the main issue has been resolved.

[2019-06-01 13:26] #2217 closed

[2019-06-01 14:00] chris-rogala commented on #2212
Another workaround, is to store the connection strings in key vault and use managed service identity to with the key vault.  Then you can add a key vault provider to your configuration.  Using the new DI pattern, you can create a singleton of the configuration and setup a scheduled trigger to refresh the key vault settings.  I actually am finishing up a blog that proves this pattern.

[2019-06-01 21:05] jeffhollan commented on #1024
Great @fabiocav @alrod would be good to consider this as one of the items as we get ready to “GA” sessions shortly. Also requires we pass in a batch to the execution or else order would get all fuddled.

[2019-06-02 03:41] joshua-hayes commented on #1310
No progress on this halfway through 2019 now?

[2019-06-02 03:42] joshua-hayes commented on #1314
+1 for this

This is a much needed feature coming across from the many additional features that dotnet core api filters provide.

[2019-06-02 18:25] emi662002 commented on #529
I'm using functions v2, with IsSessionsEnabled=true
I have a Topic+Subscription with session enabled
But my function is not triggering.
It does trigger when I use a topic+subsription with session disabled and IsSessionDIsabled=false.

VS2019
Microsoft.Azure.WebJobs.Extensions.ServiceBus 3.1.0-beta2
.net core 2.2
sdk functions 1.0.28

[2019-06-02 19:16] jeffhollan commented on #529
Do you have a session enabled topic? Only one mode will work per queue, so if the same topic works when sessions is turned off the topic likely wasn’t created to use sessions.

—
Jeff
________________________________
From: emi662002 <notifications@github.com>
Sent: Sunday, June 2, 2019 11:25:47 AM
To: Azure/azure-webjobs-sdk
Cc: Jeff Hollan; Comment
Subject: Re: [Azure/azure-webjobs-sdk] ServiceBu

[2019-06-02 19:39] emi662002 commented on #529
It is session enabled indeed. I've meant that when I create a (different)
session disabled one the rest of the code does work, so the code, including
secrets,etc it's working, except for sessions.

Op zo 2 jun. 2019 21:26 schreef Jeff Hollan <notifications@github.com>:

[2019-06-02 20:38] jeffhollan commented on #529
Hmm not sure on this. Do you see any errors being thrown or does it just not trigger?

[2019-06-03 04:36] sahil209 opened #2219 "Webjob with keyvault"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Step A

2. Step B

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actual behavior observed.

#### Known workarounds

Provide a description of any known workarounds.

#### Related information

Prov

[2019-06-03 04:39] sahil209 commented on #2219
Can we add keyvault configuration  just as we do in asp.net core. Which replace by appsetting.json value with same key

[2019-06-03 05:14] emi662002 commented on #529
it just won't trigger. I don't get any errors, the other functions on my solution trigger just ok (those are not session enabled)
@jeffhollan I've followed your example solution but this one is with queues, and not topic+subscription. would this be the problem? I know with t+s you have queues, but it's not the same trigger configuration....

[2019-06-03 06:12] mguglani opened #2220 "Azure function not always triggered when an event is sent to event hub event stream"
I have configured an event hub to export Activity Logs. I am using the following event hub trigger function to receive the events from event hub.
module.exports = function (context, eventHubMessages) {
    context.log(`JavaScript eventhub trigger function called for message array ${eventHubMessages}`);

    eventHubMessages.forEach((message, index) => {
        context.log(`Processed message ${mes

[2019-06-03 11:22] Sbou commented on #2212
I’m also interested by this feature but I don’t figure out how you can use a KeyVault with a trigger.
Each trigger has a " connectionstring " attribute and in the source code I didn’t see something about managed identity.

[2019-06-03 11:32] chris-rogala commented on #2212
It’s pretty simple.  Using the new DI, register a singleton of IConfiguration.  Register Key Vault (https://docs.microsoft.com/en-us/aspnet/core/security/key-vault-configuration) as a provider.  Store the connection string in your secrets and grant the function access using either managed identity or a certificate.

[2019-06-03 16:44] Sbou commented on #2212
Ok. I got it. You inject in the merged configuration the connection string and in the trigger it’s just a reference.

Thank you very much

[2019-06-03 17:38] alrod commented on #529
@emi662002, can you please share your project with the no-working trigger? or can you please post the definition of your trigger?

[2019-06-03 17:40] alrod commented on #529
I have identified the bug: session trigger does not work when queue name contains "/". It will be fixed in next beta version.

[2019-06-03 17:47] emi662002 commented on #529
[FunctionName(nameof(OrderedFunction))]
        public static async Task Run([ServiceBusTrigger("orderedtopic",
                                   "orderedbread", Connection = "ReadConnection",IsSessionsEnabled = true)]string mySbMsg,
                                     ILogger log)

let me know if you need something else, and thanks 👍

[2019-06-03 19:40] alrod commented on #529
@emi662002, your trigger definition looks good. I tested the same trigger definition and it works for me.
Are you testing locally or in Azure?
Can you please share your function name if you test in Azure:
https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2019-06-03 19:47] emi662002 commented on #529
2019-06-03T19:45:31.658 [Information] Executing 'OrderedFunction' (Reason='This function was programmatically called via the host APIs.', Id=f2d835cc-f00d-4a13-ba7e-94dcf0a7503e)
West Europe.

Locally and on Azure both are not triggering. On azure when I run according to your link I see a null pointer exception.

[2019-06-03 21:51] alrod commented on #529
@emi662002
Azure:
1. Your function is triggered on Azure as you see in the logs:
[Information] Executing 'OrderedFunction' (Reason='This function was programmatically called via the host APIs.', Id=f2d835cc-f00d-4a13-ba7e-94dcf0a7503e)
2. You got an unhandled "System.NullReferenceException" in your function code:
[code]

Locally:
It is possible the SB message is triggered by the function on Azure

[2019-06-03 21:55] alrod commented on #2154
https://github.com/Azure/azure-webjobs-sdk/commit/97e9d26856d039e259b04e1229069141f7fb0348

[2019-06-03 21:55] #2154 closed

[2019-06-03 22:39] rccnw commented on #2187
Upvote!  Really confused here.  Officially the new SDK says it support Framework, but I can't find any examples yet.

[2019-06-03 22:51] fabiocav commented on #2219
Yes, you should be able to use the same provider in WebJobs. The priority will depend on the order of registration.

[2019-06-03 22:51] #2219 closed

[2019-06-04 05:49] AlexZhidkov commented on #2171
@mathewc I'm using @azure/service-bus to send message. I set `contentType` on `SendableMessageInfo` to `"application/json"` and it didn't change anything :(

[2019-06-04 06:16] emi662002 commented on #529
@alrod When i test locally, I disable the function on azure. Strange thing is that my breakpoint is never hit.

The null pointer on Azure seems to come from an empty string message when the function is invoked. Because I deserialize it and then use the object that nulled is.

[2019-06-04 15:32] arajbanshi commented on #2212
Is there anything in the roadmap for service bus trigger to support managed identity?

[2019-06-04 18:02] mathewc commented on #2161
Related to https://github.com/Azure/azure-webjobs-sdk/issues/1632

[2019-06-04 18:41] danhamlin commented on #1390
Curious if @fabiocav has anything he is able to share about a proper test fixture for function apps.

[2019-06-05 16:05] chris-rogala commented on #1284
Has there been any progress on this?  I noticed FunctionInvocationFilterAttribute is still marked Obsolete ("..in preview...").  Any idea when it will be finished up?

[2019-06-05 16:28] alrod commented on #529
@ahocquet,
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.ServiceBus/3.1.0-beta3 is out.
"Session trigger does not work if queue name contains '/' " is fixed this package.

[2019-06-06 19:16] FranckSix commented on #2060
We have the same problem
`warn: Host.Startup[0]
      Warning: Only got partial types from assembly: Microsoft.Azure.WebJobs.Extensions.Storage, Version=3.0.6.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35
      The following loader failures occured when trying to load the assembly:
         - La méthode 'Commit' du type 'Microsoft.Azure.WebJobs.Host.Blobs.Bindings.DelegatingCloudBlobStream'

[2019-06-07 05:21] ahocquet commented on #529
@alrod

Thanks for the update! Unfortunately, it seems broken at the moment as it tries to download Microsoft.Azure.Webjobs 3.0.9 that is still not available on nuget.

![image](https://user-images.githubusercontent.com/1451308/59082706-bfa26700-88f4-11e9-92be-6f74ba42e533.png)

[2019-06-07 06:12] alrod commented on #529
@ahocquet, just pushed 3.0.9 to nuget. thanks!

[2019-06-07 07:48] ahocquet commented on #529
That was fast, thank you! I can confirm that now it's working as expected, event when the queue has a "/" in its name. 🎉

[2019-06-07 15:13] ashkansirous commented on #1284
Yeah! Very strange that it is taking this long. Is it because of the latest changes on DI forAzure functions?
https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection
I just love the part that it says:
Microsoft.NET.Sdk.Functions package version 1.0.28 or later
And version 1.0.28 is the latest version and is only 25 days old :)
I hope it means that we get this f

[2019-06-07 15:23] #2208 closed

[2019-06-07 16:46] mathewc commented on #1284
Yes, we want to finish the feature up properly, integrating it with the new DI work naturally. The feature was marked Obsolete because we anticipated there might be some breaking changes as we finished it up. I'd like to complete this in the next major release. @fabiocav

[2019-06-08 12:28] shaggygi opened #2221 "Close Older Milestones"
It appears many milestones are past/completed.  For example, it looks like the current milestone is [Functions Sprint 51](https://github.com/Azure/azure-webjobs-sdk/milestone/73).  Would it be possible to close them out?  Thx

[2019-06-09 09:36] vitalybibikov commented on #1950
Is being reproduced  with

 <PackageReference Include="Microsoft.Azure.WebJobs.Extensions.Storage" Version="3.0.6" />

both locally and in Azure.

Currently, I've replaced in the app AddScoped with AddTransient when creating Ef Core Context.

[2019-06-09 19:31] PingPongSet commented on #1986
Great woks.

I would like know if binding to interface, e.g. IMessageReceiver vs MessageReceiver, is available now?

[2019-06-09 19:37] PingPongSet opened #2222 "Support interface IMessageReceiver via Dependency Injection, instead of MessageReceiver"
Is it possible to use interface for function parameter or constructor, instead of concrete type like below?

[code]

https://github.com/Azure/azure-webjobs-sdk/issues/1986

[2019-06-10 09:04] divinci commented on #2088
At last some information regarding why my shutdown code is not working :)

Thanks @mathewc do you have information for a workaround in the mean time?

[2019-06-10 09:18] divinci commented on #2088
This doesn't seem to work.

`            var host = builder.Build();

            var cancellationToken = new WebJobsShutdownWatcher().Token;
            cancellationToken.Register(async () => await host.StopAsync());

            using (host)
            {
                await host.RunAsync(cancellationToken);
            }`

[2019-06-10 19:31] klogan12 commented on #1867
What is the solution here?

[2019-06-11 10:03] divinci commented on #2088
After some debugging, this code allows for graceful shutdown in my local environment when I introduce the environment variable `WEBJOBS_SHUTDOWN_FILE` and manually create it.  But when deployed, something means it will not work :/

[2019-06-11 13:06] APIWT opened #2223 "Custom startup not always called when extensionBundle is used in host.json"
During local development of a C# class library-based Azure function, you must follow these instructions (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register#local-development-with-azure-functions-core-tools-and-extension-bundles) in order to properly load extensions such as storage. However, when you combine this effort with dependency injection (https://docs.microso

[2019-06-11 15:42] chris-rogala commented on #1986
mathewc- I did a PR the other week, but while my tests passed locally, the build in the pipeline failed.  Can you take a quick look into it?  Very simple change: https://github.com/Azure/azure-webjobs-sdk/pull/2218

[2019-06-11 16:00] celluj34 commented on #2178
As a workaround, you can use this:
[code]

[2019-06-11 19:11] SeanFeldman commented on #2178
Thank you,@ celluj34.
The issue is not his to invoke it though, but the purpose of that `options` parameter.

[2019-06-13 12:22] APIWT commented on #2173
Just a heads up: AddScoped is not fixed as far as I can tell. I still am getting my dependencies behaving like singletons.

[2019-06-13 12:24] APIWT commented on #1950
I would like this issue to be re-opened. Currently, AddScoped is causing services to behave like singletons in some circumstances. I believe this is a bug and there are numerous reports on this issue tracker. Could we please get an official response from Microsoft today? @fabiocav

[2019-06-13 18:17] tap-absg opened #2226 "QueueTrigger rejects queue name containing . characters, but Azure Service Bus allows creation of Queues with . characters"
My organization uses queues and topics that contain . characters in the names. We have had no issue with these when writing messages to the service bus queues and topics through other means, like Azure Scheduler, TopicClient (https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.topicclient?view=azure-dotnet), etc.

When testing a new durable function locally with a QueueTrigger,

[2019-06-13 19:29] alrod commented on #1024
https://github.com/Azure/azure-webjobs-sdk/pull/2224

[2019-06-13 20:01] tap-absg commented on #2226
Apparently Service Bus Queue Trigger has no issues with this and is a viable workaround for Azure Service Bus. It still seems weird that queues exist that accept . characters in names and now you have to choose the wrong queue trigger.

[2019-06-13 20:16] alrod opened #2227 "Move ServiceBus extension to separate repository"

[2019-06-13 21:45] anskanth opened #2228 "[[Question]] : Is it possible to run multiple instances of my web job, when it is triggered by webhook"
Hi

Sorry, if this is not a right forum to post questions. A newbie question - I have created a webjob (a simple console application that performs some background work) which is a manual trigger one. There is a chance that, my end users might call this webhook (via a different application) simultaneously. that means, more than 1 user might be calling the webhook at a time. Will that trigger my web

[2019-06-13 22:08] klogan12 opened #2229 "Web Jobs and Graph bindings"
I have Microsoft.NET.Sdk.Functions 1 .0.28 and when i installed Microsoft.Azure.WebJobs -Version 3.0.0. Now there is a conflict between both. How to resolve this?

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0433	The type 'ExecutionContext' exists in both 'Microsoft.Azure.WebJobs.Extensions, Version=2.2.0.0, Culture=neutral, PublicKeyToken=null' and 'Microsoft.Azure.WebJo

[2019-06-14 00:40] mathewc commented on #1080
Similar to the AutoDelete feature I added on FileTrigger [here](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/b7aa8f84c2b3c9065861fe955ce8180b9d19f939/src/WebJobs.Extensions/Extensions/Files/FileTriggerAttribute.cs#L73) which auto-deletes a file once it is processed.

[2019-06-14 15:08] rkbalu commented on #2201
@brettsam / @lmolkova , All seems to okay after the release (Azure/azure-functions-host#4389). Thanks.

Can you please help to understand why CosmosDB and Eventhub not tracking the Dependency automatically within App insight?

Not get tracked when we use direct as connectionModel and tcp as Protocol when create cosmos db client & function eventhub outbinding?

[2019-06-14 17:19] lmolkova commented on #2201
Cosmos DB in tcp mode and EventHubs are not supported now. We plan to address by the end of the year.

[2019-06-15 00:09] #2193 closed

[2019-06-15 21:26] adrianknight89 commented on #1680
Looks like [Singleton] has billing consequences for consumption plans. I'd like to see this feature as well. I don't understand why MS hasn't prioritized this given that several Github issues with related asks have been created already.

[2019-06-17 16:39] rkbalu commented on #2201
Can you please share the work item link related to above. This would help us to monitor that feature progress.

[2019-06-17 17:59] lmolkova commented on #2201
There is no public work item about this.

[2019-06-17 18:06] mpaul31 opened #2231 "Task.Delay - Bad Practice?"
Hello,

Just wanted to get some opinions on if there is any harm in using `Task.Delay` from within a function invocation.

Thanks!

[2019-06-17 19:05] divinci commented on #2182
same issue as #2088 ?

[2019-06-17 19:54] zx2ner05 opened #2233 "All WebJobs functions hanging randomly, Timeout initiated but functions do not fail"
Most of the time our continuous webjob functions using queue and timer triggers finish in well under 1 second. However, a couple times a day, all of the currently executing functions will hang for 2-5 minutes. Eventually finishing in most cases.

I have since implemented the timeout attribute, passing the cancellation token to all async operations. However, when this phenomenon occurs, the timeout

[2019-06-18 05:00] DiaAWAY opened #2234 "Azure Functions v2 .NET Core - ServiceBusTrigger Message not able to read BrokeredMessages"
Hi!

We are attempting to upgrade our old ServiceBus solutions over to use the new .Net Core packages (both Azure Functions and Azure Webjobs).

When attempting to consume from our topics we encounter the following error:
`System.Private.CoreLib: Exception while executing function: Function1. Microsoft.Azure.WebJobs.Host: Exception binding parameter 'message'. System.Private.CoreLib: Unable to tra

[2019-06-18 05:02] jeffhollan commented on #2234
I suspect the issue may be that we try to default decode the message to a string using something like `Encoding.UTF8` and maybe in this case the message bytes aren't actually in that format.  I think the workaround here is to use the trigger to bind to type `Message` instead of `string` -- or even `byte[]` -- and then decode yourself based on the format of the message.  Could use some confirmation

[2019-06-18 07:36] mijp commented on #1393
In my experience, it can be a workaround to deploy  Webjob and Storage in the same region.

[2019-06-18 10:00] rkbalu commented on #2201
Thanks @lmolkova & @brettsam

[2019-06-18 10:00] #2201 closed

[2019-06-18 10:35] JamiePed commented on #2234
@jeffhollan I had a similar problem to this that is really easy to replicate - I posted a stack overflow question about it here: https://stackoverflow.com/questions/56481931/azure-function-servicebustrigger-exception-binding-message

In my instance I was able to uncheck this option from the service hook that was delivering the message, but not everyone will be able to do that. In my instance chang

[2019-06-18 11:31] codecadwallader commented on #1393
FWIW I do have web job and storage in the same region and that didn't help.  Also though, I think dashboard logging is generally frowned upon now and is being deprecated out of the newer SDK (e.g. v3).

[2019-06-18 12:05] giorgited commented on #2234
I tried Message and string but made no difference. Going to try byte[] this evening.

[2019-06-18 16:16] JamiePed commented on #2234
From my experience changing the type of the input (into the message) doesn't make any difference because the exception is thrown as soon as the message is taken from the bus.

My experience was when I was using Service Hooks from Azure DevOps. In that world there is a toggle for "Send as non-serialized string". If that option wasn't ticked I would get the issue discussed in this thread - ticking i

[2019-06-18 17:59] lanatmwan opened #2236 "Upgrading nuget package to 3.0.5 for Microsoft.Azure.WebJobs.Extensions.ServiceBus"
In a VS 2019 service bus topic triggered project I created, it was able to initialize fine with the 3.0.3 version of the ServiceBus package. However, when I upgraded to 3.0.5 I get this error from func.exe:

[6/18/2019 5:53:46 PM] A host error has occurred
[6/18/2019 5:53:46 PM] System.Private.CoreLib: Could not load file or assembly 'Microsoft.Azure.WebJobs.ServiceBus, Version=3.0.5.0, Culture=ne

[2019-06-18 21:16] fabiocav commented on #921
@mathewc ; @alrod is working on batch support for Service Bus, so it would be good to sync up on this to make sure we're going dow the right path. This will be on a new major version of the binding, so we want to follow whatever we think is the best practice for this.

[2019-06-19 00:13] mijp commented on #1393
I'm sorry for writing uncertain information.
(In my environment, the same error sometimes occurs on all storage accesses, including logging.)

[2019-06-19 03:19] giorgited commented on #2234
@JamiePed Same here, once I checked that box in ADO service hook window, az function was able to start reading messages again.

Not sure on which end does the bug land but hopefully this is helpful.

[2019-06-19 12:01] FinVamp1 commented on #2072
Tagging this as Triage as we have a customer issue 127812286 on this topic.

[2019-06-19 12:28] mehnazyunus commented on #1024
Does the PR enable receiving messages in batches on trigger?

[2019-06-19 14:27] AymanGaafar commented on #1001
Is there another updated version of [Creating custom input and output bindings](https://github.com/Azure/azure-webjobs-sdk/wiki/Creating-custom-input-and-output-bindings) wiki page or is it not updated yet?

[2019-06-20 08:44] Zebusch commented on #1917
Also can't get it to work. Trying the sample but the constructor for Functions is not being called (which in turn makes all services null when trying to call them from triggered method).

[2019-06-20 08:44] Zebusch commented on #1917
Also can't get it to work. Trying the sample but the constructor for Functions is not being called (which in turn makes all services null when trying to call them from triggered method).

[2019-06-20 15:32] SamaraSoucy-MSFT commented on #2234
@jeffhollan I think I've found the issue. When reading the message, the package is using the content type specified in the message instead of the binding. DevOps is sending the message as application/json so it is getting pushed into the UTF8 decoding regardless what type the function requests.

![image](https://user-images.githubusercontent.com/47195189/59861076-26406f80-934e-11e9-9bac-12ecc56094

[2019-06-20 22:06] paulbatum commented on #1643
Reopening this issue as #2225 helps make this scenario easier, but it does not unblock usage of the output binding specifically. Lets explore the idea of a PartitionedAsyncCollector or EventHubAsyncCollector a little more.

[2019-06-21 07:54] kuyeduwu opened #2239 "Questions about best practice to run an endless, no automatic trigger job"
Could anyone provide some suggestions about creating an endless webjob? I have searched many articles, including the official articles from Azure, they all seems to focus one event triggered jobs like queue message or timer, but I would like to have an endless webjob running, for now, it seems there are two options to do this:

### Option 1:
[code]

### Option 2:
[code]

1. Could anyone provide so

[2019-06-24 05:24] shibuya-takahiro opened #2241 "System.ObjectDisposedException occurs to 3.0.0-beta8 for Microsoft.Azure.WebJobs.ServiceBus"
**#### Actual behavior**
It is configured to receive and process messages detected from ServiceBus with Function in Azure environment.
When I checked Application Insights, I found that a "System.OperationCanceledException" occurred after a "System.ObjectDisposedException".
I want to know the cause of this phenomenon.

**#### Repro steps**
The reproduction procedure is not known because it has occu

[2019-06-24 05:35] shibuya-takahiro opened #2242 "The lease ID specified did not match the lease ID for the blob occurs"
**#### Actual behavior**
It is configured to receive and process messages detected from ServiceBus with Function in Azure environment.
When I checked Application Insights, I found a Microsoft.WindowsAzure.Storage.StorageException.
I want to know the cause of this phenomenon

A similar issue is registered, but it has not been resolved.
"The lease ID specified did not match the lease ID for the blob

[2019-06-25 12:22] jtlz2 commented on #1327
Another year has passed - any update?

[2019-06-25 13:47] spr0ut commented on #1635
This is missing from VS 2019 WebJob templates - a frustrating experience as it will publish via VS direct to Azure correctly but when using msbuild to package, it produces an empty .zip file.

[2019-06-25 17:46] mhoeger commented on #2191
Closing this issue due to lack of details, please ping if it still applies and we will reopen!

[2019-06-25 17:46] #2191 closed

[2019-06-25 20:46] KyleLehtinenDev commented on #529
Having problems getting a sessionful message reciever setup. Have closely reviewed the discussion here but not sure where my problem is.

Getting this error message when trying to run a dotnet azure function locally with a ServiceBusTrigger (stripped identifying info):
`[6/25/19 8:37:12 PM] Message processing error (Action=Receive, ClientId=MessageReceiver1XXXX, EntityPath=XXXXX, Endpoint=XXXXX.se

[2019-06-25 21:52] jeffhollan commented on #2234
Feels like this has a workaround? Still trying to digest, but P1 was mostly for investigation and I think it may still be a vaild bug but workaround is to bind to `Message` and decode yourself

[2019-06-26 14:35] SamaraSoucy-MSFT commented on #2234
I have tried several different bindings: Message, string, byte[], and just a plain object. Because the decision to decode is being handled based on the incoming message type it doesn't matter what I set it to, I still get the error.

The workaround is to change the type of the incoming message to something other then application/json, and that is fairly simple in the case of DevOps by checking "Se

[2019-06-26 17:31] sbest-gcm opened #2244 "Dependency on unavailable version of Microsoft.Azure.WebJobs package in Microsoft.Azure.WebJobs.Extensions.ServiceBus 3.0.6"
The newly released Microsoft.Azure.WebJobs.Extensions.ServiceBus version 3.0.6 has a dependency on Microsoft.Azure.WebJobs >= 3.0.10, but the latest version of Microsoft.Azure.WebJobs available on NuGet is 3.0.9.

I realize this was only updated less than an hour ago, but it happened to break our build because we were referencing version 3.0.* in our csproj file.

Downgrading to 3.0.5 fixes the is

[2019-06-26 19:29] rickvdbosch commented on #2244
We're experiencing the same issue here. Here's the message we get:

[code]

Version 3.0.10 of `Microsoft.Azure.WebJobs` is also _not_ available as a prerelease version.

[2019-06-26 19:38] jeffhollan commented on #2244
Thanks for reporting - looking into this now

[2019-06-26 19:45] jeffhollan commented on #2244
WebJobs 3.0.10 is getting pushed out now so this should get resolved in a few min

[2019-06-26 19:47] rickvdbosch commented on #2244
Awesome. Thanks for jumping in so fast @jeffhollan!
Will provide additional information if needed.

[2019-06-26 19:51] jeffhollan commented on #2244
It should be fixed now (may take some time for NuGet to refresh).  If someone can confirm it's working I'll close the issue.  Apologies for the inconvenience

[2019-06-26 19:55] rickvdbosch commented on #2244
Confirmed: it's working!

[code]

[2019-06-26 19:56] jeffhollan commented on #2244
Thanks again for reporting and making us aware.  Sorry again.

[2019-06-26 19:56] #2244 closed

[2019-06-26 20:18] alrod opened #2246 "Move EventHub extension to separate repository"

[2019-06-26 20:53] fabiocav commented on #2155
A lot of the work for this has been completed and a beta package released.

@alrod can you please share the deatails

[2019-06-27 05:13] nathansoz opened #2247 "ConfigureWebJobs adds appsettings.json, which can break configuration precedence"
#### Repro steps

In your net core 2 host builder do:

[code]

Where settings in override should override the default appsettings.

Then call .ConfigureWebJobs(…)

#### Expected behavior

Settings in appsettings.override.json should override settings in appsettings.json (if there is overlap)

#### Actual behavior

appsettings.json gets added by ConfigureWebJobs(…) again, so it actually overrides A

[2019-06-27 05:20] nathansoz commented on #1931
I spent an evening looking at this in our service and filed what I guess is a duplicate bug here #2247

Is there a plan to fix this?

[2019-06-27 15:23] czb182 commented on #625
I agree this would be useful.  I'm dealing with millions of messages potentially, and to use storage queue trigger, I would need to batch them up, otherwise I would overwhelm other services processing one at a time at the throughput level i need.

[2019-06-27 20:18] lopezbertoni opened #2248 "Feature: Ability to configure storage account dynamically"
In the .NET Framework version of the Webjobs SDK we can do something like this:

`var storageConnectionString = code that returns a connection string`
`var config = new JobHostConfiguration(storageConnectionString)`
`var host = new JobHost(config);`

The only way to configure this using the .net core Webjobs SDK version 3.0.10 is by adding this to the appsettings.json with a structure that matches

[2019-06-27 20:30] klogan12 commented on #2229
Moved to Azure run time 2 and did not face this issue.

[2019-06-27 20:30] #2229 closed

[2019-06-27 21:16] tomfaltesek commented on #1199
Anyone who stumbles here in the future can check out the FluentValidation examples provided here: https://www.tomfaltesek.com/azure-functions-input-validation/

[2019-06-28 20:21] fabiocav commented on #2144
@brettsam this was added to sprint 50, are you planning on addressing this? I'll move to `Triaged` and you can move to the sprint milestone if appropriate.

[2019-06-28 20:21] kulkarnisonia16 commented on #2144
Impact: This will help CSS in investigation and to explain to customers events in more detail.

[2019-06-30 19:33] ahocquet commented on #529
When using a consumption plan for my Azure Function, it doesn't seem to scale out. I only get one instance of my Azure Function running, even though I have hundreds of messages in my queue and my CPU is bound to 100% usage.

Do you guys need a sample to reproduce the issue or are you aware of it?

[2019-07-01 04:05] PlaidPhantom commented on #2247
I believe I am running into this bug as well.  I have set up my project to have both an appsettings.json as well as user secrets.  My standard practice is to include my secret keys in appsettings.json as empty strings so that their existence is "documented" in the project (I do this often in web apps), and my secrets are not being seen unless i replace the empty string in appsettings.json.  If I d

[2019-07-01 12:08] fhurta commented on #2191
Thanks for review, I confirm it works. Perhaps a result of my misunderstanding and the lack of information in documentation, sorry. The only docs I was able to find at that time was https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity where it was discussed in context of Functions. I asked there for info regarding to WebJobs and got negative response about MIS being support

[2019-07-01 13:02] danielhertzman opened #2249 "Having multiple EventHub outputs doesn't work"
Hello!

We are using an Azure Function to receive and distinct each message based on a Property the message. The message should then be sent out to two different EventHubs (which is set as output binding attributes).

#### Repro steps

Steps to reproduce the issue:

1. Create an Azure Function that will trigger on EventHub message

2. Output the messages further to two different EventHubs based on

[2019-07-01 13:24] narenkv opened #2250 "Manual and Auto Scaling of Azure Web Jobs"
We have created a simple azure web job, with the thread timer of 5 secs. Inside the webjob it prints the instance id. We had configured for 5 instances, and the observations from the log are
1. 5 instances are created
2. Only one instance is processing the requests all other instances are not functional. This we analyzed by printing the Instance id
Environment.GetEnvironmentVariable("WEBSITE_INSTA

[2019-07-01 18:20] phatcher opened #2251 "Ability to force message to be poison"
Currently if a message throws an exception it will be tried 5 times (by default), though this can be modified via configuration.

The idea of retrying messages is good, due to transient errors etc, but sometime you immediately know that this is a fatal error and that the message cannot be handled in its current form, so it would be useful to immediately transfer it to the poison queue.

#### Expec

[2019-07-01 18:41] mhoeger commented on #2191
Sorry about the trouble. @mathewc or @mattchenderson - have any ideas for a way that we can help with webjobs docs? Or maybe a doc that explains which parts of functions docs will be relevant vs. which won't for webjobs customers?

[2019-07-01 18:54] CReich02 opened #2252 "Wiki is extremely outdated"
The documentation in the wiki on this repo is very outdated and nearly unusable with the current version of the SDK. Here are just a couple examples that are very inaccurate and do not work.

https://github.com/Azure/azure-webjobs-sdk/wiki/Initialization
https://github.com/Azure/azure-webjobs-sdk/wiki/Running-Locally

Please update wiki documentation as breaking changes occur, or document the vers

[2019-07-02 11:50] divinci commented on #2088
Any news on this issue @fabiocav @mathewc?

[2019-07-02 21:31] naiduv commented on #2206
I noticed that I get a similar issue in azure portal.
This only occurs when including the same extensionBundle section in the host.json (shown above).
When I take this section out (and install with nuget, 3.0.6), it seems to work fine.

[2019-07-03 01:32] soninaren commented on #2206
This is actually by design. When you add the following extension bundle config to host.json.
[code]
It signals the runtime to use a pre-packaged set of extension instead of using the extension installed explicitly by the user. Extension bundles is not designed to be used for pre-compiled C# functions. Here is the list of set of extensions present in the latest extension bundle: [extensions](https:

[2019-07-03 01:32] #2206 closed

[2019-07-03 14:05] divinci opened #2254 "Is this project dead?"
This repo needs some serious attention...

[2019-07-04 02:38] timleyden commented on #2135
+1 I came across this issue today when trying to automate deployment of eventgrid trigger in an arm template.

[2019-07-04 08:00] Andreas-Lehmann opened #2255 "InvalidOperationException: Microsoft Azure WebJobs SDK ServiceBus connection string 'AzureWebJobsServiceBus' is missing or empty."
When using the ServiceBus extension in .Net core the default configuration behaviour is not equal to the base WebJob SDK.

We use a simple `appsettings.json` file for configuration. There we have a section like:
[code]
The `AzureWebJobsDashboard` and `AzureWebJobsStorage` settings are read by the WebJob SDK as expected without any additional configuration.
When we use the `Microsoft.Azure.WebJobs.

[2019-07-04 08:18] narenkv commented on #2250
Looks like the project is dead as there are no response so far on this.

[2019-07-04 14:23] tidusjar commented on #529
Every time my message completes using 3.1.0-beta3 and 3.0.9 i'm getting the following:

[2019-07-04 15:41] neilduncan opened #2256 "How do I hook up a Retry Policy in a WebJob with a ServiceBusTrigger"
I have a message that needs to retry several times (slowly) before it will eventually succeed.
Unfortunately, when I throw an exception from my code, it retries _immediately_, several times, and eventually hits the retry limit and goes to the dead letter queue.

This code is running in a continuous WebJob context.

#### Repro steps
Microsoft.Azure.WebJobs v3.0.10
Microsoft.Azure.WebJobs.Extensions

[2019-07-04 16:19] neilduncan commented on #2251
In SDK 3.x you can do something like this.

[code]

I believe in SDK 2.x, there's something similar using `BrokeredMessage.DeadLetter`

[2019-07-05 07:24] tidusjar commented on #529
One thing that does seem to be a regression is that with 3.1.0-beta3 I can no longer use the `%Variable%` in the topic name, I just get the following:

My code:

[code]

[2019-07-05 11:55] MarkoatPriva opened #2257 "Microsoft.Azure.WebJobs.Extensions.ServiceBus beta3, topicname"
When i use the following ServiceBusTrigger:

[ServiceBusTrigger("%ServiceBusTopicName%", SubscriptionName, Connection = "ServicebusConnection", IsSessionsEnabled = true)]

The topicname is no longer resolved from the settings.
This is happening in version Microsoft.Azure.WebJobs.Extensions.ServiceBus 3.1.0 beta3.
It works in version 3.0.6.

Has this functionality changed in V3.1.0?

[2019-07-05 22:32] balag0 opened #2258 "Add unit test for https://github.com/Azure/azure-webjobs-sdk/pull/2240"

[2019-07-06 14:33] phatcher commented on #2251
@neilduncan Thanks for that, I'll check but I don't believe storage queue messages have the same capability

[2019-07-07 13:37] mpnow commented on #529
Same here - when I try any other variable name than "messageSession" I get the "unable to bind" error; using "messageSession", it works. This is with 3.1.0-beta3.

[2019-07-09 03:27] mpnow commented on #529
For my own use case, I'd like to have a function that processes in parallel for different session IDs - that is, starts and runs a new instance of the function each time it encounters a different session ID in the input service bus queue, so multiple instances might be running and processing simultaneously - but operates in series for messages of the same session ID - that is, if it encounters a m

[2019-07-09 09:37] ben-burton commented on #1986
This thread has been really useful for me trying to work out how to plug in a combination of message body and message metadata properties from Service Bus into a Cosmos DB input binding. Apart from digging through the code, is there some documentation somewhere which describes the parameters you can use with MessageReceiver? I can see message (string), deliveryCount and lockToken from the above ex

[2019-07-09 15:32] alexgman commented on #808
I need a function to be triggered by multiple queues. Any progress here?

[2019-07-10 00:46] alrod commented on #2246
d4b3cc247c950b44e60a5f4c712c8bfafd1d4653

[2019-07-10 00:46] #2246 closed

[2019-07-10 00:46] alrod commented on #2227
adabc4f00619a0733f4ff352e8aa61d24aa69fa6

[2019-07-10 00:46] #2227 closed

[2019-07-10 01:23] alrod commented on #529
@tidusjar, @mpnow I am investigating `%Variable%` issue in beta3. I will update the thread.

[2019-07-10 02:59] alexgman commented on #529
If we have a servicebus-triggered function, how do we process all the messages for that specific session?

[2019-07-10 15:18] brettsam commented on #2247
Gonna close this as #1931 will cover this as well.

[2019-07-10 15:18] #2247 closed

[2019-07-10 18:32] fabiocav opened #2261 "Ensure packages are built in release mode"
Recent versions of the WebJobs packages have binaries built in debug mode. Aside from issues with compiler optimizations, this also has an impact on the debugging experience as those are interpreted by Visual Studio as user code.

[2019-07-10 18:36] fabiocav commented on #2254
@divinci we realize and have been working on a better process to manage the various Azure Functions/WebJobs related repos. Thank you for the feedback! We do hope to be improving communication and issue management here.

[2019-07-10 18:36] #2254 closed

[2019-07-10 18:51] fabiocav commented on #2221
Thank you @shaggygi. That has actually just been done. We appreciate the push to have the repo cleanup up.

[2019-07-10 18:51] #2221 closed

[2019-07-10 22:42] johnkwaters opened #2262 "Dependency Injection not working for ServiceBusTriggers"
I have a dotnetcore WebJob using the 3.0.10 nuget.
It has Timer functions and Service bus functions, both registered the same way:

            services.AddScoped<TimerFunctions>();
            services.AddScoped<ServiceBusFunctions>();

For the timer functions, DI works as expected: each time the timer triggers, my constructor is called:

`    public class TimerFunctions
    {
        private rea

[2019-07-10 22:47] johnkwaters commented on #1915
Doesn't seem to work in ServiceBus triggers, see https://github.com/Azure/azure-webjobs-sdk/issues/2262

[2019-07-11 00:13] johnkwaters commented on #2262
Found the fix!

If I change the method declaration to this, DI works!

`    public class ServiceBusFunctions
    {
        private readonly IUserRepo _userRepo;

        public ServiceBusFunctions(IUserRepo userRepo)
        {
            _userRepo = userRepo;
        }

        public async Task ProcessQueueMessage(
            [ServiceBusTriggerAttribute("portal_in", "StatusChange")]

[2019-07-11 00:27] fabiocav commented on #2262
Yes, this is expected. If the invocation target is a static method, that method will be called without class instantiation.

[2019-07-11 00:27] #2262 closed

[2019-07-11 00:50] johnkwaters commented on #2262
That may be true... but a lot of the examples and documentation use that signature, which is where I got it from, and I only found the correct signature by mimicing what works for timer functions. The docs are hopelessly out of date for most of WebJobs.

[2019-07-11 12:56] alex-zyl commented on #2250
@narenkv
Could you please share where you write the logs?
Are these console logs that you are viewing from Kudu's webjobs console window?

[2019-07-11 17:55] fabiocav commented on #2252
@CReich02 thank you for the feedback. Most of the relevant documentation has been moved to Microsoft Docs (links are in the Wiki home), and we're working on improved contributor guides that will cover the local development experience. We went ahead and removed the stale/outdated information for now as having inaccurate information is pretty impactful.

[2019-07-11 17:55] #2252 closed

[2019-07-11 21:17] fabiocav commented on #1931
I agree that the current behavior is not ideal and unexpected. We need to be careful though, as changing this behavior would be a breaking change (customers may be relying on the current behavior), so we need to introduce an API that is clear while preserving the current functionality.

@brettsam

Yes, that was the original design.

[2019-07-11 23:37] jcbrooks92 opened #2263 "Support for Application Insights in the Azure Government Cloud [v3.x]"
AI with the government cloud requires a change to point to the government AI endpoint:

"ApplicationInsights": { "InstrumentationKey": "instrumentationkey", "TelemetryChannel": { "EndpointAddress": "https://dc.applicationinsights.us/v2/track" } }
https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-services-monitoringandmanagement#application-insights

We tried the sett

[2019-07-12 06:28] Zenuka commented on #1931
I agree that it would be a breaking change but I can't really think of a scenario which you want this behavior so I would go for changing the current behavior, but that's just me ;-)

[2019-07-12 11:56] Alxandr opened #2264 "Disposable IAsyncCollector"
I'm trying to implement an `IAsyncCollector` that takes a lease on a blob while it's active, releasing the lease on `Dispose` (or `DisposeAsync`). However, neither of these are called.

#### Repro steps

Create an `IAsyncCollector`, and register it with `BindToCollector`. Then call your function, and observe that the collector is not disposed.

#### Expected behavior

The collector should be dispo

[2019-07-12 13:58] brettsam opened #2265 "[AppInsights] Expose EndpointAddress via settings"
In order to use a government cloud you need to adjust the ServerTelemetryChannel's EndpointAddress. You should be able to do this via DI today with something like:

`builder.Services.AddSingleton<ITelemetryChannel>(_ => new ServerTelemetryChannel { EndpointAddress = "https://dc.applicationinsights.us/v2/track" });`

... but it'd be nice to have it exposed as an easy setting that we auto-apply for

[2019-07-12 14:03] brettsam commented on #2265
Just noticed this issue already exists: #2263.

[2019-07-12 14:03] #2265 closed

[2019-07-12 14:04] brettsam commented on #2263
Copying my comment from issue #2265 here:

[2019-07-12 15:27] jcbrooks92 commented on #2263
This is the sample I used and I can now see data.

![image](https://user-images.githubusercontent.com/18233035/61139775-078a5000-a498-11e9-87ea-5b391cddee9e.png)

using System;
using Microsoft.ApplicationInsights.Channel;
using Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel;
using Microsoft.Azure.Functions.Extensions.DependencyInjection;
using Microsoft.Extensions.DependencyInjection

[2019-07-14 14:37] ai-motion commented on #2060
Ran into the same issue as well.

System.InvalidOperationException: Exception binding parameter 'log' ---> System.TypeLoadException: Method 'Commit' in type 'Microsoft.Azure.WebJobs.Host.Blobs.Bindings.DelegatingCloudBlobStream' from assembly 'Microsoft.Azure.WebJobs.Extensions.Storage, Version=3.0.6.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' does not have an implementation.

[2019-07-14 14:50] ai-motion commented on #1493
any updates on this issue?

[2019-07-15 19:01] Freddy090909 opened #2267 "ServiceBusTrigger Resolve Connection String from Outside Settings"
I have the following code:
[code]

I am able to write a custom INameResolver for the topicname and subscriptionname and it will correctly pass in these attributes as their resolved values (I am grabbing these values from somewhere other than the settings).

However, for the connection string, it correctly resolves to the value I want it to be, but then passes in that resolved value as the key into

[2019-07-15 20:25] jtlz2 opened #2268 "Throw meaningful error if AzureWebJobsStorage is not a proper connection string"
#### Is your question related to a specific version? If so, please specify:

See below logging output

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)

Python

#### Question

My stackoverflow question (https://stackoverflow.com/questions/56737086/azure-functions-python-blobtrigger-how-do-i-fix-microsoft-azure-webjobs-extensi) refers

**How do I fix "Microsoft.Azure

[2019-07-16 14:05] FinVamp1 opened #2269 "Queue Trigger Polling Instrumentation Request"
There have been a number of reports of the QueueTrigger stop polling and a restart of the Web Job is needed.

This is on QueueTrigger jobs written using Web Jobs 3.x.

E.G.

[Queue trigger stops picking up messages after connection drops and restores}(https://github.com/Azure/azure-webjobs-sdk/issues/2072)
[QueueTrigger stops triggering - how to troubleshoot?] (https://github.com/Azure/azure-webjo

[2019-07-16 14:06] FinVamp1 commented on #2269
Queue trigger stops picking up messages after connection drops and restores (https://github.com/Azure/azure-webjobs-sdk/issues/2072)
QueueTrigger stops triggering - how to troubleshoot? (https://github.com/Azure/azure-webjobs-sdk/issues/2136)

[2019-07-16 14:07] FinVamp1 commented on #2136
@superjulius  if you are still seeing this then please let us know and gather the Storage account logs of the Queue involved and a dump file of the Dotnet.exe hosting your Web Job. https://blogs.msdn.microsoft.com/kaushal/2017/05/04/azure-app-service-manually-collect-memory-dumps/

[2019-07-16 21:38] jcbrooks92 commented on #2263
Updated startup.cs

This should allow log streaming and the other functionality

[code]

[2019-07-17 00:22] alrod commented on #529
@mpnow, @KyleLehtinenDev. Regarding `IMessageSession  messageSession`, the parameter name must have exact name `messageSession` as it is a [trigger metadata value](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns#trigger-metadata).

[2019-07-17 00:35] alrod commented on #529
There is no support for filtering by sessionId using trigger parameters. What you can do:

1. In host.json `SessionHandlerOptions.AutoComplete = false`
2. In your function code:
[code]
Note the trigger will be constantly firing if the entity contains a message with `sessionId != "value"`.

[2019-07-17 08:07] superjulius commented on #2136
Thanks @FinVamp1 ! We have not seen the issue for few weeks now...but this had also happened in the past.

We will try gathering more information in case the issue pops up. I am just a bit unclear as what logs should be provided. I have checked the storage logs but did not find anything that seems helpful.

- azure-jobs-host-output: oldest logs are from 5 months ago. Is this still used? If yes, an

[2019-07-17 15:54] damienestewart commented on #1986
@maartenkools thanks for saving my day (spent the last few hours trying to figure out why I couldn't bind to MessageReceiver). How do we know that the parameter can only be named messageReceiver? Did I miss some documentation?

[2019-07-18 13:41] brettsam commented on #2222
@alrod -- is this something we can do?

[2019-07-18 13:46] brettsam commented on #2223
Can you move to the latest version of `Microsoft.NET.Sdk.Functions` and give this another try? If it still doesn't work, can you share what's in your `extensions.json` file after you build? It should be in the `{project}/bin/debug/{framework}/bin` folder

[2019-07-18 13:50] brettsam commented on #2226
Are you using Service Bus Queues or Storage Queues? The `[QueueTrigger]` is explicitly for storage queues, which do not accept `.` If you're using service bus, use `[ServiceBusTrigger]`.

[2019-07-18 13:50] #2226 closed

[2019-07-18 13:53] brettsam commented on #2228
How exactly are you triggering the webjob?

In general, yes, WebJobs are built to be able to handle multiple invocations at a time. Everything should work as expected. Just know that any static properties/fields will be shared across the invocations, so be careful how you are sharing any state and assume the function can be executed multiple times at once from different threads.

[2019-07-18 13:53] brettsam commented on #2231
There's no harm. As long as you await the task, the function should execute just as if you'd called any other Task-returning function.

[2019-07-18 13:53] #2231 closed

[2019-07-18 14:10] brettsam commented on #2233
At a high level, if you'd like the function to fail, you'll need to throw an exception from within the function.

Some things to look at:
- If you want to fail when the timeout is hit, something needs to be checking that token and throwing (usually with `token.ThrowIfCancellationRequested()`).
- I see you're passing the token down to a bunch of sub-methods -- are any of those checking this token a

[2019-07-18 14:12] brettsam commented on #2236
Can you share your `.csproj` file and `host.json` file so we can see what packages you're referencing?

Adding @alrod for SB and @soninaren in case it's bundle-related.

[2019-07-18 14:28] brettsam commented on #2239
In your Option 2 -- what if you wrap your host call in `Task.Run()`?

[2019-07-18 14:29] brettsam commented on #2241
@alrod -- any ideas on this one?

[2019-07-18 17:57] brhinescot commented on #1731
Do plans exists to add this functionality to OrchestrationTriggers? Right now an HttpTrigger picks up the Request-Id and sets up the Activity correctly. However, when subsequently calling an OrchestrationTrigger from a DurableOrchestrationClient the Activity.Current is a new, unrelated Activity in the OrchestrationTrigger function.

[2019-07-18 19:45] kvbutler commented on #2173
I can confirm this issue is not fixed in v3.0.6 (of Webjobs.Extensions.Storage BlobTrigger) I spent a while debugging this until I saw two threads in debugger using the same instance for 2 separate invocations of the function. Thanks @jsgoupil for your work-around in the other thread, that will work for me for now.

[2019-07-19 08:20] TWolverson commented on #1168
This is still a problem. When will it be fixed?

[2019-07-19 10:58] idbates commented on #1526
I have a similar issue - after a lengthy run (although at fairly low frequencies) the ServiceBusTrigger  stops firing. Strange thing is that the messages are still invisibly removed from the topic/subscription so it seems to be a case of the message 'processor' retrieving the message and failing to invoke the webjob. I suspected some kind of memory leak in my code but less sure now.

[2019-07-21 18:21] #2160 closed

[2019-07-22 08:12] xabikos opened #2275 "ServiceBusTrigger - Complete message outsile listener function"
We are in the process to migrate our webjobs processors to the latest version of the packages 3.x. We have one listener function that is using `ServiceBusTrigger` attribute to listen and process messages from Azure Service Bus.

#### Repro steps
Listener function looks like the following
[code]
As we have some pretty heavy logic on the processing of messages and we deal with several types of messa

[2019-07-22 08:40] NiekGr opened #2276 "Log a meaningful error message to Application Insights and console when ConnectionString is incorrect"
Dear Sir/Madam,

#### Repro steps

1. Use IWebJobsStartup
2. Create ServiceBusTrigger with injected dependencies in constructor
3. Add EntityPath to ServiceBusConnection
4. Run function locally or on Azure

#### Expected behavior

I expect the function app to stop and provide a meaningful error message about the EntityPath. And not use 100% CPU on my app service.

#### Actual behavior

Function is

[2019-07-22 12:31] yann-h commented on #2171
Workaround:

[code]

[2019-07-22 14:36] ravick4u commented on #1085
I am seeing something like below. If you see the first two lines this is happening after every 7 hours.

[07/21/2019 07:05:12 > efe1a8: SYS INFO] WebJob is still running
[07/21/2019 14:01:37 > efe1a8: SYS ERR ] Job failed due to exit code -532462766
[07/21/2019 14:01:37 > efe1a8: SYS INFO] Process went down, waiting for 0 seconds
[07/21/2019 14:01:37 > efe1a8: SYS INFO] Status changed to PendingRe

[2019-07-23 00:01] alrod commented on #2236
3.0.5 and 3.0.6 work fine for me. No errors.

[2019-07-23 00:04] alrod commented on #1168
@TWolverson, this is supported in the package:
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.ServiceBus/3.1.0-beta3

Should be released in August.

[2019-07-23 00:30] alrod commented on #2241
3.0.0-beta8 is pretty old version. Can you please try new version?
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.ServiceBus

[2019-07-23 00:55] alrod commented on #2222
Using `IMessageReceiver` interface is not possible right now. We can add it in future if community will be interested in having one. Moved to back log.

[2019-07-23 00:57] alrod commented on #2222
Using `IMessageReceiver` interface is not possible right now. We can add it in the future if community will be interested in having one. Closed as answered.

Fell free to create a feature request in https://github.com/Azure/azure-webjobs-sdk

[2019-07-23 00:57] #2222 closed

[2019-07-23 09:36] neilduncan commented on #2256
![tumbleweed](https://user-images.githubusercontent.com/652579/61701185-a5eaa100-ad35-11e9-9f8b-c005ed0dd2b5.gif)

[2019-07-23 12:46] kuyeduwu commented on #2239
Thank you Brett. Yes, I think that should be the correct way

[2019-07-23 12:46] #2239 closed

[2019-07-24 17:28] #2261 closed

[2019-07-24 21:39] fabiocav commented on #2258
@balag0 is this something you'll be prioritizing soon?

[2019-07-24 22:05] balag0 commented on #2258
Fixed by cf6a4138595559b8c61bf8f795079717a2e85c8a

[2019-07-24 22:19] fabiocav commented on #2258
@balag0 the commit you've linked to is the implementation, this is the issue that was opened to track the test @mathewc suggested [here](https://github.com/Azure/azure-webjobs-sdk/pull/2240).

Reopening to make sure we're still tracking that, but let me know if I'm missing something here.

[2019-07-25 00:52] soninaren commented on #2257
@MarkoatPriva can you explain what do you mean by topicName is no longer resolved. Can you share the generated function.json.

[2019-07-25 00:52] soninaren commented on #2257
cc: @alrod

[2019-07-25 07:12] Alxandr opened #2280 "Servicebus and eventgrid extension discontinued?"
I noticed that service bus and eventgrid extensions was removed from this repo. Are then being discontinued? Or simply moved elsewhere?

[2019-07-25 07:38] MarkoatPriva commented on #2257
Hi,

I mean in previous version, when placing the topicname in between @'s, the name was read from the settings. This no longer seems to work.

Marko
________________________________
Van: Naren Soni <notifications@github.com>
Verzonden: donderdag 25 juli 2019 02:52:40
Aan: Azure/azure-webjobs-sdk <azure-webjobs-sdk@noreply.github.com>
CC: Marko Vermeer <marko.vermeer@priva.com>; Mention <mention@n

[2019-07-25 08:35] adrobyazko-softheme commented on #2234
Do we have any update for the issue?

[2019-07-25 11:54] FinVamp1 commented on #2269
https://github.com/Azure/azure-webjobs-sdk/pull/2277 is going to help here.

[2019-07-25 13:40] brettsam commented on #2269
I think #2277 addresses this completely -- I'm going to mark this one as closed. Note that customers will have to move their extensions forward to that release when it gets out (this won't happen automatically).

[2019-07-25 13:40] #2269 closed

[2019-07-25 14:29] brettsam commented on #2136
Note that we've also just added more logs to queue triggers (#2277) -- when this is released to nuget (which should be fairly soon), please give it a try to see if the logs it generates are helpful. You'll need to enable Debug-level logs to get them to show up, but the logs will write every time we poll the queue and every time we delay a poll.

As for what storage logs are useful -- you can enabl

[2019-07-25 14:29] brettsam commented on #2136
I'm going to close this as I believe #2277 will help diagnose this problem. If not, or if you get more details, please feel free to re-open and we can take another look.

[2019-07-25 14:29] #2136 closed

[2019-07-25 14:38] brettsam commented on #2175
@essmd -- the suggested answer by @corneliutusnea should work.

How are you spawning all of your listeners? Are they all in a manual trigger? If so, you also should be able to request a CancellationToken as part of the function signature, which should be signaled when the host is shutting down.

I'm going to close this as it's pretty old at this point, but please let me know if you need more guida

[2019-07-25 14:38] #2175 closed

[2019-07-25 14:40] brettsam commented on #2180
I agree that a message here would go a long way.

@paulbatum -- I'm guessing this falls in the supportability bucket?
@fabiocav as FYI -- we may need someone to ramp up on the Dashboard code so we can get this added.

[2019-07-25 14:50] piotrzbyszynski commented on #1950
Any news on that? This issue is still present in `3.0.10` @fabiocav

[2019-07-25 14:53] ghost commented on #779
Event Grid has not "blob update" events, when blobTrigger has. So i have 2 functions, one with eventTrigger and another with BlobTrigger just for handling blob metadatas updates. But because i have many containers, BlobTrigger with unique container name is constraining

[2019-07-25 14:56] brettsam commented on #2186
@davidmatson -- would you mind sharing a sample project file that's busted?

[2019-07-25 15:00] brettsam commented on #2192
This is pretty stale so closing. Please re-open if you have more questions. Thanks!

[2019-07-25 15:00] #2192 closed

[2019-07-25 15:11] kspoojary commented on #1284
Any update on this? When is the next Major release?

[2019-07-25 15:12] brettsam commented on #2220
@mguglani -- were you ever able to figure out this issue? It may have been due to triggers being out-of-sync -- and we've recently released updates that will help. If you're still seeing it, please let me know and we can take a deeper look.

[2019-07-25 15:19] brettsam commented on #2242
The issue you linked to is unrelated (although they're both related to storage) -- this one should not be crashing the worker. If it is, please let me know. It appears that this is happening in EventHubs, which means that it's likely that this is completely normal, see here: https://stackoverflow.com/a/41867611/3516125.

We do have an issue to hide some of these transient errors (or at least make

[2019-07-25 15:34] brettsam commented on #2248
This needs some review. We don't properly expose the Options that we use to configure the internal services with storage. I was going to suggest adding an IConfigureOptions<StorageAccountOptions> -- but that's not available to you.

[2019-07-25 15:37] brettsam commented on #2212
There is a uservoice issue tracking this here: https://feedback.azure.com/forums/355860-azure-functions/suggestions/37907848-support-for-azure-managed-service-identities-in-ev

Also see this comment: https://github.com/MicrosoftDocs/azure-docs/issues/34826#issuecomment-510005304.

This work is not planned yet and we have no ETA.

[2019-07-25 15:43] brettsam commented on #2250
Are you using a `[TimerTrigger]`? If so, that trigger is Singleton, which means only one instance will process jobs. https://github.com/Azure/azure-webjobs-sdk-extensions/wiki/TimerTrigger#singleton-locks

If you have work that needs to scale, we typically recommend using the timer to put that work into a queue and then have a `[QueueTrigger]` watch that queue. This will then scale out across all

[2019-07-25 15:44] ravick4u commented on #1393
I am seeing below error in job logs

[07/25/2019 12:02:08 > ec7f29: SYS ERR ] Job failed due to exit code -532462766

got below from event logs

[code]

[2019-07-25 16:00] #2233 closed

[2019-07-25 16:37] brandonh-msft commented on #779
@RockyBalboa2018 I'd encourage you to file new feedback on the product [via UserVoice](https://feedback.azure.com/forums/909934-azure-event-grid)

[2019-07-25 18:13] rybczak commented on #529
When can we expect to have this feature released to production?

[2019-07-25 20:28] lesley-w opened #2281 "Add filter/search by Status to Function Invocation Log in Azure WebJobs dashboard"
At the moment it is impossible to find Failed jobs without paging through hundreds of successful jobs.

Add the ability for the user to just see a list of Failed jobs.

[2019-07-25 22:37] essmd commented on #2175
@brettsam
i would like to do something like the following. The code is just dummy code to show how i expect or think about it to look like. I dont know the exact type names currently and i am only on mobile phone - so sorry for that, and i hope the idea for my expected behavior and process is visible anyway.

And sorry that i did not respond/react earlier. The project has been suspended then and i

[2019-07-26 07:19] ghost commented on #779
Done. But Product Manager seems very busy, no answers since May 2018 :-(

[2019-07-26 07:34] ghost commented on #2267
This is really inconsistent behaviour and I do not get how this came through code review. For the topic and subscription name you need to use `%` for using INameResolver. But for `ConnectionString` do not use `%`, it will use INameResolver when it's an incorrect connection string.

[2019-07-26 14:40] ravick4u commented on #755
I updated my main function with below code

[code]

and got this error

[2019-07-26 15:41] brandonh-msft commented on #779
@brettsam anybody you think we can get to put some 👀 on this?

[2019-07-26 15:43] brandonh-msft commented on #779
@RockyBalboa2018 what you're requesting is a feature for Event Grid; this is the Azure Webjobs/Functions Host repo. So, ultimately if you've filed on UserVoice you've contacted the right people; if/when EG starts posting BlobUpdated events, you'll be able to get them w/ Functions seamlessly via the HttpTrigger (or EventGrid trigger if you choose to use that).

[2019-07-26 15:44] brandonh-msft commented on #779
#please-close

[2019-07-26 15:45] brandonh-msft commented on #779
@brettsam I think we can close this based on the conversation that's taken place; you can trigger on blobs that match container names using event grid which is the advised way to trigger blob actions now (vs in 2016 when this was filed ;) )

[2019-07-26 15:52] brandonh-msft commented on #598
this code no longer exists; @brettsam, @fabiocav recommend close?

[2019-07-26 15:53] brandonh-msft commented on #1103
@brettsam @fabiocav close as fixed?

[2019-07-26 15:58] MisinformedDNA commented on #779
@brandonh-msft What's unfortunate is that the Functions team used to drive this, but now we have to rely on Event Grids who have made no progress in creating anything new for Azure Storage since Event Grid's GA. So you offloaded your work to a partner team and now it is dying.

[2019-07-26 17:35] fabiocav commented on #598
The issue may still apply today (the code now exists here https://github.com/Azure/azure-functions-servicebus-extension/blob/master/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus/Bindings/UserTypeToBrokeredMessageConverter.cs), but it isn't something we've seen requests for. I'm closing this for now, but we can reopening if this is a feature others would find useful. This would require some dis

[2019-07-26 17:36] #598 closed

[2019-07-26 17:39] fabiocav commented on #1103
Indeed. Thanks!

[2019-07-26 17:39] #1103 closed

[2019-07-26 18:39] riezebosch commented on #2099
Eventually, I found out and created a [tiny test helper library](https://github.com/riezebosch/AzureFunctions.TestHelpers).

[2019-07-26 18:39] #2099 closed

[2019-07-26 19:07] banisadr commented on #779
@MisinformedDNA I'm from the Grid team - just made aware of this thread. We have in fact added quite a bit of capability since Event Grid's GA including [Advanced filters](https://docs.microsoft.com/en-us/azure/event-grid/event-filtering#advanced-filtering) which directly addresses the issue raised in this thread at the beginning.

We also worked with the Azure Blob Storage team to enable [four ne

[2019-07-26 20:28] brandonh-msft commented on #779
Thanks @banisadr! For anybody wondering, [here's the UserVoice for Azure Storage](https://feedback.azure.com/forums/217298-storage) and [as of today it doesn't look like anybody is asking for Blob **update** events to be published to grid](https://feedback.azure.com/forums/217298-storage?query=grid) 🤷🏻‍♂️, but you can be the first! Incidentally, [there is one for Azure File event triggers](https:/

[2019-07-26 20:58] MisinformedDNA commented on #779
@banisadr Thanks for the comment and updates. It's good to know that we need to hound the services and not your team.

There was an [existing issue](https://feedback.azure.com/forums/909934-azure-event-grid/suggestions/38229229-support-blob-update) in Event Grid, but I filed a [new one](https://feedback.azure.com/forums/217298-storage/suggestions/38240866-support-blob-updates-on-event-grid) in the

[2019-07-26 21:46] vlad2077 commented on #2263
Unfortunately it works only for AF V2 while we are running on V1..

[2019-07-26 23:06] kashimiz commented on #2280
They're alive and well, just living in their own repositories now. :)

* [azure/azure-functions-eventgrid-extension](https://github.com/Azure/azure-functions-eventgrid-extension)
* [azure/azure-functions-servicebus-extension](https://github.com/Azure/azure-functions-servicebus-extension)

You can use [this GitHub query](https://github.com/Azure?utf8=%E2%9C%93&q=functions%20extension) to find all e

[2019-07-26 23:06] #2280 closed, assigned to nobody

[2019-07-26 23:08] Alxandr commented on #2280
You're wery right. I was searching for `webjobs` and not `functions`. Thanks :)

[2019-07-27 01:00] ghost commented on #2241
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2019-07-27 01:00] ghost commented on #2236
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2019-07-27 07:17] ghost commented on #2241
I will try the new version.

[2019-07-28 16:07] StingyJack commented on #822
A few years later and still getting this when debugging a brand new web job.

The WebJob has two functions; a schedule/timer trigger that runs once a day as well as a queue based trigger for reprocessing prior days. Both functions have the `[Singleton]` applied, with the scheduled function having no singleton params, and the queue function with a string value. The intent is to permit the functions

[2019-07-29 12:06] HaiyueChen opened #2283 "Webjobs.Extensions.Servicebus fails to start at localhost"
#### Repro steps

1. Create new Azure function service bus queue project in VS2019

2. Run the template project generated by VS2019 at localhost

#### Expected behavior

The application starts as usual

#### Actual behavior
![image](https://user-images.githubusercontent.com/40335150/62046937-780bcd80-b209-11e9-892a-59653ad282cf.png)
![image](https://user-images.githubusercontent.com/40335150/62046

[2019-07-29 13:06] brettsam commented on #822
To be clear -- there's not a fix that we can realistically apply here without a major change to how we invoke functions. We use timers to renew singleton locks and those timers run in the same process as the WebJob. If your WebJob functions use up enough resources such that the timers cannot fire in a reasonable time, the renewals will not occur and you'll end up with this error.

It sounds like y

[2019-07-29 13:29] brettsam opened #2284 "Support for Application Insights in the Azure Government Cloud [v2.x]"
Creating a separate copy of #2263 to explicitly do this for v2.x (and functions v1). The changes will be very different from the v3.x changes tracked in the other issue.

[2019-07-29 15:00] ghost commented on #2186
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2019-07-29 15:54] StingyJack commented on #822
The [Singleton] is applied to both functions in the webjob, and its not a concurrency problem. Only one function or function instance is running at a time. The only "problem" with the singleton is that I didn't expect it to pull a batch size > 1 from a queue. Knocking down the batch size to 1 and re-running the entire test again did not produce a 409 error and that error had been easily repeatable

[2019-07-29 16:00] ghost commented on #2220
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2019-07-29 17:41] davidmatson commented on #2186
Program.cs:
[code]

appSettings.json:
[code]

Two repro csproj's (normal-style with PackageReference, and new-style, more like Core/Standard):

Repro1.csproj (overall old project style but using PackageReference):
[code]

Repro2.csproj (new project style):
[code]

Both projects show the same problem - at startup, this error appears:
[code]

And then when a message appears in the queue, processing

[2019-07-29 23:44] secureaiexplorer commented on #2220
@brettsam I have not recently tried it. Can you share the details of improvements that have been made?

[2019-07-30 00:45] paulbatum commented on #2180
Yes, thanks for adding the tag.

[2019-07-30 02:00] #2236 closed

[2019-07-30 05:12] nicholastic commented on #1871
I've upgraded my WebJob to V3 and I can't for the life of me get it to work. I just want it to call a function I've written according to this CRON schedule: "0 0 8,10,12,14,16,18,20 * * *".

How do I do this? I just want a simple working code sample.

[2019-07-30 05:26] nicholastic commented on #1871
Since there's no documentation and I can't get it to work, I'd appreciate it if someone could answer my question with a working code example for a .NET V3 webjob that calls a function on a CRON schedule:

https://stackoverflow.com/questions/57264806/scheduled-net-webjob-v3-example

[2019-07-30 13:29] brettsam commented on #2220
The main one I was thinking about is here -- https://github.com/Azure/azure-functions-host/pull/4070, and there were a lot of follow-up improvements. The ScaleController (the service that watches for events and "wakes up" your app when needed) would occasionally get out-of-sync with what it should be watching. That would mean that you'd need to explicitly start your app in order to process anythin

[2019-07-30 13:29] #2220 closed

[2019-07-30 20:42] grahamehorner opened #2285 "Improve comments in SampleHost to be explicit about what connection strings are required to run it as-is"
SampleHost fails to run

#### Repro steps

Provide the steps required to reproduce the problem

1. set SampleHost as startup
2. run SampleHost

#### Expected behavior

should successfully run

#### Actual behavior

exceptions

[code]
#### Known workarounds
#### Related information

[2019-07-30 22:00] ghost commented on #2228
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2019-07-30 22:00] ghost commented on #2223
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2019-07-30 22:16] batizar opened #2286 ".NetCore 3.0 Upgrade"
Hi, I was just wondering if there is any plans for .NetCore 3.0 upgrade of the SDK.

Thanks.

[2019-07-30 23:30] nicholastic commented on #2060
Come on guys, this issue has been outstanding for ages, please fix it. I've finally managed to get V3 running (the V3 project templates STILL don't compile and the documentation to just get up and running isn't at all clear) and this is what I get:

warn: Host.Startup[0]
      Warning: Only got partial types from assembly: Microsoft.Azure.WebJobs.Extensions.Storage, Version=3.0.6.0, Culture=neutra

[2019-07-31 06:48] ankitkumarr opened #2287 "Batch type is not supported for Bindings implemented using Fluent Pattern..."
.. for out of proc languages.

Functions Host calls `JobHostMetadataProvider.GetDefaultType` method to figure out the right type to bind with ([src](https://github.com/Azure/azure-webjobs-sdk/blob/5df91e0e6a23b08db0ff37ecdf803c7a145bda1b/src/Microsoft.Azure.WebJobs.Host/Extensions/JobHostMetadataProvider.cs#L223)).
For fluent bindings, after nested series of calls, it ends up at `TriggerAdapterBin

[2019-07-31 14:02] anskanth commented on #2228
Hi, Thanks for that. I dont have any static classes. But when I tried to trigger the job from postman .. the first request is happening fine, while it is running state if i trigger one more time from postman i'm getting failure. the job is already running. Should I be enabling any setting for this?

Thanks again, Srikanth

[2019-07-31 16:59] blushingpenguin opened #2288 "jobs host is incompatible with ApplicationInsights-Kubernetes"
Please provide a succinct description of the issue.

#### Repro steps

class Blah : FunctionsStartup {
    public override void Configure(IFunctionsHostBuilder builder) {
        builder.Services.AddApplicationInsightsKubernetesEnricher();
    }
}

#### Expected behavior

the k8s enricher modifies TelemetryConfiguration and injects a helper which records k8s details in the telemetry

#### Actual b

[2019-07-31 19:52] blushingpenguin commented on #2288
seems like i was looking at an old version of the code:

https://github.com/Azure/azure-webjobs-sdk/blob/5df91e0e6a23b08db0ff37ecdf803c7a145bda1b/src/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/Extensions/ApplicationInsightsServiceCollectionExtensions.cs

I tried registering an ITelemetryInitializer via a FunctionsStartup, but it wasn't seen by serviceProvider.GetServices<ITelemetryProvide

[2019-08-01 02:39] zackliu opened #2289 "Where's the document of creating a binding in new extensibility mode"
https://github.com/Azure/azure-webjobs-sdk-extensions/wiki/Binding-Extensions-Overview said there's a newer extensibility model to create a binding. But the link to  https://github.com/Azure/azure-webjobs-sdk/wiki/Creating-custom-input-and-output-bindings has broken. I can't find related topic at https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started neither.
So, where can I ge

[2019-08-01 13:37] agtenr commented on #1635
Any news on this. I am experiencing the same issue

[2019-08-01 18:08] czb182 opened #2290 "Graceful Shutdown for Triggered Webjob with only NoAutomaticTrigger"
.NET Core 2.2
Webjobs SDK 3.0.10

I am trying to figure out a way I can do a graceful shutdown of my triggered webjob when i manually restart app service, or it is automatically restarted/recycled.  I have only a single function decorated with [NoAutomaticTrigger] called like this.  This is a long running job for many hours, and there are things i would like to do before it is forcibly stopped.

[

[2019-08-01 19:12] #2287 closed, assigned to ankitkumarr

[2019-08-02 07:28] riezebosch commented on #1390
Checkout my solution: https://github.com/riezebosch/AzureFunctions.TestHelpers. It indeed uses the JobsHost from the SDK with some helper functions & classes aside to invoke http-triggered functions and wait for orchestration completion.

[2019-08-02 12:48] fmannhardt commented on #2098
Same problem here, this just cost me a few hours to track down this bug.

[2019-08-02 15:43] jeffhollan commented on #1390
@riezebosch this is awesome! So glad someone took some time to look into this as my sample is very stale at this point.  Will check this out

[2019-08-02 17:27] mjpandian commented on #1995
The approach mentioned here requires the Secret URI to be used. https://azure.microsoft.com/en-us/blog/simplifying-security-for-serverless-and-web-apps-with-azure-functions-and-app-service/.. In our case we don't have access to the Keyvault in prod to get the URI.  Are there any options to set the Cosmos DB Trigger Connectionstringsetting through Webjobs ?

[2019-08-02 21:47] paulbatum commented on #2289
We recently removed a bunch of out of date information hosted on the webjobs wiki and it looks like this was included in that (I think by accident). I've restored the content:
https://github.com/Azure/azure-webjobs-sdk/wiki/Creating-custom-input-and-output-bindings

[2019-08-02 21:47] #2289 closed, assigned to nobody

[2019-08-02 21:51] paulbatum commented on #2286
Can you elaborate a little on what you had in mind? WebJobs targets .NET Standard 2.0. If we updated the SDK to take advantage of .NET Core 3.0 features, it would not longer be .NET Standard 2.0 compatible.

[2019-08-02 22:05] paulbatum commented on #2283
So there are a few different issues interacting here.

If I follow your steps as written, it is expected that the application will not work correctly, because you did not provide a service bus connection string. When you build locally you should see:
![image](https://user-images.githubusercontent.com/10663/62400902-c553ac00-b535-11e9-90d7-61939b729949.png)

When you run, you should see the followi

[2019-08-02 22:05] #2283 closed, assigned to nobody

[2019-08-02 22:18] paulbatum commented on #2281
Thanks for the feature request, but we are no longer investing in the WebJobs dashboard. Most importantly, it does not work with WebJobs 3.x. We recommend monitoring WebJobs with App Insights:
https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started#add-application-insights-logging

I am closing this issue because we would only consider updating the dashboard for extremely critic

[2019-08-02 22:18] #2281 closed, assigned to nobody

[2019-08-02 23:00] #2223 closed

[2019-08-04 00:58] kbdavis07 commented on #1094
Having same issue in Aug 03, 2019

    1.Does performing a restart gesture on the webapp that is hosting your webjob resolve the issue?

No

    If you look at the files using the kudu console (see here for info) within D:\home\site\wwwroot\app_data\Jobs do the new files appear or the old ones?

Files are gone, but still seems to be running, even when the web job itself has been deleted.

Seems af

[2019-08-05 07:05] rollsch commented on #1327
Any update? This is kind of annoying as I have to sit there waiting for 10 minutes for the trigger to reprocess each blob. I'm not sure why but the receipts get reset sometimes which means it will reprocess everything

[2019-08-05 15:33] #1482 closed

[2019-08-05 21:11] alrod commented on #2257
Fixed in: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.ServiceBus/3.1.0-beta4

[2019-08-05 21:11] #2257 closed

[2019-08-05 21:23] alrod commented on #1024
The feature is in beta state (Microsoft.Azure.WebJobs.Extensions.ServiceBus 3.1.0-beta4-batch). If you want to try please reference the package from here:
https://www.myget.org/feed/azure-appservice/package/nuget/Microsoft.Azure.WebJobs.Extensions.ServiceBus

I would be grateful for any feedback.

[2019-08-05 21:30] alrod commented on #529
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.ServiceBus/3.1.0-beta4 is out.

@tidusjar, @mpnow the issue for resolving %Variable% is fixed in beta4.
@rybczak, most likely the feature will be released in September

[2019-08-05 22:59] marknblueswitch commented on #1731
Are there any plans to make Azure Storage Queue auto trackable?

I've tried out a few things to enable end-to-end correlation when Azure Queues are involved, but couldn't find a way to make it work. Even if I manually serialize a `ParentID` as part of my Queue payload, I can't find a way to use it to set the Request telemetry ParentID for the Function that consumes the Queue message.

I guess what

[2019-08-06 13:44] brettsam commented on #2290
@mathewc -- we should be canceling this token, right? Looking through the code, it looks like we'll use the `ShutdownFunctionExecutor` which should be canceling the correct token here.

[2019-08-06 13:58] brettsam commented on #2285
You need to have the service bus connection string set up (or you can just remove `.AddServiceBus()`)-- I'm going to repurpose this issue to "beef up the sample comments". I agree we should be explicit about what's required to get this to run.

[2019-08-06 14:01] brettsam commented on #2288
Is this using WebJobs or Functions? Can you share how you're registering it?

In general, the `AddApplicationInsights...()` methods that come from other teams aren't going to work well with WebJobs because so much custom stuff was built before these exist. Now they're using some new patterns that we'll have to adopt.

That being said, if you're looking to add an `ITelemetryInitialzer`, that should

[2019-08-06 14:02] brettsam commented on #2264
Have you tried doing this in `FlushAsync()`? You're correct that we don't check for IDisposable on these -- but Flush is called at the end of the function execution, so it may get you what you're looking for...

[2019-08-06 14:11] brettsam commented on #2267
We've had lots of discussions around this and it is indeed confusing.

@Freddy090909 -- is this in WebJobs or Functions? How are you resolving it? Can you add that resolution to a ConfigurationProvider that you register with the host? Then the lookup will go through that to resolve it...

[2019-08-06 14:17] Alxandr commented on #2264
I don't want to dispose (close open connections) in `Flush`, cause I use `Flush` from the function itself (it's called multiple times).

[2019-08-06 14:25] brettsam commented on #2264
Fair enough -- it should be fairly straightforward to check if the collector implements IDisposable and then call it.

In the meantime -- are you using this exclusively in C# as an output binding? You could get proper disposal today by creating your own service, registering it with DI as Transient and injecting it into the constructor. It can have whatever API you want and should be disposed with

[2019-08-06 14:36] Alxandr commented on #2264
I wrote my own binder, cause I ran into other cases that the default `BindToCollector` couldn't deal with, so it's not really an issue for me anymore. I was quite surprised when my `IDisposable` collectors weren't disposed though, so I'd argue that this should be fixed regardless, and as you say it should be fairly easy to do.

The runtime already calls `Dispose` on binders that implement it, so i

[2019-08-06 15:14] blushingpenguin commented on #2288
It's functions.  To register it I have a class derived from FunctionsStartup:

[code]

then I've done some fiddling about with the debugger where I see DuffTelemetryInitializer being added to services.  Next I end up in ApplicationInsightsServiceCollectionExtensions.cs where SetupTelemetryConfiguration is called, and stepping into that function I don't see the DuffTelemetryInitializer, just these:

[2019-08-06 15:17] brettsam commented on #2288
Can you share your PackageReferences in your csproj? What version of the host are you running locally (it should say on startup). You may be on an older host that is not using the latest App Insights packages. That means we don't see your `ITelemetryInitializer` b/c it's too far ahead.

[2019-08-06 15:25] blushingpenguin commented on #2288
[code]

refs is a bit fiddly, but ultimately ends up as:
[code]
which pulls in Microsoft.ApplicationInsights 2.10.0

[2019-08-06 15:33] brettsam commented on #2288
Yeah, that's it -- grab the latest CLI and you should start working.

[2019-08-06 15:44] blushingpenguin commented on #2288
Yes, that's got it working so I should be able to bootstrap the k8s extension that way. Thanks very much for the help.  I haven't closed this as it would be nice if this just worked out of the box -- given that the functions host configures AI anyway, it would seem reasonable for it to configure the k8s extensions too.  (Similarly to not having AI turned on, they don't do any thing if they aren't

[2019-08-06 15:54] brettsam opened #2292 "Revisit Application Insights DI service registration"
AppInsights now has their own `AddApplicationInsights` method, which sets up special hooks (like `ITelemetryProcessorConfigurator`, etc) that are really nice and starting to become more prevalent. Because we do everything internally on our own (we wrote this before the DI stuff from App Insights appeared), a lot of these new methods don't work with us.

We need to revisit this -- a lot of support

[2019-08-06 15:56] brettsam commented on #2288
I've gone ahead and created a more global issue that I can start to link all of these individual issues to: #2292. I'll close this one since this specific issue is addressed. Ultimately, we'll need to rewrite a lot of our service registration code in order to work with what they've added recently.

Thanks for the report!

[2019-08-06 15:56] #2288 closed, assigned to nobody

[2019-08-06 16:47] czb182 commented on #2290
I see several cancellation tokens linked together, but I wasn't able to follow in code, if was actually passed to a webjob function of that particular trigger (NoAutomaticTrigger).  I also wasn't sure if maybe the ShutdownFunctionExecutor was did work for continuous webjobs, rather than trigger.  I also tried passing in my only CancellationToken into the JobHost.CallAsync method, but it seems to b

[2019-08-06 22:00] ghost commented on #2286
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2019-08-07 02:28] batizar commented on #2286
@paulbatum Yes, I wanted to know if there will be a .NET Standard 2.1 version of it available.

[2019-08-07 05:22] paulbatum commented on #2286
Providing a .NET Standard 2.1 version would require multi targeting, because we have no plans to drop .NET Framework support. We could do this, but only when we feel like we're getting something particularly valuable or important out of introducing that complexity. Did you have any specific ideas about why a .NET Standard 2.1 targeted version of WebJobs would be useful? For example is there some s

[2019-08-08 05:57] itsashish-patel opened #2307 "Azure Blob Trigger function: sometime the function was not trigger for some blob/file, it's a random issue"
#### Investigative information

- Timestamp: 2019-08-08T05:30:57.6444613Z
- Function App version (1.0 or 2.0): 2.0
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: c27df957-9b67-4164-a1a7-da53c7d9d4ce
- Region: Australia East

#### Repro steps

- As it random issue, the azure function was skipped blog trigger for some file,
- you may upload many file in blob storage and c

[2019-08-08 11:30] batizar commented on #2286
Nothing from top of my head right now but there seems to be some performance improvements from just upgrading the host .NetCore 3.0 so I was wondering if you guys have any plans to look into it.

[2019-08-08 16:33] Freddy090909 commented on #2267
This is in a function app.
Currently, we are resolving %topicname% and %subscriptionname% using an INameResolver, because we grab these connection strings from an API endpoint that stores all of our application connection strings. For the %connectionString%, we are just falling back on using the function app settings until we can find a work around.

I wrote up a ConfigurationProvider as a work ar

[2019-08-08 17:12] DawgCoder commented on #2263
How would I set the 3 URLs using Azure Functions V1. The example above is using V2. Is it possible in V1?

[2019-08-08 18:31] paulbatum commented on #2286
Got it. Upgrading the functions host to .NET Core 3.0 is a different work item to what you described above and yes we are absolutely working on that. You can follow our progress here:
https://github.com/Azure/azure-functions-host/tree/3.x

There'll be more announcements and details on this as the work progresses.

I'm going to close this issue because we don't have any .NET Core 3.x upgrade plans

[2019-08-08 18:31] #2286 closed, assigned to nobody

[2019-08-08 23:29] alrod opened #2295 "V1 ServiceBus trigger handles TaskCanceledException inproperly"
1.This code completes the message, the message didn’t go dead letter queue:
        [FunctionName("Function1")]
        public static void Run([ServiceBusTrigger("samples-topic", "samples", AccessRights.Manage, Connection = "")]string mySbMsg, TraceWriter log)
        {
            log.Info($"C# ServiceBus topic trigger function processed message: {mySbMsg}");
            throw new System.Threadin

[2019-08-09 09:17] ijagberg opened #2308 "Custom Metrics don't seem to work when using DI with typed ILoggers"
Function App v2.0

I am using Dependency Injection via FunctionsStartup, and my services request an ```ILogger<T>```, which seems to be working for trace-logging, but not for metrics.

I have tried a few different variations of my host.json file to see if it is a problem with my logging filters, but nothing so far has worked. Even when I set the default filter to "Debug", no custom metrics show up

[2019-08-12 03:34] yuhaii opened #2296 "Microsoft.Azure.WebJobs.Extensions.EventHubs record incorrect offset of event hub"
#### Repro steps

Provide the steps required to reproduce the problem

1. Create an function app to receive event from event hub. Update Microsoft.Azure.Webjobs.Extensions.EventHubs SDK on function app to latest 3.0.6.

2. In crease the sending speed and send many events to event hub in a very shot time.

#### Expected behavior

Function app should receive the message  from event hub normally/

##

[2019-08-12 03:53] AartBluestoke commented on #2296
I am the customer named above and can also provide more information if needed.. A possible way to trigger this issue could be to delete and recreate a hub (eg: to change the partition count) with an azure function attached.

"lots" of exceptions is >100/second, resulting in thousands of in use network sockets(hit the max number possible for an azure function) and assorted error messages from any o

[2019-08-12 11:12] raymens opened #2297 "WebJobs 3.0.11 depends on WebJobs.Core 3.0.11 which is not listed"
The current released version of Microsoft.Azure.WebJobs (3.0.11) depends on Microsoft.Azure.WebJobs.Core (3.0.11) which is not listed. Most updated version of Microsoft.Azure.WebJobs.Core is 3.0.10.

Other package(s) that depend on Microsoft.Azure.WebJobs (3.0.11) and thus cannot be updated are:
- Microsoft.Azure.WebJobs.Extensions.Storage
- ?

#### Repro steps

Provide the steps required to repro

[2019-08-12 11:25] forki commented on #2297
noticed the same:

![image](https://user-images.githubusercontent.com/57396/62861708-9e9b2f80-bd04-11e9-853b-7146c53c7b5f.png)

[2019-08-12 18:43] lukepuplett opened #2298 "ServiceBusTriggerAttribute and BrokeredMessage"
Hello,

I was writing my first queue triggered function using "Functions 2" and I wanted to get access to the `UserProperties` on the message.

While reading, I have become confused by the **ServiceBusTriggerAttribute**. I'm using one from here:

[code]

The XML doc comments says.

and goes on to list, `BrokeredMessage`, `string`, `byte[]` or a model type that JSON will layout into.

![image](http

[2019-08-13 02:17] soninaren commented on #2297
This has been fixed. Microsoft.Azure.WebJobs.Core version 3.0.11 has been published

[2019-08-13 02:17] #2297 closed, assigned to nobody

[2019-08-13 02:38] itsashish-patel commented on #2307
Hi Azure Team, Looking for the updates?

[2019-08-13 07:33] yuhaii commented on #2296
Hello @brettsam , good day. May I know whether you have any suggestion on this issue? Thanks!

[2019-08-13 11:46] DAllanCarr commented on #2298
Check versions.

[2019-08-14 00:43] alrod commented on #2308
cc: @brettsam

[2019-08-14 09:23] lukepuplett commented on #2298
Thanks. I see it, buried 15 lines up. It at least needs a purple Note callout. These binding pages have too much responsibility and need refactoring; e.g. the Cosmos DB v2 page is enormous.

Azure docs are generally excellent. However, the Function docs are hard to follow.

I guess Functions has been under rapid change and the docs have suffered during this growth, and they're having to deal with

[2019-08-14 15:58] ghowlett2020 commented on #2026
A `ClaimsPrinciple` can be injected into your function....you can then check the users claims.

[2019-08-14 21:33] CharlieDigital commented on #1690
Also interested as there are currently not many options for executing functions against sequenced queues.

[2019-08-15 09:53] Alxandr commented on #1366
Given that the `HostNameProvider` is defined in the host, and as far as I can see there is no nuget package for it to take a dependency on, how would I go about getting the current hostname in an extension?

[2019-08-16 13:08] OskarKlintrot opened #2302 "Correlation stopped working, dependency telemetry is no longer child to request (and where did Legacy Operation Id come from?)"
I get this strange behavior where the correlation of a WebJob-execution (`RequestTelemetry`) do not align correctly with the `DependencyTelemetry`. Looking at the properties it looks like `Legacy Operation Id` and `Legacy Id` makes more sense than `Operation Id` and `Request/Dependency Id`. However nowhere the `DependencyTelemetry` seem to have the `RequestTelemetry` as parent. I log the dependenc

[2019-08-16 16:07] MauriRojas commented on #2214
Hi @mathewc, are there any updates on this? Thanks!

[2019-08-19 20:55] Blackbaud-KrisMahon commented on #2036
@brettsam Any updates or ETA on this since it's been about 9 months?

[2019-08-20 03:43] yuhaii commented on #2296
Hello @alrod , thanks for checking this issue. We found that the event hub namespace had been re-created around issue time. After re-creation, the offset in event hub will be reset. But the storage still record the previous offset.

[2019-08-20 04:43] ranouf commented on #2063
Hi, I have the same error.

@panesofglass could you give more details about your fix, I dont know how to implement it, it does not seem to be C#.

Thanks :)

[2019-08-20 05:01] ranouf opened #2304 "QueueTrigger failed with binding expression pattern for Azure WebJob V3"
Hi,

I updated from Azure Webjob V2 to V3, but the queue trigger with binding expressions patterns (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns) doesnt work anymore.

Nugets:

[code]

Here is my code:

[code]

Here is the exception I get:

Is there a workarount to make it work?

Thanks

[2019-08-20 05:28] ranouf commented on #2304
I fixed it by adding a CustomNameResolver.

[2019-08-20 05:28] #2304 closed, assigned to nobody

[2019-08-20 12:19] FinVamp1 opened #2305 "Support for Application Insights in the Azure China Cloud [v3.x]"
As mentioned in #2263  there is a way via DI to configure the endpoints for the Application Insights Telemetry for C# Functions.

We've had an IcM 140683853 which is asking for similar functionality for the Azure China Cloud but for PowerShell Functions.

The steps in the linked post can't be used for the out of process language workers.

[2019-08-20 13:25] panesofglass commented on #2063
@ranouf, the above is F#. For C#, the following should work:

[code]

[2019-08-20 18:48] ranouf commented on #2063
Thanks, it works!

[2019-08-20 19:38] paulbatum commented on #2161
Fixing this probably requires both a webjobs SDK update as well as a sync path implementation in each binding extension. This is a relatively large work item for which there is no current ETA. We strongly recommend customers use IAsyncCollector to avoid this problem entirely.

[2019-08-21 08:51] mark-buhagiar commented on #2098
Can we get an update on this please? This is causing a major headache for us!

[2019-08-21 09:14] tsimafei-mazouka commented on #2098
I prefer to have errors-free analytics. So, here is a workaround that I use:
https://gist.github.com/nardieu/24bedee7c488376fb508aee79e808eae

And usage:
[code]

Also this solution allows you to reuse config for easily getting settings from `local.settings.json` as a property of `AppConfig`.

[2019-08-21 09:17] mark-buhagiar commented on #2098
Thanks @nardieu. I was actually thinking of writing something similar. Definitely will be making use of this until the issue is resolved. Thanks for sharing.

[2019-08-21 12:48] vullnetyy commented on #1240
I need this for testing purposes. I've got an event hub with a 7 day retention policy containing approx 200 million events and I am only interested in the evens happening right now. Even though I used something like:
[code]
I will still need to waste 24 hours of compute time (and wait) before I get to the events I'm actually interested in. Is there something I can do to get around this?

[2019-08-21 15:07] SergiyKostenko commented on #2098
Hi, I already did before. Nothing is changed since that time.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: delta25 <notifications@github.com>
Sent: Wednesday, August 21, 2019 12:17:32 PM
To: Azure/azure-webjobs-sdk <azure-webjobs-sdk@noreply.github.com>
Cc: SergiyKostenko <sergiy.kostenk@gmail.com>; Manual <manual@noreply.github.com>
Subject: Re: [Azure/a

[2019-08-21 22:33] ranouf opened #2306 "Which is better, one Azure Webjob and multiple triggers or multiple Azure Webjobs and one trigger?"
I m currently developing a solution where I need to use Azure Webjob. I have 4 QueueTriggers to handle, they all share some common code.

Usually I create an Azure WebJob per trigger and create a Common library.

But I realized that I could have only one Azure Webjob which manages all Triggers. The interesting part with that is there is only project and one HostBuilder is instanciated which means

[2019-08-22 22:29] paulbatum commented on #1240
Until we get this feature implemented, you'll need to modify the checkpoints manually. I have not attempted this myself but here is what I would try:

1. Create a simple console app that uses the event processor host nuget package and then use their API to start processing the stream from the point in time you want. Configure this app to use some separate storage account you've made. Run it long e

[2019-08-23 13:52] brettsam commented on #2307
Do you have an example of when this happens? For example, is it during a batch upload that all have the same timestamp -- but some are not processed while others are? Or are you slowly uploading and they're just never triggered?

[2019-08-23 13:53] brettsam commented on #2307
It may be related to #2202. Waiting on more details.

[2019-08-23 13:57] brettsam commented on #2308
This is a bug. We currently only apply the metrics if it comes from our logger that we pass in. We check the category/event pair. When you inject a logger, that category isn't what we expect.

One workaround -- you could request a `TelemetryClient` in your class constructor (DI will inject it) and log your metrics directly via that.

[2019-08-23 18:50] jdrake3 commented on #2160
@markmcgookin how did you resolve this?

[2019-08-23 22:04] melenaos commented on #590
`TimeoutAttribute` seems perfect for most of the discussed problems but it has to be implemented in many places in the job, just as it should be done for any `CancellationToken`.

My concern is that the "hung" part of the job might be a single unit that it won't throw exception when the `CancellationToken` is triggered.

[code]

How we can stop the webjob process execution in the same way we can d

[2019-08-24 09:01] markmcgookin commented on #2160
I believe that it was just ignorance about setting up a webjob using the v3 style of configuration. Config probably looks something like this:

[code]

And config

[code]

Then my webjobs use a service bus trigger so I have all the stuff in to support that, but the host builder should pick it up based on the fact that it has the trigger attribute in it's arguments

[code]

[2019-08-26 13:23] brettsam commented on #2306
When you say --

-- do you mean you're creating separate *projects* for each trigger?

You can absolutely use many triggers in a single project. For most people, that's the approach we recommend. Like you said, there's less overhead this way (one project; one deployment; etc). For certain scenarios it can be better to run separately -- you may have one really resource-intensive function that you'd

[2019-08-26 19:16] ranouf commented on #2306
Yes, exactly, I created a separate project for each trigger.

Thanks for your answer which confirms my thinking :)

[2019-08-26 19:16] #2306 closed, assigned to nobody

[2019-08-26 21:54] ranouf opened #2309 "Typo in DispatchQueueEndToEndTests"
https://github.com/Azure/azure-webjobs-sdk/blob/7b19acdfa6e86df08fba2175181979c9e87f5c59/test/Microsoft.Azure.WebJobs.Host.EndToEndTests/DispatchQueueEndToEndTests.cs#L177

Minor typo, can you replace __funcInvocation.Add("PosionQueueProcess");_ by __funcInvocation.Add("PoisonQueueProcess")_;

[2019-08-26 22:12] ranouf opened #2310 "How to do Integration Tests with Azure Webjobs V3?"
Hi,

I have an Azure WebJob with a QueueTrigger. I use HostBuilder with Autofac for Dependancy Injection.

I can test manually that my QueueTrigger is launch each time a new element is added to the queue and read the log to verify that every things is correct. I would like to automatize it.

I dont really know where to start, I thought [DispatchQueueEndToEndTests.cs](https://github.com/Azure/azure

[2019-08-27 06:37] mpseidel opened #2311 "Upsert operation possible for Azure Table Storage binding?"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Use table storage output binding in node function in App Service plan

2. Output table item with existing RowKey, setting Etag: "*"

#### Expected behavior

A upsert operation is executed as mentioned [here](https://stackoverflow.com/a/55527201)

#### Actual behavior

Func

[2019-08-27 11:54] lfalck commented on #1145
In case anyone else ends up here like i did: I experienced this problem as well with a Logic App "Create Blob" action. The workaround was to disable chunking. This limits upload size to 50mb. Another workaround if you need a larger upload size is to upload to a temp path and then use the "Copy Blob" action which does not have this issue.

[2019-08-27 12:53] brettsam commented on #2309
Those look the same to me :-) Where is the typo?

[2019-08-27 13:07] brettsam commented on #2310
You can find all of our Storage EndToEnd tests (they actually hit storage, but I believe they'd work with an emulator as well) here: https://github.com/Azure/azure-webjobs-sdk/blob/dev/test/Microsoft.Azure.WebJobs.Host.EndToEndTests/AzureStorageEndToEndTests.cs.

You can see that it creates a new host for the tests to run here: https://github.com/Azure/azure-webjobs-sdk/blob/dev/test/Microsoft.Azu

[2019-08-27 13:07] brettsam commented on #2310
I'm going to close this as it's not an active (code-related) issue. But please let me know if you need any more follow up and I can help out.

[2019-08-27 13:07] #2310 closed, assigned to nobody

[2019-08-27 13:58] mpseidel commented on #2311
@brettsam thanks for checking. This is my code

[code]

[2019-08-27 14:00] ghost commented on #2307
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2019-08-27 14:22] mpseidel commented on #2311
Thank you! I actually just tried it in C# but it seems challenging just to copy some arbitrary attributes from an incoming JSON message to a table entity.

So if this could be solved in node that would be awesome.

[2019-08-27 14:25] brettsam commented on #919
Setting `ETag` to "*" does indeed work here (I didn't actually know that!). We'll treat it as an InsertOrReplace operation. There's a stackoverflow post with an example here: https://stackoverflow.com/questions/36792547/azure-functions-table-binding-how-do-i-update-a-row/55527201#55527201.

It looks like this does not work from node, however. Azure/azure-sdk-for-net#32637 is tracking that.

[2019-08-27 14:30] stephlocke commented on #919
Amazing 🎉

[2019-08-27 14:48] mpseidel commented on #2311
Great. So looks like this can be fixed with little effort? If so when can we expect it to be shipped?

[2019-08-27 15:20] ranouf commented on #2310
Thanks @brettsam for your answer, I will take a look on it.

[2019-08-27 15:41] metoule opened #2312 "[Question] Timeline for .NETStandard 2.1"
I'm trying to migrate an Azure function to ASP.NET Core 3, but the Nuget package `Microsoft.Azure.WebJobs` is not available for netstandard2.1.

Could we have a roadmap / timeline for netstandard2.1 support?

[2019-08-27 15:51] ranouf commented on #2310
From what I see there [AzureStorageEndToEndTests.cs](https://github.com/Azure/azure-webjobs-sdk/blob/dev/test/Microsoft.Azure.WebJobs.Host.EndToEndTests/AzureStorageEndToEndTests.cs), QueueTrigger functions are not Async which allow you to have a out parameter which can be read by Integration Tests. Is there a solution to do that with Async?

It s not an easy going Testing, to use "ConfigureDefaul

[2019-08-27 19:15] hsubramaniam opened #2318 "Azure Functions host - Lease lock http 409"
#### Is your question related to a specific version? If so, please specify: Functions runtime V2

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All) C#, .net core 2.2

#### Question

I have a Azure function triggered by Azure Service Bus topic. Occasionally I see a lot of http 409 errors in Application Insights when the functions host tries to acquire a lock i believe

[2019-08-27 20:44] brettsam commented on #2310
You need to decide how you want to verify that your function executed as expected:
- Check some output artifact.
- Log something. We register a TestLogger so we can check logs.
- Inject some test services that allow you to monitor behavior internally (i.e mock out some service call, etc, that allows for easier validation in tests).

All of this works sync or async.

I don't necessarily recommend t

[2019-08-28 05:12] itsashish-patel commented on #2307
Hi @brettsam,

They are sometime triggered and sometime not, the blob are available in container but the blob function was not trigger for the blob when the blob got uploaded through logic app

[2019-08-28 13:12] brettsam commented on #2318
Are you seeing these in the Dependencies in app insights?

The 409s for lease ownership are expected and not actually errors. When a host starts, it attempts to acquire a lock -- if another host has it, it gets a 409 back. App Insights treats anything as 400+ as an error, so it flags these. If you can share exactly where you're seeing it, we can see if there's any way we can minimize it.

[2019-08-28 13:35] brettsam commented on #2312
We have a branch in Functions working on ASP.NET Core 3.0 support right now (https://github.com/Azure/azure-functions-host/tree/3.x). However, we will not be moving WebJobs forward to netstandard2.1 as that's not actually required to move Functions to ASP.NET Core 3.0.

As for timeline -- the work is in progress but I'm not sure if we've given out any dates yet -- @paulbatum?

I'd love to hear you

[2019-08-28 13:35] brettsam commented on #2312
I'm going to close this as it's not an active issue -- but we can continue the conversation here.

[2019-08-28 13:35] #2312 closed, assigned to nobody

[2019-08-28 13:38] brettsam commented on #2302
What version of WebJobs (and the AppInsights nuget) are you using? How are you accessing the TelemetryClient from your function?

[2019-08-28 13:47] brettsam commented on #2048
@FinVamp1 -- can you keep your eye out for this scenario? I've just had another customer hit it. I think if we see it enough, we need to bump up it's priority.

[2019-08-28 13:51] metoule commented on #2312
My scenario is that I have shared libraries between my main web app (ie. customer facing) and my Azure functions, and I'd like to avoid multi-targeting because it's not that easy: netstandard2.1 introduces `IEnumerable.ToHashSet` while I previously used the MoreLinq implementation, and both conflict with one another. If I want to multi target, I'd need to introduce a lot of compilation guards arou

[2019-08-28 17:32] 8ggmaker opened #2313 "Assembly missing in WebJob temp working directory"
our own code bug, ignore this

[2019-08-28 18:07] paulbatum commented on #2312
A related issue: https://github.com/Azure/azure-webjobs-sdk/issues/2286

@metoule Can you help me understand why the scenario you described requires multi-targeting? Your shared library can be .NET Standard 2.1 and reference the WebJobs 3.x packages while they remain on .NET Standard 2.0.

As far as I can tell, the only scenario where it would make sense for us to provide a .NET Standard 2.1 targe

[2019-08-28 18:11] zsybupt commented on #2313
And I try to set is_in_place = true to avoid copy to a temp working dir, it works, but another problem occurs: we use RoleEnvironment.IsAvailable = true to check if job runs on azure, when is_in_place = true, it return false and leads to read wrong configuration in app.config.

[2019-08-29 04:58] zsybupt commented on #2313
before we receive a servicebus queue message, there are 258 items in the temp working dir
![beforeservicebus](https://user-images.githubusercontent.com/3711046/63911328-76c5fe80-ca5c-11e9-86dd-c15e14028eee.PNG)

but receive a service bus message, and try to load Microsoft.Graph.Core.dll to process the message, it becomes 39 items, lots of assembly disappeared, it is really confused.
![afterservice

[2019-08-29 05:00] zsybupt commented on #2313
@brettsam @mathewc  Anyone can help ?

[2019-08-29 05:01] zsybupt commented on #2313
@jzbuaa

[2019-08-29 05:15] hsubramaniam commented on #2318
@brettsam Yes, I am seeing it on Dependencies in app insights.  Its good to know these are not errors that affect function execution. However, too many such exceptions thrown, especially in a high volume use cases, could quite possibly decrease the overall throughput. And decrease in throughput could mean more time needed to drain the queues and a fraction of increase in costs. Would be great if t

[2019-08-29 12:13] zsybupt commented on #2313
our own code bug, ignore this

[2019-08-29 12:54] #2313 closed, assigned to nobody

[2019-08-29 13:32] metoule commented on #2312
I encountered a bunch of weird MSBuild issues when trying to compile my Azure function code, and I assumed it was an issue with the netstandard version.

After trying to compile an Hello world example, it seems that I'm simply not using the proper VS tooling, because I find myself in the scenario described in Azure/azure-functions-host#3854.

For reference, I'm currently using:

- `Microsoft.NET.S

[2019-08-29 15:36] brettsam opened #2314 "Reconcile Function context objects with DI"
Things like `BindingContext`, `ExecutionContext`, etc, aren't registered with DI, but we may want to revisit this. Would allow you to build scoped services that would get these values injected with each function invocation.

[2019-08-29 16:43] dalestone commented on #2314
Yeah encountered the same issue, looks like it's scoped only to the actual functions, so you can't access it through normally DI start up unfortunately

[2019-08-29 18:08] mengblom opened #2316 "ServiceBusTrigger injects MessageReceiver as null when IsSessionsEnabled = true"
When binding to a session-enabled Service Bus queue, MessageReceiver is injected as null.

#### Repro steps
Create an Azure Function as follows:
        [FunctionName("MessageProcessingFunction")]
        public static async Task Run([ServiceBusTrigger("test-queue", Connection = "ServiceBusConnectionString",IsSessionsEnabled = true)]Message message, ILogger log, MessageReceiver messageReceiver, st

[2019-08-29 18:15] mengblom commented on #2316
Posted more appropriately here: https://github.com/Azure/azure-functions-servicebus-extension/issues/22

[2019-08-29 18:15] #2316 closed, assigned to nobody

[2019-08-31 08:16] ErikAndreas commented on #1240
Would also really need a way to tell a hub triggered function where to start (similar to EventPosition in [EventHubClient.CreateReceiver](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.eventhubs.eventhubclient.createreceiver?view=azure-dotnet)). Have a use case where we're really just interested in "current" (as real-time as it gets) data and catching up, like @vullnetyy mentioned is

[2019-08-31 13:00] ghost commented on #2309
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2019-09-01 14:00] ghost commented on #2302
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2019-09-02 05:32] OskarKlintrot commented on #2302
I'm using `Microsoft.Azure.WebJobs` version `3.0.11`, `Microsoft.Azure.WebJobs.Logging.ApplicationInsights` version `3.0.8` and `Microsoft.ApplicationInsights` version `2.10.0`.

I'm injecting the TelemetryClient in the ctor:
[code]

I took a sneak peak with
[code]
to see if there where more than one telemetry client registered but there is only one registered.

[2019-09-02 07:57] LXBdev commented on #1168
It seems to me like it does not work when TopicName and SubscriptionName is specified in the binding. EntityPath only contains the TopicName in this case. I tried `3.1.0-beta4`.

`Run([ServiceBusTrigger("topicname", "subscriptionName", Connection = "serviceBusConnection")]`
`"ServiceBusConnectionString": "Endpoint=sb://...;EntityPath=topicname"`

Is this intentional?

[2019-09-03 02:28] piquet-h commented on #1726
Given this is 12 months old - what information is required to progress this?

A common pattern is responding to event grid notifications. If the data is in the EventGrid schema notification, then it's going to be under the data property, which means, by default, it's nested.

I'd really like to be able to write a function.json with code similar to
`"sqlQuery": "select * from transactions where tra

[2019-09-03 06:14] natilivni opened #2317 "azure-webjobs-sdk 1.0.29 requires Microsoft Azure.WebJobs 2.3.0 But when running within the current functions 2.0 we are forced to use WebJobs 3.0"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

Create a funcions 2.0 project
install azure-webjobs-sdk 1.0.29
compile

#### Expected behavior

no nuget warnings

#### Actual behavior

get the following build warning:
warning NU1608: Detected package version outside of dependency constraint: Microsoft.Azure.WebJobs.Service

[2019-09-03 06:20] #2317 closed, assigned to nobody

[2019-09-03 14:24] brettsam commented on #2318
I do get a lot of questions about this. We currently just use the Storage SDK to check for locks, which results in these 409s behind the scenes. But we could:

1. Check if the lease is available.
2. If so, try to acquire it. (it may be a race and you still get a 409)

This would result in more HTTP requests at startup, but it would reduce a lot of steady-state 409s.

[2019-09-03 14:47] czb182 commented on #2290
Anything needed from me to help move this along?

[2019-09-03 21:01] jviau opened #2319 "dotnet publish does not package like DeployOnBuild=true does for SDK-style project"
Please provide a succinct description of the issue.

#### Repro steps

1. Create a new SDK-style webjobs project with webjob properties set. i.e.:
[code]

2. Run `dotnet publish`

#### Expected behavior

The web job is packaged into the correct structure: `app_data\Jobs\Continuous\MyWebJob\...`

#### Actual behavior

The web job is not packaged into the correct structure. It is only possible to ge

[2019-09-04 19:50] ranouf commented on #2309
Hi,

Posion => Poison
the **i** has to be before the **s** instead being after the **s**

[2019-09-04 20:45] FinVamp1 opened #2320 "Detect if the v2 ApplicationInsights Service for v2 has been replaced by customer dependency injection."
Customers are mistakenly overwriting the Application Insights dependency in Startup which results in missing data and dependencies not showing up in the Application Map.

This is referred to in the documentation here.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#logging-services

and here

https://docs.microsoft.com/en-us/azure/azure-functions/functi

[2019-09-04 23:59] MHanafy commented on #2157
@kroymann  I faced the same problem with NuGet v3.0.12 of Microsoft.Azure.WebJobs.Logging.ApplicationInsights, even without installing the other package.
Then I noticed there's a `logging.AddApplicationInsightsWebJobs();` that should be used instead of `logging.AddApplicationInsights()`; using it solved the problem.
The way I found it though is not ideal, I clicked peak definition which took me to

[2019-09-05 03:32] lmolkova opened #2321 "Application Insights: Configure QuickPulse ServiceId when telemtery module is created/initialized"
See https://github.com/microsoft/ApplicationInsights-dotnet-server/issues/1253

Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Create linux consumption plan function

2. Put some load so it scales up

#### Expected behavior

QuickPulse/LiveStream shows server per each Azure Function instance

#### Actual behavior

Quic

[2019-09-05 13:56] brettsam commented on #2309
Oh, yep! We'll squeeze this in with another fix.

[2019-09-05 14:13] #2309 closed, assigned to nobody

[2019-09-05 14:13] brettsam commented on #2320
We’ve already got a way to do this with the [DependencyValidator](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/DependencyInjection/DependencyValidator/DependencyValidator.cs), so we’ll need to plug these types in. Basically, if they’ve got “APPINSIGHTS_INSTRUMENTATIONKEY” set, they need to be using our services or we’ll throw on them in the CLI.

[2019-09-05 20:33] fabiocav commented on #2177
@jeffhollan reviewing the P1 assignments and, because of how long this has been in the queue, I'm removing that assignment so we can review.

[2019-09-06 10:21] marcinzi opened #2322 "Excessive POST {storageAccount}/Tables() from [Table] attribute binding"
We noticed on telemetry a lot of 409s from table storage dependency.
POST https://{our account}.table.core.windows.net:443/Tables()
result code 409

Looking for root cause found that [Table] attribute on binding to CloudTable object is most likely responsible for ensuring that table exists.

#### Repro steps

Run Azure Function bound to CloudTable parameter

#### Expected behavior

No excessive PO

[2019-09-06 12:07] joaopgrassi commented on #889
I'm experiencing this as well.. and since this is very old, I wonder what's the approach to solving it? I'm running a .NET Framework WebJob (v2), with a sample like this: https://github.com/mathewc/samples/blob/master/WebJobSamples/ContinuousJobGracefulShutdown/readme.md.

[2019-09-06 14:43] marnilss commented on #2302
I see a variation on this, RequestTelemetry (WebJob-execution) and DependencyTelemetry and TraceTelemetry match each other, but value sent in "Request-ID" header with HttpClient to backend systems doesn't!
BUT the value in customDimensions.ai_legacyRequestId (from e.g. WebJob request) matches the "Request-ID" header, which is the same as System.Diagnostics.Activity.Current.Id.

Why don't we get sa

[2019-09-06 22:04] lmolkova opened #2323 "Can't track custom telemetry with ApplicationInsights in some cases"
When using ApplicationInsights StartOperation with custom correlation ids, telemetry might not get logged because of missing category and log level.

Category and log level are set only when telemtery is logged through logger and on the Activity created by logger

https://github.com/Azure/azure-webjobs-sdk/blob/23e180a6b2a2877d89f0eb42de1afe3a4beda4f2/src/Microsoft.Azure.WebJobs.Logging.Applicatio

[2019-09-06 22:05] lmolkova commented on #2323
I'll try to address it after onboarding to the new version on the AppInsights SDK (this does not work on AI side as well - https://github.com/microsoft/ApplicationInsights-dotnet/issues/1205)

[2019-09-09 09:05] KamilLach commented on #1968
I've observed the same behaviour and noticed "null" entries are related to internal messages with **TriggerReason**  like _New queue message detected_

![image](https://user-images.githubusercontent.com/2822114/64518012-ac3ad980-d2f1-11e9-99b2-f7d7776ee33d.png)

Currently i am using *3.0.11* version of SDK

[2019-09-09 15:15] oising commented on #1324
Ping.

I followed up thinking #1563 was a solution, but it was closed in favour of "other work" -- I can't track this any further as the scent has gone cold... how does one use an external correlation ID for a function (v2) ?

[2019-09-10 16:52] brettsam commented on #2319
@fabiocav / @mathewc -- is this where we track issues with WebJobs builds? I'm not sure where the tooling for this lives...

[2019-09-10 16:54] brettsam commented on #2322
Yes, that seems aggressive. We can change this to check for existence first.

[2019-09-16 11:13] manu4rhyme-zz opened #2324 "Changing Triggered WebJob schedule doesn't work with WEBSITE_RUN_FROM_PACKAGE"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Deploy a .NET project (with webjobs) using the WEBSITE_RUN_FROM_PACKAGE app setting.

2. Try to change schedule using the Kudu API

#### Expected behavior

Schedule should be changed

#### Actual behavior

1) A folder write access error is thrown.
2) Apparently schedule is

[2019-09-16 11:16] ashuthinks opened #2325 "If exception occurs is there any way to send message into dead letter topic using c#?"
I have azure function app which trigger based on new message into service bus topic.

But if any exception occurs i want to send message into dead letter topic how to do that?

 [FunctionName("ProcessData")]
        public static void Run([ServiceBusTrigger("topic", "sub1", Connection = "ConnectionStringSettingName")]string mySbMsg, TraceWriter log)
        {
            try
            {

[2019-09-19 15:57] geotinc opened #2328 "WebJob triggered not working when deployed to azure"
Hi,
I have a proble with .net core azure webjob.
I use packages version 3.0.X of Microsoft.Azure.WebJobs.*

Locally, my job works great :

[code]

And job function :

[code]

Once deployed to azure app (I have already a deployed website deployed to that app), the webjob never run.

Don't understand why.

Thanks for helping.

[2019-09-19 16:58] DonFrazier-zz commented on #2308
Thanks for the update.  Looking forward to the fix but trying the workaround meanwhile.

[2019-09-19 21:49] ericsampson commented on #2134
@jeffhollan any way we could get an update on this please? TIA : ) There's a bunch of related issues but it's tough to know what's going on and when things are going to be usable.
https://github.com/Azure/azure-webjobs-sdk/issues/1314
https://github.com/Azure/azure-webjobs-sdk/issues/1284

[2019-09-20 00:06] fabiocav opened #2329 "Log services registered by startup classes"
We need to log services registered by custom `IWebJobsStartup` types registered with WebJobs. The log should contain the startup type name as well as all services (type, lifetime scope, etc.)

[2019-09-20 15:37] v-vlkuzn commented on #2263
Dependency Injection is a good solution for DotNet apps - I'd love to see support for other languages, having just encountered this issue with a NodeJs Function App. Ideally App Insights would be made aware of the environment-specific endpoints without user action.

[2019-09-20 16:57] artsherwood opened #2330 "Microsoft.Azure.WebJobs.Extensions.ServiceBus 3.1.0.0, dll signature seems to be invalid"
Please provide a succinct description of the issue.

Microsoft.Azure.WebJobs.Extensions.dll from Microsoft.Azure.WebJobs.Extensions.ServiceBus package version 3.1.0.0 won't load.

Provide the steps required to reproduce the problem

1. Download version 3.1.0.0 of Microsoft.Azure.WebJobs.Extensions.ServiceBus package
2. Call Assembly.LoadFile(_file location of Microsoft.Azure.WebJobs.ServiceBus.dll

[2019-09-20 17:12] brettsam commented on #2263
@fabiocav -- we need to get this on the schedule soon. We should expose EndpointAddress/ProfileQueryEndpoint/QuickPulseServiceEndpoint properties that we'll update the right pieces internally.

[2019-09-20 17:36] NickSevens commented on #1994
Not seeing anything happening here, so I assume this is off the table...

[2019-09-20 17:36] #1994 closed

[2019-09-21 09:25] ajaypathak opened #2333 "When trying to run queuetrigger azure function"
When I am trying to run a Queue Trigger Azure Function getting the following exception

After changing the .net core version to 2.2 also it is not working.

Microsoft.Azure.WebJobs.Extensions.Storage : 3.0.8
Visual Studio 2019,16.2.5
Azure Function Core Tool Version : 2.7.1585
Function Runtime Version: 2.0.12438.0

System.MethodAccessException
  HResult=0x80131510
  Message=Attempt by method 'Micr

[2019-09-23 07:05] rakeshagarwal0292 commented on #1526
Any solution to this problem?
I am also facing same problem.

[2019-09-23 07:22] valentine-palazkov commented on #1526
In my particular case the issue was in connection leakage.

I suggest to ensure that only one instance of HttpClient (it's thread safe) is used for example - I created many clients thus over time everything just stopped working.

[2019-09-23 07:29] idbates commented on #1526
I upgraded the webjob to run on .NET core 2.2 / Microsoft.Azure.WebJobs 3.0.12 and  Microsoft.Azure.WebJobs.Extensions.ServiceBus 3.0.6  which seems to have solved the issue. Upgrading involved some breaking changes due to differences in service bus using Microsoft.Azure.ServiceBus assembly rather than Microsoft.ServiceBus. BrokeredMessage is now Message class.

[2019-09-23 10:15] rakeshagarwal0292 commented on #1526
Hello @idbates Tried to upgrade the .net core and related dlls. Do you have any idea about following error:

System.IO.FileLoadException
  HResult=0x8013141A
  Message=Could not load file or assembly 'Microsoft.Azure.WebJobs.ServiceBus, Version=3.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. Strong name validation failed. (Exception from HRESULT: 0x8013141A)

[2019-09-23 11:10] idbates commented on #1526
Hi - I think thats because they moved the assembly to a separate nuget package.
![image](https://user-images.githubusercontent.com/7227960/65421186-0c09a800-ddfb-11e9-96f6-3e40e4385853.png) did you add a refence to Microsoft.Azure.WebJobs.Extensions.ServiceBus as yet?

[2019-09-23 11:34] rakeshagarwal0292 commented on #1526
Thanks @idbates Now it's working.
I am trying to see if the actual issue still persist.

[2019-09-23 16:32] SeanFeldman commented on #1757
@fabiocav @paulbatum a year later, the wiki is gone and this issue was not actioned. Would be good to at least capture some of the recommendations in this issue until documentation is ready.

[2019-09-23 17:33] fabiocav commented on #2263
Any idea on the size of this task?

@ahmedelnably for thoughts on priority.

[2019-09-23 19:09] brettsam commented on #2263
The engineering work would be pretty small. We need to expose the 3 properties I mention above and funnel them down to, basically, the code above, but in the TelemetryConfiguration initialization code. I've never actually deployed anything to a gov cloud before, though, so we may need some help figuring out how to set that up and validate.

[2019-09-24 06:03] rakeshagarwal0292 commented on #1526
ServiceBusTrigger problem still there. Many time it just keeps waiting.

[2019-09-24 07:05] valentine-palazkov commented on #1526
@rakeshagarwal0292 , do you use Http Client? For some reason ServiceBusTrigger is sensitive about an amount of http connections.

In my scenario I had a message with a bunch of emails to send. Then I was posting emails to our endpoints using HTTP Client in parallel thus making thousands of http connections opened simultaneously because I used an instance of HttpClient for each message.

It was wor

[2019-09-24 07:17] rakeshagarwal0292 commented on #1526
Hi @valentine-palazkov No, I am not directly using HttpClient. There are other libraries like Sendgrid which might be internally using HttpClient or anything like that. How can we verify that if there is any such issue?

[2019-09-24 07:29] valentine-palazkov commented on #1526
Azure Metrics section would help.

Take also a look at this page for extra details:

https://docs.microsoft.com/en-us/azure/app-service/web-sites-monitor
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-platform-metrics

There is also a valuable note from MS article that could give you an insight:

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-performan

[2019-09-24 08:26] t-l-k opened #2332 "Imperative Binding - make IBinder injectable"
Problem:

The scope for accessing `IBinder` appears to be fairly limited, presumably by runtime constraints?

Example: Attempt to create a function class instance and inject IBinder in the constructor. The function will fail to start as `IBinder` can't be resolved. Rather unexpected.

2nd Example: Create a consumer that has an `IBinder` dependency injected into its constructor, and then inject tha

[2019-09-24 10:22] rakeshagarwal0292 commented on #1526
Thanks @valentine-palazkov These docs are very informative. One thing which I could conclude and relate from these is not to instantiate QueueClient again and again, which was missing initially. I have fixed that but the issue is still there.

Let me give you an overview of what is happening on my side.

1. There are multiple process running on the same machine.
2. One of them is keep putting mess

[2019-09-24 12:38] rakeshagarwal0292 commented on #1526
So this is happening sometimes when queue is idle for a period. Is this a known issue?
Any solution?

[2019-09-24 17:46] fabiocav commented on #2333
@ajaypathak thank you for reporting this.

Do you have repro steps you can share?

[2019-09-24 17:55] #2144 closed

[2019-09-25 15:58] #2323 closed, assigned to nobody

[2019-09-25 15:59] #2321 closed, assigned to nobody

[2019-09-26 00:06] ajaypathak commented on #2333
You can fine the Sample code @
[https://github.com/ajaypathak/AzureFunctionBug](url)

[2019-09-27 01:54] fabiocav opened #2339 "Storage Queues Binding: Apply defaults based on environment capabilities and SKU"
Currently, the queue binding default configuration values are applied without taking the hosting environment into consideration. In order to correctly apply default configuration settings that take advantage of hosting capabilities like additional cores, memory, etc., we need to take those factors into consideration.

This should apply to all SKUs, except consumption, where we need to ensure we ma

[2019-09-30 07:17] simonbu11 opened #2340 "Dependency injection and http extensions are not compatible"
When building a new Azure Function app that utilises the constructor injection, everything works until a reference to `Microsoft.Extensions.Http` is added. Then the solution will not start with the error:

[code]

[2019-09-30 14:32] vitalii-lebedev opened #2341 "Make AzureWebJobsStorage work with Sas-Definition from keyvault storage."
I want to create a Function App and make it work with Storage Account through KeyVault Storage Sas-Definition.
In documentation it's written that there are 2 possible options:

1) @Microsoft.KeyVault(VaultName=myvault;SecretName=mysecret;SecretVersion=ec96f02080254f109c51a1f14cdb1931)
2) @Microsoft.KeyVault(SecretUri=https://myvault.vault.azure.net/secrets/mysecret/ec96f02080254f109c51a1f14cdb1931

[2019-10-01 01:32] electricessence commented on #2065
Could someone explain why there is still no option to use the latest packages?
Has anyone provided an alternative version/fork of the code that uses Microsoft.Azure instead of Microsoft.WindowsAzure?

[2019-10-01 07:15] andrew-vdb commented on #2065
Calling @jeffhollan

[2019-10-01 14:17] ninjavang commented on #2171
Have been wrestling with the same problem for some time. Running an express-server that communicates with a couple of .NET-microservices through the service bus. Everything worked great until trying to schedule a message.

- JavaScript -> JavaScript works fine.
- JavaScript -> ServiceBusExplorer works fine.
- JavaScript -> .NET (core) and the body ends up being null.

As I need to be able to cance

[2019-10-02 13:12] brettsam commented on #822
@hisuwh - let's continue the discussion here as your issue doesn't apply to Functions (the primary host lock is a Functions, not WebJobs concept). Do you have any logs you can share? Or would you rather do this via email, where we can get some better details, including code? If so, feel free to email me -- my microsoft email is in my github profile.

[2019-10-02 13:50] hisuwh commented on #822
The only relevant log I can see is the one I shared before (here with some more context):

[code]

As you can see it blows up before any functions have started running.  So as I said I'm not sure that any code I'm in control of can be impacting this.

[2019-10-02 14:23] brettsam commented on #822
Is this WebJobs v3? Can you share your function and startup code? Or email it to me?

[2019-10-02 15:05] hisuwh commented on #822
Yes Microsoft.Azure.Webjobs version 3.0.13 to be precise.

This is my function
[code]

This is my `Program.cs` file:
[code]

[2019-10-02 16:23] StingyJack commented on #822
@brettsam -  I glossed over this before, but EEK! Timers in windows services and other long running processes was always problematic in .NET, and it wasn't just from using "the wrong" timer class. You should strongly consider rewriting that to use something with a more reliable and predictable behavior.

[2019-10-02 18:31] brettsam commented on #822
@StingyJack -- Yes, there's no great solution other than moving off of Timers completely. But you need something to renew the lease, or to move the lease renewal out-of-proc, or switch to using some external service to manage locks. All are troublesome, and since this has always been resolvable by the customer with some code changes, we've just punted it over-and-over. Any suggestions to improveme

[2019-10-03 09:19] AbhishekTripathi commented on #2060
Plagued by same issue. Can I just say "wow" to Microsoft? :)

[2019-10-03 10:39] hisuwh commented on #822
@brettsam I can't really send you the entire source code.
I will give your second suggestion a try

[2019-10-03 16:59] fabiocav commented on #2060
Thank you for the ping and apologies about this getting lost in triage.

I'm reassigning this to the proper milestone for investigation.

In the meantime, @AbhishekTripathi, can you confirm that your setup and error is identical to what was originally reported? (as that is what we'll be using for investigation)

[2019-10-03 19:07] adrianm64 commented on #2149
I'd like to know this as well.

Currently I register a helper class and reference it in the function constructor. It works but feels like a hack
[code]

[2019-10-03 22:57] ericsampson commented on #2177
What does that mean?

[2019-10-04 02:55] adrianm64 opened #2342 "Injecting collection of delegates does not work in function"
I am trying to use the Azure Function DI to inject delegates but it doesn't work for multiple items.
Is this by design or a bug?

#### Repro steps
[code]
#### Expected behavior

`TestMultiple` to be injected with a sequence containing 2 delegates

#### Actual behavior

`TestMultiple` is injected with an empty sequence

#### Known workarounds

#### Related information

Same code works with `Microso

[2019-10-04 08:16] StefanSchoof commented on #2340
I think you must stay with the 2.2.0 version of the Microsoft.Extensions.Http. Seems like a core 3 problem in Microsoft.Azure.Functions.Extensions

[2019-10-04 11:05] mgardi85 commented on #2060
No. The warning I still see. But we are anyways planning to move the entire
stack to net standard /net core. Hope it is resolved by then.

On Tue 5 Mar, 2019, 5:25 PM Nick Sevens, <notifications@github.com> wrote:

[2019-10-04 22:42] tmenier opened #2343 "502 "Bad Gateway" errors consistently occurring when hitting "Run" on any function in Kudu"
As of Friday morning 10/4/2019, we cannot run a WebJob function manually through the Kudu console. When we click "Run", It spins for 2 minutes and returns a 502 error.

![](https://content.screencast.com/users/tmenier/folders/Jing/media/f45fc8d8-7acc-4efc-9560-074e3b1638be/2019-10-05_1130.png)

We're seeing it with multiple completely isolated production WebJobs (different App Service Plans, stora

[2019-10-05 17:20] tmenier commented on #2343
Update: As of today time-of-day timer triggers are again working, but still 502 from manual runs through Kudu. Seeing the same in an entirely new WJ with no code other than and empty function, backed by a new, empty storage account.

[2019-10-07 16:03] electricessence commented on #2065
https://github.com/Azure/app-service-announcements/issues/200
Is there any communication between the teams here to be certain that Functions V3 will have the latest packages?
It seems that if v3 leaves behind `Microsoft.WindowsAzure` then this problem might go away?

[2019-10-07 17:59] electricessence commented on #2065
@fabiocav, can you comment on the above?

[2019-10-07 20:20] fabiocav commented on #2065
@electricessence the extensions will be revved. There will be new major versions of the storage extension, as well as the storage based host services, using the latest storage packages.

Once those are out, you'll be able to use those newer versions to consume the latest SDKs.

[2019-10-07 21:50] electricessence commented on #2065
@fabiocav That is great news!  Thank you.
Last question: if this is a 'preview' how will I be able to get it working with Visual Studio, and will Azure itself support it right away?

[2019-10-08 13:52] sjkp commented on #2343
@tmenier I have the same error in the Lets Encrypt Site Extensions, I think their upgrade to support .net core 3.0 broke something.

[2019-10-08 20:26] alexgman commented on #2098
I'm having this issue, and I've got these libraries

![image](https://user-images.githubusercontent.com/4227695/66430522-e9bd8000-e9df-11e9-9536-cbd70e7f4983.png)

FYI, I've just upgraded the packages and having the same issue:

![image](https://user-images.githubusercontent.com/4227695/66432321-6d2ca080-e9e3-11e9-8847-bbf0fa206171.png)

[2019-10-08 21:26] ohiobobcat commented on #2343
can confirm I'm also receiving a 502 when attempting to manually trigger a timer function from the Kudu console.

[2019-10-09 07:48] danikun commented on #2343
We are facing the same issue, must be a general azure problem.

[2019-10-09 09:16] AbhishekTripathi commented on #2060
@fabiocav I am using v4.8 of the framework. Sadly, I can't move to dotnet core in this case because I rely on Saxonica for XSLT 2.0 transformations and this library only works with full framework. XSLT 2.0 transformation isn't supported natively by Microsoft stack (_surprisingly true_) and there is no third party free or paid alternative for dotnet core yet. A major pain but one of the perils of b

[2019-10-09 12:55] ross-p-smith commented on #2109
The above code fails for me as the StorageCredentails does not have an AccountName when created with a Token Credential. This would work if we could approve Pull Request #2000

[2019-10-09 18:15] robertsoniv commented on #2343
I have the same issue. I contacted Azure support and they were able to recreate the 502. She has informed me they are working on a fix... hopefully soon!

[2019-10-09 19:00] electricessence commented on #2065
@fabiocav Is there any way I can get early access to the preview.  I'm kind of in a bind, and it would be helpful if I could get ahead of the curve.

[2019-10-09 21:29] mathewc commented on #2343
We've found a regression in our recent App Service deployment (not related to .NET Core 3 or WebJobs). The issue affects form POSTs to the SCM/Kudu endpoint using SSO login. ARM and basic auth are not impacted and could be used for a workaround (@ahmelsayed). We're actively working on a patch for this.

[2019-10-10 01:42] suwatch commented on #2343
BTW you can browse to Kudu using basicauth by https://your-site-name.scm.azurewebsites.net/basicauth.   Please use that as workaround for now.

[2019-10-10 11:22] bguidinger commented on #2263
@brettsam let me know if you need help testing this.  I'd be happy to help!

[2019-10-10 13:18] tmenier commented on #2343
I confirmed the work-around is working for us.

If it helps anyone else, the Microsoft account you likely use to log into the Azure portal won't work for basic auth. You can find the credentials in the portal by navigating to your WebJob, highlight it, click Properties, and grab the username/password from that blade.

[2019-10-10 19:56] ElvisLives commented on #1962
Still hanging on to 2.0!  Not being able to re-run functions in a dashboard really hurt us.  It sounds like we are all going to have to write hand rolled APIs around running functions/webjobs.  It was a killer feature for us because we dont have to wireup yet more code or handcraft service bus messages then send then via ServiceBusExplorer.  This is also an issue with Azure functions.

[2019-10-11 00:02] davidmatson opened #2345 "QueueTrigger does not do graceful shutdown (leaves queue messages hidden)"
When doing graceful shutdown of the Host, any queue messages being processed are abandoned, left invisible in the queue and not available until the lease timeout expires, rather than releasing the leases to make the messages visible again and allow someone else to process them. For apps that use only QueueTrigger, this is the main thing graceful shutdown can/should do.

#### Repro steps

Provide t

[2019-10-11 00:28] davidmatson commented on #2345
I found the problem - in QueueListener.cs, ProcessMessageAsync takes in a single cancellation token and uses this token for both normal operations as well as the call to CompleteProcessingAsync. CompleteProcessingAsync then pases this cancellation token to ReleaseMessageAsync and then _queue.UpdateMessageAsync. So the code gets to the point to release the visibility lease on the message but then e

[2019-10-13 13:12] adrianm64 opened #2355 "Executed called before Exception in filters"
The ordering of the events in `IFunctionInvokationFilter` and `IFunctionExceptionFilter` is
* OnExecuting
* (Function runs)
* OnExecuted
* OnException

This means the Exception is logically outside the scope of the function execution and it will be difficult to do any kind of scope tracking/logging in the filter.

If the order is
* OnExecuting
* (Function runs)
* OnException
* OnExecuted

you can

[2019-10-14 23:12] worldspawn commented on #2134
The wiki page seems to be been removed :'( Filters appears to have no official web page.

[2019-10-15 06:57] alexsorokoletov commented on #1915
Does not seem to work if a web job/function is marked with `Singleton`

[2019-10-16 08:20] scp-mb commented on #2343
https://github.com/projectkudu/kudu/issues/3052#issuecomment-540413571

ETA for fix is 2019/10/18 it seems.

[2019-10-16 20:52] brettsam opened #2348 "Improve blob processing logs"
We're currently pretty blind when we're polling and processing blobs. Need to improve this so we can have some traceability through the system.

[2019-10-16 22:16] ChadNedzlek opened #2349 "Package description is "Package Description:"
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage

The package description is "Package description"

That is unhelpful and makes me not trust this is the correct assembly.

[2019-10-17 06:50] amigup opened #2350 "Azure Functions V1 (Microsoft.Net.SDK.Functions 1.0.29) with HttpTriggers code does not compile due to System.IO.FileNotFoundException of Microsoft.Azure.WebJob 2.2.0.0 in Microsoft.Azure.WebJobs.ServiceBus 2.3.0.0 version"
**Repro steps**

Create a new Azure Function project in Visual Studio 2019 (Microsoft.Net.SDK.Functions 1.0.29).

Add a new Azure function with HttpTrigger.

Install Nuget package Microsoft.Azure.WebJobs.ServiceBus 2.3.0

Compile the solution in Visual Studio

Expected behavior
Solution should be built successfully.

Actual behavior
Build fails with following error:
System.IO.FileNotFoundException

[2019-10-17 16:35] tmenier commented on #2343
I'm hearing reports from several people on my team that this appears to be fixed. I'll let you guys close this once it's official, but just FYI to anyone waiting on this.

[2019-10-18 08:25] scp-mb commented on #2343
Can confirm, seems to be resolved and certs can be requested properly now.

[2019-10-18 08:28] #2343 closed, assigned to nobody

[2019-10-18 13:32] gmanvel commented on #616
We have a .NET 4.7 deployment (Web App + Web Job), but web job fails to start with the following in the logs

Do we have to specifically target **.NET 4.7.2** for this to work ?

[2019-10-18 13:33] anna-git commented on #1950
same issue here

[2019-10-18 14:23] AbhishekTripathi opened #2352 "Job failed due to exit code -2146232576"
Please provide a succinct description of the issue.
Azure Webjob Host in portal doesn't run the webjob but gives following error. Local execution of the webjob in VS2019 runs perfectly fine.

[code]
#### Repro steps
Create a webjob targeting framework 4.8. Relevant project file snippet below -
[code]

Deploy the webjob to Azure. In my case it is a service bus subscription trigger function but I do

[2019-10-18 14:54] AbhishekTripathi commented on #2352
Update: I found that Azure AppService has not been updated to support the framework v4.8, I downgraded my webjob project to 4.7.2. I deleted the job and redeployed. I still get the same error.

[2019-10-18 15:01] fabiocav commented on #1950
@pzbyszynski / @anna-git  could you please open a new issue with the details of how you’re registering and consuming your services and the behavior you’re seeing? Scopes services should be working as expected and it would be good to take a closer look at your scenario.

[2019-10-18 15:14] AbhishekTripathi commented on #2352
Same issue with 4.7.1. Now attempting to downgrade to 4.7 which requires going through the Nuget hell to choose appropriate version of binaries.

[2019-10-18 18:05] AbhishekTripathi commented on #2352
Issue persists! :(

[2019-10-18 18:23] gmanvel opened #2353 "Job failed due to exit code -2146232576"
I left a comment under [Job failed due to exit code -2146232576](https://github.com/Azure/azure-webjobs-sdk/issues/616) which is closed, so thought maybe I should create a new issue.

Please let me know if this should be closed & discussion continued under the [closed issue](https://github.com/Azure/azure-webjobs-sdk/issues/616).

We have a .NET 4.7 deployment (Web App + Web Job), but web job fail

[2019-10-21 17:23] BenjaminKessler commented on #1577
Has a solution been found for this issue? I also need to create a custom Timer Schedule for my Azure Functions.

[2019-10-21 17:25] divyagandhisethi opened #2354 "I/O race condition detected while copying memory in CompositeTraceWriter"
[code]

Seeing more issues of this currently in CRIs.  Looks similar to #1533

[2019-10-21 17:44] divyagandhii commented on #2354
Also https://github.com/Azure/azure-functions-durable-extension/issues/691

[2019-10-21 21:35] ankitkumarr commented on #2355
I do not know what `IFunctionInvokationFilter` refers to.

@brettsam might be able to clarify the behavior / expectation here.

[2019-10-22 12:43] brettsam commented on #2355
/cc @mathewc, who owns this area.

That sounds reasonable to me -- I also think that executing/exception/executed sounds like the right pattern and allows you to create/dispose scopes.

[2019-10-23 16:42] mmusin commented on #2109
A year had passed...

[2019-10-23 18:44] mathewc commented on #2354
Related to https://github.com/Azure/azure-webjobs-sdk/issues/1861?

[2019-10-25 00:49] #2339 closed, assigned to soninaren

[2019-10-25 13:29] CCostaT opened #2358 "Azure Function throws exception regarding "Invalid Port" when publishing message to service bus"
Publishing a message to a servicebus topic from an Azure Function throws exception about invalid port

#### Repro steps

1. Create a new Azure function project using visual studio 2019 templates (use a timer trigger)

2. Edit local.settings.json and add the following keys:
    * "ServiceBus__Output__Topic": "testtopic"
    * "servicebus": "Endpoint=sb://[namespace].servicebus.windows.net/;SharedAc

[2019-10-25 17:17] CCostaT commented on #2358
Problem solved. It has nothing to do with ports at all.

The issue was caused by this line:

`[ServiceBus("ServiceBus:Output:Topic", Connection = "servicebus")]`

The ServiceBus attribute receives the **topic** name and the **environment variable name** where the connection string is read from. This was causing the SDK to try and connect to the endpoint

`[namespace].servicebus.windows.net/Service

[2019-10-25 17:17] #2358 closed, assigned to nobody

[2019-10-26 03:40] electricessence commented on #2065
Ok just checking in... After some trials I've discovered AFv3 (preview) is still targeting 9.3.1 :(
Is my only hope to wait for this to change?
I'm in an serious bind that will cost a lot of time if I have to revert and remain in AF limbo.
Where all other updated projects can consume 9.4 and use new STJ packages, I'm stuck fighting with this.

[2019-10-26 04:31] fabiocav commented on #2065
@electricessence the host reference isn’t important. What matters here is the version of the extension (storage bindings). The work to update that is in progress and will be applicable to both, V2 and V3.

[2019-10-26 10:47] vitalybibikov commented on #1284
Will it be implemented in 3.0 version?

[2019-10-26 15:54] electricessence commented on #2065
@fabiocav Ok that's great.  Would I be wasting my time at preemptively setting up a binding redirect?
Or is that simply not going to work in AF?

[2019-10-28 15:39] derekrprice commented on #822
Related to Azure/azure-functions-host#1864?

I'm seeing this problem with a blob trigger in a scaled up (8 pod) azure node functions runtime docker image in AKS,  It runs fine for several days, then I see this error message and all 8 pods freeze up, for over 24 hours.  Restarting 1 pod had no effect.  Restarting another 3 pods, effectively at random, got everything moving again, for all 8 pods.  M

[2019-10-29 13:59] tmenier commented on #2180
@paulbatum @brettsam What is the recommended way of manually triggering a WebJob function in 3.x onward? The docs [here](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-how-to), which discuss both the 2.x and 3.x SDK, has a section on [manual triggers](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-how-to#manual-triggers) that states:

Hopefully you can understand ho

[2019-10-29 17:05] panesofglass opened #2359 "Application Insights Logging causes WebJobs to report Running or Never Finished Status"
Use of the Microsoft.Azure.WebJobs.Logging.ApplicationInsights package causes WebJobs to report Running or Never Finished Status when used with a `TimerTrigger` web job.

#### Repro steps

Provide the steps required to reproduce the problem

1. Deploy a `TimerTrigger` web job using the `Microsoft.Azure.WebJobs.Logging.ApplicationInsights` logger factory.

2. Look at the WebJobs blade for invocatio

[2019-10-29 19:33] oising commented on #2039
Came here to log this issue :)

[2019-10-30 07:00] shaykchen opened #2360 "ServiceBus message being moved to dead letter queue unexpectedly in Azure Function"
#### Please provide a succinct description of the issue.

A dotnet function app running on V2 runtime on consumption plan and has a Service Bus trigger (Service Bus SDK 3.3.0). It is found that part of the Service Bus messages are going to dead letter queue without being processed.

The below exception would be thrown out accordingly while the problem occurred:

_System.OperationCanceledException

[2019-10-30 18:57] AbhishekTripathi commented on #2352
The root of the problem was with VS tooling. Changing the framework version in the project through the project property page doesn't automatically change the app.config. Note that the webjob was originally created with the full framework version 4.8. Obviously, since the Azure AppServices still is on 4.7.2 at the moment of writing this comment, the webjob failed with the cryptic error. I changed t

[2019-10-30 18:58] AbhishekTripathi commented on #2352
I shouldn't be closing this issue. Please take a look and have an appropriate resolution.

[2019-10-30 22:25] #2354 closed, assigned to nobody

[2019-10-30 22:25] #1861 closed

[2019-10-31 09:58] kgoderis opened #2447 "[App Insights] Allow for filtering of Live Metrics"
Recent function hosts generate a lot of

messages that are visible in the "Live Metrics Stream" on Azure Application Insights, but these do not show up when searching in the "Search" functionality of Application Insights.

In the logged entries there is no indication of the LogLevel or so.

How can these entries be filtered or disabled?

[2019-10-31 21:33] cgrevil opened #2362 "ServiceBusTrigger on Topic/Subscription does not "wake up" when the Subscription is reactivated after being disabled"
Azure function with ServiceBusTrigger on topic/subscription, and with sessions enabled, works fine initially, and triggers as expected. But if we disable the subscription, and then activate it again, then the function will not trigger until the function has been restarted.

We expect the function to start triggering again after the subscription has been reactivated, without needing to restart the

[2019-11-01 04:58] alrod opened #2363 "Long function app name cuts when we create a blob for singleton lock"
1. Create a function with name `getimpressionsschedulerfunctionapp-1m-prod-v2` and a time trigger with name `TimerTrigger1 ` in it.
2. Create a function with name `getimpressionsschedulerfunctionapp-10m-prod-v2`and a time trigger with name `TimerTrigger1 ` in it.
3. Point both function to the same storage account.
4. Both function use `azure-webjobs-hosts/locks/getimpressionsschedulerfunction/Host

[2019-11-01 21:51] StannieV opened #2365 "Add binding and tests for IMessageReceiver in ServiceBusTrigger #2218"
As mentioned in [issue 2222](https://github.com/Azure/azure-webjobs-sdk/issues/2222), I'm interested in 'Support interface IMessageReceiver via Dependency Injection'. Please add this feature so unit testing is easier.

[2019-11-04 06:36] AvinashRamalingam commented on #1284
Any update on this feature? Will this be part of V3?

[2019-11-04 07:47] damienpontifex opened #2366 "[Feature Request] Support Managed Identity auth for AzureWebJobsDashboard and AzureWebJobsStorage"
Currently we setup connection strings for `AzureWebJobsStorage`, `AzureWebJobsDashboard` and `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING`. It would be great if we could give the managed identity for the function or web app permissions to the appropriate storage account and just provide storage account names here.

While there is security benefits around the managed identity, it's also a nice thing a

[2019-11-04 09:48] kgoderis commented on #2447
When the function runs locally (v2.7.1724) then this telemetry is tagged with category Microsoft.Azure.WebJobs.Host.Queues.Listeners.QueueListener. However, running the same code on Azure, the telemetry is not tagged with this category. On the same page, telemetry in the cloud gets a prop_messageCount property, whereas local telemetry does not.

Adding a line to the "logging":"logLevel" section in

[2019-11-04 20:56] paulbatum commented on #2036
See related https://github.com/Azure/azure-webjobs-sdk/issues/1597

[2019-11-05 20:50] vsadams commented on #2157
Is this on the roadmap to remove? I cant actually stop using the legacy setup of AI until this method is removed from the lib.

[2019-11-06 03:29] phellsten commented on #944
Using the latest version of WebJobs I'm still getting an unhandled exception after losing network connectivity when running the webjob locally as the QueueTrigger cannot connect to the storage account:
![image](https://user-images.githubusercontent.com/12488644/68265608-aae31e80-00a0-11ea-8ab3-65f0a3a11d72.png)

Is there a way I can catch and ignore this error and keep the webjob running and retry

[2019-11-06 07:46] metoule commented on #1584
This issue was fixed via commit b945a81fb0d28b209d84b1616f115f52fb7cb93d.

[2019-11-06 07:46] #1584 closed

[2019-11-06 17:00] KSchlobohm opened #2368 "New Project in Visual Studio uses Microsoft.Azure.WebJobs v1.1.2"
#### Repro steps
1. Launch Visual Studio 2019
2. Create a new C# Azure WebJob (.NET Framework) project
3. View the Installed NuGet packages
![out of date packages](https://user-images.githubusercontent.com/23503973/68319834-92fda180-0084-11ea-8b95-d42a393612c9.jpg)

#### Expected behavior
The new project should use the HostBuilder() and latest version of the Microsoft.Azure.WebJobs NuGet package.

[2019-11-06 19:40] #2348 closed, assigned to brettsam

[2019-11-06 20:46] KSchlobohm opened #2369 "WebJob Dashboard support links point to the wrong location"
The links displayed in a WebJob Details that explain how to set the AzureWebJobsDasboard connection string are pointing at VS 2013 auth documentation.

#### Repro steps

1. Open Visual Studio 2019
2. Create a new WebJob using the WebJob Template
![webJob project template](https://user-images.githubusercontent.com/23503973/68335691-9142d680-00a2-11ea-9185-322585312b06.jpg)

3. Publish the project t

[2019-11-07 17:40] gjmoyer commented on #2307
We have the same issue that just started 11/1/2019.  Has been working daily for more than a year, and now we are experiencing occasional failures.  The production code has Microsoft.Azure.WebJobs.Extensions.Storage 3.0.6 deployed.  I see issue https://github.com/Azure/azure-functions-host/issues/4784 that reports a fix in 3.0.8 that I am trying to determine if this is effecting us.

[2019-11-07 18:34] joeyeng commented on #2360
I'm getting this exception as well. I'm using Microsoft.Azure.ServiceBus 4.0.0. It works fine running in debug mode, but fails when deployed to Azure.

[2019-11-07 20:37] jrowies commented on #1995
@ThinkFr33ly would you mind sharing some details about how you implemented your solution? Thanks!

[2019-11-08 18:17] AgSync-Aaron commented on #2177
The `Microsoft.Azure.WebJobs.Host.Storage` library is NetStandard 2.0, but has a dependency on `WindowsAzure.Storage` which is **_NOT_** NetStandard 2.0. This is making an ugly dependency graph when trying to use it in a netcoreapp3.0 console application. I hope this can be tackled soon to use the newer Azure storage libraries as @nvmkpk pointed out 7 months ago.
![image](https://user-images.githu

[2019-11-08 21:14] nulllogicone commented on #1172
I had the same problem in an Azure Function v2 and could solve it by adding a startup class
[code]

[2019-11-11 14:35] rkbalu commented on #921
Hello Everyone,

We have been using EventHub out binding to send event to another eventhub. Basically we are calling FlushAsync() in our azure function.

I am trying to understand how i may write the retry logic in our side when FlushAsync() failed for some reason(it happened once in last 1 year due to timeout issue). I am asking because I am not sure how it works in background. Also having little

[2019-11-12 16:31] ranouf opened #2371 "How to get Run/Replay Function with Azure WebJob 3.0"
Hi,

I try to find a code sample in c# core for Webjob 3.0 enabling the Run/Replay function in Azure for a QueueTrigger?

![image](https://user-images.githubusercontent.com/1764519/68689122-e5840580-053d-11ea-8da7-7c6a43241e1d.png)

Do you know how to do that? Any documentation?

Thanks

[2019-11-13 00:14] joeyeng commented on #2360
Update: I updated Microsoft.Azure.ServiceBus to 4.1.1, and although I'm no longer getting the exception, the message still goes straight to dead letter. It has no dead letter reason/description and there are no function host errors or errors in app insights.

[2019-11-13 20:44] brettsam commented on #2447
Are you trying to have these persisted in App Insights? Or are you trying to hide them from Live Metrics?

The Live Metrics Stream is meant to be a live "snapshot" into everything happening (and that data is stored in-memory; not all of it is persisted anywhere) -- after we send details to that stream, the filter specified in host.json is applied. There's currently no way to filter from the Live M

[2019-11-13 21:29] fabiocav commented on #2329
Closing as resolved.

[2019-11-13 21:29] #2329 closed, assigned to madelinegordon

[2019-11-14 12:41] kgoderis commented on #2447
Indeed, I try to filter in in the live metrics stream. I understand the solution, but why doe other filter.json filter seemingly work?

[2019-11-14 14:01] brettsam commented on #2447
The `host.json` you mean?

We made a decision a while ago that we wanted to show *everything* in the Live Metrics stream, regardless of filter. Since these records aren't persisted anywhere and you're not charged for Live Metrics usage, it wasn't considered an issue.

The best example of why we do this -- you may have very high througput and not want to log *any* RequestTelemetry, instead relying

[2019-11-14 16:32] kev24uk commented on #2365
I would also like to see this implemented!

[2019-11-15 08:05] DanielLarsenNZ commented on #1240
Another scenario is adding a new Function (with a new consumer group) to an Event Hub that is already in production. We should be able to start the offset from HEAD, Now, Offset or DateTime. Currently the function must loop 7 days of events before getting to head.

How about a new trigger option and two new attribute parameters, e.g.

[code]

Possible values for `initialOffsetStartFrom` would be "

[2019-11-15 12:21] derekrprice commented on #822
Anyone have any idea what may be causing this?  We're still seeing it.  It appears to occur pretty consistently and once we see the error, processing in our 6 concurrently running containers stops, usually for many hours.

[2019-11-15 13:06] brettsam commented on #822
@derekrprice -- It's caused by thread starvation. The timers that renew locks are not able to get any processor time, so they fail.

The main recommendations are to make sure everything is async everywhere possible and/or reduce function throughput (the specifics depend on what your triggers are and what your functions are doing).

[2019-11-15 13:16] derekrprice commented on #822
@brettsam Our throughput is fairly high but not ridiculously so, a few thousand invocations a day, but thread starvation doesn't make sense given the pattern that I am seeing.  This is a fairly simple log processor based on blob triggers.  IOT devices periodically upload logs, which take the functions app only a few seconds to process and save as JSON to a NoSQL DB.  We have six pods running concu

[2019-11-15 13:57] brettsam commented on #822
Maybe you're seeing something unrelated -- what version of `Microsoft.Azure.WebJobs.Extensions.Storage` are you using?

[2019-11-15 15:17] derekrprice commented on #822
We're using whatever version is installed in the latest Azure Functions 2.0 JS Runtime Docker image.  How would I extract that version?

[2019-11-18 11:59] mohaemen commented on #1635
I have the same issue too

[2019-11-18 14:09] brettsam commented on #822
I suspect you're seeing something unrelated to this issue. @soninaren -- is there a way that someone using bundles can move their version of Extensions.Storage forward to the latest?

[2019-11-18 17:10] jeffhollan opened #2373 "Error when no internet connectivity is unhelpful"
If you try to run a function app locally with the Azure Storage extension and you don't have internet connectivity, it throws some error like this

[11/18/2019 5:09:18 PM] System.Net.Http: nodename nor servname provided, or not known. System.Private.CoreLib: nodename nor servname provided, or not known.
Value cannot be null. (Parameter 'provider')

Ideally if there was an issue connecting to the s

[2019-11-18 17:13] jeffhollan commented on #2373
Going to make a P1 cause it's supportability, but may be demoted to P2

[2019-11-18 19:10] soninaren commented on #822
The updated extension bundle should ship out this week. It should stay up to date from now.  There is no way to move a version of  extension a head of the bundle, if you are using extension bundle.

[2019-11-19 00:42] paulbatum commented on #1240
I've come up with a solution that might work well for some folks. It uses the [dependency injection feature](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) to configure the initial offset provider. The example below just uses `DateTime.UtcNow` but you could apply whatever logic you want here.

[code]

I've done some basic testing and this seems to wor

[2019-11-19 07:33] shaykchen commented on #2360
Thanks to @alrod confirmation, the new SB extension which uses 4.1.1 SDK has been published as well: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.ServiceBus/4.0.0

[2019-11-19 19:44] #2345 closed, assigned to brettsam

[2019-11-20 01:39] alrod commented on #2360
New package is released pointed to 4.1.1 SDK
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.ServiceBus/4.0.0

[2019-11-20 01:39] #2360 closed

[2019-11-20 08:53] utkarsh24 opened #2374 "Not getting regular service bus messages when configuring to receive messages from deadletterqueue"
this is how my azure function code looks like

[code]

I am able to get deadletter messages, but somehow not receiving regular messages from the service bus queue,

Is this expected behaviour?

if so how can i receive regular/deadletter messages in the same function.

I am using function 2.0 runtime.

[2019-11-20 09:45] OskarKlintrot commented on #2302
I just created a new webjob as a `netcoreapp3.0` console app and now the http requests to other services becomes childs to the inital webjob-request but not the db-calls done in the webjob.

![image](https://user-images.githubusercontent.com/6783879/69227775-b47d8380-0b82-11ea-92d2-c0c87ef45b1d.png)

[code]

[code]

[2019-11-20 09:56] OskarKlintrot commented on #2302
I'm not sure if it's supposed to be like this or not but the `parentId` on the db-calls gets prefixed by `00-` and suffixed by `-00`.

[2019-11-20 11:02] andriysavin commented on #1931
@fabiocav You could introduce a new set of `ConfigureWebJobs` with a flag parameter, or add such parameter to the existing methods with default value (though this would be a breaking change). However, there is high risk that the flag will get unnoticed and everybody will face the issue at least initially. I had to re-implement this set of extension methods under `ConfigureWebJobsWithoutConfig` nam

[2019-11-20 14:21] brettsam commented on #2302
@lmolkova should be able to comment on the correlation questions.

[2019-11-20 18:24] lmolkova commented on #2302
Legacy request id is expected as a part of the transition to the new W3C Trace-Context standard for correlation. This is internal (and undocumented) AppInsights property that UX uses to stitch together old and new correlation-ids formats and allow backward compatibility with older applications.
Presence of legacy request id does not indicate an issue. However, if UX does not stitch operations corr

[2019-11-21 10:11] OskarKlintrot commented on #2302
Thanks @lmolkova, using version 2.8.2 of `Microsoft.ApplicationInsights.AspNetCore` fixed it!

[2019-11-21 21:22] #2302 closed, assigned to brettsam

[2019-11-22 13:50] ToniaDemchuk commented on #2141
Hi, any progress on this?

[2019-11-22 17:19] aorlenko83 commented on #1931
Just ran into this, after spending couple of hours troubleshooting the issues with configuration of my webjobs. Fixed just by placing ConfigureWebJobs method closer to the starting of my host configuration. The fact that any app configuration is taking place within ConfigureWebJobs method is really not intuitive.
Any progress on this one?
I definately support the idea of creating new `CreateDefaul

[2019-11-22 17:45] ranouf opened #2377 "GoneException"
Hi,

I deployed 1 webjob on my Azure WebApp which have 4 QueueTriggers, most of the time, everything works correctly but sometimes, I have a GoneException which resulting to put the message in PoisonQueue.

![image](https://user-images.githubusercontent.com/1764519/69447928-81bfc080-0d25-11ea-9ca8-9cb03a1866b2.png)

here is the full message:

And the CallStack:

Not sure exactly why I got this iss

[2019-11-22 20:00] ranouf commented on #2377
Here I found a way to avoid this exception: https://www.oipapio.com/question-3909665

I will let you know if It's work.

[2019-11-22 23:25] antempus commented on #1726
Jumping in here to say that this would be a much-needed improvement given that passing in multiple inputs isn't really supported; this would solve the need by allowing us to just use nested props on a complex object.

[2019-11-25 16:28] ranouf commented on #2377
I still have an issue ...

Any ideas?

[2019-11-25 17:21] tmenier commented on #2180
@paulbatum @brettsam I thought I might get an "authoritative" answer to my question from one of you here, but I will try my luck on Stack Overflow.

[2019-11-26 09:04] OzBob opened #2379 "Azure Table Exception binding webjob parameter"
"Microsoft.Azure.WebJobs" version="2.3.0" Function with definition:
 public async Task GetFileTimerJob(
            [TimerTrigger(typeof(FileTimerSchedule), RunOnStartup = true)] TimerInfo timerInfo,
            [Table("bft")] CloudTable bftTable,
            [Queue("file-poison")] ICollector<BankfileDTO> poisonQueue,
            TextWriter Log)
        {...}
Was working and now Exception reads:
M

[2019-11-26 11:12] r1sc opened #2380 "Microsoft.Azure.WebJobs.Extensions.Storage regression?"
A function app that worked yesterday suddenly stopped working today with no code changes or changes to the function app.

We have a function:
[code]

This morning this app failed to start with this error:
[code]

It looks like a new version of the azure hosting runtime has been released. I believe this is the problem, because downgradning to an earlier version of azure-functions-core-tools (which

[2019-11-27 07:16] rdevakumar commented on #1950
Any further update on this?  We have few queue triggers which need the 'scoped' functionality.

[2019-11-27 14:20] rquirante commented on #2100
Hi, I’m not sure if you are still looking for an answer, but I managed to do the following and it works for me with .NET Core and Microsoft.Azure.WebJobs(3.0.14).

To manually acknowledge that you complete the message you need to bind a MessageReceiver parameter and then you will be able to use the LockToken from the message to Complete the message.

See the following code for an example.

[code]

[2019-11-27 14:32] retheon opened #2381 "Microsoft.Azure.WebJobs includes an old version of Microsoft.Extensions.Hosting"
If you include the package `Microsoft.Azure.WebJobs (3.0.14)`, this includes the package `Microsoft.Extensions.Hosting (2.1.0)`, which is not compatible with EF 3.0.  The former works with `IHostingEnvironment` while the latter changed it to `IWebHostEnvironment`. This creates problems like [this one ](https://stackoverflow.com/questions/58163988/asp-net-core-3-0-get-hostingenvironment-method-not-

[2019-11-27 14:35] diegosucaria commented on #2447
Hello, I'm facing the same issue as well.  It fills the stream with garbage and makes it quite unusable.

I know I can filter it, but since the "filters" can't be saved in the live metrics stream, it is really a pain to do it every time.

[2019-11-27 17:05] iamalexmang commented on #1284
Any updates on this feature?

[2019-11-27 17:52] fabiocav commented on #1284
This feature has not been prioritized as part of the 3.0 work. This is not currently part of the immediate roadmap, so we don't have an ETA we can share.

/cc @mathewc @mattchenderson

[2019-11-27 17:55] iamalexmang commented on #1284
Thanks for the update @fabiocav.
Reason for why I'm looking for a filter right now is in fact to have a custom authorization done before the function code gets called. Specifically, I want to implement a role authorization provider and validate that an authenticated user is indeed allowed to call a particular function in a function app.
Since filters are, due to their lack of tread-safe nature, a

[2019-11-28 01:46] AartBluestoke commented on #2447
is there an appropriate place to raise "we should be able to safe filters on live stream" as an issue?

[2019-11-28 05:35] eminencegrs commented on #2365
I absolutely agree with @StannieV. It allows me to simplify unit testing.

[2019-11-28 10:33] deadwards90 opened #2382 "Aggregate custom metrics when using LogMetric"
Is there anyway to get aggregations of custom metrics sent up by the ILogger using LogMetric? I know that the metrics that are logged under Host.Aggregator do this.

Alternatively, anyway I could use whatever Host.Aggregator uses?

Specifically I'm using ApplicationInsights.

#### Repro steps

Provide the steps required to reproduce the problem

1. Call LogMetric with some key and value
2. Do it a

[2019-11-29 05:35] stofte commented on #2098
Thousands of garbage errors in AppInsights for months on end.

[2019-11-30 22:17] robertmclaws commented on #1931
I just ran into this issue as well. The offending lines in ConfigreWebJobs should just be removed. Best practices should be to call Host.CreateDefaultBuilder() before calling ConfigureWebJobs(). I'm using the WebJobs in a unique way for SimpleMessageBus, and because of this, I have to manually remove the registered ConfigurationProviders from the collection after the fact with code like this:

[co

[2019-12-02 13:28] aherrick commented on #2088
Just to be clear, there isn't any workaround to stopping a continuous web job via the azure portal? (not Kudu process kill)