[2021-07-05 09:30] b10-dslappendel commented on #2152
@mathewc I'm sorry for tagging you, but it's been 7 months after my comment, and this issue seems to have been buried under all the other issues.
I'm assuming that this issue hasn't been resolved yet, so I'm currently still catching any exception, abandoning it on my own, and not rethrowing it. This makes the execution looks like it has succeeded in application insights, which is wrong. Sure, I ca

[2021-07-05 11:48] v-anvari commented on #2738
Hi @ms-v-csacha , Apologies for the delayed response, I could reproduce the above steps, but I could run the WebHook URL with success code. I used a continuous triggered WebJob in my case, and ASP is P1V2. Can you try once again and let us know if it is still not working for you. Can you also tell me the configurations if it is still giving you 404 error

![image](https://user-images.githubusercon

[2021-07-05 13:15] luizs81 commented on #1980
I'm having the same problem, in July of 2021.
It seems there is still no clear direction on how to proceed about this so far.

[2021-07-05 13:47] luizs81 commented on #1980
This is definitely the correct approach. I didn't need to change my WebJob to `Continuous` and it did not throw the time out exception.
Thanks for posting this.

[2021-07-05 17:17] dotnetnate commented on #808
Bueller? At 5 years and ticking, this would be nice to have.

[2021-07-06 10:48] v-anvari commented on #2734
Hi @arjunbalgovind , Thank you for reaching out to us,  We will investigate this further and update as appropriate.

[2021-07-07 20:29] fabiocav commented on #2712
There was progress made on identifying the root cause of the issue, which is some logic that triggers a fallback to an in-memory implementation of the distributed lock manager (which is not really distributed).

Moving to 106 to decide how this should be handled, but changing this behavior would be a breaking change and we should consider this for v 4.0

[2021-07-09 08:14] adeliab commented on #2152
I have the same requirement - need to deadletter the message on failure and show the function invocation as well. and I got the same exceptions :(

[2021-07-09 12:02] ghost commented on #2738
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-09 22:49] ms-v-csacha commented on #2738
Hello @v-anvari,

I just redeployed with my project and still getting the same issue. Here are the templates from the resource deployment as well as the deployed project. Let's have a screenshare session next week for demonstrating the issue and showing the complete steps I'm taking to reach that point!

https://github.com/ms-v-csacha/Azure_azure-webjobs-sdk_issues_2738_repro

[Deployment-Microsof

[2021-07-12 14:59] alrod opened #2746 "Check to see if the CancellationToken passed into TimerListener.StartAsync is cancelled before starting the timer."
Check to see if the CancellationToken passed into TimerListener.StartAsync is cancelled before starting the timer. The token gets cancelled so we could avoid starting the listener. Need to test that.

CRI with more details in the comments: https://portal.microsofticm.com/imp/v3/incidents/details/249612228/home

[2021-07-12 16:50] v-anvari commented on #2734
Hi @arjunbalgovind , We will triage this issue to upgrade the packages to remove the vulnerability alert. But, for now there are no security concerns you would be facing by using the package.

[2021-07-13 05:33] JoshLove-msft commented on #2729
A customer ran into this while trying out the new ServiceBus trigger - https://stackoverflow.com/questions/68350196/how-to-manually-handle-message-completion-in-c-sharp-azure-function-with-azure-s

[2021-07-13 08:36] alrod opened #2744 "Retry Policy Platform work (Keeping instances alive) - WebJobs SDK"
The idea here is to have DataRole call an API on the runtime before it does a final removal to determine whether any invocations or other work is in progress on the instance that should prevent removal.

Here's how this might work:

•	Preference is to add a new API (e.g. /admin/host/functions/status) as opposed to adding this info to the existing /admin/host/status API
o	The API would return infor

[2021-07-13 13:00] v-anvari commented on #2738
Hi @ms-v-csacha , yes sure, please send me a mail on your availability

[2021-07-13 13:47] v-bbalaiagar commented on #2759
Hi @mpowney, Apologies for the delayed response, the issue was somehow lost in the trace. Can you tell us if you are still facing this issue.

[2021-07-13 15:40] v-anvari commented on #2488
Hi @zmarty , Can you confirm if this still requires a triage/ follow up or can this issue be closed.

[2021-07-13 15:43] v-anvari commented on #2434
Hi @mathewc , Can you confirm if this still requires a triage/ follow up or can this issue be closed.

[2021-07-13 15:45] v-anvari commented on #2640
Hi @mathewc , Can you confirm if this issue still requires a triage or can be closed

[2021-07-13 15:47] v-anvari commented on #2737
Hi @AartBluestoke , Could you provide us the repro steps and can you share the function app details privately https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2021-07-13 20:02] briandunnington commented on #1995
Here is how I did it using the PostConfigure options - note that you have to make sure the `ConnectionStringSetting` is set to `""` or else the dynamically set value wont be used: https://briandunnington.github.io/azure_functions_dynamic_connection_string

[2021-07-14 20:30] fabiocav commented on #2712
Flagging this as a design item and re-adding to the triage queue.

[2021-07-14 22:36] AartBluestoke commented on #2737
@v-anvari some info provided by email.

[2021-07-15 00:07] mathewc commented on #2729
Thanks for logging the issue @JoshLove-msft. Yes the fact that data contract bindings for non-trigger parameters must match the static contract name is something that confuses users. From the beginning of the WebJobs SDK this is how it's behaved.

The fact that the binding contract is a dictionary means I don't think that putting a asterisk value for some of the contract members will work, since y

[2021-07-15 05:21] JoshLove-msft commented on #2729
Fair point that an extension may need multiple such parameters, so the asterisk alone wouldn't work.

I think improving the error message would probably get us most of the way there as users can quickly fix the issue themselves without needing to read docs.

[2021-07-15 05:21] iversis commented on #1094
same problem using Visual Studio 2019. i even deleted existing ones, restart the app service, redeployed from Visual Studio doesnt deploy the latest code.

**Found the cause:**
I renamed the assembly name in the project, eg. Company.GenerateRecord to Company.WebJobs.GenerateRecord.

Previously published webjob will continue to run 'Company.GenerateRecord.exe', and not the new executable.

To fix t

[2021-07-15 06:00] dezza1au commented on #2747
Hi, I'm running into the same issue -> have implemented an IFunctionExceptionFilter in my Azure function and the HttpClient gets an exception on the HttpClient.PostAsync() call.
Code in my IFunctionExceptionFilter is:

[code]

Still trying a few things out to see if I can get around it, but any update would be good.
Thanks,

[2021-07-15 09:43] v-anvari commented on #2737
Hi @AartBluestoke , I checked the information for 18th to 19th June, But I don't see any errors in the memory logs. Can you specify the time frame you are looking for. Meanwhile, can you also open a support ticket in the help and support section, since this looks like an App specific issue.

[2021-07-15 16:37] v-bbalaiagar commented on #2747
Hi @imtrobin, These filters are yet to be fully supported. You can find further updates in the tracking issue- https://github.com/Azure/azure-webjobs-sdk/issues/1284

Moving this issue to webjobs sdk and tagging it as a feature request.

[2021-07-15 16:38] v-bbalaiagar commented on #2747
cc: @mathewc

[2021-07-15 17:04] v-bbalaiagar commented on #2525
Hi @josh-endries, Here is a[ tracking issue ](https://github.com/Azure/azure-webjobs-sdk/issues/1597)which is being addressed and worked upon on a similar scenario.

Closing this issue, please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-15 17:04] #2525 closed, assigned to nobody

[2021-07-15 17:35] balag0 opened #2748 "Log Blob creation time for BlobTriggers"
Currently we log blob detection time based on scans, enqueue time to internal queue, function invocation start time. Adding blob creation time as well will provide more complete end-end latency.

https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.Storage/Blobs/Listeners/BlobTriggerExecutor.cs#L133

[2021-07-15 19:56] mathewc commented on #2640
Yes, this work item is still relevant. We'll need to decide at this point whether we only make the improvements to the Track 2 extensions (likely).

[2021-07-15 19:59] mathewc commented on #2434
Yes, this is still a relevant improvement.

[2021-07-15 22:20] AartBluestoke commented on #2737
it isn't an app specific issue, as this memory issue is not inside my code, but inside the sdk.
I believe i have seen this on a couple of different apps. I have no code within my apps interacting with this storage account with the sdk in this way beyond a simple blob trigger, or a simple blob write.

2 separate tickets that i have raised have ended up being closed with no possible fix on my side d

[2021-07-15 22:30] AartBluestoke commented on #2737
Unless you are claiming that it is expected behaviour for the SDK to sometimes store over 2GB (over 1 million) objects within Log Listener, then this can't be an issue within my code ...

The memory dumps i have show that the memory consumption is large arrays inside the SDK itself.

[2021-07-16 19:59] colin-higgins commented on #2071
The templates in Visual Studio should not use the old package if this is true.

[2021-07-17 16:02] ghost commented on #2488
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-07-17 19:23] zmarty commented on #2488
Yes, we need this. No need to keep asking, the answer is **Yes**.

[2021-07-20 17:17] v-anvari commented on #2737
Hi @AartBluestoke , Thank you for the update. Can you share the App name privately for us to do the memory analysis.
https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

Require the Time stamp of the unexpected behavior  which was missing in the email

[2021-07-20 18:21] dmboucher commented on #2055
I agree - this would be very useful!

[2021-07-21 09:29] v-anvari commented on #2737
Hi @AartBluestoke , From you mail, I believe the following Time stamp – 20 may 2021, is when your App had problems. I do not find one of your App details, which could be deleted or moved. Can you confirm the details

[2021-07-21 09:31] v-anvari commented on #2737
Can you also tell us which App had excessive memory consumption with the Time stamp.

[2021-07-21 14:42] gabbsmo opened #2749 "Get trigger arguments from scoped services"
ASP.NET Core has scoped services that create for each request. I understand that Web Jobs SDK also has similar functionality but per function execution. In ASP.NET I can register a scoped service that is dependent on a parameter from the HTTP request, such as a user identity. Can something similar be done in Web Jobs SDK?

[code]

[2021-07-21 23:16] AartBluestoke commented on #2737
That message detail was from extractutil3mbovetps52rq (as per the CloudRoleName in the log details)

[2021-07-22 11:31] gabbsmo commented on #2749
It seems to not be possible today. Found older issue #2314.

[2021-07-22 11:31] #2749 closed, assigned to nobody

[2021-07-23 08:53] v-anvari commented on #2737
Hi @AartBluestoke , We have a date retention period only for past 30 days. I have checked the logs for the above mention App for the Time stamp 2021-07-23 07:10. I do see multiple exceptions during this Time. Were you facing high memory consumption during  the last 30 days.
Microsoft.Azure.WebJobs.Host.FunctionInvocationException : Exception while executing function: jr*****ent ---> System.Invalid

[2021-07-24 00:25] AartBluestoke commented on #2737
This is only triggered when there are high volumes of write attempts to the azure storage.
Due to the above problem i am avoiding this at the moment.
I have avoided triggering this issue in the last 30 days.
I have several memory dumps from the app demonstrating my problem.

Is there a playground where i could build a demo of the problem, without causing billing issues for me?

[2021-07-27 09:45] b10-ydinkov commented on #1526
We are experiencing this issue with the latest SDK as of july 2021. If not a solution, is there a known work-around?

[2021-07-27 10:18] v-anvari commented on #2737
Hi @AartBluestoke , You can either use a consumption plan with less cost or use Azure for free for 30 days trials with a new account.

There could be several reasons for the high memory consumption, If you see that there are two many objects from a class which is taking high memory bytes in the memory dump. Then there could be a possible memory leak. For example, If all these objects are part of a

[2021-07-29 18:52] randellhodges commented on #1577
Anyone ever figure out `System.NotImplementedException: Property 'ScheduleType' on attribute 'TimerTriggerAttribute' is not supported in Azure Functions.
`?

[2021-07-31 11:01] ghost commented on #2737
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-03 19:20] ptjuanramos commented on #2173
Still no response.......

[2021-08-04 20:29] fabiocav commented on #2729
@mathewc I'll move this to 107, but please let me know if we need to change and/or reassign

[2021-08-04 22:34] AartBluestoke commented on #2737
A support ticket has been raised within azure connected to this.
The azure support team agree that there is a memory problem and approached the storage sdk people internally.
the response was the usual level 1 run-around of suggesting oh you have memory problems :
1: are you accidently reading the entire blob into ram, that can cost storage space (when the link above shows 1 million blobs in an ar

[2021-08-04 22:35] AartBluestoke commented on #2737
"You can either use a consumption plan with less cost " - this is an out-of-memory issue; consumption plans are billed per GB-second.. How is that a cost reduction option?

[2021-08-04 22:36] AartBluestoke commented on #2737
@v-anvari "You can either use a consumption plan with less cost " - this is an out-of-memory issue; consumption plans are billed per GB-second.. How is that a cost reduction option?

[2021-08-09 17:50] ashifanwar commented on #1686
@mdsharpe I am using webjob sdk 3.0.27 and webjob.extension.servicebus 4.3.0 and set my service bus config as follows.
wjb.AddServiceBus(options =>
                  {
                      options.MessageHandlerOptions.AutoComplete = true;
                      options.ConnectionString = Configuration["ServiceBusConfiguration:ServiceBusConnectionString"];
                      options.MessageHand

[2021-08-11 07:35] snerte commented on #1199
This is still needed 👍

[2021-08-11 23:48] Camios opened #2751 "[Service Bus] [Design flaw?] - Replay message from subscriber's DLQ only to same subscriber rather than topic"
When a message is sent to a service bus topic it is sent to all of the topic's subscribers. There is a 1:* relationship between topic and subscribers.
I assume each subscriber has their own incoming message queue/box - a 1:1 relationship.
If a subscriber fails to process the message it can end up on the subscriber's specific dead letter queue (DLQ). There is a 1:1 relationship between the subscrib

[2021-08-12 08:21] TJSagar opened #2752 "Need to read ExponentialBackoffRetry settings from unction App Configuration(local.settings.json)"
I have implemented Retry Mechanism in Azure Function using attribute **ExponentialBackoffRetry**

        [FunctionName("TestFunction")]
        [ExponentialBackoffRetry(5, "00:02:00", "00:05:00")]

However now we want to move **ExponentialBackoffRetry** parameter values to Function App configuration(local.settings.json).
As there are multiple Functions in FunctionAPP we are not able to use Host.J

[2021-08-13 12:48] Mike-E-angelo opened #2753 "`beta.5` Seems Very Broken with Queues"
Please provide a succinct description of the issue.

#### Repro steps

Upgrading from `beta.1` to `beta.5`, Queues stop working and appear to silently fail.  Messages immediately get sent to point queue without any exception/warning/message provided.

Sample output:

[code]

#### Expected behavior

Works like `beta.1` :P

#### Actual behavior

Broken.

#### Known workarounds

Revert back to `beta.

[2021-08-16 10:02] v-anvari commented on #2737
Hi @AartBluestoke , Re-opening this issue as the bot had closed it. We are not sure what is causing the issue. If this is SDK related, then the support team should be able to help you. Unfortunately, we don't have access to the support ticket

[2021-08-16 16:41] v-bbalaiagar commented on #2751
Hi @Camios, Thank you for reaching out to us, Can you please open the issue in service bus repo as this would be a service bus specific question.

Closing this issue, please feel free to reach back to us in case of any further queries related to this issue.

[2021-08-16 16:41] #2751 closed, assigned to nobody

[2021-08-17 23:49] sachinarora87 commented on #2038
Hi  Is this issue fixed?  I am also facing similar issue.

- Create a function app. Using EventHubTrigger (Microsoft.Azure.WebJobs.Extensions.EventHubs v5.0.0-beta.7).
- Publish a message on the event hub.
- We can see function is processing message successfully but we cannot see Event hub in dependency telemetry in application insights.

Is it due to the latest Azure.Messaging.EventHubs SDK?

Her

[2021-08-18 02:35] mattfrear opened #2754 "Feature request - Add JWT-based authorization to http functions"
We would like to restrict access to our HTTP-triggered functions based on claims in a JWT token.
Ideally we could use the `[Authorise]` attribute from ASP.NET.

e.g.
[code]

[2021-08-18 02:36] mattfrear commented on #2754
Hi @DanielLarsenNZ, FYI.

[2021-08-18 12:39] b10-dslappendel commented on #2152
Alright, after seeing the availability of version 4.3.0 with the addition to mark an individual trigger with `AutoComplete = false` in the attribute, instead of having it for all functions in the function app via the host.json file, I decided to do some more testing.

*Without* specifying `autoComplete: false` in the host.json file, I added `AutoComplete = false` to a single trigger. The result is

[2021-08-18 14:27] muj-beg commented on #2759
Seeing the same.  My AppInsights log is just full of continuous Queue polling messages -- which makes finding the messages I'm actually interested in very difficult 😞.  Please see screenshot below:

![image](https://user-images.githubusercontent.com/19629343/129916246-e17758aa-53f6-415e-b68c-2c95303048d6.png)

[2021-08-18 14:31] muj-beg commented on #2759
Looks like this additional logging was in this PR:
https://github.com/Azure/azure-webjobs-sdk/pull/2277

[2021-08-19 15:11] zamzowd commented on #2152
I am not able to reproduce this locally using and setting `AutoComplete = false` in the `ServiceBusTrigger` attribute.

I still get this error message logged if I deadletter the message in the code and then throw an exception: `Microsoft.Azure.ServiceBus: The lock supplied is invalid. Either the lock expired, or the message has already been removed from the queue, or was received by a different re

[2021-08-19 20:00] j03INTHECLOUD commented on #2308
Any update on this.

[2021-08-20 01:23] zamzowd commented on #2152
I created !23423 for this, but I'm not sure how to complete these two steps listed as ["prior to issuing a pull request"](https://github.com/Azure/azure-sdk-for-net/blob/main/CONTRIBUTING.md#code-review-process):
* All code must have completed any necessary legal signoff for being publicly viewable (Patent review, JSR review, etc.)
* Code should be fully code reviewed.

[2021-08-20 08:53] b10-dslappendel commented on #2152
That is odd. I have double checked my code, and it seems to be working on my end locally:

[code]

In my host.json file, the functionTimeout and maxAutoRenewDuration are both set to 1 minute.
My installed packages are: Microsoft.Azure.WebJobs.Extensions.ServiceBus 4.3.0, Microsoft.NET.Sdk.Functions 3.0.13.
I'm also using .NET Core 3.1 with the function version set to 2.0.
The max delivery count on

[2021-08-20 09:04] johnkors opened #2755 "Cannot build functions with .NET 6 on macOS"
Hi,

I'm getting this fatal error at build time when using the .NET 6 previews:

[code]

Not sure if it's on your end or the .NET SDK team..?

OS: macOS
.NET SDK :  .NET 6 Preview 7 (  6.0.100-preview.7.21379.14 )
TFM: netcoreapp3.1
Microsoft.NET.Sdk.Functions Version 3.0.13

csproj:

[code]

[code]

[2021-08-20 13:53] zamzowd commented on #2152
I set up a repository to try this out, using your example: https://github.com/zamzowd/service-bus-sans-autocomplete

On manual deadletter followed by an exception, I still get the message that it attempts to abandon the message:

![image](https://user-images.githubusercontent.com/36744739/130241955-d5251b2a-76f9-4d8e-a9da-a0e73c8e6dda.png)

Maybe there's some race condition between no longer writi

[2021-08-21 23:37] jmelkins commented on #2575
I looked at the  5.0 preview release of the storage extension that targets Azure Storage SDK v12 but there is only support for blobs and queues, not tables which is what I was hoping for. Are there any plans to integrate support for Azure Storage Tables, perhaps using the new Azure.Data.Tables package assuming that package is going to be the recommended package for Azure Storage Tables going forwa

[2021-08-23 08:47] b10-dslappendel commented on #2152
I have no idea why it has a different result... I've tried it on two computers now, and I still get no exception using your full repository as code:
![](https://user-images.githubusercontent.com/49779719/130417466-fa630a2c-21ad-4d38-9088-b248119d4b2c.png)

I can at least confirm your scenario where it triggers the next delivery before the exception is logged:
![](https://user-images.githubusercont

[2021-08-23 09:08] b10-dslappendel commented on #2152
I just tried it in Azure, and I get consistent results there as well after repeatedly trying a bunch of times.

Running it through WithAutoCompleteAttribute, this is the log for every run:
![](https://user-images.githubusercontent.com/49779719/130421134-cf7f2492-ae89-4c87-9a3b-b2f4e78c4baf.png)

For verification, WithoutAutoCompleteAttribute (with a different queue name since I already had one):
!

[2021-08-23 09:40] ryanrichard19 commented on #1980
Thanks found this really helpful. Had this error for the passed 2 days.
host.Start();  solved my problem

[2021-08-23 12:32] v-bbalaiagar commented on #2759
Hi @muj-beg, Thank you for your feedback, I shall discuss this internally and get back to you with the findings.

[2021-08-23 23:24] mathewc commented on #2729
@JoshLove-msft - PR https://github.com/Azure/azure-webjobs-sdk/pull/2756 improves the error message here as we discussed.

[2021-08-25 13:07] v-anvari commented on #2752
Hi @TJSagar , The two ways of configuring the retry policy is [App level config](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#retry) and [function level config](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#function-level-configuration). Retry cannot be included in the application settings or local.settings.json. The

[2021-08-25 13:11] v-anvari commented on #2753
Hi @Mike-E-angelo ,The Stable version is 4.0.4. Are you seeing the error only on the beta versions?

Edit: But, I also see that the support for queues extends till beta.5. Microsoft.Azure.WebJobs.Extensions.Storage.Queues (>= 5.0.0-beta.5).

This shall require further investigation. Could we have the repro steps. Can you also share the Function invocation id caused during the error, Time stamp and

[2021-08-25 13:18] v-anvari commented on #2755
Hi @johnkors , Thank you for reaching out to us,  We will investigate this further and update you with the findings.

[2021-08-25 13:19] v-anvari commented on #2755
Kindly give us the repro steps and details of local deployment, so that we can reproduce this at our end

[2021-08-25 15:01] Mike-E-angelo commented on #2753
Thank you for your reply @v-anvari.  I do not believe I ever used the stable version, or if I did there was something about the beta that was required.  Not sure, it was a long time ago. 😁

I did a little more digging for you and it appears that this started in `beta.2`.  Additionally, I am now seeing exception messages where before I did not.  It appears this is due to processing `UTF-8` messages

[2021-08-25 15:50] v-anvari commented on #2753
Thank you for the information, we shall investigate this further and update as appropriate

[2021-08-25 16:58] Mike-E-angelo commented on #2753
Great, thank you @v-anvari!

[2021-08-25 21:45] krishnasingh1818 opened #2757 "debug the az function run time code that receives the msg from service bus and deserializes"
Binding to poco object in servicebus topic trigger auto fills up datetime properties with datetime.min value if input json is string.empty.

#### Repro steps

Provide the steps required to reproduce the problem
1. create new Customer class with just OrderTimestamp property
2. create topic/subscription and one azfunction topic trigger
3.  post a json to topic with empty OrderTimeStamp property {"or

[2021-08-26 17:41] v-bbalaiagar commented on #2757
Hi @krishnasingh1818, We would like to have the piece of code that you are using in order to repro the project and error that you are seeing.
Meanwhile, Can you please go through the below links -
https://github.com/Azure/azure-webjobs-sdk/blob/dev/sample/SampleHost/Functions.cs
https://github.com/Azure/azure-functions-host/blob/dev/sample/CSharp/HttpTrigger-Poco/run.csx

Please check and let us k

[2021-08-26 19:33] johnkors commented on #2755
Hm, not sure what more you need. The function csproj does not build, and provides the output shown above. So I guess: repo step: `dotnet build` a function project as shown here.

[2021-08-26 20:56] #2729 closed, assigned to mathewc

[2021-08-27 13:10] v-anvari commented on #2755
Hi @johnkors , We require the steps are language you are following to build.

[2021-08-27 15:33] garoyeri commented on #2755
I am having the same issue with the latest .NET 6 preview SDK installed:
(Azure CLI and Azure Function Core Tools are installed)

[code]

The failure is exactly what was mentioned earlier by @johnkors

[2021-08-28 20:44] johnkors commented on #2755
Sorry, I thought it was evident that this was a .NET project from the details provided (.NET SDK, csproj, dotnet SDK, etc).

Language: C#, .NET

[2021-08-29 14:01] ghost commented on #2752
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-30 16:23] garoyeri commented on #2755
This might belong with https://github.com/Azure/azure-functions-host/tree/dev/tools/ExtensionsMetadataGenerator instead.

[2021-08-30 18:01] ghost commented on #2757
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-08-31 06:47] TJSagar commented on #2752
Thank you for the reply, is there any plan to add Retry Policy Configurable at Function level and not at Function App level, may be next releases?

[2021-08-31 09:12] v-anvari commented on #2752
Hi @TJSagar , As mentioned in the comment earlier, you can add the configuration in function level - https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#function-level-configuration

[2021-09-02 08:17] johnkors commented on #2755
Never got it working. To get back to a stable working environment, I had to

1. Uninstall / remove all folders related to the .NET 6 SDK, https://docs.microsoft.com/en-us/dotnet/core/install/remove-runtime-sdk-versions?pivots=os-macos#uninstall-net
2. Re-install the .NET 5 SDK

Then it builds fine.

[2021-09-02 13:24] garoyeri commented on #2755
The key was replacing the `dotnet` executable. I deleted it and reinstalled .NET 5 SDK to make it work again.

[2021-09-02 16:19] pragnagopa commented on #2759
@brettsam - can you please take a look. New logs should not be emitted at Info level.

[2021-09-02 17:09] sdandu21 opened #2760 "MSI for web job storage accounts"
Is it possible to use MSI token credentials to authenticate web job storage accounts instead of a connection strings?

[2021-09-02 18:02] #2757 closed, assigned to v-bbalaiagar

[2021-09-03 10:11] v-anvari commented on #2755
Discussed this issue internally and Tagging @mathewc / @brettsam for further investigation on .Net 6 SDK

[2021-09-06 10:59] george-ayris commented on #2612
I have also just hit this issue and am wondering why it's happening

[2021-09-06 17:00] v-anvari commented on #2753
Hi @Mike-E-angelo , There were different issues raised on the beta versions. Now when I try to reproduce the issue, I don't see the beta versions in the local development. Let me know if you are able to see the release versions.

![image](https://user-images.githubusercontent.com/66122429/132247045-c1f64c51-8726-4bae-b40b-817671fc24af.png)

[2021-09-06 19:01] Mike-E-angelo commented on #2753
Don't forget to `Include prerelease`, @v-anvari. :)

![](https://i.imgur.com/zLre4Er.png)

[2021-09-07 07:55] Zenuka opened #2761 "Activity.Current is null"
I've noticed that some of our apps have stopped adding custom properties to our application insights telemetry. To investigate I started a new v2 function app project (.net core 3.1 and Microsoft.NET.Sdk.Functions nuget 3.0.13) and noticed that `Activity.Current` is null.

#### Repro steps
The function below will throw a `NullReferanceException` on the first line with `Activity.Current.AddTag("tes

[2021-09-07 13:34] v-bbalaiagar commented on #2760
Hi @sdandu21, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-09-07 14:26] v-anvari commented on #2753
Apologies, Thank you for the information, I am able to reproduce the issue, I shall discuss this issue internally and update as appropriate

[2021-09-07 19:01] ghost commented on #2752
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-08 14:55] garoyeri commented on #2755
I tried this on Windows and it works with the .NET 6 Preview SDK installed, seems like an issue primarily on MacOS.

[2021-09-08 19:46] alexknipfer commented on #1925
Had this happen today and couldn't figure out what was happening until finding this thread, couldn't use `timerTrigger` as the name

[2021-09-08 20:21] ChristopherHaws commented on #1598
To add on to @dsplaisted's solution, if you are building using `Microsoft.NET.Sdk` where props/target files dont live in your csproj file, I was able to fix the issue by adding the properties in a `BeforeBuild` target:

[code]

[2021-09-09 07:30] johnkors commented on #2755
I think that the root cause here is that there is a hidden (at least for me) requirement on the .NET Core 3.1 SDK and the 3.1 runtime. If you add that, it builds fine (even on Windows).

https://github.com/Azure/Azure-Functions/wiki/V4-early-preview#net-60-isolated

Repro with ubuntu+windows+macos: https://github.com/johnkors/dotnet6-sdk-w-functions/actions

[2021-09-09 08:05] johnkors commented on #2755
Mark, even if one uses a `global.json` specifycing the .NET 5 SDK to be used for builds, the build fails. Just having  .NET 6 installed on macOS gives the error mentioned.

[2021-09-09 08:42] johnkors commented on #2755
Not sure, I tried macOS-11, windows-latest and ubuntu-latest on GH actions: https://github.com/johnkors/dotnet6-sdk-w-functions/actions/runs/1216552699

 They all build fine.

<img src=https://user-images.githubusercontent.com/206726/132653002-b0643ed6-7f77-4c22-bbef-cc5335170b7d.png width=400>

Perhaps it's something in the .NET 6 installer for macOS, then? I downloaded it directly from the web i

[2021-09-09 09:37] johnkors commented on #2755
I tried the installing [the .NET 6 RC2 installer from here](https://github.com/dotnet/installer), and did not have the same issues.

![image](https://user-images.githubusercontent.com/206726/132662001-83e511ac-aa5d-4b52-a961-4d8fcb06a8ea.png)

[2021-09-09 10:04] v-bbalaiagar commented on #2760
Hi @sdandu21, I checked this internally. Team was working on an official version of this but it was not published yet.
Specifically for the we jobs storage part, this is the current relevant doc section -
https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#connecting-to-host-storage-with-an-identity

[2021-09-09 10:05] praga commented on #1975
We rely on the dashboard for invoking failed jobs manually, anyway to do this now?

[2021-09-10 19:01] #2752 closed, assigned to pragnagopa, v-anvari

[2021-09-12 04:40] dpapkin opened #2762 "NU1100: Unable to resolve 'Microsoft.NET.Sdk.Functions (>= 3.0.13)' for '.NETCoreApp,Version=v3.1'"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1.  https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs-code?tabs=csharp
In the **Install binding extensions** section

After I type
dotnet add package Microsoft.Azure.WebJobs.Extensions.Storage --version 3.0.4

I get alot of errors

CreateAzureFunctio

[2021-09-13 11:01] ghost commented on #2760
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-13 16:43] v-anvari commented on #2754
Hi @mattfrear , Discussed this request internally, currently there is no support for this scenario. But, adding this issue as a feature request

[2021-09-13 17:33] v-bbalaiagar commented on #2762
Hi @dpapkin, Thank you for your feedback! We will reproduce this issue and update as appropriate.

[2021-09-14 13:41] cristicazan commented on #2575
Hello,

Before updating to the 5.0 version and trying to use managed identity for the blob trigger, we were loading the azure connection string from another file than the local settings one, as we are using that file for other projects besides the function one. In that way, we received a warning but the solution worked.
![image](https://user-images.githubusercontent.com/22996385/133264561-d864f1a0

[2021-09-14 22:10] ericthomas1 commented on #1568
I want to setup a serial Function that processes a single Queue Storage Message at a time. I need to set `newBatchThreshold` to `0`.

Looking through the docs [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register#access-extensions-in-non-net-languages), its unclear to me how to update `Microsoft.Azure.WebJobs.Extensions.Storage` extension.

- I can't tell whethe

[2021-09-14 23:28] mathewc commented on #1568
@ericthomas1 The doc [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register#extension-bundles) shows the extension versions included in each version range. E.g. for your version spec, version 4.x of Microsoft.Azure.WebJobs.Extensions.Storage is included, so you should be good.

[2021-09-15 08:37] DarthSonic opened #2763 "Method not found: Microsoft.ApplicationInsights.SnapshotCollector.TelemetryProcessorChainBuilderExtensions.UseSnapshotCollector"
After updating from 3.0.27 to 3.0.29 I get the following exception in my WebJob and I am not able to fix it.

`{"Methode nicht gefunden: \"Void Microsoft.ApplicationInsights.SnapshotCollector.TelemetryProcessorChainBuilderExtensions.UseSnapshotCollector(Microsoft.ApplicationInsights.Extensibility.Implementation.TelemetryProcessorChainBuilder, Microsoft.ApplicationInsights.SnapshotCollector.Snapsho

[2021-09-15 08:51] DarthSonic commented on #2763
Never mind. Was another package I updated the same time: Microsoft.ApplicationInsights.SnapshotCollector

[2021-09-15 08:51] #2763 closed, assigned to fabiocav

[2021-09-15 20:50] ericthomas1 commented on #1568
Thank you for the clarification. I wasn't exactly sure that *bundle* version 3.0.0 included *storage* version 3.0.1 or higher.

[2021-09-15 21:58] tedterrill commented on #1418
Not sure if anyone is still checking here, or if this is the same issue, but in case someone comes across this... I had this same problem described by the posters above. I had made changes to our webjob code, then build, and deployed. Once deployed, I noticed the old code was still running. I could easily confirm this because all of my libraries log their version number to our logs in application

[2021-09-16 12:01] #2760 closed, assigned to pragnagopa, v-bbalaiagar

[2021-09-17 12:43] michielvoo commented on #1064
@davidebbo You wrote about the WebJobs SDK:

In my experience when running from Visual Studio locally on Windows 10 the registered cancellation methods are not called when the file appears. They are called when the file is **saved**. So I create the (text) file, nothing happens, I open the file in a text editor, save it, and then the registered cancellation method is called. We save something to t

[2021-09-17 16:53] drewdelano commented on #2454
@mathewc @yuvalpeled1 is this fixed now?

[2021-09-17 17:14] mathewc commented on #2454
Yes, this fix has been released.

[2021-09-17 17:14] #2454 closed, assigned to mathewc

[2021-09-20 17:01] v-anvari commented on #2753
Hi @kasobol-msft , Tagging for further investigation. We have a repro with this issue, can you kindly take a look.

FYI - @fabiocav

[2021-09-20 17:11] kasobol-msft commented on #2753
Please see https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md#500-beta2-2021-02-09 .

[2021-09-20 17:16] v-anvari commented on #2753
Thank you for the information

[2021-09-20 17:28] Mike-E-angelo commented on #2753
Indeed, this issue is a lot easier to accept/understand now that there are exception messages being thrown.  When I first encountered it, there were zero exceptions being emitted to the console/logging and it was incredibly perplexing.  I am not sure if that was a transient issue w/ VS2019 or what.  In any case, this makes sense now and kudos for putting the notes in the `CHANGELOG`. 👍

Closing th

[2021-09-20 17:28] #2753 closed, assigned to brettsam, v-anvari

[2021-09-20 22:11] garoyeri commented on #2755
I just upgraded to the rc1:

[code]

When I run the build of a Azure Function project, it still fails with the same error message:

[code]

[2021-09-21 10:24] v-bbalaiagar commented on #2762
Hi @dpapkin, I am able to reproduce the issue. I am able to add `add dotnet add package Microsoft.Azure.WebJobs.Extensions.Storage --version 3.0.4 ` as expected.

![image](https://user-images.githubusercontent.com/74654421/134154374-22e34c42-cd26-4260-a483-9aab8e03fb39.png)

Let us know if you are still facing the same issue.

[2021-09-21 16:24] tafs7 commented on #2431
@fabiocav any updates on this, or can you point me to any docs/guidance on how to build a webjob targetting .NET Framework (not .NET Core)?

Currently have a legacy app that I migrating a classic cloud service (worker role) to a web job.  I cannot migrate the entire codebase to .NET Core.

The VS2017 project template for an Azure Web Job using .NET Framework still adds a package reference to `Micr

[2021-09-21 16:39] AdiThakker commented on #2037
@tohling : Is there any update on this? Should i look anywhere else for more information. Appreciate the feedback. I am currently looking at the Service Bus Extensions sdk and will next look into the functions runtime to see if I can find more information.

[2021-09-22 13:49] jesperkristensen opened #2765 "Always create webjobs-blobtrigger-poison queue in BlobTrigger"
When a `BlobTrigger` fails to process a blob change, it creates a message in a storage queue named `webjobs-blobtrigger-poison`. This queue is created the first time a message is put in it. We want to monitor the poison queue for errors, but our monitoring fails for new Function Apps where no errors have occurred yet, because the queue does not exist.

#### Repro steps

Deploy a Function App with

[2021-09-22 17:40] viclin-msft commented on #2121
Any updates on this? I am facing the same issue. Here is another similar thread, from 2017-2018: [WEBSITE_HOSTNAME in Azure App Service returns the wrong host name](https://social.msdn.microsoft.com/Forums/en-US/eda69797-3f86-4fe7-bab2-34666e1e209c/websitehostname-in-azure-app-service-returns-the-wrong-host-name)

[2021-09-22 18:04] Mike-E-angelo commented on #2753
Hi All, me again. 😁

I am looking into this now, and the suggested configuration appears to be for `host.json`.  In my case, I do not have a `host.json` in my application which is a Console Application working as a WebJob and not an Azure Function (where it seems `host.json` is used, based on searching).  I have been spending the past hour attempting to search for how to apply `host.json` configur

[2021-09-22 18:24] kasobol-msft commented on #2753
@Mike-E-angelo  You can call https://github.com/Azure/azure-sdk-for-net/blob/7583626ea7f12e801002febe185ab719a94c14dc/sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/StorageQueuesWebJobsBuilderExtensions.cs#L29 programatically when you build webjobs host.

[2021-09-22 18:38] Mike-E-angelo commented on #2753
Thank you for your suggestion @kasobol-msft it is appreciated.  That's actually what I am currently doing and what I referenced to earlier with "hardcoding" the configuration.  Is there no way to apply this configuration via a file for Console Applications?

[2021-09-22 20:43] fabiocav commented on #2755
Can you please upgrade your SDK version to https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/4.0.0-preview2 and let us know if the problem is resolved? Thanks!

/cc @brettsam

[2021-09-22 21:33] RichMercer commented on #2755
I've just tried this and I have the same issue. I should probably mention I wasn't previously using this SDK as I was referencing Microsoft.NET.Sdk.Functions.Worker.Sdk as I was using the isolated process with .NET 5.0. It still doesn't work with Core Tools v4 though.

[2021-09-22 21:45] kasobol-msft commented on #2753
I can't see an easy way to achieve that other than read a file before you configure host and use values from the file in the `Action<QueuesOptions>`

[2021-09-23 07:37] johnkors commented on #2755
@fabiocav

Yep, that seems to work (i.e. I don't get the "error : Metadata generation failed. Exit code: '137' Error: 'Failed to initialize CoreCLR, HRESULT: 0x80004005'" error no more), except I get these build warnings instead:

[code]

NB, notice the preview2 package tries to resolve props/targets from a preview1 package path.

[2021-09-23 07:47] johnkors commented on #2755
And a +1 on @RichMercer comment. The same issue of "Failed to initialize CoreCLR, HRESULT: 0x80004005'" applies to `Microsoft.NET.Sdk.Functions.Worker.Sdk` as well.

[2021-09-23 07:50] johnkors commented on #2755
Just to be double clear so you don't spend to much down the wrong rabbit hole: As i mentioned above, installing .NET 6 SDK RC2 _last_ (meaning the sequence in which you install the .NET SDK matters for this issue) resolved this issue.

It builds both `Microsoft.NET.Sdk.Functions.Worker.Sdk` (dotnet-isolated) and `Microsoft.NET.Sdk.Functions` (in-process) projects just fine.

[2021-09-23 09:46] RichMercer commented on #2755
I haven't been able to install the RC2 build as it fails so I cannot confirm. It seems there's a new build now than the screenshot above that doesn't work so I'll wait for a working build and try again.

[2021-09-23 11:44] jpovey opened #2766 "Resolve auto properties which are not strings"
When creating a custom binding for an Azure function it is not possible to AutoResolve a property which is not a string.
After setting up the binding there are no compile time errors but this error is raised at runtime
`Microsoft.Azure.WebJobs.Host: Error indexing method 'ExampleFunction'. Microsoft.Azure.WebJobs.Host: ConnectionStringAttribute, AutoResolveAttribute, or AppSettingAttribute propert

[2021-09-23 16:47] Mike-E-angelo commented on #2753
Bummer @kasobol-msft.  Thank you for taking the time to relay the bad news.  It's very surprising/disappointing that this does not exist but I will work with the hardcoding for now.  I do appreciate your efforts out there as well as taking the time to assist. 👍

[2021-09-24 09:36] RichMercer commented on #2755
I've managed to get RC2 installed and can confirm that I can now run dotnet-isolated on .NET 6.

[2021-09-24 15:19] garoyeri commented on #2755
Question: where do I make this change in my csproj? I don't see a reference to this SDK anywhere in my project file.

[2021-09-24 19:29] johnkors commented on #2755
Perhaps you created a `dotnet-isolated` function? Microsoft.NET.Sdk.Functions is for netcoreapp3.1 and`in-process` functions, and if you selected `dotnet-isolated` when running `func init` you'd get a reference to Microsoft.Azure.Functions.Worker.Sdk instead.

There does not seem to be an equivalent preview with a fix for Microsoft.Azure.Functions.Worker.Sdk (yet?), but [as mentioned](https://gith

[2021-09-24 20:58] RichMercer commented on #2755
.NET 6.0 RC2 also fixes the issues with Microsoft.Azure.Functions.Worker.Sdk as well, assuming you instal RC2 last. I confirmed this earlier today and have been happily running functions since. :)

[2021-09-25 11:01] ghost commented on #2762
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-28 11:01] #2762 closed, assigned to brettsam, v-bbalaiagar

[2021-09-28 14:02] v-bbalaiagar commented on #2766
Hi @jpovey, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-09-29 09:41] DingmaomaoBJTU opened #2767 "Queue trigger timeout exception cause host restart"
Similar to https://github.com/Azure/azure-webjobs-sdk/issues/2476, we notice the host is keeping restarting with queue connection issue:

System.Net.Sockets.SocketException
A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond 52.241.88.73:443

   at Microsoft.Azure.Stor

[2021-09-29 13:01] mukundnigam opened #2768 "BlobTrigger listener fails to start on empty container in Kubernetes scenario"
**Please provide a succinct description of the issue.**

This behavior is seen if the Blobtrigger user code(executing inside container) runs in K8s+K4Apps(with Keda) environment.

User code is triggered if atleast 1 blob is initially present in the storage container at the time when the application first POD comes up.
If the blob is added few minutes after the first POD terminates( after cooling p

[2021-09-29 15:41] lpapudippu commented on #2768
@pragnagopa Please help us with Triaging the issue.

[2021-09-29 15:43] pragnagopa commented on #2768
@AnatoliB @fabiocav  as FYI

[2021-09-30 00:57] MikeChristensen opened #2769 "Error creating an IFunctionProvider with a non-static trigger"
I have an `IFunctionProvider` implementation for an Azure Function that creates a route for `/healthcheck`.  The entrypoint for my function metadata is a method called `Somenamespace.TestTrigger.RenderHealthCheck`.  My code looks like this:

[code]

This works fine, and when I run the function and hit the `/HealthCheck` endpoint I get my OK message.  However, I'd like to make the `RenderHealthChec

[2021-10-01 13:52] acranefei opened #2770 "Blob Trigger Stream Timeout and Operation was Canceled"
When processing (XML) many blobs of various sizes (50MB to 1G), I receive the following exception. It seems that the stream on the blob trigger times out when trying to parse the files. I was able to lessen these errors by adjusting the batch size down to 1, but they still come up every so often. Originally I thought the file sized matter so I reprocessed one of the largest files one at a time an

[2021-10-04 10:27] v-anvari commented on #2770
Hi @acranefei , Can you provide us the function invocation id, time stamp and region in which the App is running. This will help us go through the logs.

Also, which plan are you currently using in your App

[2021-10-04 10:32] v-anvari commented on #2767
Hi @DingmaomaoBJTU , could you provide us the csproj file and share the function app name [privately ](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately#option-2)

[2021-10-04 10:36] v-anvari commented on #2476
Hi @FinVamp1 , Do we support this scenario fully as of today? Is there any improvement in supportability yet to be made, since there are few users receiving the error

[2021-10-04 14:56] FinVamp1 commented on #2476
@v-anvari  The improved error handling was added in version 3.0.11 and above of the Storage Extension. https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage/3.0.11 . Customers seeing this issue first need to migrate to that version or higher and then see if they see the issue resolved. Depending on the geographic location of the Storage account in relation to the Azure Function

[2021-10-05 11:35] v-bbalaiagar commented on #2769
Hi @MikeChristensen, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-10-05 12:51] v-anvari commented on #2767
Hope this solution works for your App https://github.com/Azure/azure-webjobs-sdk/issues/2476#issuecomment-933568342

[2021-10-05 15:46] acranefei commented on #2770
@v-anvari
Invocation id: c0f88d07-e188-4e7d-ada9-41ede8a82141
Timestamp (UTC): 10/5/2021 6:35:34 PM
ASP: P2V3
Region: EastUS2

[2021-10-06 21:19] GoradeAarti commented on #2109
We are looking for official MSI support to get rid of storage connection string for WebJobs. any update on this issue?

[2021-10-08 02:45] DingmaomaoBJTU commented on #2767
@v-anvari we had a version much higher than 3.0.11. Ours is microsoft.azure.webjobs.extensions.storage\4.0.4. For the csproj & function name, I will ping you on teams.

[2021-10-08 16:25] mathewc opened #2772 "Unify SKU based processor count defaults"
We have several different helper methods being used in various places, each with different behavior:

- [GetProcessorCount](https://github.com/Azure/azure-webjobs-sdk/blob/3f4ec78be9f43bb041937425ced00b341883aa42/src/Microsoft.Azure.WebJobs.Host.Storage/Utility.cs#L24)
  - used by the queues extension [here](https://github.com/Azure/azure-webjobs-sdk/blob/3f4ec78be9f43bb041937425ced00b341883aa42/s

[2021-10-08 18:58] sihanook opened #2773 "IValidateOptions not getting called in my Web Job"
I am trying to implement the IOptions pattern described at https://docs.microsoft.com/en-us/dotnet/core/extensions/options to replace some less elegant validation logic. It works fine for the most part, except that I am not able to get my IValidateOptions implementation to trigger at all.

#### Repro steps

I have a class that looks like below:

    public class TriggerSettings
    {
        publi

[2021-10-11 16:43] v-bbalaiagar commented on #2766
Hi @jpovey, Discussed this request internally, adding this issue as a feature request to consider this in future implementations.

[2021-10-11 16:45] v-bbalaiagar commented on #2769
Assigning this issue to @fabiocav  for further investigation.

[2021-10-11 17:01] MikeChristensen commented on #2769
@fabiocav Lemme know if you need help to reproduce this..  Code above should work, but you'll want to add it as a Singleton:

[code]

[2021-10-12 03:01] ghost commented on #2767
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-10-12 13:49] v-anvari commented on #2767
Hi @DingmaomaoBJTU , Please provide the invocation id, region and timestamp

[2021-10-13 03:22] DingmaomaoBJTU commented on #2767
The function app name: BotManagementJob

The function name: BotStateCleanupFunction

Region: Brazil South

Timestamp: 2021-09-22 05:42:42.6912954

[2021-10-13 03:22] DingmaomaoBJTU commented on #2767
Not sure what invocation id means

[2021-10-13 12:14] v-anvari commented on #2767
This information would suffice .thank you

[2021-10-15 18:42] mathewc opened #2776 "DrainModeManager is unnecessary"
In https://github.com/Azure/azure-webjobs-sdk/pull/2526 a new IDrainModeManager service was added. The goal as described in that issue was to allow an API to be called that would stop the host listeners, and signal cancellation tokens for any in progress invocations. **However, that's precisely what JobHost.StopAsync does already** before these changes (see code [here](https://github.com/Azure/azu

[2021-10-16 19:45] JasonKleban commented on #2546
Bump.  I can't seem to find any solution for this short of having a catch block return from each of my many functions, which is a LOT of extra syntax for this basic need.

[2021-10-20 12:21] Hakuroda opened #2777 "Application Insights Trouble Shooting log doesn't generate."
Using Azure WebJobs SDK I'd like to take a trouble shooting log for AI.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-troubleshoot-no-data#net-core

I implemented this with Azure WebJobs SDK but doesn't generate the log.

When I create simple .Net Core Web Application then this trouble shooting log succeeded to generate.

#### Repro steps

1. Program.cs is like this.
The AI trou

[2021-10-22 13:04] eddynaka opened #2778 "What is the best approach to delete/move a blob from a BlobTrigger?"
Hi,

I'm creating an azure function that has a BlobTrigger and this function can output in two other places: success-container or fail-container.

Something like:
start-container -> copying file to success-container or fail-container.

Since I don't want to have the same file in two different containers, I would like to either move or delete the initial blob.

What is the best approach for this de

[2021-10-22 14:24] naveenpraveen commented on #1986
@mathewc
If we use this code will it retry up to **maxretrycount** for **unsuccessful** message and move to **deadletter** or **directly** move to deadletter without any retry? Please help me in this I am searching for in Internet for this but i didnt got any clue

[2021-10-25 18:37] mathewc commented on #2778
If you have a .NET function, you can do something like the following, using the Azure Storage blob APIs to perform the operations:

[code]

There's likely other ways you can accomplish this as well.

[2021-10-25 18:39] eddynaka commented on #2778
Hi @mathewc ,

when to choose CloudBlockBlob vs Stream in the arguments? Do we have a benefit from using the CloudBlockBlob?

[2021-10-25 18:43] mathewc commented on #2778
You could use either. The StartCopyAsync method takes a CloudBlockBlob, which is why I used it above.

[2021-10-25 18:43] #2778 closed, assigned to nobody

[2021-10-26 07:18] v-bbalaiagar commented on #2777
Hi @Hakuroda, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-10-27 20:48] fabiocav commented on #2712
@mathewc this came up in review. It would be good to get your feedback here.

[2021-10-27 23:14] mathewc commented on #2712
You're talking about the code [here](https://github.com/Azure/azure-webjobs-sdk/blob/b6d5b52da5d2fb457efbf359cbdd733186aacf7c/src/Microsoft.Azure.WebJobs.Host.Storage/StorageServiceCollectionExtensions.cs#L47) (storagev4 version [here](https://github.com/Azure/azure-webjobs-sdk/blob/da78eb482e5b2d44fae6b911bc11bddefff7abd7/src/Microsoft.Azure.WebJobs.Host.Storage/StorageServiceCollectionExtensions

[2021-11-01 03:24] Hakuroda commented on #2777
I finally found out a reason. As it describes here, services provided host can't be overwritten all of that.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#overriding-host-services

Is my understanding right?

[2021-11-01 10:02] v-anvari commented on #2770
Hi @acranefei , Apologies for the delay, Somehow missed the reply. Here is a quick analysis done through the logs.
I do see that at times the files are not processing and causing the host to shutdown not so gracefully. This is impacting other requests as well. I see the error `Singleton lock renewal failed for blob`- this can be mitigated by troubleshooting the cause as mentioned here - https://gi

[2021-11-01 10:42] v-anvari commented on #2706
Closing this issue here , as a doc issue has been raised for clarification

[2021-11-01 10:42] #2706 closed, assigned to nobody

[2021-11-01 10:48] v-anvari commented on #2685
Hi @Fraegle ,
5.X.X versions are supported and were explicitly released for .Net 5. .Net core 3.xx or lesser do not support the 5.x.x versions. There has been a 5.x.x package release for the required package. Below is the link.
https://www.nuget.org/packages/Microsoft.Extensions.DependencyInjection/5.0.2

Closing this issue hoping that the issue will be fixed with this package. Please feel free to

[2021-11-01 10:48] #2685 closed, assigned to nobody

[2021-11-01 10:50] v-anvari commented on #2678
Closing this issue as this has been fixed

[2021-11-01 10:50] #2678 closed, assigned to nobody

[2021-11-01 10:53] v-anvari commented on #2703
Hi @kirk-marple , These dependencies were coming from other packages which contained similar packages. The issue occurred due to a mismatch which has been fixed with the later packages. Closing this issue as fixed, please feel free to reach back to us or re-open this issue in case of any queries.

[2021-11-01 10:53] #2703 closed, assigned to nobody

[2021-11-01 11:01] v-anvari commented on #2734
There are new release versions as mentioned in below links and there were no reports of such errors or warnings. Closing this issue as fixed, please feel free to re-open this issue in case of any queries

[2021-11-01 11:01] #2734 closed, assigned to nobody

[2021-11-01 11:02] v-anvari commented on #2734
https://www.nuget.org/packages/Microsoft.AspNetCore.App.Ref
https://www.nuget.org/packages/Microsoft.AspNetCore.App
https://www.nuget.org/packages/Microsoft.AspNetCore.Http

[2021-11-01 11:08] v-anvari commented on #2644
Closing this issue as the packages are still supported, only that there won't be any new releases to such packages. But, this shouldn't impact the application.

https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage depends on packages above 11.1.17 of Microsoft.Azure.Storage.Queue
![image](https://user-images.githubusercontent.com/66122429/139662531-b53d4596-f6b7-480e-a24d-92a8

[2021-11-01 11:08] #2644 closed, assigned to nobody

[2021-11-01 11:11] v-anvari commented on #2632
Closing this issue as these issues have been addressed with later versions. Please feel free to open the issue if you see anything with the latest release

[2021-11-01 11:11] #2632 closed, assigned to nobody

[2021-11-01 16:34] v-bbalaiagar commented on #2777
I checked this internally. Can you try to use the application insights SDK directly and register the application insights services directly and not use the web jobs implementation of application insights.

[2021-11-01 16:38] fabiocav commented on #2777
@AnatoliB for awareness

@brettsam if you have any feedback

[2021-11-02 19:06] ttrushin commented on #2121
Same issue as above...

[2021-11-03 14:57] ben-002 opened #2781 "Dependencies not logged for Microsoft.Azure.WebJobs.Logging.ApplicationInsights newer than 2.0.25"
Please provide a succinct description of the issue.

We have a .NET Core 3.1 azure service bus triggered function and we are using the Microsoft.Azure.WebJobs.Logging.ApplicationInsights package.
Versions newer than 3.0.25 don't log dependencies anymore. For example outgoing dependencies for service bus.
Are there some extra settings that needs to be done starting with 3.0.27?

#### Expected behav

[2021-11-03 20:15] liliankasem commented on #1203
@brettsam do we still need this?

[2021-11-05 10:03] ghost commented on #2770
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-05 17:01] ghost commented on #2777
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-08 13:01] #2770 closed, assigned to brettsam, v-anvari

[2021-11-08 15:16] v-anvari commented on #2781
Hi @ben-002 ,Can we know more about the configuration. Is there anything that changed in your code during this period. How are you tracking these dependencies. Can we have a code snippet

[2021-11-08 15:19] v-anvari commented on #2738
Closing this issue as there is no further activity, please feel free to reach out to us in case of any further queries

[2021-11-08 15:19] #2738 closed, assigned to nobody

[2021-11-08 15:38] v-anvari commented on #2767
Closing this issue here as an incident has been submitted to work on the issue

[2021-11-08 15:38] #2767 closed, assigned to nobody

[2021-11-08 16:11] eminencegrs commented on #2769
Hi guys,

I got the same error when tried to make a function non-static.

@fabiocav
Could you tell us whether there are any updates on the issue?

@MikeChristensen,
Please could you tell me whether you have managed to solve the issue?

Thanks.

[2021-11-08 17:03] MikeChristensen commented on #2769
@eminencegrs Nope, didn't solve it.  My work around is to make the trigger static, and now I have to set `static` properties in the constructor so I can access DI services.  Kinda hacky, but it works for my use-case.  I agree this is a bug and should be fixed.  The entire `IFunctionProvider` mechanism seems unstable and undocumented, I think it's a feature not really meant for production use yet.

[2021-11-08 17:04] #2777 closed, assigned to v-bbalaiagar

[2021-11-09 08:28] eminencegrs commented on #2769
@MikeChristensen Thank you for your answer.

[2021-11-09 08:28] Hakuroda commented on #2777
Hi @v-bbalaiagar
Already closed but let me answer your question.
As I described in **Related information**, if we don't use Azure WebJobs SDK, instead use Application Insighits SDK then the log generates.

[2021-11-09 09:37] misterjunio commented on #2755
I am facing the same issue. Project is on a Mac, with an isolated Azure function. Just tried today to upgrade to the newly minted .NET 6 stable version with Azure functions v4. Details below.

`dotnet --info`:
[code]

`.csproj`:
[code]

Build error:

"/Users/junio.silva/.nuget/packages/microsoft.azure.webjobs.script.extensionsmetadatagenerator/4.0.1/build/Microsoft.Azure.WebJobs.Script.ExtensionsM

[2021-11-09 09:40] johnkors commented on #2755
Yep, this is still an issue with RTM, not only previews / RCs. Updated to title of this ticket to reflect it. The only 2 possible resolutions I've found:

1) 🛠 Re-install .NET 5 SDK _AFTER_ installing .NET 6. This will rollback the dotnet exec launcher to a .NET 5 version that works. Run this, to verify you use a 5.0 launcher:

@(#)Version 5.0.1221.52207 @Commit: 7211aa01b34bb55ca67bdddd6e80ce23ee

[2021-11-09 14:21] v-anvari commented on #1598
Hi @ggirard07 , Can we know if this is still persisting, we apologize for not following up frequently.

[2021-11-09 14:28] v-anvari commented on #2182
Hi @SeanFeldman , Can we know if this is fixed or requires any further follow ups.

[2021-11-09 15:01] SeanFeldman commented on #2182
@v-anvari 2.5 years after it was raised?!
Ask me what was I wearing at my 5th birthday. There's more chances I'll be able to answer that 😂

I suggest asking the folks that reported the issue after me. Thank you.

[2021-11-09 15:06] v-anvari commented on #2182
Apologies

Closing the issue as the errors are unknown. Please feel free to open a new issue in case of any new errors

[2021-11-09 15:10] brettsam commented on #2755
@misterjunio -- do you see this with a brand-new application? (one with fewer package refs?)

@fabiocav / @anthonychu -- could either of you take a look at this and see if you can repro it? Nothing is jumping out at me as to what the issue could be.

[2021-11-09 18:23] fabiocav commented on #2755
Haven't been able to repro, but seen reports that seem to point to possible issues with the .NET 6 installation, particularly on M1.

[2021-11-09 22:42] misterjunio commented on #2755
@brettsam just tried with a brand new project. Followed the steps [here](https://docs.microsoft.com/en-gb/azure/azure-functions/create-first-function-cli-csharp?pivots=programming-runtime-functions-v4&tabs=azure-cli%2Cisolated-process), essentially:

[code]

then changed the target framework to `6.0`:

[code]

Exact same error on build: "/Users/junio.silva/.nuget/packages/microsoft.azure.webjobs.s

[2021-11-10 14:40] gallettoNL commented on #2368
Any updates on this? The webjob template in VS2019 still adds the deprecated packages, updating packages results in compile error "Type Queuetrigger is not defined" What's the story? @v-anvari ? Thanks for any help on this.

[2021-11-10 14:45] gjermystreeva opened #2782 "Scale-in operation (e.g. DrainMode) on function host instances should not cancel in-flight function invocations"
( Please let me know if I've misunderstood what is happening, or if this should be on [azure-functions-host](https://github.com/Azure/azure-functions-host) )

Currently scale-in operations on consumption function apps trigger entering DrainMode. This appears to cancel currently executing functions leading to exceptions being raised and incomplete / aborted function executions.

Our experience with

[2021-11-10 20:43] johnkors commented on #2755
It's actually not that easy to reproduce. I even tried with a macOS agent in a GitHub action with the exact same SDKs, and it built fine.

The only common denominator I found is with the sequence in which you install which SDK version matters (which I could not work out how to in a GitHub action).

The installer team looked at it here: https://github.com/dotnet/installer/issues/11951

Recommend re

[2021-11-10 21:50] fabiocav commented on #2712
Flagging this for the next design discussion.

[2021-11-10 22:28] TheCodeTraveler commented on #2755
I can confirm that [John's work-around, posted above](https://github.com/Azure/azure-webjobs-sdk/issues/2755#issuecomment-963977412), solved the `Failed to initialize CoreCLR` build error for me.

Thanks @johnkors!

@fabiocav - I was experiencing this error on an Intel 2019 MacBook Pro.

[2021-11-11 14:59] santi-paz commented on #1327
Any update on this? This feature would be very useful.

[2021-11-12 00:35] aggieben opened #2783 "Storage account connection string for 'AzureWebJobsStorage' is invalid"
Copied from https://github.com/Azure/azure-functions-dotnet-worker/issues/706; seems this issue actually belongs here.

I have a simple F♯ worker function:

[code]

However, when I run it in the debugger or with `func start`,  any request fails like this (essential error message is in the title):

[code]

I'm trying to connect to the local storage emulator, so my `local.settings.json` is as follow

[2021-11-12 16:02] ghost commented on #2781
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-13 13:09] mgaillez opened #2784 "ServiceBusTrigger with IsSessionEnabled = True generates TimeoutException every minute"
We are having an issue after upgrading Microsoft.Azure.WebJobs.Extensions.ServiceBus from v4 to v5

#### Repro steps

1. Create any function app with Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.1.0
2. Create a function like:
[code]

3. In host.json add:
[code]
4. Run the function app and wait for 1 minute. And you start seeing a timeoutexception every minute from then on.

Having loglevel Warn

[2021-11-14 21:57] camerondm9 commented on #2575
I'm also interested in support for the new Azure.Data.Tables package.

[2021-11-15 17:01] #2781 closed, assigned to brettsam, v-anvari

[2021-11-16 11:07] v-anvari commented on #2783
Can you confirm if the former was in visual studio. Can you also tell us the repro steps and how are you adding the json file

[2021-11-16 11:22] #2583 closed, assigned to nobody

[2021-11-16 11:25] v-anvari commented on #2575
Closing the initial issue as it is resolved. @camerondm9 / @cristicazan Please open a new issue with all the required details as it requires investigation with respect to the scenario

[2021-11-16 11:25] #2575 closed, assigned to nobody

[2021-11-16 11:29] v-anvari commented on #2457
The page has been updated accordingly. Closing as resolved

[2021-11-16 11:29] #2457 closed, assigned to nobody

[2021-11-16 11:33] v-anvari commented on #2432
Hi @madelinegordon , Is this issue resolved or does it require anyone to further investigate or update or can be closed

[2021-11-16 11:49] v-anvari commented on #2381
The version hasn't been updated in the csproj file as seen below, to use the latest packages, we need to explicitly install the required package, so the dependency will be prioritized with the explicitly downloaded package. I have checked with the team for an update in the csproj file. As it is not a blocker, closing this issue
https://github.com/Azure/azure-webjobs-sdk/blob/f3f78bab110503515a08c4

[2021-11-16 11:49] #2381 closed, assigned to nobody

[2021-11-16 19:01] aggieben commented on #2783
@v-anvari Of course.  Here are the steps I followed.

1. Create new function with `func new --language F♯ -t HttpTrigger`, select `dotnet-isolated` when prompted, provide function name when prompted.
2. The output of that command incorrectly creates a C♯ project, so I manually edit it into an F♯ project, using https://github.com/Azure/azure-functions-templates/issues/1096 and https://github.com/la

[2021-11-16 19:47] aggieben commented on #2783
@v-anvari well, I may have accidentally discovered the issue.  I was going back through my steps to reproduce the issue, and was even setting up an example repository for you with commits organized by the steps outlined above, and I discovered that my minimal repro was actually not a repro.  It turns out that the `AzureWebJobsStorage` setting will be considered invalid if the connection string use

[2021-11-17 12:16] liliankasem commented on #2755
Was having this issue trying to build the dotnet worker & host integration tests :D Workaround 1 from John worked for me - thanks for sharing. @fabiocav I believe it is an installation issue also

[2021-11-17 19:54] bbrandt commented on #1284
We have HTTP endpoints in Azure Functions that use Durable Functions.  What is the path forward for middleware or something to check a JWT bearer token when the HTTP endpoint is called?

[2021-11-17 21:47] fabiocav commented on #2432
Closing this as this is a stale issue and several changes in this area have been made since the issue was opened.

[2021-11-17 21:47] #2432 closed, assigned to nobody

[2021-11-18 17:46] v-bbalaiagar commented on #2784
Tagging @AnatoliB / @alrod  for further investigation

[2021-11-19 09:44] gabbsmo opened #2787 "Console log a lot more verbose after update"
I just updated Azure Web Jobs SDK from nuget and now he console log is VERY verbose. It logs every single outgoing request to Azure Storage and with many queue triggered functions it makes for a bad development experience.

#### Repro steps

`builder.ConfigureLogging((c, b) => b.AddConsole()))`

#### Expected behavior

Similar verbosity as before.

Ideally I would like to be able to control whethe

[2021-11-19 13:14] emilbm commented on #2609
We'd also be really interested in this. Switching from WebApp to Functions for our API offerings, we've lost the query parameters in our logs.

[2021-11-19 17:04] mathewc commented on #2787
What exact package version(s) are you using? Can you give examples of some of the logs you're referring to?

[2021-11-19 23:42] alrod opened #2788 "Show "Retries are not supported" warning and disable retries for the triggers without SupportsRetryAttribute"

[2021-11-22 08:36] gabbsmo commented on #2787
Packages before update:

[code]

Packages after update:
[code]

Example of log that was not there before the package upgrade:
[code]

[2021-11-22 12:17] liliankasem commented on #2776
Hey Mathew! Just want to try and wrap my head around this and see if this is something I can maybe pick up after resume in the next sprint.

You're suggesting we keep `DrainModeManager` but change the implementation so that `EnableDrainModeAsync` calls `JobHost.StopAsync` instead?

1. What happens to `CancelFunctionInvocations();` - I don't see StopAsync doing anything around that, so would we sti

[2021-11-22 13:41] v-bbalaiagar commented on #2783
Hi @aggieben, Let us know if you were able to find a solution ,or if you have any further queries.

[2021-11-22 16:30] mathewc commented on #2787
Yes, the later versions of the Azure Storage SDK and extensions do a lot more logging. The move above to version 5 of Microsoft.Azure.WebJobs.Extensions.Storage.Queues brough this new logging in. You can filter these logs your self out by category (e.g. Azure.Core) if you don't want to see them - details [here](https://docs.microsoft.com/en-us/azure/azure-functions/configure-monitoring?tabs=v2#con

[2021-11-22 16:30] #2787 closed, assigned to mathewc

[2021-11-22 16:59] mathewc commented on #2776
No, I'm saying that none of the drain mode interfaces added were needed. The existing JobHost.StopAsync API is the way clients stop listeners and spin down a host. It handles the stopping of all listeners [here](https://github.com/Azure/azure-webjobs-sdk/blob/bba8d6a69f77f3fea870082efcd540a138a788b4/src/Microsoft.Azure.WebJobs.Host/JobHost.cs#L135). This listener is the aggregate composite listene

[2021-11-22 17:17] gabbsmo commented on #2787
@mathewc thanks a lot! Will try this.

[2021-11-23 08:11] batizar commented on #2784
We faced the same issue.

[2021-11-23 08:16] batizar opened #2791 "Sample host code update to .NET6.0"
Hi,
Just wondering if there is any plan to update them sample host code to .NET6.0, it's still NetCore 2.1 which is out of support already.

Thanks.

[2021-11-23 13:31] v-bbalaiagar commented on #2791
Hi @batizar, Thank you for your feedback! We will check this internally and update you with the findings.

[2021-11-23 22:11] fabiocav commented on #2783
@aggieben looks like the casing adjustment addressed your issue. I agree this is questionable behavior, but we're relying on the storage SDK to parse that information [here](https://github.com/Azure/azure-webjobs-sdk/blob/f3f78bab110503515a08c4440e06c900ca6e3cb4/src/Microsoft.Azure.WebJobs.Extensions.Storage/StorageAccountProvider.cs#L56), so the best course of action would be to open an issue aga

[2021-11-23 22:12] fabiocav commented on #2783
Closing as there will be no further action on this repo, but let us know if you need anything else from us. Thanks!

[2021-11-23 22:12] #2783 closed, assigned to nobody

[2021-11-24 00:43] NickCraver commented on #2791
@v-bbalaiagar If this is desired, happy to PR it - I've done the upgrade locally in the course of investigating some performance papercuts and taking advantage of a few new .NET 6 overloads available to us - not sure if we'll update the library to have a `net6.0` build, but upgrading the sample host to at least newer than 2.1 is a fairly minimal change.

[2021-11-25 09:27] jari-kuipers commented on #1199
Has anyone found a package-less workaround for this nowadays?

[2021-11-25 14:58] milad-ghafoori commented on #1390
I am looking for guidelines and tips to write in-memory integration tests for a set of V4 Azure Functions (.Net Core 6 & C#) in isolation mode (out-of-process). Is there any relevant content/sample/article available?

[2021-11-25 23:22] pinggi opened #2792 "Allow to access Function result"
I would like to get Azure Function result in `FunctionInvocationFilterAttribute` to be able to check whether the returned value was successful (200 OK or an error status in case of `IActionResult`).

The result is returned from [InvokeAsync in FunctionExecutor](https://github.com/Azure/azure-webjobs-sdk/blob/f3f78bab110503515a08c4440e06c900ca6e3cb4/src/Microsoft.Azure.WebJobs.Host/Executors/Functi

[2021-11-29 17:37] ghost commented on #2454
Just updated to webjobs sdk 3.0.30 and still seeing this behaviour. One of our webjobs where we use singleton locks, and where the processing of each task is relatively slow, crashes reliably with an error like:

[code]

[2021-11-29 21:50] JuanFaustino opened #2793 "The host has not yet started"
I create new simple Azure LogicApps Standard following https://docs.microsoft.com/en-us/azure/logic-apps/create-single-tenant-workflows-visual-studio-code#webhook-setup.

Azure Blob Service is running sucessfully and when press F5, I receive this error:
Azure Functions Core Tools
Core Tools Version:       3.0.3904 Commit hash: c345f7140a8f968c5dbc621f8a8374d8e3234206  (64-bit)
Function Runtime Ver

[2021-11-30 10:48] v-bbalaiagar commented on #2792
Hi @pinggi, Flagging this issue as a feature enhancement request.

[2021-11-30 15:12] v-bbalaiagar commented on #2793
Hi @JuanFaustino, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-11-30 20:35] nzthiago commented on #2782
@gjermystreeva can you share a small repro of your function code? Interested in whether you have a CancellationToken in the function definition and a try...catch in your code, and the function version being used.

[2021-11-30 22:00] nzthiago opened #2795 "Don't signal shutdown Cancellation Token when starting Drain Mode and include end to end tests"
Customers don't expect a shut down Cancellation Token (related: #2782) when the host enters drain mode.

To ensure currently executing .NET in process functions are allowed to complete successfully we should not signal a host shutdown cancellation token when entering drain mode.

Also as part of the [Drain Mode End to End Tests](https://github.com/Azure/azure-functions-host/blob/dev/test/WebJobs.S

[2021-12-01 15:28] gallettoNL opened #2796 "Visual Studio 2019 webjob template creates references to deprecated package"
Visual Studio 2019 webjob template creates references to deprecated package

#### Repro steps
Create a new project using the webjob template

#### Expected behavior
a project with non-deprecated packages, updatable to latest versions

#### Actual behavior

packages are deprecated

#### Known workarounds

issue #2368, but the packages therein cannot be updated without compiletime errors. I asked ab

[2021-12-01 17:50] liliankasem commented on #2795
Potentially related to https://github.com/Azure/azure-webjobs-sdk/issues/2776

[2021-12-01 21:00] MaximRouiller opened #2797 "Updating to .NET 6 causes "The host has not yet started" with VS2019/VS2022"
Updating a sample to .NET 6 and updating all the dependencies to latest causes an F5 of VS2019/VS2022 to create an error "The host has not yet started".

Output of VS2019 console
[code]

#### Repro steps

Press F5 in VS2019/VS2022 with the following configured.

**csproj file**
[code]

**local.settings.json**
[code]

**host.json**
[code]

#### Expected behavior

Output when running from the CLI
[c

[2021-12-02 00:05] stuartdotnet opened #2798 "Event Grid payload exception for Function EventGridTrigger"
Azure Functions are throwing an EventGridTrigger exception.

#### Repro steps

1. Create a Function with an EventGridTrigger attribute on a CloudEvent parameter. Doesn't matter if it's static or async.

`[FunctionName("eventgridtriggertest")]
public static void Run(ILogger log, [EventGridTrigger] CloudEvent e)`

2. Trigger the Function with an appropriate event.

In the Portal you can do this by c

[2021-12-02 04:13] jonsagara opened #2799 "[QueueTrigger] not deleting message if I extend the visibility timeout"
I have a WebJob that can complete rapidly, or it can run for 30+ minutes. In the latter case, I use the v12 `QueueClient.UpdateMessageAsync()` method to increase the visibility timeout on the message so that another instance doesn't try to process the message again. The problem is that this also updates the `QueueMessage`'s `PopReceipt`. AFAICT, I have no way of updating the original `QueueMessage

[2021-12-02 06:51] mirsaeedi commented on #2799
I'm also facing the same issue.

I have a long-running job that takes more than 10 minutes. After 10 minutes, the QueueTrigger captures the same message from the queue and starts a new job with the duplicate message.

It seems there's still no way to change the `NextVisibleOn` value and the internal timer that is supposed to update this value is not doing its job properly.

[2021-12-03 12:25] otecfuras commented on #2759
@pragnagopa still an issue, application insights traces full of messages related to queue polling. Which logger category (default, Host, Function, ...) is controlling this logger?

[2021-12-03 16:25] mathewc commented on #2759
These polling logs are logged at level Debug (code [here](https://github.com/Azure/azure-sdk-for-net/blob/4162f6fa2445b2127468b9cfd080f01c9da88eba/sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/src/Shared/Queues/QueueListener.Logger.cs#L13)) so if the default log level for your app is set to Information as described in [documentation](https://docs.microsoft.com/en-us/azure/azure-fun

[2021-12-03 17:18] otecfuras commented on #2759
@mathewc I know I shouldn't, but they're still logged:
![image](https://user-images.githubusercontent.com/11886445/144644729-fc0b5f19-9a14-4b45-832b-9e9c363c1773.png)
![image](https://user-images.githubusercontent.com/11886445/144645001-56c0e442-ad93-473d-99e4-9f9ae225d87b.png)

[2021-12-03 17:39] otecfuras commented on #2759
This >
![image](https://user-images.githubusercontent.com/11886445/144647159-fc26e9db-b8b5-44f0-8e55-68b233249bc3.png)
< is even more weird, frequency increased to each 2 seconds even I didn't changed that polling interval. It happened after I've overridden level for Function to `Information` (and restarted function app)>
![image](https://user-images.githubusercontent.com/11886445/144647279-d5d2b7

[2021-12-03 18:50] paulbatum commented on #2797
The csproj needs to have `<AzureFunctionsVersion>v4</AzureFunctionsVersion>` . You'll need to run in VS 2022 (.NET 6 is not supported in VS 2019).

[2021-12-03 18:50] #2797 closed, assigned to pragnagopa

[2021-12-03 19:39] mathewc commented on #2759
The frequency of those polling logs can change, since the poller uses an exponential backoff algorithm, down to the maxPollingInterval you've defined for queues.  @brettsam - any ideas on why the AI logger may not be respecting configured log levels?

[2021-12-04 22:02] ghost commented on #2782
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-06 09:55] gjermystreeva commented on #2782
Hi @nzthiago

I haven't got an actual repro of this outside of our product deploy. However I'll share what I hope to be the salient parts of the function which had the failure above `ServProcessSesEvent`...

Function definition looks like...

[code]

...so no cancellation token in the function definition.... However it looks like exception was actually in the binding to ServiceBus function argumen

[2021-12-06 12:32] J0nKn1ght commented on #808
It would also be good to have the list of queue names config-driven.

In our case, we have a function that processes analytics events (i.e. the queue payload may differ, but is always sent to the same http endpoint), and have segregated the events into different queues based on message frequency, so we can scale out high-frequency queues.

In production, we want to use separate Azure Function host

[2021-12-06 15:59] nzthiago commented on #2782
Thank you for the extra info @gjermystreeva - as you are not observing the Cancellation Token in your function and are using Service Bus extension version 4.1.2, I believe this was addressed last year in an update to the Service Bus extension as per https://github.com/Azure/azure-functions-servicebus-extension/issues/95

Please update your function app to use version 4.2.0 or later of the Service

[2021-12-07 08:00] v-bbalaiagar commented on #2796
Tagging @vijayrkn / @fabiocav / @anthonychu   for review

[2021-12-07 11:09] v-bbalaiagar commented on #2799
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-12-07 11:10] v-bbalaiagar commented on #2798
Hi @stuartdotnet, Thank you for your feedback! We will investigate this further and update you with the findings.

[2021-12-07 16:35] vijayrkn commented on #2796
@phenning - Can we get the VS WebJobs template updated to account for the new breaking changes? We can use this issue to close on the expected content.

[2021-12-07 16:58] phenning commented on #2796
@vijayrkn Sure, if someone who has more context on what the content should be, Ican certainly update it. I'm assuming we'd want to update WindowsAzure.Storage and the Microsoft.Azure.KeyVault.Core packages as well to use Azure.Storage.Blobs and  Azure.Security.KeyVault.Secrets respectively, since they are also marked as deprecated.

[2021-12-07 17:03] gallettoNL commented on #2796
I'd say a simple setup so queue triggered, scheduled or permanent jobs are easy to set up and publish to Azure.
Maybe throw in config as well 😇

Op 7 dec. 2021 17:58 schreef Phil Henning ***@***.***>:

@vijayrkn<https://github.com/vijayrkn> Sure, if someone who has more context on what the content should be, Ican certainly update it. I'm assuming we'd want to update WindowsAzure.Storage and the Mi

[2021-12-07 17:20] phenning commented on #2796
@fabiocav / @anthonychu If your team could get the exact generated content, I can update the template in the right repo.

[2021-12-09 18:16] v-bbalaiagar commented on #2798
Tagging @AnatoliB / @alrod   for further investigation

[2021-12-10 07:05] MhAllan opened #2804 "Can't find RetryContext"
I am trying to access RetryContext, but no docs about it, this PR from Jan suggests it is in ExecutionContext, but nothing in my latest nuget

https://github.com/Azure/azure-webjobs-sdk/commit/a3e31ba400c70925fdca5ca27168d641aacc2155#diff-57c7dd157eaf1bbc639935a59646af6517c4a534f3abfdc43f15e2e548d1fa7bR111

[2021-12-10 17:42] drewdelano commented on #822
We're seeing this too.  There seems to always be a spike in the CPU right around when this happens (it goes to 100% and stays there) but I'm not sure if that's cause or effect.

[2021-12-10 18:02] ghost commented on #2782
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-10 23:15] jgertzell commented on #2318
Has anyone been able to resolve this?
We have been seeing this error for a few months now for a single netcore 3.1 function-app running on both consumption (linux) and elastic (windows) across different environments. The app contains ServiceBusTriggers, EventGridTriggers and QueueTriggers and runs on runtime version 3.

[2021-12-13 07:42] af-jrb opened #2805 "Application Insights in .net core API + WebJob"
We experienced issues when we have a project configured with both AI telemetry and AI webjobs.

#### Repro steps

1. .net core (3.1) API connected to Application Insights with `.AddApplicationInsightsTelemetry` in Startup's ConfigureServices, as documented [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core).

2. web job in the same API. The logging there does not work wit

[2021-12-13 15:27] sven5 commented on #2793
same issue here
![image](https://user-images.githubusercontent.com/8734624/145839948-469e8588-2b79-4cca-bcc7-a254505e742e.png)

Beginning of StackTrace:

[code]

[2021-12-13 15:41] sven5 commented on #2793
Ok, I have the solution, it's easy, you just have to run all Azurite services.
In VSCode - hit F1 - type **Azurite: Start**

[2021-12-13 16:07] brettsam commented on #822
That's likely the cause -- these conflicts seem to always arise when function code is causing thread-pool starvation. The timers we use to renew locks don't fire on time and the lease can be lost, causing this error log. The recommendation is to evaluate your code for issues that may be causing thread pool starvation and try to remove them.

[2021-12-13 16:20] anthonychu opened #2808 "Clarify message when extension bundles are not configured"
Currently, for non-.NET languages, if extensions are needed but extension bundles are not configured, the following [message](https://github.com/Azure/azure-webjobs-sdk/blob/bba8d6a69f77f3fea870082efcd540a138a788b4/src/Microsoft.Azure.WebJobs.Host/Properties/Resource.resx#L127) is displayed which doesn’t help the customer resolve the issue:

Add a new message or update the message when this except

[2021-12-13 19:01] #2782 closed, assigned to nobody

[2021-12-14 08:28] johnkors commented on #2755
@fabiocav

What about the `DotNetMuxer`?  This code [ExtensionsMetadataGenerator/DotNetMuxer.cs](https://github.com/Azure/azure-functions-host/blob/dev/tools/ExtensionsMetadataGenerator/src/ExtensionsMetadataGenerator/DotNetMuxer.cs) tries to do magic with the muxer with a bunch of fallbacks. Could there be a macOS + .NET 6 specific bug in that code? It has'nt been altered since 2018. Perhaps ther

[2021-12-14 09:08] v-bbalaiagar commented on #2804
Hi @alrod, Can you kindly look into this.

[2021-12-14 12:02] gjermystreeva commented on #2782
Hi @nzthiago - many thanks for the info on the Service Bus extension fix/update. We will update to 4.2.0 or later and monitor for any reoccurrence.

[2021-12-14 13:06] v-bbalaiagar commented on #2805
Hi @joaocpribeiro , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-12-14 13:37] gallettoNL commented on #2796
Just curious: any news on this?

[2021-12-14 14:21] JuanFaustino commented on #2793
Thanks a lot Sven. It is works.

[2021-12-14 14:21] #2793 closed, assigned to nobody

[2021-12-15 18:26] adamstoffel opened #2807 "In NodeJS Blob trigger always binds as binary buffer regardless of 'dataType' setting"
The Blob Trigger binding for NodeJS functions always binds data as a Buffer even if 'dataType' is set to 'stream' or 'string'.

#### Repro steps

1. Create a node-based function using the blob trigger
2. Set "dataType" to "stream" in function.json:
[code]

#### Expected behavior

`fileBlob` input parameter should be some kind of Stream type

#### Actual behavior

`fileBlob` input parameter is a Bu

[2021-12-15 21:56] kashimiz commented on #2808
Per @soninaren, this would be a good candidate for a diagnostic event.

[2021-12-16 09:32] jesperkristensen opened #2809 "Avoid logging uncaught exception errors without exception details."
When a function throws an unhandled exception, three errors are logged to Application Insights, only two of the errors contains details about the logged exceptions, making it difficult to route the third error to the correct place in Application Insights Alert rules.

#### Repro steps

I have a function like this:
[code]

#### Expected behavior

Only one error is logged to Application Insights, or

[2021-12-17 05:03] plamber opened #2810 "What is the proper way to instantiate a QueueProcessor instance?"
Hi there!
I recently upgraded from Azure Functions v3 to Azure Functions v4. During this upgrade, I had to update Microsoft.Azure.WebJobs.Extensions.Storage.Queues assembly to Version 5.0.0.0.

In the previous version, it was possible to implement the interface IQueueProcessorFactory and modify in code the processor options (MaxPolilingInterval, MaxDequeueCount, VisibiltyTimeout). This allowed us

[2021-12-20 08:53] v-bbalaiagar commented on #2807
Hi @adamstoffel, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-12-20 17:08] v-bbalaiagar commented on #2810
Hi @plamber, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-12-22 06:42] Uffman opened #2812 "Failed to initialize CoreCLR, HRESULT: 0x80070057"
Upgraded Azure Functions App to .NET6.0 and v4. Since then build fails, using Visual Studio 2022 debug, Any CPU

C:\Users\marko\.nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\4.0.1\build\Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets(37,5): warning : Failed to initialize CoreCLR, HRESULT: 0x80070057

C:\Users\marko\.nuget\packages\microsoft.azure.web

[2021-12-22 11:26] gallettoNL commented on #2796
@phenning @vijayrkn, has this issue gone stale? Or am I too impatient?  ;-)

[2021-12-22 23:52] pakrym opened #2813 "Tables binding fails when reading JObject entity written by Azure.Data.Tables from Cosmos Tables"
Tables binding fails when reading JObject entity written by Azure.Data.Tables from Cosmos Tables

[code]

#### Repro steps

1. Use Cosmos Tables

2. Publish an entity using Azure.Data.Tables:

[code]

3. Try to consume the entity using a function with JObject parameter:

[code]
#### Expected behavior

Works.

#### Actual behavior

Throws an exception.

#### Related information

* Package version
[

[2021-12-22 23:53] pakrym commented on #2813
cc @christothes

[2021-12-28 10:07] v-bbalaiagar commented on #2812
Hi @Uffman, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.
Meanwhile, here is a SO which addresses similar scenario and solutions to resolve it - https://stackoverflow.com/questions/59295465/getting-metadata-generation-failed-when-building-c-sharp-function-app-in-visua

Please check and let us know if this helps.

[2022-01-01 11:01] ghost commented on #2812
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-01-03 06:38] Uffman commented on #2812
OK, thank you for the info

[2022-01-03 08:25] Uffman commented on #2812
Still the same problems as described here:
[https://stackoverflow.com/a/69917702/4058437](https://stackoverflow.com/a/69917702/4058437)

[2022-01-03 12:46] v-bbalaiagar commented on #2072
Closing this issue here as this issue has been fixed in https://github.com/Azure/azure-webjobs-sdk/pull/2277 .

[2022-01-03 12:46] #2072 closed

[2022-01-03 13:09] gallettoNL commented on #2796
@mathewc , @v-bbalaiagar can you shed some light on the status of this?

Cheers,
Galletto

[2022-01-03 13:50] af-jrb commented on #2805
@v-bbalaiagar Any news so far?

[2022-01-03 19:47] metu commented on #2322
Our team is facing this issue at the moment. We have a .net core 3 web API which receives 100s of requests per second and we've been trying to solve socket exhaustion issues and the like for a while now (we're calling other APIs etc). We've gotten quite far but have hit a wall on this issue. In App Insights it shows that dependency calls can take 50 - 90 seconds and fails with the 409 error code.

[2022-01-04 07:11] Havunen opened #2816 "Update WebJobs.Logging.ApplicationInsights dependency Microsoft.ApplicationInsights to 2.20"
Snyk has found vulnerable component in WebJobs.Logging.ApplicationInsights project.

[code]

Latest version 2.20 does not seem to have System.Runtime.Serialization.Json defined as its dependency:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.WindowsServer/2.20.0

So updating the version should fix the issue

[2022-01-04 09:16] v-bbalaiagar commented on #2812
Hi @fabiocav , any thoughts on this issue?

[2022-01-05 08:46] Uffman commented on #2812
The problem also exists if I try to build V3 Azure Functions Project with Visual Studio 2022. I have no issues building with VS 2019

[2022-01-07 14:57] mindraptor commented on #2318
Currently investigating the same issue. We were seeing "singleton lock renewal" exceptions.
MS support recommended to start using package Microsoft.Azure.WebJobs.Extensions.Storage version 5.0.0
Since then we have a lot of "409 There is already a lease present." error/warnings.

We are running on premium app service P1V3 on linux.
The warnings only start when we scale out to 2 or more instances.

[2022-01-11 07:43] commonquail commented on #1986
From my experimentation:

* After `DeadLetterAsync`, the framework will not retry the message. The message will proceed straight to the dead letter queue.
* If autocomplete is enabled (default), after `DeadLetterAsync` the framework will attempt to close the message but fail with a `MessageLockLostException`; this may or may not indicate that the framework _would_ try to redeliver the message but

[2022-01-11 08:53] v-bbalaiagar commented on #2816
Hi @Havunen , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-01-12 21:25] fabiocav commented on #2799
@AnatoliB / @alrod would you be able to assist with this? Thanks!

[2022-01-15 01:35] TsuyoshiUshio commented on #2768
Hi, I found following exception on the POD logs on the first one. It looks happens in here. https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Host/Kubernetes/KubernetesClient.cs#L64 If I remember correctly, it is taking a lock and the the request is refused. That means smells of configuration or problem of the Azure Functions Host code. Probably, @divyagandhisethi might hav

[2022-01-15 09:32] robertmclaws opened #2822 "Clean Up Repo Branches"
This project has a ton of branches. Some maintenance on dead branches would be helpful to figuring out where to contribute. Thanks!

[2022-01-16 23:34] stuartdotnet commented on #2798
Any update on this? I would have expected more people to be using this trigger mechanism and it is fundamentally broken

[2022-01-17 08:06] iamsharmaa commented on #2030
Can someone please look into this actively?

Thanks
Shivansh Sharma

[2022-01-17 12:00] appayele2900 commented on #2496
Still I am seeing obsolete and deprecated. Is there any update on this?

[2022-01-17 16:55] Scooletz commented on #2075
Over 2 years. Closing

[2022-01-17 16:55] #2075 closed

[2022-01-17 16:56] #2601 closed, assigned to fabiocav

[2022-01-18 12:49] superjulius commented on #2810
Hi @v-bbalaiagar, any update on this question?

[2022-01-18 14:28] Ved2806 commented on #2822
Hi @pragnagopa, Could you please look into this issue?

[2022-01-18 16:37] brettsam opened #2823 "Listeners may be Disposed before StopAsync() is called"
The check for `_started` in `FunctionListner` is not synchronized across `StartAsync()` and `StopAsync()` calls (https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Listeners/FunctionListener.cs#L139).

This means that the following scenario can result in a `Listener` being disposed before it is stopped:
1. Initial call to `StartAsync()` fails, resulting in the ret

[2022-01-18 20:58] NickCraver opened #2824 "Performance Area: Application Insights"
In profiling production vs. local one of the big differences in the common setup is Application Insights being on or not. For most customers the advice is to have it on, so let's assume it is. The problem is impact of it being on - in Hello World this is approximately a 40% decrease in throughput and a near doubling of latency. In EUAP the difference for a single instance running hello world with

[2022-01-18 21:46] AnatoliB commented on #2824
cc @gzuber @RohitRanjanMS

[2022-01-18 23:03] pragnagopa commented on #2822
tagging @fabiocav for input

[2022-01-19 12:38] scott-david-walker opened #2825 "Is there a way of using Middleware without Isolated functions v4.0.1"
Hi,
We've just done an upgrade from our Azure Functions V3 (.NET core 3.1) to V4 and we're unable to insert middleware. All the documentation says that this is possible but only when using Isolated functions. Is there a method to do this for functions not using the isolated process?

We found the [Functions Filters](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Ho

[2022-01-21 09:29] v-bbalaiagar commented on #2805
Hi @joaocpribeiro , Apologies for the delay in response. I checked this internally. We would like to have a repro project to validate further.

[2022-01-21 09:33] v-bbalaiagar commented on #2807
Transferring this issue to NodeJS-worker repo for further insights.

[2022-01-21 09:50] v-bbalaiagar commented on #2812
Apologies for the delay in response. We would like to know if you are having this issue with a project that has been modified or if the repro with a project that is just using the template out of the box.

[2022-01-21 10:01] v-bbalaiagar commented on #2810
Hi @plamber , Apologies for the delay in response. I checked this internally. This is a limitation so this would be essentially a feature.
Please open an issue here for further insights  - https://github.com/Azure/azure-sdk-for-net/issues

[2022-01-21 10:08] plamber commented on #2810
Hi @v-bbalaiagar,
thank you. The issue has been created.

Cheers

[2022-01-22 00:23] otecfuras commented on #2759
I would appreciate any help, I'm billed for unwanted messages and I can't get rid of them.
![image](https://user-images.githubusercontent.com/11886445/150615479-fa54a0c1-0b60-404c-8525-08660be82db1.png)
Actually, _BilledSizes of traces summarized by message for past 30 days show that unwanted messages dominate:
![image](https://user-images.githubusercontent.com/11886445/150616288-e5cd9de9-f4a8-454

[2022-01-23 07:14] Uffman commented on #2812
The project has been modified. The same problem exists if I create a new Azure Functions project from VS template

[2022-01-24 13:02] af-jrb commented on #2805
Thanks @v-bbalaiagar , I will try to create a repo in the next days.

[2022-01-25 09:58] Cnordbo commented on #2308
@brettsam - Any updates on this issue? Its been 3+ years 🤷

[2022-01-25 13:18] v-bbalaiagar commented on #2810
Closing this issue here, please feel free to reach back to us in case of any further queries related to this issue.

[2022-01-25 13:18] #2810 closed, assigned to nobody

[2022-01-26 09:21] Solution-Builders-Ferry commented on #1955
This happens to one of my web jobs as well.

![aborted](https://user-images.githubusercontent.com/81647389/151136176-fdae454f-b3de-4a56-a788-59ebc36b8c89.PNG)

![never finished](https://user-images.githubusercontent.com/81647389/151136415-6f144ea6-bd47-4d6f-99f2-dc58d525aa50.PNG)

[2022-01-26 09:23] meidianto commented on #1955
This happens to one of my web jobs as well.

![aborted](https://user-images.githubusercontent.com/6767403/151136790-b3fe333f-524b-4c12-a582-d0ad8bc0778d.PNG)

![never finished](https://user-images.githubusercontent.com/6767403/151136806-d12ff0eb-9362-4706-b4f0-65ababa166bc.PNG)

[2022-01-26 21:13] kashimiz commented on #2816
It looks like this is being addressed by the following PRs/issue:

https://github.com/Azure/azure-functions-host/issues/7869

https://github.com/Azure/azure-functions-host/pull/8040
https://github.com/Azure/azure-functions-host/pull/8041

[2022-01-26 21:13] kashimiz commented on #2816
Closing as duplicate issue.

[2022-01-26 21:13] #2816 closed, assigned to nobody

[2022-01-27 17:37] maimar-sw commented on #2546
@NeillCain care to share your workaround please?

[2022-01-28 13:51] v-bbalaiagar commented on #2812
Hi @fabiocav , Could you please look into this issue.

[2022-01-29 16:02] ghost commented on #2805
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-01-31 18:16] hossam-nasr commented on #2799
@jonsagara Is there a reason you are trying to manually update the message using `QueueClient.updateMessageAsync()` in the first place? As seen [here](https://github.com/Azure/azure-webjobs-sdk/blob/3f4ec78be9f43bb041937425ced00b341883aa42/src/Microsoft.Azure.WebJobs.Extensions.Storage/Queues/Listeners/QueueListener.cs#:~:text=using%20(ITaskSeriesTimer%20timer%20%3D%20CreateUpdateMessageVisibility

[2022-01-31 18:47] jonsagara commented on #2799
@hossam-nasr I didn't know about the internal timer. Is that new in the storage-v4 version of the SDK?

If I understand correctly (restating in my own words), as long as the function continues to execute, and the process doesn't crash, and the App Service remains available, the internal timer will update the message visibility periodically, allowing the function to run for an arbitrarily long amou

[2022-01-31 19:07] hossam-nasr commented on #2799
@jonsagara It looks like it was added in [this commit](https://github.com/Azure/azure-webjobs-sdk/commit/b42223f72d26a81eb44416c522fa36476759f218) in extension version 3.0.32.

Yes, that is accurate. In case the extension is not able to update the message visibility, you should receive a log error with that information. But normally, yes, you should be able to run your function for an arbitrary am

[2022-01-31 19:16] jonsagara commented on #2799
Perfect. I think I'm good here, and we can close this, unless @mirsaeedi requires additional information.

Thank you!

[2022-01-31 19:17] hossam-nasr commented on #2799
Sounds good, thanks! Closing this issue for now. @mirsaeedi if you have a repro for the timer not working, feel free to reactivate or open a new issue. Thanks!

[2022-01-31 19:17] #2799 closed, assigned to nobody

[2022-01-31 21:39] alrod commented on #2768
we need to add `try/catch` to [KubernetesClient.TryAcquireLock](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Host/Kubernetes/KubernetesClient.cs#L45) to be consistent with [BlobLeaseDistributedLockManager.TryAcquireLeaseAsync](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host.Storage/Singleton/BlobLeaseDistributedLockManager.cs#L161)

[2022-02-01 13:59] v-bbalaiagar commented on #2825
Hi @scott-david-walker , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-02-01 14:12] af-jrb commented on #2805
@v-bbalaiagar Repo [here](https://github.com/joaocpribeiro/ai_webjobs_dotnetcoreapi).
Sorry in advance if I am missing any requirement or guideline about creating repro projects for public discussions, it is my first one and I have been quite busy. 😬

[2022-02-01 16:09] Erikvdv commented on #2109
After a long search I found out it is now possible by just adding some settings in your appsettings.json:

`"AzureWebJobsStorage": {
    "blobServiceUri": "https://{storageaccount}.blob.core.windows.net/",
    "queueServiceUri": "https://{storageaccount}.queue.core.windows.net/"
  },`

[2022-02-01 16:25] thegrahamking commented on #2109
Did you find this in the documentation?

[2022-02-01 17:08] Erikvdv commented on #2109
Found it in the azure functions docs:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference?tabs=blob#common-properties-for-identity-based-connections

[2022-02-01 18:43] alrod opened #2828 "Fix distributed tracing for custom System.Diagnostics.DiagnosticSource"
Please provide a succinct description of the issue.

#### Repro steps

1.	EventHub message has property “Diagonstic-Id”(distributed tracing is enabled)
2.	EventHub extension > 4.0.1 and < 5.0.0
3.	Function runtime V3
4.	Customer added his own “System.Diagnostics.DiagnosticSource” reference

#### Expected behavior

EventHub trigger should not break.

#### Actual behavior
EventHub trigger breaks wit

[2022-02-01 20:19] schutztj commented on #1314
+1 for 2022.  Could we please get an update here?

[2022-02-02 02:06] alrod commented on #2828
cc @gzuber, @RohitRanjanMS

[2022-02-03 13:18] vit-svoboda opened #2829 "SingletonListener releases lease before stopping the inner listener"
The [SingletonListener](https://github.com/Azure/azure-webjobs-sdk/blob/master/src/Microsoft.Azure.WebJobs.Host/Singleton/SingletonListener.cs) implementation of `IListener` may lead an uneducated observer to believe the inner listener is only executed as a singleton, i.e. is running only as long as the lock lease is being held.
1. First the lock lease is acquired, see [the source](https://github.

[2022-02-03 17:42] pragnagopa commented on #2829
Tagging @fabiocav  for triage.

[2022-02-04 16:59] shshivani commented on #2652
@ComeChao Were you able to resolve the issue?

[2022-02-04 18:04] ComeChao commented on #2652
Yes, thanks.

[2022-02-04 18:05] shshivani commented on #2652
Can you help me with the settings? I am facing same issue.

[2022-02-04 18:14] avillaca commented on #2652
I have this on the host,json:
{
  "version": "2.0",
  "functionTimeout": "-1",
...
}
and added a timeout to each of my worker functions:
[Timeout("00:59:00")]
[FunctionName("DoSomething_Worker")]

That's what I did. It works for me as of now. Someday the worker will timeout. When that happens we may refactor and deploy the function somewhere else where there are no timeouts like an AKS cluster. Go

[2022-02-04 18:18] shshivani commented on #2652
Thank you so much.

[2022-02-04 19:39] shelbaz commented on #1314
Were now 5 years later 2017-2022 .... Neeeeed this

[2022-02-07 07:13] chandrod commented on #2768
Looking into it.

[2022-02-08 21:09] jsquire opened #2830 "BindingDataProvider.FromType Fails to Resolve Shadowed Properties"
When a trigger binds to a type that shadows a base class property, the call to `BindingTypeProvider.FromType` fails with:

**Error Message:**
[code]

**Stack Trace:**
[code]

When `FromType` processes properties of the target type returned by `PropertyHelper.GetProperties(type)`, it adds them to a dictionary in the order that they're returned, failing by design if there are any duplicate names  _(

[2022-02-08 21:09] jsquire commented on #2830
//fyi:  @joshlove-msft

[2022-02-08 21:38] JoshLove-msft commented on #2830
Agree with this proposal - I think it would make sense to defer to the property that is on the specific type that the user is binding to, so in this case we would use EventData.ContentType and ignore the property from the base type.

[2022-02-09 08:40] frammnm commented on #2759
i watching the same logs with the default log level on my function app, im trying to debug a problem where my functions are not executing properly, can this messages be an indication of a problem?

[2022-02-09 14:19] fabiocav commented on #2830
No objections from me on this either. The proposal sounds reasonable.

@jsquire are you planning on sending a PR on this, or would you like us to assign on our end?

@mathewc wanted to tag you so you could share your thoughts on this as well.

[2022-02-09 14:23] jsquire commented on #2830
@fabiocav:  We're happy to submit a PR, though we'll likely need guidance on how to validate the impact to the wider ecosystem.

[2022-02-09 21:49] fabiocav commented on #2812
@Uffman a couple of questions

- Would you be able to run with verbose MSBuild logs, **sanitize the output**, and share that information?
- Do you have this issue on similar machines? This is looking like an environment issue with a .NET installation
- Is there a global.json potentially at play here?

[2022-02-10 07:41] Uffman commented on #2812
Here is the build log from the new Azure Function project.
I build the project with these settings:
![image](https://user-images.githubusercontent.com/1281907/153360142-c0055222-101f-415b-875f-c82b0a3c359a.png)

The problem is still the same:
[build_log.txt](https://github.com/Azure/azure-webjobs-sdk/files/8038976/build_log.txt)

[2022-02-10 19:06] johnnyreilly commented on #2373
It would be awesome if this could be looked at.  It's quite hard to diagnose this issue - if this issue hadn't been opened I'd still be wondering

[2022-02-11 21:10] jsquire commented on #2830
@mathewc:  Do you have any concerns or feedback on the proposed approach?   I'd like to dig into this early next week if not.

[2022-02-14 20:34] jsquire commented on #2830
Fixed by: #2831

[2022-02-16 09:00] Hima2021-rajesh commented on #2652
Microsoft.Azure.WebJobs.Host.FunctionTimeoutException:
   at Microsoft.Azure.WebJobs.Host.Executors.FunctionExecutor+<TryHandleTimeoutAsync>d__35.MoveNext (Microsoft.Azure.WebJobs.Host, Version=3.0.32.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35: C:\projects\azure-webjobs-sdk-rqm4t\src\Microsoft.Azure.WebJobs.Host\Executors\FunctionExecutor.cs:670)
   at System.Runtime.ExceptionServices.Exc

[2022-02-17 11:15] andrew-tevent commented on #2318
Yep, seeing the same "Warning" for the 409

![image](https://user-images.githubusercontent.com/78795042/154469886-2391559a-38d4-4a32-a13d-a4ec91d567ca.png)

This started occurring since upgrading Functions Worker packages.   Seems to be related to this new "Azure.Core" category perhaps? See a similar issue running locally getting flooded with messages in this category - https://github.com/Azure/az

[2022-02-21 23:32] fartwhif opened #2833 "BlobClient.DeleteIfExists() results in Host.FunctionInvocationException InvalidCastException: 'System.DateTimeOffset' to type 'System.DateTime'"
While deployed as a WebJob to Azure, whenever attempting to call "BlobClient.DeleteIfExists" an exception is thrown instead.  The following is the stack trace followed by the truncated caller function

[code]

[code]

#### Repro steps

Provide the steps required to reproduce the problem

upload a blob

trigger a function

delete the blob

#### Expected behavior

the blob is deleted

#### Actual be

[2022-02-22 11:48] v-bbalaiagar commented on #2833
Hi @fartwhif , Thank you for your feedback! We will investigate this further and update you with the findings.

[2022-02-22 23:06] fartwhif commented on #2833
I deleted and then republished the WebJob and it seems to have fixed the issue.  triggered function and the call within it to BlobClient.DeleteIfExists are working again.

[2022-02-24 00:37] hossam-nasr opened #2834 "Add a timeout when polling for new blobs (from CRI)"
Timebox polling for new blobs when using storage blob triggers, and throw a timeout error when the timeout is exceeded.

This would be something like this:

[code]

And change `ExecuteAsync` [here](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.Storage/Blobs/Listeners/ScanBlobScanLogHybridPollingStrategy.cs#L91) to use `WithTimeout` when polling for new

[2022-02-24 10:27] v-bbalaiagar commented on #2833
Hi @fartwhif , Let us know if you have any further queries regarding this issue so that we can investigate this further.

[2022-02-25 13:28] JORGEGO opened #2835 "System.TypeLoadException at System.Reflection.CustomAttribute._CreateCaObject"
Dear all,
Yesterday, started my nightmare...
I have upgrade my Azure Functions to .NET 6.0 deploy from Visual Studio 2022 from development environment (all as expectation). but my nightmare started on Azure DevOps, when I deploy using Pipeline, again and again same error:

/25/2022, 12:50:47.255 PM	System.TypeLoadException at System.Reflection.CustomAttribute._CreateCaObject	System.TypeLoadExcepti

[2022-02-25 13:55] JORGEGO commented on #2835
I believe I've found the solution... When I am deployment form Visual Studio it force to me to change the Runtime from 3 to 4... Know I believe I could deploy again from Azure Dev Ops, I must do more test but... it seems works, please conform to me that...

[2022-02-25 13:58] JORGEGO commented on #2835
The point it is that It was so complicate change the runtime version from Azure... it show 1 or 3 not 4, for it is only from Visual Studio

[2022-02-25 20:09] #2830 closed, assigned to nobody

[2022-02-25 22:46] dlebee commented on #1731
I created this repository to reproduce this issue.

https://github.com/dlebee/corrolation-function-servicebus

More and more library are trying to implement OpenTelemetry in C# which heavily depends on higher version of System.Diagnostics.DiagnosticSource

This is causing azure function service bus trigger correlation issues.

----

The following is what I think is causing the issue

[code]

VS

[

[2022-02-28 08:56] MhAllan commented on #2804
hello, any updates on this, access retries is important but no docs

[2022-02-28 22:30] es-alt commented on #2795
@soninaren , what nuget version is this in?

[2022-03-01 08:55] nilsgaeq commented on #2682
Any progress on this issue?

[2022-03-02 01:37] soninaren commented on #2795
Should be version `3.0.33`. I don't think it has been released yet.

[2022-03-02 14:39] es-alt commented on #2795
@soninaren , this affects us a lot in production with HttpTriggered functions. Is there at least an approximate estimate of when 3.0.33 can be released?

[2022-03-03 00:34] franklixuefei commented on #2109
it works for me using the following settings in `appsettings.config` with the latest release of the storage extension (5.0.0)

[code]

However, if `webjobs.AddDurableTask();` is specified, then the above won't work, and the work around for that is using MSI to retrieve the account key and assemble the connection string:

[code]

[2022-03-03 08:56] asensionacher commented on #2195
Not working the url, can you update this?

[2022-03-04 03:41] v-bbalaiagar commented on #2825
Tagging @mathewc / @fabiocav , for more inputs

[2022-03-04 09:12] haronxx commented on #2759
I had the same problem. Changing the settings as following solved the problem:

{
  "Logging": {
    "LogLevel": {
      "Default": "Warning"
    },
    "**ApplicationInsights**": {
      "**LogLevel**": {
        **"Azure.Core": "Warning"**
      }
    }
  }
}

Only wanings will be sent to Application Insights

[2022-03-04 14:12] jsquire opened #2837 "Page provides link to Microsoft.Azure.WebJobs.Host.Scale.ConcurrencyOptions.DynamicConcurrencyEnabled that doesn't work."
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#27339](https://github.com/Azure/azure-sdk-for-net/issues/27339).

### Please be aware that @GilbertLittle is the author of the original issue and include them for any questions or replies.

## Details

There is no documentation anywhere for Microsoft.Azure.WebJobs.Host.Scale.ConcurrencyOptions.DynamicConcur

[2022-03-04 18:02] ghost commented on #2833
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-04 18:48] mathewc commented on #2825
Correct - middleware registration is only possible in the isolated model, details [here](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#middleware). The Function Filters feature you reference is marked obsolete because we don't plan on carrying that model forward - see [here](https://github.com/Azure/azure-webjobs-sdk/issues/1284), in favor of a more standard

[2022-03-04 18:48] #2825 closed, assigned to nobody

[2022-03-04 22:20] sherryyshi opened #2838 "Microsoft.Azure.Workflows.WebJobs.Extension v1.2.1 is dependent on deprecated Microsoft.Azure.DocumentDB.Core"
**Microsoft.Azure.Workflows.WebJobs.Extension** v1.2.1 depends on **Microsoft.Azure.WebJobs.Extensions.CosmosDB** v3.0.10 which depends on **Microsoft.Azure.DocumentDB.Core**, now deprecated.

I see that [preview versions of Microsoft.Azure.WebJobs.Extensions.CosmosDB](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.CosmosDB/4.0.0-preview3) no longer has the dependency. Curious a

[2022-03-05 01:06] soninaren commented on #2795
@lecamarade are you using the webjobs sdk or a function app. I think the function release is already in progress.

[2022-03-07 14:28] es-alt commented on #2795
@soninaren , we use a function app. If release is in progress, are we talking, days, weeks or months?

[2022-03-07 18:02] #2833 closed, assigned to fabiocav, v-bbalaiagar

[2022-03-09 08:14] Uffman commented on #2812
Any updates on this?

[2022-03-09 08:33] v-bbalaiagar commented on #2838
Hi @sherryyshi , Thank you for your feedback!
Hi @ealsur , Could you please look into this issue.

[2022-03-09 12:38] b10-dslappendel commented on #2152
As I'll be removing my work account in favor of my main account, I can contacted at @Archomeda from now on for further updates.

[2022-03-09 17:50] ealsur commented on #2838
I have no visibility of what Microsoft.Azure.Workflows.WebJobs.Extension is or how it is used.

Regarding the GA of `Microsoft.Azure.WebJobs.Extensions.CosmosDB` 4.0, it is currently waiting for required Functions features to support dynamic scaling, it is complete from the code perspective, but the service is still working on supporting Consumption Plan users. Functions team would be the right po

[2022-03-09 23:02] AAATechGuy opened #2839 "Host crashes on StorageBaseDistributedLockManager.SingletonLockHandle error - StorageException: Conflict - There is currently no lease on the blob/container"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Use following packages in csproj,
[code]
  create a WebJob host as follows:
[code]
2. Run this with
[code]

#### Expected behavior

Application/Host shouldn't crash if a single Function has issues with Singleton; instead maybe cancel the token for that specific Function.

[2022-03-10 19:07] liliankasem commented on #2812
@fabiocav @mathewc - is this something you can help with?

[2022-03-11 07:45] AAATechGuy opened #2840 "Singleton doesn't work & TimerTrigger marked with Singleton is repeated on multiple instances for the same time interval"
Please provide a succinct description of the issue.

A. Singleton doesn't appear to work.
Same function is executed on two different machines at the same time.

B. TimerTrigger marked with Singleton is repeated on multiple instances for the same time interval
If TimerTrigger was configured with interval=1minute, then, I expected 08:00:00 to be executed only on a single machine, and not twice on tw

[2022-03-11 19:51] soninaren commented on #2795
Based on the current release progress it looks like it should be complete in a couple of weeks.

[2022-03-13 20:52] otecfuras commented on #2759
@haronxx: Where did you find information on Azure.Core category? LogLevel under ApplicationInsights property isn't even documented property, are you sure this works (for you)?

Fortunately, my problem is gone.

Firstly, unwanted persistence of these messages stopped (few weeks ago) when I changed default logging level to Information:

`"logLevel": {
      "default": "Information",
      "Function"

[2022-03-14 16:20] v-bbalaiagar commented on #2839
Hi @AAATechGuy , Thank you for your feedback! We will investigate this further and update you with the findings.

[2022-03-14 21:49] fabiocav commented on #2769
@MikeChristensen apologies for the delayed response here, but you're correct in your last comment. This is something that was introduced with a very narrow scope to support internal requirements and not positioned as a publicly supported feature, so it hasn't really seen a lot of investment.

I'll leave this open to track, but at the moment, there are no plans to make changes to this functionality

[2022-03-16 09:24] Uffman commented on #2812
I tried to build my project with Azure Function tools and get this error:
![image](https://user-images.githubusercontent.com/1281907/158558164-bdb5113d-a694-41e4-a5cb-cbc96b009bdf.png)
also noticed it says
Core Tool Version: 3.0
Function Runtime Version: 3.0

could this be the problem? My project is on .NET 6.0 and V4 of AZ Function

[2022-03-18 15:38] MikeWilliams-UK opened #2843 "Templated ServiceBusTrigger QueueName fails to resolve in 3.0.30"
Templated ServiceBusTrigger QueueName fails to resolve in 3.0.30

Defining a Service bus trigger as `Listen([ServiceBusTrigger("%QueueName%", Connection = "ServiceBusConnection")]` fails to resolve the `QueueName` when running in Azure

Add a setting in local.settings.json settings file for QueueName , e.g. "QueueName": "dev-queue"
Add a setting in Azure as show below
![image](https://user-images.

[2022-03-18 16:08] mathewc commented on #2843
In the latest logs for your app (from 3/18) I see the below error. So it looks like it is looking for environment setting **ServiceBusSettings:QueueName**. Can you double check your function method definition and share what value you're passing to the ServiceBusTriggerAttribute? Also check in Kudu environment explorer that an app setting with this name exists.

`Microsoft.Azure.WebJobs.Host: Error

[2022-03-18 16:14] MikeWilliams-UK commented on #2843
Sorry about that I initially copied the wrong portion of the log file from KuDu

I have tried both %QueueName% and %ServiceSettings:QueueName% as it was suggested in a post I saw on the internet.
This worked fine with V1 of the SDK, I never got round to updating to V2, so I am trying to go straight to V3

I thought I had edited the description to rationalise the logs to say %QueueName%

For now I

[2022-03-18 16:16] MikeWilliams-UK commented on #2843
It seems to be closely related to https://github.com/Azure/azure-webjobs-sdk/issues/2063

[2022-03-18 16:22] MikeWilliams-UK commented on #2843
Here is a screen shot from Kudu showing the app's settings
![image](https://user-images.githubusercontent.com/13162784/159042258-6666dd26-5e2c-4a4e-a84a-d68370caee65.png)

[2022-03-18 16:25] MikeWilliams-UK commented on #2843
This was my function deinition (before I hard coded the queue name)

![image](https://user-images.githubusercontent.com/13162784/159042635-98b8a4d7-e0c2-46a6-a754-a055118b63c5.png)

[2022-03-18 16:29] MikeWilliams-UK commented on #2843
I even tried using QueueName raw without % wrappers with no success

[2022-03-18 16:32] MikeWilliams-UK commented on #2843
I am using VS2022 17.1.1 now, the service was probaly templated with an earlier revision of VS if that makes any difference.

[2022-03-18 16:37] MikeWilliams-UK commented on #2843
Here are the NuGet packages I have installed
![image](https://user-images.githubusercontent.com/13162784/159044732-bc6e7647-1fab-42f5-9091-0c2f9e277ac9.png)

[2022-03-18 21:09] mathewc commented on #2843
I'm unable to repro this. I'm using VS 17.1.1, and the same package versions as you above:

![image](https://user-images.githubusercontent.com/1056548/159083095-f4bdab9a-49b5-4999-a9ee-c7ed9d1969e1.png)

My code:

[code]

This works for me locally as well as deployed, as long as I have QueueName and ServiceBusConnection settings in local.settings.json and portal app settings respectively.

[2022-03-18 22:45] MikeWilliams-UK commented on #2843
Thanks for your help.
I have re-built it from scratch again and it is now working with no obvious code changes ???

I am extracting more information especially the userProperties. I did wonder if this was the difference, but this too is working fine.
[code]

[2022-03-18 22:45] #2843 closed, assigned to mathewc

[2022-03-21 20:44] cachai2 commented on #2710
Done with Track2

[2022-03-21 20:44] #2710 closed, assigned to karshinlin

[2022-03-21 23:16] cachai2 commented on #2631
Supported in Track 2. Closing

[2022-03-21 23:16] #2631 closed, assigned to fabiocav

[2022-03-22 09:39] benjzh commented on #2038
I also want to point out that tracking for the newer SDK - Azure.Messaging.EventHubs - doesn't exist at all.

[2022-03-22 14:51] Ved2806 commented on #2840
Hi @AAATechGuy Thank you for the feedback. We will discuss this issue internally and let you know about the findings!

[2022-03-23 15:43] NeillCain-zz commented on #2546
@maimar-sw for our workaround, we defined the x-cutters we needed in  Azure APIM policies, which we recently decided to change to leverage Middleware. We've still had issues, but it's more to do with how Middleware currently works and we can see the team is looking to address the problems.

[2022-03-23 16:40] marnilss opened #2845 "Can not control BlobTrigger polling backoff or maximum value"
When using a BlobTriggerAttribute on a C# method, it will when no new blobs appear for some time, eventually backoff and wait for 60000ms.

Changing the setting `maxPollingInterval` (under extensions\queues) to "00:00:10" does not make any difference.

#### Repro steps

1. create a function app project in Visual Studio 2022

2. Add following class
[code]
3. Define a connection under "ConnectionStr

[2022-03-30 09:47] marnilss opened #2847 "Use new reliable way of flushing Application Insights logs"
As discussed here (https://github.com/Microsoft/ApplicationInsights-dotnet/issues/407) the old synchronous `telemetryClient.Flush()` was not reliable since it wasn't really synchronous, but instead relied upon some variation of `Thread.Sleep(n)` afterwards.

This is implemented with a sleep of 2 seconds in Dispose() in ApplicationInsightsLoggerProvider.cs (https://github.com/Azure/azure-webjobs-sd

[2022-03-30 10:21] chandrod commented on #2768
This issue happens because the new pod that comes up after scale up operation (0-->1 of blobTrigger) on adding a new blob in container is not able to acquire a lease. This is due to the stale lease for died out pod is still lying around. New pod thinks that some other pod is holding the lease. The old pod is not able to release the lease during its termination tenure.
So either the lease duration

[2022-03-30 14:31] peterno opened #2848 "Microsoft.Web.WebJobs.Publish version 17.1.359 and 17.1.360 does not work with msbuild"
We build our solution in Azure devops build pipelines and they deploy to Azure using Azure devops release pipelines.
After the upgrade from 2.0.0 to 17.1.359 (released 12 days ago) the build stopped generating the .zip files even though we use /p:PackageAsSingleFile=true. (no import target was added to the project file when the nuget package was added)
Version 17.1.360 (released 17 hours ago) adds

[2022-03-31 08:26] rafek1241 commented on #2825
Do you plan to make the standard middleware approach available in `in-process` hosting model?

[2022-04-02 19:01] tbasallo commented on #1327
Is this related to the same blob being triggered for multiple hosts? For example, a blob already processed by a production Function, is also triggered when a dev machine runs the function/project locally. We've seen files from YEARS start to trigger for processing.

[2022-04-04 06:32] peterno commented on #2848
Seems like version 17.1.361 fixed the problem, no build error and the zip files are generated. Closing this issue.

[2022-04-04 06:32] #2848 closed, assigned to fabiocav

[2022-04-04 11:27] CraigGraw opened #2849 "API Request -> ServiceBus -> WebJob = not logging end to end transactions"
When pushing messages onto a ServiceBus session queue from a HTTP request and then processing the message from a WebJob, Application insights no longer is able to correlate the log information in Azure as an end to end transaction.

Seen when using [Azure.Messaging.ServiceBus](https://www.nuget.org/packages/Azure.Messaging.ServiceBus/)

It only shows the ServiceBus send part of the transaction, no

[2022-04-04 12:07] fabiomaulo opened #2850 "IJobActivator usage"
This is just a "please" issue. sdk v3.0.31.
We are pushing everything from net472 to netstandard2.0, netcoreapp3.1 to then move to net6 and future.
We are using the webjobs-sdk mostly to consume queues (since the beginning of the SDK... and before).
Our consumers are stateless classes with DI in the ctor. In the v1.9 we were using the `IJobActivator` injecting it in the `JobHostConfiguration`.
In

[2022-04-04 15:13] v-bbalaiagar commented on #2847
Hi @RohitRanjanMS / @gzuber , Could you please look into this issue.

[2022-04-04 22:27] ghost commented on #2088
I'm using Microsoft.Azure.WebJobs 3.0.31. Not ever getting a signal the WebJob has been shut down with this code (I'm shutting down from Azure Portal->App Service->WebJobs page:

[code]

[2022-04-05 11:00] v-bbalaiagar commented on #2845
Hi @marnilss , Thank you for your feedback!
Hi @pragnagopa / @brettsam , Could you please look into this issue.

[2022-04-05 11:04] v-bbalaiagar commented on #2849
Hi @CraigGraw , Thank you for your feedback! I checked this internally. We would like to know in what step the correlation broken.

[2022-04-05 14:21] v-bbalaiagar commented on #2850
Tagging @mathewc , for more inputs

[2022-04-05 15:40] pragnagopa commented on #2845
Tagging @AnatoliB for triage.

[2022-04-05 18:49] CraigGraw commented on #2849
@v-bbalaiagar I have updated the original description to describe the difference in behaviour between the two ServiceBus packages when used with the WebJob SDK. Also I have added the source code for both of the tests using the old and new packages. To summerize I would expect application insights to be tracking the logs for both the request which sends the service bus message and the processing of

[2022-04-05 19:31] ghost opened #2851 "WebJobs Shutdown signal not working"
WebJobsShutdownWatcher.Token.IsCancellationRequested doesn't work.

#### Repro steps

Provide the steps required to reproduce the problem

1. Put the following code in a stock Worker Service template in Visual Studio:

[code]

3. Shut down the Web Job in the Azure portal.

#### Expected behavior

You expect "Web Job shutdown requested" event in the log.

#### Actual behavior

The Web Job stops pos

[2022-04-06 22:48] fume commented on #2511
Hi,
i'm still experiencing this issue. Any update? I still see that the settings are not parsed but checked as strings.

[2022-04-07 06:31] alrod commented on #2798
@stuartdotnet, what version of [EventGrid extension](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.EventGrid) do you use?
`CloudEvent` is supported only in 3.x, see [details](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid?tabs=in-process%2Cextensionv3&pivots=programming-language-csharp#install-extension).

My local test works as expected:
1

[2022-04-07 08:06] nachiappannk commented on #2314
Has there been any updates in this?

Can I inject FunctionContext in to a scoped object now?

[2022-04-10 15:28] padhumailin opened #2852 "Azure webjob TimerTrigger function of 'triggered' type, scheduled to run once in a day not executed"
We have several webjobs deployed in azure as app service, all are triggered type and most them were scheduled to run every 5 mins
 (* * 1/5 * * * ) are executed without an issue.

but  one of the webjob the triggered type, scheduled to run once in a day say 8.am UTC (* * 8 * * *) , here the timertrigger function is not executed as expected. In azure portal this webjob turns into Running status on

[2022-04-11 10:02] ghost commented on #2798
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-11 22:15] AnatoliB commented on #2845
cc @alrod

[2022-04-12 09:50] v-bbalaiagar commented on #2851
Hi @pragnagopa , Could you please take a look at this issue

[2022-04-12 10:02] v-bbalaiagar commented on #2852
Hi @padhumailin , Thank you for your feedback! Please provide us the latest invocation id and region so that we see the backend logs to check the cause.

[2022-04-13 11:37] froeschel commented on #2798
Hello.

I guess I have the same issue. The difference is that I'm using  the type EventGridEvent when receiving events.

Repro steps:

1. Create a new function with event grid trigger from Visual Studio 2022 templates.
2. Trigger an event on the event grid and everything works fine.
3. Update the nuget package Microsoft.Azure.WebJobs.Extensions.EventGrid from version 2.1.0 (the version the templat

[2022-04-13 13:58] fabiomaulo commented on #2850
Perhaps you can add something like the extension defined in `Microsoft.Extensions.Hosting.Abstractions`:
[code]
May be as:
[code]

[2022-04-13 16:44] golfalot commented on #1094
me too! What utter madness this is...
Using VS 2019 (16.11.12) publish

### what did work (thankfully had infrastructure as code so not too much of a PIA)

1. delete + redeploy webapp
2. new publish profile in VS 2019

### what did **NOT** work for me

1. delete webjob via portal before re-publish
2. increment assembly version
3. Publish -> Show All settings -> File publish options -> Remove addit

[2022-04-15 16:38] mathewc commented on #2825
No we don't plan on extending the in-proc model with middleware capabilities.

[2022-04-16 10:02] ghost commented on #2852
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-17 12:02] ghost commented on #2798
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-19 03:03] rowanfreeman commented on #1284
This feels like a desperately needed feature. It's now 2022 and this is still unresolved since 2017. I have a function app with 3 HTTP functions and more on the way soon.

I'm using model binding rather than the clunky and unnecessary `HttpRequest`. i.e.

[code]

This works, but the downside is that if the incoming request is in an invalid format (i.e. bad JSON), the function returns server 500 an

[2022-04-19 15:42] v-bbalaiagar commented on #2849
Hi @RohitRanjanMS , Could you please look into this issue

[2022-04-19 15:50] MisinformedDNA commented on #2825
@mathewc The "more standard middleware approach" has been open since 2017. Can you update that [thread](https://github.com/Azure/azure-webjobs-sdk/issues/1284) with any progress and roadmap?

[2022-04-19 16:26] RohitRanjanMS commented on #2849
Adding @JoshLove-msft from the SDK team, @JoshLove-msft can you please have a look at this?

[2022-04-19 17:22] JoshLove-msft commented on #2849
This is due to the issue described here - https://github.com/microsoft/ApplicationInsights-dotnet/issues/2151

[2022-04-20 07:55] padhumailin commented on #2852
Sorry for the delayed response.

Latest Run Id for the webjob is : 202204200000024036

Country or region is : Netherlands

 please let me know the cause for not executing the timer trigger method.

[2022-04-20 18:15] RohitRanjanMS commented on #2847
@v-bbalaiagar I will have a look at this.
@marnilss thank you very much for raising this issue. I will reach out to you if I need more information.

[2022-04-20 23:55] alrod commented on #2798
@froeschel, your stack trace is different. please create a new bug in https://github.com/Azure/azure-sdk-for-net and point out that you are using  Microsoft.Azure.WebJobs.Extensions.EventGrid 3.1.0. This repository is for handling issues for Microsoft.Azure.WebJobs.Extensions.EventGrid 2.x, 1.x. thanks!

[2022-04-20 23:55] alrod commented on #2798
Closing as no activity.

[2022-04-20 23:56] alrod commented on #2798
Closing as no activity.

[2022-04-20 23:56] #2798 closed, assigned to nobody

[2022-04-21 08:02] CraigGraw commented on #2849
@JoshLove-msft thank you for the link.
How can this be classified as a feature request in a package that is replacing a deprecated library? The package 'https://www.nuget.org/packages/Microsoft.Azure.ServiceBus' has been deprecated for over a year now, consumers using this in a professional environment are unable to migrate to the new package currently as it is operationally incomplete. In a produ

[2022-04-21 23:33] lmolkova commented on #2849
@CraigGraw

you're right that the only supported SeriveBus SDK does not have proper integration with ApplicationInsights SDK yet. It's a gap and we're working on fixing it.

In the meantime, can you please use a workaround?

1. I think there is a tiny mismatch between your Deprecated and fresh samples in how you configure ApplicationInsights.
    - here, with fresh ServiceBus [loggingBuilder.AddAp

[2022-04-22 18:14] #2788 closed, assigned to alrod

[2022-04-24 21:21] rlvandaveer commented on #2755
I had this same issue on a Mac that had SDKs from 2 on installed. I was getting the same error against earlier versions of dotnet and Azure Function Core Tools.  I uninstalled the 6 SDK using Homebrew i.e., `brew uninstall dotnet-sdk`. I then removed the contents of `/usr/local/share/dotnet`. (Unfortunately, I could not use `Remove-Item` as a few items needed different permissions and had to fall

[2022-04-25 15:10] gallettoNL commented on #2796
Guys, please let me know what's going on?

[2022-04-25 15:54] Grubiopa commented on #2456
Dear Colleagues, I am having the same problem. I try so many things but i don't know how to apply this workaround

How and where I have to do it? I don't know how to access that locks folder

Known workarounds
Manually breaking the leases in azure-webjobs-hosts/locks/staging allow the Webjobs to reacquire them and start working as expected

[2022-04-26 05:54] padhumailin commented on #2852
![image](https://user-images.githubusercontent.com/52649205/165230463-2b2d9ab4-fe23-4233-a895-e4ecf8f49042.png)

The Latest invocation id is  : 26919fbc-1bcc-4b18-a634-918790a08861
Region : Netherlands, Amsterdam

Webjob works good when scheduled to run every 5 mins, but not working when scheduled to run once in a day.

please help us to find the solution.

[2022-04-26 05:54] padhumailin commented on #2852
please reopen

[2022-04-26 13:37] CraigGraw commented on #2849
@lmolkova Thank you for the information.

I have applied the recommended changes and committed them to github.

https://github.com/CraigGraw/WebJobServiceBus/tree/master/ApplicationInsights

There appears to be no difference to the Application Insights logs.

![image](https://user-images.githubusercontent.com/24589854/165312240-90ea44eb-b5ff-400a-828f-f9184620d9d6.png)

Please let me know if the c

[2022-04-26 17:34] lmolkova commented on #2849
@CraigGraw It looks like there is no telemetry coming from your WebJob Application or it's not correlated. Let's check which case it is:

1. Can you please put a breakpoint into `ProcessMessageTask` https://github.com/CraigGraw/WebJobServiceBus/blob/main/ApplicationInsights/WebJobApp/Application.cs#L48 and check `System.Diagnostics.Activity.Current` value there - is it null or what's the `Operatio

[2022-04-27 16:29] junalmeida commented on #581
I see this is an old topic, however I'd like to leave here my upvote on having the possibility to extend ServiceBus attributes.

[2022-04-27 19:09] fabiomaulo commented on #2850
Ok. We do it more quickly than I think.
Everything is working as expected using `Microsoft.Extensions.DependencyInjection`.
BTW would be useful to have something as `AddJob<THostedJob>`, with the ctor `Func`, just to replace the old `JobHostConfiguration.JobActivator`
Thanks.

[2022-04-28 13:29] despian commented on #1708
@krispenner @JRiggenbach I was also looking for a way to do this. I managed to get it working like this:

You just need to create a type for your queue message binding. E.g.

[code]

Then use that in your function definition something like this:

[code]

this works for a queue message like:

[code]

@pragnagopa maybe this should be added to the docs pages for the storage queue and or tables bindin

[2022-04-29 22:44] #2850 closed, assigned to nobody

[2022-05-01 10:02] ghost commented on #2849
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-05-03 16:32] CraigGraw commented on #2849
@lmolkova
The value for System.Diagnostics.Activity.Current is => {Azure.Core.Pipeline.DiagnosticScope.DiagnosticActivity}

The value for OperationName is-> "ServiceBusSessionProcessor.ProcessSessionMessage"

The telemetry for the HTTP client call is recorded but does not correlate.
![image](https://user-images.githubusercontent.com/24589854/166497415-d978670b-7ca0-47b2-98b2-2f2dd661eb98.png)

[2022-05-04 19:14] Tloch95 commented on #2228
I'm seeing the same behavior for a similar setup as explained above. Would also love to know if there is a way to accomplish this. Any updates that can be provided? Thank you.

[2022-05-04 21:41] ben-graffle commented on #2591
Is there any update on this?

[2022-05-04 21:43] ben-graffle commented on #1284
Is there any update on this?

[2022-05-04 22:02] davidpeden3 commented on #1284
not sure why @mathewc hasn't officially updated _this_ thread but it appears that this feature is doa:

![image](https://user-images.githubusercontent.com/1190710/166832872-59f3a96d-6727-402e-be92-287bc28447d9.png)

[2022-05-05 13:40] ben-graffle commented on #1284
Sounds good, thanks for the prompt response.

-Ben

[2022-05-05 14:43] padhumailin commented on #2852
Any updates?

[2022-05-05 16:06] mathewc commented on #1284
Thanks. Yes the issue referenced above states our position on this feature.

[2022-05-05 16:06] #1284 closed

[2022-05-05 19:40] froeschel commented on #2798
@alrod, sorry I missed your reply! I have been out of office for some time. I will try to create a bug in the other repository.
/christoph

[2022-05-06 01:11] bryancrosby commented on #1931
It's been over 3 years since this issue was opened -- is there any chance this might get a fix? This still appears to be broken in Microsoft.Azure.WebJobs 3.0.32 (target net60)

[2022-05-06 14:45] ctraftoncodes commented on #1199
I would find this useful as well.

[2022-05-10 08:20] Uffman commented on #2812
I tried to build the project on clean VM and it worked. Do you have a tools so I could remove all older .NET installations and try again

[2022-05-10 15:11] GregoryLeeWhite opened #2865 "Registering a Service with Default/Optional Constructor Argument(s) throws Exception"
An exception occurs when starting durable functions that register a dependency containing a constructor argument with a default value.

#### Repro steps

1. Register a service with a default/optional constructor argument.
[code]

2. Register dependency.
`services.AddTransient<IMyService, MyService>();`

3. Run durable function project.

#### Expected behavior

Should start up and register dependen

[2022-05-10 16:27] liliankasem commented on #2812
It looks like maybe you had the old core tools version (v3) and were trying to build a v4 project - make sure [core tools is up to date](https://github.com/Azure/azure-functions-core-tools).

I don't believe we (Azure Functions) have any tools to do that, but if you're trying to uninstall .NET versions, there's a [doc](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/uninstall-tool?ta

[2022-05-10 17:16] robertmclaws commented on #2840
Hey folks, did you figure out anything about this? We experienced the same issues as we scaled a WebJobs SDK project deployed into Azure to multiple App Services instances.

[2022-05-10 17:18] robertmclaws commented on #2456
It looks like this might be related: https://github.com/Azure/azure-webjobs-sdk/issues/2829

[2022-05-10 19:42] liliankasem commented on #2318
Is this issue still happening for anyone in the latest host version? A change to address this should have been released by now

[2022-05-10 19:51] gjmoyer commented on #2318
They are still coming in for me as of right now. azurefunctions: 4.3.0.17971

[2022-05-10 21:16] liliankasem commented on #2318
Interesting, do you mind sharing the following so I can take a look:

- Region
- Timestamp
- Invocation Id of a function that executed around the time you saw that error

[2022-05-11 03:22] gjmoyer commented on #2318
In the last hour I have 1781 incidents of 409's in my traces log with 1447 function executions.
Region: East US 2
Timestamp: 2022-05-11T03:15:56.7409438Z
Invocation Id: 97910a5a-b03d-4b0d-b496-b75b68c20538

[2022-05-11 23:18] liliankasem commented on #2318
I spent some time trying to repro this and wasn't able to with the latest host version (4.3.2) or with 4.3.0. I deployed a function app with 4 instances and a services bus trigger, storage queue trigger and a couple timer triggers, and I still never saw any `409 already a lease present` errors. So it seems like the fix I made in Jan is in and working and I wonder if something else is causing your

[2022-05-12 03:10] gjmoyer commented on #2318
I have 2 function apps running under a service plan with 2 P2v2 instances that are using the same storage account. Been like that for 7 years now. Both function apps are named with less then 32 characters per the docs on how to avoid host ID collisions. I have queue triggers, timer triggers, blob triggers, http triggers, and event hub triggers. I saw the 409's after migrating to .NET6 and v4.

[2022-05-12 05:01] andyhammar commented on #2830
Hi
We're hitting this after upgrading to latest VS (17.2.0) that was just released.
If I understand correctly, this is the part of the host runtime - is there release of the func runtime that needs to happen?
Sorry if I'm misunderstanding how these things relate.

Thanks!
@mathewc @jsquire

[code]

![image](https://user-images.githubusercontent.com/1713268/167995074-19ba8271-704f-44d6-91ed-2cab625

[2022-05-12 13:02] padhumailin commented on #2852
Is any additional information required?

webjob not running when scheduled interval greater than every 2 hours.

[2022-05-12 19:01] mathewc commented on #2830
The WebJobs SDK fix (SDK package version 3.0.33) is in Functions Host version 4.2.0. This version of core tools is on 4.1.3.17473. So we're waiting on a new Core Tools release with the updated host version with the fix.

[2022-05-12 19:30] andyhammar commented on #2830
Thanks for the quick reply @mathewc !
And looking at the [core tools releases](https://github.com/Azure/azure-functions-core-tools/releases) page, release cadence is monthly so the next release is end of May roughly?

And those core tools will then be in the next VS release?

My best bet now in your opinion? Uninstall VS and reinstall 17.1.x ? Thanks!

[2022-05-12 21:11] mathewc commented on #2830
The new tools version is in testing now and will hopefully be released by mid next week. You'll then be able to update just the tools - no VS update needed.

[2022-05-13 22:46] liliankasem commented on #2318
We always recommend having a separate storage account per Function App as load from one app could impact the other e.g. if they're hitting storage throttles. I think it's worth trying that out to see if it fixes the issue. If it doesn't, I would suggest you open a support ticket for this to get a deeper investigation into your app and why this could be happening.

[2022-05-17 05:50] anton-gustafsson opened #2868 "The 'Function1' function is in error: The binding name _ is invalid. Please assign a valid name to the binding."
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Create a new timer triggered function project (.net 6)

2. Rename TimerInfo parameter to underscore (_)

#### Expected behavior

I expect this to work. I could not find any naming rules for timerInfo parameter name, so it would be nice to know why this is a limitation.

##

[2022-05-17 15:13] mfmevans commented on #2311
Hi any news of when this change likely to happen?

[2022-05-18 20:30] mciancia8 opened #2869 "RetryContext on ExecutionContext is now null after upgrade to 3.0.33"
I upgraded Microsoft.Azure.WebJobs from 3.0.31 to 3.0.33 and with the new package, the RetryContext on ExecutionContext is now null.

This is my code, before the upgrade, RetryContext was not null, after the upgrade, its null.

[code]

[2022-05-18 20:40] mathewc commented on #2869
We've changed the way retries work while the feature is still in preview. I believe the issue is that you need an updated version of the TimerTrigger extension that supports retries. @alrod can confirm. Basically we changed the feature so extensions have to opt in.

[2022-05-24 09:01] Grepsy commented on #2371
Sorry to bring this back up, but the proposed solution "Use Application Insights" doesn't seem to offer any functionality to _invoke or replay_ a webjob function, but only monitor it. I'd like to get conformation on whether this is correct.

Our scenario involves a function with a timer, but we do require the possibility to run it manually for testing. Is there any other way we can do this?

[2022-05-24 15:03] DeadSith opened #2870 "IAsyncDisposable support"
Looks like AsyncDisposable is not supported in functions. I ran into it when working with ServiceBusClient from Azure.Messaging.ServiceBus. New instance was created for each function execution, but old instances were not disposed. This resulted in port exhaustion. ServiceBusClientimplements only IAsyncDisposable, and is never disposed when using synchronous DI scopes.

#### Repro steps

1. Install

[2022-05-24 21:25] davidmrdavid opened #2871 "TryExecuteAsync does not respect timeout"
Azure Durable Functions orchestrator code invoked under `InvokeWithTimeoutAsync` (i.e under a timeout constraint) will not shut-down after a timeout when the user code is then invoked via `TryExecuteAsync`.

The reason for this is that `TryExecuteAsync` does not guarantee that control will be yielded back to WebJobs (via `Task.Yield()`) and therefore user-code may run in the thread that would othe

[2022-05-25 00:12] mathewc commented on #2871
Thanks. What you're pointing out is that we need to yield [here](https://github.com/Azure/azure-webjobs-sdk/blob/3f4ec78be9f43bb041937425ced00b341883aa42/src/Microsoft.Azure.WebJobs.Host/Executors/TriggeredFunctionExecutor.cs#L50) or perhaps [here](https://github.com/Azure/azure-webjobs-sdk/blob/3f4ec78be9f43bb041937425ced00b341883aa42/src/Microsoft.Azure.WebJobs.Host/Triggers/TriggeredFunctionIns

[2022-05-25 05:26] codermrrob commented on #2318
I am seeing this with 4.3.2 but as a `severityLevel` 2 traces entry in app insights.
But I think it might be expected?
I am running a queue triggered function, which to deal with some concurrency issues is limited to execute a single instance and process a single message at a time.
I am guessing this is a result of checking to see if the function is ready to accept another item from the queue?

[2022-05-26 09:16] Uffman commented on #2812
I removed all .NET SDKs (version from 2.1.x to the latest 6. x), removed VS and this clean install and error is gone. You can close the ticket. Thank you for the help👍

[2022-05-26 16:16] #2812 closed, assigned to fabiocav, v-bbalaiagar

[2022-05-30 12:43] DuncWatts opened #2874 "Calling IBinder.BindAsync with a TableEntity / TableAttribute leads to NullReferenceException"
I'm trying to call the following to get an entity.  This fetches the table entity correctly as required however after completing the function call I get a NullReferenceException.  This is the same regardless of using TableEntity or a class inheriting from ITableEntity.

```TableEntity tableEntity = await binder.BindAsync<TableEntity>(new TableAttribute("TableName", partitionKey, rowKey));```

Stac

[2022-05-31 13:08] AngelaCalboreanVisma commented on #2060
I have started to encounter this problem and I can not figure out why?

info: Microsoft.Azure.WebJobs.Hosting.JobHostService[0]
      Starting JobHost
warn: Host.Startup[0]
      Warning: Only got partial types from assembly: Microsoft.Azure.WebJobs.Host.Storage, Version=4.0.4.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35
      The following loader failures occured when trying to load the as

[2022-06-01 20:53] fabiocav commented on #2624
@alrod @AnatoliB is this still relevant? Are you tracking this elsewhere?

[2022-06-01 20:53] fabiocav commented on #2624
+ @pragnagopa

[2022-06-02 18:40] SeanFeldman commented on #2318
The default logging level is set to `Warning`
`Azure.Core` is set to `Error`.

Microsoft.Azure.Functions.Worker version 1.6.0
Function Runtime Version: 4.3.2.18186

And yet I get a flood of these:

[code]

[2022-06-03 07:48] egenita commented on #2496
Helllo?

[2022-06-08 21:10] nathangelman123 opened #2875 "Microsoft.Azure.WebJobs.Logging.ApplicationInsights is incompatible with Polly"
When adding application insights as a dependency to a web job that has Microsoft.Extensions.Http.Polly (version 6.0.5), upon calling builder.Build() the following exception occurs:

`System.MethodAccessException: 'Attempt by method 'Microsoft.Extensions.Logging.Configuration.LoggerProviderConfigurationFactory.GetConfiguration(System.Type)' to access method 'Microsoft.Extensions.Logging.ProviderAli

[2022-06-13 15:59] ThomasVandenbon commented on #2830
@mathewc I've tried to update only the tools, but I'd like this upgrade to be picked up by Visual Studio too.
What's the procedure to update the tools in such a way that Visual Studio will also use the latest version?
Is there some documentation for this?

[2022-06-13 17:56] mathewc commented on #2830
If you update the core tools as per doc [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash#install-the-azure-functions-core-tools) both command line and VS will be updated. I just updated myself and verified that the new version 4.0.4590 has these changes.

[2022-06-14 04:20] Eli-Black-Work commented on #1208
Would this be as simple as adding `services.AddApplicationInsightsTelemetryWorkerService();` inside `AddApplicationInsightsWebJobs()`?

[2022-06-14 06:48] Eli-Black-Work commented on #2849
@CraigGraw Looks like this might be fixed in the next release 🙂  https://github.com/microsoft/ApplicationInsights-dotnet/pull/2593

[2022-06-14 08:35] ThomasVandenbon commented on #2830
@mathewc
I had used npm to update my version as described [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash#changing-core-tools-versions), which had no effect.

I've now used the Windows installer (MSI) (from [the link you provided](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows

[2022-06-14 23:19] liliankasem commented on #2318
We took a deeper look into this and it looks like the fix has unfortunately still not been released, it should have gone into v3 but for v4 it should be in **v4.7.0** - my bad on getting the release details wrong! I'll keep an eye out on the next host release and confirm when this has gone through & the exact version.

[2022-06-16 09:04] santoshpatro opened #2878 "Login failed for user '<token-identified principal>'. Token is expired"
Hi Team,

Can anyone please help me  to shed some light on this issue: https://stackoverflow.com/questions/72622505/login-failed-for-user-token-identified-principal-token-is-expired

Thanks,
Santosh

[2022-06-16 10:18] qcnguyen commented on #2586
I still encounter the issue
Could not load type 'Microsoft.Azure.WebJobs.Hosting.IWebJobsStartup2' from assembly 'Microsoft.Azure.WebJobs.Host, Version=3.0.16.0
Our function is V3

This happen occasionally, Any solution for this problem please

[2022-06-16 19:02] liliankasem opened #2879 "Missing cache for WebJobsOptionsFactory"
The options cache is not being passed into WebJobsOptionsFactory, so every time we go through language worker setup we end up creating multiple instances of the options.

#### Expected behaviour

- Start the function host
- Host reads the worker.config file and creates options at the parent scope
- JobHost process starts up
- Host reads the worker.config file and creates options at the child scope

[2022-06-17 07:08] santoshpatro commented on #2878
Hi Team,

Any help on this request is much appreciated

Thanks,
Santosh

[2022-06-17 09:06] c4ntin opened #2880 "Webjob migration Microsoft.Azure.WebJobs.Extensions.Storage 4->5 "The specified blob does not exist""
Hi,
We migrated our webjob from core5 to core6 and update the packages.
 - Microsoft.Azure.WebJobs.Extensions.Storage Version="4.0.5" to Version="5.0.1"
 - System.Configuration.ConfigurationManager  Version="5.0.0" to Version="6.0.0"

The only line of code that changed was:
.AddAzureStorage( configureQueues => ...)
=> .**AddAzureStorageQueues**( configureQueues: ...)

Now we have this recurring er

[2022-06-17 16:21] davidmatson opened #2881 "Please reopen PR #2372"
A bot auto-closed PR #2372 and said to re-open if it was still relevant, but there doesn't appear to be any way for me to do so.

[2022-06-17 16:23] davidmatson opened #2882 "Fix bot that auto-closes PRs with bad instructions"
A bot is auto-closing PRs with instructions to re-open them if they're still relevant, but there doesn't appear to be any way to do so.

For example:
[#2372](https://github.com/Azure/azure-webjobs-sdk/pull/2372#issuecomment-1158187825)

The bot should either be disabled or fixed to give accurate and actionable information.

[2022-06-17 18:59] bdlb77 commented on #1327
Any Updates on this functionality?

[2022-06-20 03:50] santoshpatro commented on #2878
Hi @brettsam ,

Any help or guidance on this request is much appreciated

Thanks,
Santosh

[2022-06-23 04:05] Eli-Black-Work commented on #2847
Excited for this! 🙂

[2022-06-23 04:22] Eli-Black-Work commented on #2292
Is this still relevant?

Maybe I'm one of those that are hitting this issue, as I'm a bit confused on how to set up Application Insights telemetry for a WebJob 🙂

I call `loggingBuilder.AddApplicationInsightsWebJobs()` and then call `services.AddApplicationInsightsTelemetry()`, but nothing shows up in Application Insights when I do a `logger.LogInformation()` call.

(I've also opened a request to

[2022-06-23 18:29] Arithmomaniac opened #2885 "Use changefeed when available for Blob triggers"
The current strategy for blob storage triggers is `ScanBlobScanLogHybridPollingStrategy`, which involves using storage logs as a de facto changefeed.

Using the the _actual_ blob changefeed when available (especially with [a cursor](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-change-feed-how-to#resume-reading-records-from-a-saved-position)) would be much simpler and more perf

[2022-06-24 03:39] Eli-Black-Work commented on #2292
Answering my own question: Yes, this is still relevant. Calling `services.AddApplicationInsightsTelemetry()` undoes the work that `builder.AddApplicationInsightsWebJobs()` did.

For AppInsights logging in a WebJob to work properly, one only needs to call `builder.AddApplicationInsightsWebJobs()`, and should not also call `services.AddApplicationInsightsTelemetry()`.

I've filed a request at https:

[2022-06-24 14:53] fartwhif commented on #1931
v3.0.31 here, this please

[2022-06-24 14:53] mauve commented on #1314
Isn't this possible in out-of-process functions?

[2022-06-29 20:42] fabiocav commented on #2879
@liliankasem can we please add information about the expected vs actual behavior here so others know how to validate this issue? Thanks!

[2022-07-06 11:42] anton-kirschhock opened #2888 "[Suggestion] Better exception messages to debug issues in host.json"
Due to a miss-configuration in the host.json file I got the following exception in the Azure portal:

`System.Private.CoreLib: Exception has been thrown by the target of an invocation. Microsoft.Azure.WebJobs.Host: Specified argument was out of the range of valid values. (Parameter 'value').
`

After some searching in the logs I found out that the exception was caused by a file 'SingletonOptions.c

[2022-07-06 15:40] springcomp opened #2889 "Unable to debug function app locally when using managed identity-based blob bindings and triggers"
Please provide a succinct description of the issue.

The documentation for using identity-based connections with the default `AzureWebJobsStorage` and custom connection is very thorough and complete. It is easy to setup a sample that works for both use cases.

However, I find myself unable to debug the function app locally because it appears that the functions host runtime only uses a subset of al

[2022-07-11 08:16] ghost commented on #2060
I've got the the same error ....

info: Microsoft.Azure.WebJobs.Hosting.JobHostService[0]
      Starting JobHost
warn: Host.Startup[0]
      Warning: Only got partial types from assembly: Microsoft.Azure.WebJobs.Host.Storage, Version=4.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35
      The following loader failures occured when trying to load the assembly:
         - Method 'LogFunction

[2022-07-15 11:08] dgivoni commented on #2380
I had the issue with "No binding found for attribute 'Microsoft.Azure.WebJobs.BlobAttribute" after the web job had been running without issues for some years.
I assume some Azure update caused this to fail and and in the end it was solved by adding

builder.AddAzureStorageBlobs();

[2022-07-24 08:28] #2022 closed

[2022-07-26 06:22] Ved2806 commented on #2889
Hi @springcomp you may want to try [this](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=portal%2Chttp)

[2022-07-26 06:27] Ved2806 commented on #2888
Hi @muziekklas Thank you for the feedback, we will discuss this internally and let you know about the findings soon!

[2022-07-26 06:54] springcomp commented on #2889
@Ved2806 thanks for the feedback. Can you elaborate ? Maybe with some sample code ?

[2022-07-26 14:00] jlgrau commented on #2496
any progress on this issue?

[2022-07-29 20:35] jdaaboul opened #2896 "Using a run-time queue name for a service bus trigger"
The service bus trigger can currently use the %queue-name% notation to be able to get a queue name binding to an appsetting file.

However, I would like to control in which queue a service bus trigger is listening at **runtime**.

For example, I would like to create a queue for each developer using his machine name, and then I would like the service bus trigger to use a dynamically calculated queu

[2022-08-02 09:14] Eli-Black-Work commented on #2805
Any update on this?

[2022-08-02 09:26] Eli-Black-Work commented on #2849
@CraigGraw ApplicationInsights `2.21.0` has been released, and it looks like there's a fix for this! 🙂

[2022-08-02 11:45] Eli-Black-Work commented on #1208
@brettsam Sorry to bother, but could you please post a quick update on this? 🙂  Does AppInsights on WebJobs now support dependency tracking, or is this something that's still awaiting implementation?

[2022-08-02 11:48] Eli-Black-Work commented on #2865
I think this issue's title got messed up; it's just "Object" 😄

[2022-08-02 12:05] Eli-Black-Work opened #2897 "Connected dependencies not showing up"
We have a WebJob with Application Insights configured. The WebJob receives messages from an Azure ServiceBus and makes calls to a database via Entity Framework. The ServiceBus and database aren't showing up as dependencies.

#### Repro steps

Configure Application Insights like so:

[code]

#### Expected behavior

Interactions with MessageBus and Entity Framework show up as dependent services.

##

[2022-08-02 12:07] Eli-Black-Work commented on #2897
I'm assuming that I'm missing something to get this working, but I've been unable to figure out what it is.

[2022-08-02 19:26] GregoryLeeWhite commented on #2865
Woops!  Updated the title.
Thanks for the heads up 😅

[2022-08-03 03:07] Eli-Black-Work commented on #2865
Haha, thanks ^_^

[2022-08-05 02:35] imMatt opened #2899 "TimerTrigger fires multiple times when different Assembly Versions of the same application are running"
TimerTriggers fires twice due to single lockIDs changing if the assembly version is changed.

#### Repro steps
Provide the steps required to reproduce the problem
1. Create a project, with an Azure function that is TimerTriggered and specify a version ID for the assembly ie. 1.0.0.0
2. Run this project
3. Update the assembly version ie. to 1.0.0.1
4. Run the updated project without stopping the ol

[2022-08-05 02:37] imMatt commented on #2899
I'm happy to work on a solution for this defect, would like some guidance from your side on the optimal approach though. An environment variable to override this value similar to how the azure-function-host does should be able to resolve this without a breaking change imo.

[2022-08-05 18:19] JoshLove-msft opened #2900 "Update dependency on Microsoft.ApplicationInsights"
A new [version](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.nuget.org%2Fpackages%2FMicrosoft.ApplicationInsights%2F2.21.0&data=05%7C01%7CLove.Josh%40microsoft.com%7Cee33cb46b71c4d831e7808da770a8908%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637953184376476224%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata

[2022-08-06 12:12] ilmax commented on #1931
This is causing so much confusion because the `ConfigureWebJobs` does half of the job that `Host.CreateDefaultBuilder` does (see [here](https://github.com/dotnet/runtime/blob/1b3ef865fd71b898848a1a4b53bf062db622efa9/src/libraries/Microsoft.Extensions.Hosting/src/Host.cs#L31)) for example it's not configuring logging filters from appSettings and so on.
Using Host.CreateDefaultBuilder results in iss

[2022-08-06 15:35] fartwhif commented on #1931
The longer it goes unaddressed the wider and deeper the hole people have to dig to work around it.  Because of that this would have been an extreme priority if it were up to me.  Putting it in the "who cares just work around it for now" bin is self-destructive in this case and now you've given yourselves a dilemma, or it will soon grow into a dilemma.  Even after this internal technical debt is co

[2022-08-06 15:56] robertmclaws commented on #1931
@liliankasem There are a bunch of PRs in this repo that have not been accepted. If I create PR for this, could it please be prioritized for inclusion in the next release?

[2022-08-11 12:20] Ved2806 commented on #2899
Hi @imMatt Thank you for the feedback, We will investigate this issue further and let you know about the findings soon!

[2022-08-12 08:01] LuMeff commented on #2752
Hi, I am facing the same issue in the moment. We need to have different retry policies for different stages of the application. Having it only hard coded in the function.json won't work in our case.
Is there a work around for this?
We are using the latest azure functions with python.

[2022-08-13 00:30] buzzaII opened #2902 "WebJobs SDK Roadmap"
As Azure function looks to be moving away from In-Process model - It looks like the newer 'isolated process' doesn't require the webjobs SDK anymore (please correct me if that is not the case):

![image](https://user-images.githubusercontent.com/7981600/184459997-dc3b2e44-9267-4e1c-8110-b1db1dd6f399.png)

What will the future of the WebJobs SDK look like - is it still something that will be mainta

[2022-08-15 21:47] shreyabatra4 commented on #2212
This has been implemented in the ServiceBus 5.x extension.

[2022-08-15 21:47] #2212 closed

[2022-08-16 09:57] jeroenbongers commented on #1931
@brettsam @fabiocav I just spent 2 hours figuring out why on earth my `appsetting.{environment}.json` was not overwriting my `appsetting.json`. It turns out it was because the `ConfigureWebJobs` was adding an additional `appsettings.json` which kept getting priority.

Can something please be done about this, it's extremely confusing when developing.

[2022-08-16 16:32] robertmclaws commented on #1931
@jeroenbongers Here's a method that can help:
[code]

Call this as the very first line of code inside ConfigureServies (ie `HostBuilder.ConfigureServices((context, config) => { FixWebJobsRegistration(context); });` and you should be good to go.

I'm trying to get Microsoft to let me more actively contribute to this project so I can fix this bug.

[2022-08-16 20:46] liliankasem commented on #1931
@robertmclaws let me follow up on this internally. It sounds like @fabiocav and @brettsam worry about breaking changes here and we may need a design in place before addressing it.

[2022-08-17 04:01] robertmclaws commented on #1931
@liliankasem Thanks for responding! Really appreciate you.

No disrespect to @fabiocav and @brettsam, but if they believe there is a problem, they should be having that discussion on here so that the community can triage it together. It has been an issue for 3 years now, and the fix is (and has been) relatively simple. It can be done without breaking changes (something that can easily be verified

[2022-08-19 11:06] soe-jyskefinans-dk commented on #2261
Happens for me with release 4.21.0

[2022-08-19 13:23] ilmax commented on #2900
Since the referenced version of AppInsights doesn't have support for the new Service Bus library and the old one is deprecated and suggest to use the newly `Azure.Messaging.ServiceBus`, this one should be prioritized otherwise distributed tracing is not working as expected when using service bus.

[2022-08-23 22:31] denislevin opened #2905 "Reference to vulnerable version of Newtonsoft.Json Newtonsoft.Json 11.0.2"
I am getting a build failure in ADO build pipeline for a Web job that uses Microsoft.Azure.WebJobs 3.0.33 assembly (the latest version):
[INFO] |Security Alerts
[INFO] |GHSA-5crp-9r3c-p9vr                     |Newtonsoft.Json 11.0.2                  |High                          |2022-07-29T21:14:31.3718047Z  |

This breaks our build. Nothing else in our build is using v11.0.2 of Newtonsoft.Json.

[2022-08-26 13:05] Ruud-cb commented on #2852
I'm gonna add myself to this issue, Azure Functions have been unreliable ever since started using them. Other issue is for example that when adding a message to a queue, I also have to do a HTTP request to the same function in order to 'wake it up'. The same issue seems to be going on here.
@v-bbalaiagar , @mathewc   please have a look at our issue.

Last 30 days of 'TimerTrigger 1':
![image](http

[2022-08-27 00:38] fabiocav commented on #1931
We’ve discussed this issue in the review/triage (as it was flagged by @liliankasem) and before the end of the current sprint (Wednesday 8/31), will be sharing details on how we plan to address this and gathering feedback.

Thank you all for the feedback and patience.

[2022-08-29 19:38] alrod opened #2909 "Target base scale in runtime driven scale"
Intension
In order to GA target base scale we need to add the feature into runtime driven scale, the feature was already implemented in `ScaleController`. This work intersects with SC redesign but should be released before as SC redesign is bigger item and it will take longer. SC redesign will use the change in the PR for target base scale(TBS).

Changes/Design
New interfaces:
`ITargetScaler` - In

[2022-08-29 21:58] shreyabatra4 commented on #2074
Has this been implemented in Track 2?

[2022-08-29 22:05] #2879 closed, assigned to fabiocav

[2022-08-30 04:13] nevercast commented on #2311
Please consider pushing this up the backlog, it would be really nice to be able to perform an upsert rather than our current workaround of query the table then append to the table with a unique incremented row key. We are adding rows when we would rather update.

[2022-08-30 15:57] CraigGraw commented on #2849
@Bosch-Eli-Black
Is there any update on a new release of the following WebJob Insight package?

https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Logging.ApplicationInsights

Currently it is at version 3.0.33 which includes ApplicationInsights version 2.17.0

[2022-08-31 14:24] maskati commented on #2900
@ilmax in addition to expanded support for Service Bus, this will probably also unblock use of [Azure AD authentication for Application Insights](https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-ad-authentication):

[2022-08-31 23:45] fabiocav commented on #1931
As discussed, we wanted to provide an update to share the plans on how this issue will be addressed:

#### 1. The behavior of the `ConfigureWebJobs` API will change to conditionally add the configuration providers
The `ConfigureWebJobs` API will continue to register the following configuration providers:
 - `JsonConfigurationProvider` with a path set to `appsettings.json` and set as optional
 - `E

[2022-09-01 06:39] robertmclaws commented on #1931
First off, I'm glad the team is finally giving this the attention it deserves. Having digested this a bit, here is my feedback: I would humbly suggest that this plan take the opposite approach.

Step outside of the fact that you folks built this framework years ago, and ask yourselves how you would build it NOW if you started over? The *whole point* of the `Host.CreateDefaultBuilder()` mechanism i

[2022-09-01 07:18] ilmax commented on #1931
I'm also here to second what @robertmclaws said. I'd like to just use `Host.CreateDefaultBuilder()` which configure a bunch of things the way developers expects it (e.g. logging filter from appsettings just to name one).
I'm happy this is finally being taken into account, I just wish that the webjob experience was as close as possible to the asp.net core one, without some of the annoyances we have

[2022-09-01 12:04] CraigGemmill commented on #1925
Thanks so much for this post!  I have been struggling for some time to figure the same problem out!

[2022-09-01 18:04] fabiocav commented on #1931
Thank you for the feedback!

@robertmclaws about the the first point:

Is exactly what is described in the first item I've described in the _additional steps_ above. So I think we're aligned there.

@ilmax with the proposed changes, you'll be able to use `Host.CreateDefaultBuilder()` and have the ability to add WebJobs without hitting the problem initially described in this issue. With what is bei

[2022-09-01 19:19] robertmclaws commented on #1931
@fabiocav Yep, I think the _work_ is pretty closely aligned, and I hope I conveyed that properly. My concern was more in line with stated priorities + execution order, and directing people off the current codepath long-term. It feels to me like setting up for the right future _can't be less of a priority_ than fixing a past that people are already having to work around. If we get this done in one

[2022-09-03 23:27] vanwx commented on #2023
I think it's fixed in 2022?

https://github.com/microsoft/ApplicationInsights-dotnet/blob/0a3ef80a7369b4014b889f0bbfdd872f2bc4e8ad/WEB/Src/DependencyCollector/DependencyCollector/DependencyTrackingTelemetryModule.cs#L153

[2022-09-06 06:49] ilmax commented on #1931
@fabiocav I am mostly concerned about keep registering configuration sources in the `ConfigureWebJobs` method, but thinking about this a bit more, I think if we make sure no provider will be re-registered if they're present already, that should be fine.
The issues I'd like to solve once and for all are the difficulty to reason about configuration that's order dependent, that what's bothers me the

[2022-09-07 17:52] giorgos07 opened #2910 "Azure functions v4 queue trigger - host complaining for invalid model type when message is compressed"
Hello and thank you in advance for your help.

I am using the following setup:
- Windows 11
- .NET 6
- Azure Functions v4 (out of process)

and i use the following package versions
[code]
I have an HttpTrigger which creates a new instance of a class, serializes it using [JsonSerializer](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonserializer?view=net-6.0) and compresses the pay

[2022-09-07 20:23] fabiocav commented on #2551
@BC89 we have information on how to manage/define filters and set log verbosity [here](https://docs.microsoft.com/en-us/azure/azure-functions/configure-monitoring?tabs=v2), are you running into issues with that? Do you need additional information?

[2022-09-07 20:25] fabiocav commented on #2551
@brettsam flagging this for follow up.

[2022-09-07 20:58] mathewc commented on #1931
I've got a PR out https://github.com/Azure/azure-webjobs-sdk/pull/2911 for a couple of the initial improvements we discussed above. For anyone interested, please provide feedback on that PR, thanks :)

[2022-09-08 08:46] cleftheris commented on #2910
+1
I have runed into the same problem the same issue but I have been trying with encrypted payloads.

[2022-09-08 09:41] ilmax commented on #1931
@mathewc Added few nits, looks good to me, Thanks!

[2022-09-08 10:08] goutamsamal commented on #2566
For myself, it is not working after enabling the log.
![image](https://user-images.githubusercontent.com/109196721/189095935-9c7aa466-97a5-4f97-914a-c3a6655c95b3.png)

[2022-09-09 21:53] alrod opened #2912 "[Retry] Emit a log when last retry attempt was failed"
It's not possible to find in the logs when last retry attempt was failed meaning all retries were failed. Most likely the new log should go here:
https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Executors/FunctionExecutorExtensions.cs#L66

[2022-09-12 21:47] mathewc commented on #1925
Chiming in late on this long standing issue. It appears that this issue here is that if you name your parameter "timerTrigger" it matches the binding contract name defined by the TimerTrigger extension [here](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/3c573f98708b9f85affec2d6467a3c0ee1a9f974/src/WebJobs.Extensions/Extensions/Timers/Bindings/TimerTriggerBinding.cs#L103) and that cau

[2022-09-13 09:55] YvonneArnoldus commented on #2678
I'm using the latest version of VS 2022 and it still listed as a warning.

I know it is not breaking, but I like my code without Errors, Warnings and Message, because in some cases you need to solve warnings in order to make your code work and it doesn't help if you have Warnings that can't be solved.

Which is impossible while using this package, because it references a non existing version of a

[2022-09-13 12:44] CraigGemmill commented on #1925
Thanks @mathewc!  I have been working with MS support, and they have acknowledged an issue with using the actual name.  I assume it might also apply to other cases like HttpTrigger, etc.  It's easy enough to avoid using that name, but the key is to get it into the documentation that you should not use the reserved name, because it is difficult to identify the problem.  I raised a doc issue about t

[2022-09-13 23:52] fabiocav opened #2913 "Timer trigger draining behavior issue"
Currently, the timer trigger does not wait for the pending invocation to complete before returning, causing the singleton listener to release the lease on the blob/distributed lock manager while the active invocation is in progress when drain mode is enabled, allowing other instances to obtain the lease.

This leads to concurrent invocations of a timer function running, which is not the correct be

[2022-09-14 00:04] #2913 closed

[2022-09-14 09:07] cristian-eriomenco commented on #2308
Hello from 2022 ? any luck, having same problem....

[2022-09-14 12:02] ilmax commented on #2849
@CraigGraw there's a PR here https://github.com/Azure/azure-webjobs-sdk/pull/2906 waiting to be approved/merged

[2022-09-15 01:30] #2912 closed, assigned to fabiocav

[2022-09-15 07:32] Eli-Black-Work commented on #2897
Any ideas? 🙂

[2022-09-15 12:15] miiic opened #2915 "Azure functions and application insights. AddTag() working but not AddBaggage()"
Please provide a succinct description of the issue.

[code]

Provide the steps required to reproduce the problem

When viewing the "performance" tab in application insights I can see the tag that I have added, but I cannot see the property for baggage

#### Expected behavior

The baggage will appear the same as the tag in custom properties of the request

#### Actual behavior

I can see the tag, b

[2022-09-15 13:21] MatheusXavier commented on #2612
I'm having the same problem, the Polly is handling the exception but the exception is still being logged in Application Insights, any ideas on how to solve this?

[2022-09-19 05:12] nicholastic commented on #2060
Install package "Microsoft.Azure.WebJobs.Host.Storage" Version="4.1.0" to fix this warning.

I used to get the warning originally posted in this issue, but with package updates it became:

warn: Host.Startup[0]
      Warning: Only got partial types from assembly: Microsoft.Azure.WebJobs.Host.Storage, Version=4.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35
      The following loader failu

[2022-09-20 08:03] jvmlet commented on #1390
@fabiocav ,  please tag this as `feature`.
Being able to run integration tests locally is  **the basic** requirement for modern frameworks/infrastructures.
Moreover, as a customer, I can  say that `testability` plays the key role when choosing technology  stack for solution.

The idea of DI with test support is rather **pretty old and globally adopted** than `good and valid`, the [official documen

[2022-09-20 08:23] riezebosch commented on #1390
@milad-ghafoori what do you mean by out-of-process? If you look at my repository I've done some examples and included some helper methods but other than that it just uses the bits and pieces to set up a jobhost from the official SDK. For me that gives me just enough guarantee that my functions will eventually run appropriately in their designated runtime.

I've done an online session on how I do t

[2022-09-21 10:07] ramya894 commented on #2915
@miiic we will check this with our next level team and update you with the results.

[2022-09-22 12:25] ramya894 commented on #2902
@buzzaII We will check this request with our next level team and update you soon.

[2022-09-22 22:49] kashimiz opened #2917 "Build/Release Pipeline Automation: Dashboard"
The build and release processes for Microsoft.Azure.WebSites.DataProtection should be migrated to the current CI/CD pipeline platform.

TODO: Build release steps
TODO: Release process steps

cc @soninaren for context

[2022-09-23 03:33] ramya894 commented on #2915
@davidmrdavid /@AnatoliB Can you please have a look into this issue.

[2022-09-23 03:39] ramya894 commented on #2902
@mattchenderson can you please answer to the above question.

[2022-09-28 01:01] AnatoliB commented on #2915
@RohitRanjanMS Any idea?

[2022-09-28 10:59] Ved2806 commented on #2868
Hi @anton-gustafsson We are discussing this internally and let you know about the findings soon!

[2022-09-28 12:42] springcomp opened #2920 "[AutoResolve] not working as expected"
I’m having a hard time reconciling various sources to create a custom Azure Function App binding.

I find examples that bind an attribute and its values to an input argument type using `BindToInput()`.
I also find examples that use an `IBindingProvider`-implementation using `Bind()`.

However, I cannot find samples that use both an `IBindingProvider`-implementation while still making use of an att

[2022-09-28 19:01] valdisiljuconoks commented on #2060
Microsoft.Azure.WebJobs.Host.Storage v4.1.0 fixes the warning. 👍

[2022-09-29 10:58] ramya894 commented on #2920
@springcomp Please check the below link for creation of an attribute to provide the input for autoresolve.
https://microsoft.github.io/AzureTipsAndTricks/blog/tip247.html

Please comment below if you still need any help further.

[2022-09-29 11:32] springcomp commented on #2920
@ramya894 thanks for the feedback.

Indeed I followed tip 247 – however this tip specifically uses `BindToInput()` which I cannot use in my case.
I’m specifically interested in samples that use `Bind()` with an `IBindingProvider` implementation **and** take advantage of informations specified on the attribute level.

[2022-09-29 14:53] miiic commented on #2915
Still interested in finding an answer to this, my workaround at the moment is just to litter my codebase with AddTag()

[2022-09-29 14:54] miiic commented on #2915
Still interested in finding an answer to this, my workaround at the moment is just to litter my codebase with AddTag()

[2022-09-29 21:47] tsbala opened #2921 "BlobTrigger - UserManagedIdentity - Function host is stopping"
I am getting an `AuthorizationFailure` on a Blob Trigger function using v5.0.0 of the `Microsoft.Azure.WebJobs.Extensions.Storage.Blobs` package.

I have a BlobTrigger that is using a user assigned identity connection. I have deployed the Function App to Azure and the Azure function Host runtime crashes with the following exception and stack trace

[code]

#### Repro steps

Provide the steps requi

[2022-09-30 10:11] dongup commented on #2442
I have the same issue, and I am using Microsoft.NET.Sdk.Functions 4.0.1. Please help me, thank you.

[2022-10-02 19:50] FrankBurmo commented on #2905
@brettsam any updates? Newtonsoft.Json needs to be bumped to at least 13.0.1 to clear the vulnerability

[2022-10-03 16:21] brettsam commented on #2905
You should be able to directly reference Newtonsoft 13.x in whatever project you are using WebJobs from. The vulnerability has been patched in Functions v3 (which is on v11 and cannot move forward) with the workaround posted in the link above:

[code]

We're discussing how to approach this with this package. Bumping to 13.x here would technically require a major version bump for WebJobs, which has

[2022-10-05 08:31] huco95 opened #2924 "Development settings not been correctly loaded when using `ConfigureWebJobs`"
I am getting the following error when using development settings file ("appsettings.Development.json"): `FormatException: Settings must be of the form "name=value".`

#### Repro steps

1. Create `appsettings.json` file:
[code]

2. Create `appsettings.Development.json` file:
[code]

3. Execute the following code:

[code]

#### Expected behavior

`appsettings.Development.json` values should be loade

[2022-10-06 08:53] bendursley commented on #2318
Has this now gone in?

[2022-10-06 13:47] ramya894 commented on #2921
@tsbala Please go through the below links for more information on usermanagedidentity configuration.
https://learn.microsoft.com/en-us/azure/azure-functions/functions-identity-based-connections-tutorial-2
https://learn.microsoft.com/en-us/azure/azure-functions/functions-reference?tabs=blob#configure-an-identity-based-connection
If the issue is still there, please provide us the function app name,

[2022-10-06 21:41] alrod commented on #2909
closing in favor https://github.com/Azure/azure-webjobs-sdk/pull/2918

[2022-10-10 12:10] ramya894 commented on #2924
@huco95 Please follow the instructions given in the below link.
https://github.com/Azure/azure-webjobs-sdk/issues/1931
If you still face the issue, please provide us the details related to webjob so that we can check further.

[2022-10-10 13:00] tsbala commented on #2921
@ramya894 thanks for the links. I have checked the configuration for usermanagedidentity and the role assignments are correct.

We then assigned the user managed identity the role of `Storage Account Contributor` on the `AzureWebJobsStorage` storage account and this fixed the issue.

To recap the user assigned managed identity has been given the following roles on the `AzureWebJobsStorage` storage

[2022-10-11 01:38] JoshLove-msft opened #2925 "[BUG] MessageToPocoConverter overrides any custom ServiceBusReceivedMessage open converters"
@pposps commented on [Thu Oct 06 2022](https://github.com/Azure/azure-sdk-for-net/issues/31623)

### Library name and version

Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.7.0

### Describe the bug

Hey,

As in title, I'm trying to add my custom open converter for `ServiceBusReceivedMessage`:

[code]

also tried with `OpenType.Poco`
[code]
Here is my open converter:
[code]

### Expected behavio

[2022-10-11 15:28] ramya894 commented on #2920
@fabiocav/ @mathewc Kindly have a look into the above issue.

[2022-10-11 16:37] mathewc commented on #2920
When implementing the binding yourself by providing your own IBindingProvider, AutoResolve won't work. Instead, you must use INameResolver to manually resolve the attribute value. An example can be found [here](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/f60ddaa9da1065fca896a1ef98ab62dd46ffd97d/src/WebJobs.Extensions/Extensions/Timers/Scheduling/TimerSchedule.cs#L67). So you'd updat

[2022-10-12 06:34] springcomp commented on #2920
@mathewc thanks a lot.

That is awesome and informative feedback and looks like exactly what I was looking for.
Will let you know if I need more help.

[2022-10-12 06:34] #2920 closed, assigned to ramya894

[2022-10-12 07:00] codemaker opened #2926 "StackOverFlow Exception from WebJobsBuilderExtensions while running Azure function locally"
I have written Azure function which is throwing StackOverFlow Exception in the below code from class WebJobsBuilderExtensions in the namespace ` Microsoft.Azure.WebJobs

`services.TryAddEnumerable(ServiceDescriptor.Singleton<IHostedService, JobHostService>());`

Here is my Startup.cs class

     ` [assembly: WebJobsStartup(typeof(Startup))]
       namespace FuncApp
      {
          public class S

[2022-10-12 07:34] ramya894 commented on #2921
@tsbala Please follow the below documentation for Managed identities.
https://learn.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=portal%2Chttp

[2022-10-12 07:34] #2921 closed, assigned to ramya894

[2022-10-12 08:37] tsbala commented on #2921
@ramya894 can you please point me to relevant bit in the document that explains what roles are needed for user assigned identities in a BlobTrigger? The only thing I could find was the assigning a user assigned identity via the portal.

[2022-10-12 09:44] ramya894 commented on #2926
@codemaker We are able to reproduce the issue and getting the stack overflow exception, we will check with our next level team and update you with the solution.
you can share us the function app name as below so that we check the system logs and reason for the exception.
[Sharing Your Function App name privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-pri

[2022-10-12 21:00] #2909 closed, assigned to mathewc

[2022-10-13 03:26] deepakkumpala commented on #2926
@ramya894  We did not deploy the function to the cloud and hence there will be no app name to share.

[2022-10-13 05:36] RohitRanjanMS commented on #2915
Hi @miiic yes, we have the implementation to copy tags and include it in the custom dimensions. We don't do this for the baggage. It's the same behavior with OpenTelemetry as well. Tags are included in the traces while baggages are not.

[2022-10-13 18:21] ggirard07 commented on #1598
@v-anvari we no longer have that mixed solution with .Net Core / .Net Framework projects. So going to close it.

[2022-10-13 18:21] #1598 closed

[2022-10-14 13:04] ghost commented on #2924
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-14 13:50] rhythmnewt commented on #746
It's been 1.5 years, any interest/update? Thanks.

[2022-10-14 20:33] 304NotModified commented on #2847
Is this still needed? What is the next step?

[2022-10-14 20:36] RohitRanjanMS commented on #2847
I haven't got time to make this change, but this is in my todo list.

[2022-10-17 00:10] kshyju commented on #2926
@codemaker What happens when you comment out/remove `.AddSingleton(serviceProvider => serviceProvider)` ?

[2022-10-17 02:00] codemaker commented on #2926
@kshyju It works fine when we remove `.AddSingleton(serviceProvider => serviceProvider) `, So don't we need this line anymore? How did it was working before ?

[2022-10-17 05:00] sjwaight commented on #746
Given these Key Vault references rely on Managed Identity you'd first need to solve enabling the local runtime environment to execute using Managed Identities. The same would apply to the App Configuration references you can use. I would recommend opening a new feature request if you need specific focus on this use case (note I don't work on the Product Group so I'm not speaking authoritatively he

[2022-10-17 14:05] #2924 closed, assigned to ramya894

[2022-10-18 15:30] kshyju commented on #2926
Yes, that line is causing your issue. You should not use that.
BTW, the other code snippet you have where you are replacing the Configuration is a problematic approach. If you want to add another JSON file as configuration source, the recommended approach is to inherit `FunctionsStartup` and override the `ConfigureAppConfiguration` method as shown in[ this doc](https://learn.microsoft.com/en-us/az

[2022-10-18 15:30] kshyju commented on #2926
Closing as answered.

[2022-10-18 15:30] #2926 closed, assigned to ramya894

[2022-10-19 18:58] sauravbhattacharya001 commented on #2121
this is still an issue

[2022-10-19 19:55] fartwhif opened #2927 "NRE in ShutdownListener"
NullReferenceException thrown crashing the webjob

#### Repro steps

Provide the steps required to reproduce the problem

1. Step start the webjob

#### Expected behavior

WebJob starts and remains running

#### Actual behavior

WebJob crashes

#### Known workarounds

None yet

#### Related information

[code]

I'm sorry that's all I was able to glean from the situation.

* Package version

AspNet

[2022-10-19 20:21] mathewc commented on #2927
Can you provide a sample program that builds/starts the JobHost in a way that leads to this? I.e. we need a full repro, thanks.

[2022-10-20 07:12] martinjanocko commented on #2121
I've noticed the `WEBSITE_SLOT_NAME` variable is available in function apps but not in other app services.

[2022-10-20 08:47] Eli-Black-Work commented on #2897
This finally started working, although I'm not sure why. One factor may have been that we upgrade from `Microsoft.Azure.ServiceBus` to `Azure.Messaging.ServiceBus`, and also [#18002](https://github.com/Azure/azure-sdk-for-net/issues/18002) has been fixed 🙂

[2022-10-20 08:47] #2897 closed, assigned to brettsam, ramya894