[2019-12-02 21:31] divinci commented on #2088
I can't find one.

[2019-12-03 07:48] staal-it commented on #770
In which version was this fix released? Did it ever end up in version 2.x?

[2019-12-04 01:30] codecat15 commented on #2059
@cgillum I am using version 3.1.0 of Microsoft.Extension and still getting the same issue, it seems that the configuration builder does have some crazy behavior with durable function. Given below is the code I am using, is there a workaround for this?

[code]

[2019-12-04 09:52] sevontheweb commented on #2134
bumping this as it will have big impact on deciding to go with azure functions or not for a new project.

[2019-12-04 14:52] panesofglass commented on #2359
Resolved: The `Microsoft.Azure.WebJobs.Logging.ApplicationInsights` pulled in transitive dependencies on `Microsoft.Extensions.Logging`, `Microsoft.Extensions.Logging.Abstractions`, `Microsoft.Extensions.Primitives`, etc. with version 3.0.0 rather than 2.2.0. This caused both the issue with the status, as well as led to web job crashes when it couldn't find the `Internal` namespace within the `Mic

[2019-12-04 14:52] #2359 closed, assigned to nobody

[2019-12-04 17:29] charlesw23 opened #2383 "Simple Timer function webjobs 3.0 exit code -1"
Please provide a succinct description of the issue.

1. Create a new project with the following setup

static void Main(string[] args)
        {
            var builder = new HostBuilder().UseEnvironment("Development");

            builder.ConfigureWebJobs(b =>
            {
            b.AddAzureStorageCoreServices()
            .AddAzureStorage()
            .AddEventHubs()
            .AddTime

[2019-12-05 10:09] ghost commented on #2065
Is there an update on this? It seems that the Functions SDK went to non-preview 3.0 today, which seems to suggest that it's production ready (soon). Yet it probably still means that it references the old 9.3.1, while 11.1.1 is already available nowadays. I'd like to mock instances of various interfaces/classes of this library for unit tests, but it seems to be supported in 10+ only.

[2019-12-06 18:20] bassem-mf commented on #1931
Here is how I remove the configuration sources added silently by `ConfigureWebJobs()` and add the configuration sources explicitly.

[code]

[2019-12-06 18:24] fabiocav commented on #1931
@robertmclaws @bassem-mf , this hasn't been assigned, but I wanted to comment to make make you aware that your feedback is not being ignored :)

We have a plan to update this with the proper behavior (again, as mentioned above, the current behavior was not really intentional), but haven't picked this item up due to competing priorities. We'll have this assigned soon.

[2019-12-06 19:11] fabiocav commented on #2383
Do you observe the same behavior with a deployed WebJobs app? Do you have any logs you can share?

[2019-12-07 22:43] ross-p-smith commented on #2366
I put in a PR a while back - I will dust it off and update it again. This works for my scenario where I am running a Function inside K8s using aad-pod-identity - https://github.com/Azure/azure-webjobs-sdk/pull/2344

[2019-12-09 00:03] erick-thompson commented on #2065
I'd like to know about the update as well. We have some very nasty workarounds in place that I would love to be rid of. For a service a high profile as Azure Functions, I'm not sure how it can reference the old version of the one assembly/package that every Azure project needs.

[2019-12-09 10:24] simongullberg commented on #2134
An ETA would be much appreciated. Today we have a lot of functions and function filters would highly reduce code duplication in our functions.

[2019-12-09 15:00] andyblack19 commented on #2134
😢 https://github.com/Azure/azure-webjobs-sdk/issues/1284#issuecomment-559191198

[2019-12-10 20:00] ghost commented on #2383
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2019-12-11 04:00] natelaff commented on #787
There were commits for this, but did it actually get fixed? Even running 3.x it still sends these one by one?

[2019-12-11 08:38] retheon commented on #1931
Overwriting `appsettings` only with `AddJsonFile("appsettings.json)` is a bad idea indeed. It should not override anything or use both `AddJsonFile("appsettings.json)` and `.AddJsonFile($"appsettings.{env.EnvironmentName}.json"`, like `ConfigureWebJobs`. Actually, I think having a `CreateDefaultWebjobBuilder`, analogous to `CreateDefaultBuilder` (with `AddEnvironmentVariables`, all the logging fun

[2019-12-11 15:22] backan10 opened #2413 "Blob triggered function causes unhandled exception"
I have a blob triggered Azure function created using the VS2019 (v16.4.0) template.

When running the function crashes with unhandled exception: "System.Private.CoreLib: The given key 'LogType' was not present in the dictionary."

![image](https://user-images.githubusercontent.com/34470692/70634031-cd350280-1c31-11ea-906e-f6c705e21c38.png)

Azure Functions Core Tools (2.7.1948 Commit hash: 29a0626

[2019-12-11 18:00] mpaul31 commented on #2308
Hi Bett,

I am trying to use the DI injected TelemetryClient from within my function and when I track an event I am not seeing it in AI anywhere. I have my local settings using the correct key (verified my ILogger is sending telemetry). When I inspect the TelemetryClient instance that gets injected the instrumentation key is empty. Any ideas?

[2019-12-11 19:40] kulkarnisonia16 opened #2396 "Provide an error message when AzureWebJobsStorage app setting is invalid/missing"
If you use the CLI to create a Python app and don’t include a valid connection string it gives you an unhelpful error (below).  Ideally it should say “No connection string provided for setting ‘AzureWebJobsStorage.’  Please provide a setting in the App Settings configuration or local.settings.json if running locally.”

[7/31/19 5:02:04 AM] The following 1 functions are in error:
[7/31/19 5:02:04 A

[2019-12-11 19:48] ahmedelnably commented on #2396
Is that error message coming from running `func host start` ?

[2019-12-11 21:28] fabiocav commented on #2396
Primarily assigned to understand the work that needs to be done, as this may turn out to be a host enhancement.

[2019-12-12 11:01] dersia opened #2384 "Parameter binding expression not working properly"
Binding expressions are used to bind values across bindings and triggers.
For HttpTriggers for example parameter binding expressions can be used to bind blob-name's to a value from the http-request.

This works great, if expressions are known ahead of running a webjob.
For example, if you bind to http-headers or http-query-params, but it does not work for the https -body.

In general the code supp

[2019-12-13 10:53] SurushS opened #2386 "Microsoft.Azure.WebJobs.Extensions 3.0.5 depends on Microsoft.Azure.WebJobs.Host.Storage (>= 3.0.11)"
I seem to be getting a warning that a package is not found on nuget, which also seems to be the case.

The exact error is:

**warning NU1603: Microsoft.Azure.WebJobs.Extensions 3.0.5 depends on Microsoft.Azure.WebJobs.Host.Storage (>= 3.0.11) but Microsoft.Azure.WebJobs.Host.Storage 3.0.11 was not found. An approximate best match of Microsoft.Azure.WebJobs.Host.Storage 3.0.13 was resolved.**

When

[2019-12-13 12:12] rochapablo commented on #1975
So... no update on this?

[2019-12-13 16:12] rochapablo commented on #1367
it seems that this still happening. I had set AzureWebJobsDashboard and AzureWebJobsStorage, but the warning and error still there.

[2019-12-13 19:18] KenBonny commented on #1284
That's too bad because this is something useful that I would like to see in the platform.

[2019-12-13 21:00] #2383 closed, assigned to nobody

[2019-12-16 11:20] FinVamp1 opened #2387 "Blob Triggers and Support for Data Lake Storage Gen 2"
Data Lake Storage Gen 2 has enabled support for multiple protocol access which should mean that blob triggers can work fully.

Can we confirm that customers would be supported for these scenarios?

https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-multi-protocol-access

#### Repro steps

Provide the steps required to reproduce the problem

1.  Create a Data Lake Storage accoun

[2019-12-16 17:07] sahinozd opened #2388 "Azure Functions Dependency Injection: System.Private.CoreLib: Exception while executing function - Non-static method requires a target."
Using both .net standard and .net core for Azure Functions. I wanted to use Dependency Injection for Azure Functions and currently am using nuget packages:
    <PackageReference Include="Microsoft.Azure.Functions.Extensions" Version="1.0.0" />
    <PackageReference Include="Microsoft.NET.Sdk.Functions" Version="1.0.29" />

When everything is set-up (like remove static classes/methods and startup c

[2019-12-16 18:45] sahinozd commented on #2388
Ok figured out that this seem to happen when you keep a function.json in your solution. Removing it (with its entrypoint) and arranging everything from code fixes the issue

[2019-12-16 18:45] #2388 closed, assigned to nobody

[2019-12-16 19:31] Agendum commented on #2386
I can easily reproduce this with a brand new project, following: https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started

[2019-12-16 20:39] penfold commented on #2380
I'm seeing the same issue with a queue collector.

[2019-12-18 16:57] mattwoberts opened #2389 "Webjobs won't stop when deployed via WEBSITE_RUN_FROM_PACKAGE"
I'm deploying via azure pipelines. This uses a zip deploy, which in turn uses the new deployment method - `WEBSITE_RUN_FROM_PACKAGE`

My deployment includes some continuous webjobs, which are then started when the deployment completes.

However, when you try to stop these webjobs, it doesn't work. I'm assuming this is because the wwwroot folder is locked, so stopping the webjob doesn't succeed.

I

[2019-12-18 23:48] paulbatum commented on #2065
Hey folks, I've been working on a set of updates that move to storage 11.x. I was hoping to have it ready by now but it was delayed while we focused on getting functions V3 into a production ready state.

Here are the in-progress PRs:
https://github.com/Azure/azure-webjobs-sdk/pull/2356
https://github.com/Azure/azure-webjobs-sdk-extensions/pull/602
https://github.com/Azure/azure-functions-host/pul

[2019-12-19 01:18] bradshaw84nz commented on #2365
I would also like to see this implemented

[2019-12-19 06:59] irriss opened #2390 "A bug in Microsoft.Azure.WebJobs.Extensions.CosmosDB version 3.0.5"
"continuation can not be null or empty" - error in valid cosmos db call when using 3.0.5
same code works fine if change version to 3.0.3

#### Repro steps

I have Azure durable function like this

[code]
#### Expected behavior

return the call with batch of items

#### Actual behavior

NullReference exception:

[code]
#### Known workarounds

Downgrade to 3.0.3

#### Related information

Provide an

[2019-12-19 08:57] bb-naveenkumar opened #2391 "FakeStorage nuget for Unit Testing"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

I have been trying to do webjob trigger unit testing and using FakeStorage seems like a good approach to do end to end test. However like test common NuGet there is no NuGet for FakeStorage (this is what I believe don't know for sure)

#### Expected behavior

Can there be or

[2019-12-19 08:59] bb-naveenkumar commented on #2391
Also if there is a need to contribute, do let me know the process or guidelines so that I can follow them and contribute.

Many Thanks!

[2019-12-19 18:32] fabiocav commented on #2065
@b10-dslappendel  Just want to clarify, the Functions SDK does not have a dependency on the storage SDK. That dependency is completely isolated as part of the storage extension, which is what @paulbatum is working on moving to a newer release. Once that is done, you'll be able to use it in V3 **and** V2

[2019-12-20 08:04] ghost commented on #2065
@fabiocav Ah yes, you're correct. That's some bad wording on my part.

[2019-12-20 12:38] dersia commented on #2065
I started 3 Days ago an update myself and didn't know about your work on this.
Anyhow I did the update too, but I guess that I don't need to create a PR.

Anyhow, I was also thinking about if I should update to v12.
I came to the conclusion, that v12 has so many breaking changes, that it is worth to update to v11 and then update to v12 with the next major version of webjobs sdk.

If you'd like to

[2019-12-20 21:13] paulbatum commented on #2065
@dersia Thanks for sharing! Sorry I didn't update this issue earlier regarding my progress.

[2019-12-20 21:45] dersia commented on #2065
No worries 😊

[2019-12-23 09:57] jonathanantoine opened #2392 "Releases notes for 3.2 and 4.0 ?"
Hello,

Can we have some releases notes for these 2 nuget package ?

Thanks !

[2019-12-23 09:58] jonathanantoine commented on #2101
And you still have no answer nearly a year after :(

[2019-12-23 11:20] bilalmalik777 opened #2393 "how to run a console application as azure web job and window service in dotnet core"
I have console application which is working perfectly as azure web jobs in azure App Service code is given below. Now I want to deploy same console application as windows service in windows. Some client want it as windows service and some want it in azure as web-jobs. So please anyone helps me, how can i configure same console application to work as both web-job and windows service? There is one w

[2019-12-23 14:36] fgbaezp commented on #1757
So, do we need to change this knob for .Net Core projects or not?

[2019-12-23 18:42] czb182 opened #2394 "Leverage Microsoft.ApplicationInsights.WorkerService ?"
There is a somewhat new package Microsoft.ApplicationInsights.WorkerService that supports Generic Hosts.  I'm wondering if this package should now be used for WebJobs logging, or maybe it should be leveraged by Microsoft.Azure.WebJobs.Logging.ApplicationInsights in some way (or not).

[2019-12-27 10:19] MichalGrzegorzak commented on #2381
Any news guys?

[2019-12-28 00:54] olegkapustin opened #2395 "Function host fails for Blob Trigger watching a ADLSv2 account"
**Repro steps**
1. Create an ADLSv2 account
1. Create a Function App (Python 3.7, blob trigger) (vs code template func is sufficient):
1. Configure bindings to use the ALDSv2 account

**Expected behavior**
The blobs should be processed.

**Actual behavior**
Sometimes function host fails with the stack trace like this (may happen both locally and in Azure):
[code]

**Known workarounds**
recreate st

[2019-12-30 07:03] woutercx commented on #2290
I have the same problem. Using .NET Core 3.0, Webjobs SDK 3.0.14. This is really bothering me.

[2019-12-30 22:32] paulbatum commented on #1757
Just wanted to mention that I restored the [wiki page](https://github.com/Azure/azure-webjobs-sdk/wiki/ServicePointManager-settings-for-WebJobs) since it was still applicable for running WebJobs SDK on .NET Framework.

Unfortunately at this time I cannot answer @fgbaezp 's question about what guidance is applicable for .NET Core.

[2019-12-30 23:25] soninaren commented on #2396
The error is coming from the storage extension. Specifically this line. https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.Storage/StorageAccount.cs#L30. The fix needs to be made in the storage extension.

[2019-12-31 19:05] DarinMacRae commented on #2386
I am seeing this as well after updating from 1.0.29 to 1.0.31. It doesn't make sense why it would complain at all since 3.0.13 *IS* >= 3.0.11.

[2019-12-31 19:41] kulkarnisonia16 commented on #2373
We decided to lower the priority after discussion with the team.

[2019-12-31 19:48] kulkarnisonia16 commented on #2387
@mattchenderson - do you know of any updates on this?

[2020-01-02 20:47] adrianteixeira commented on #822
I don't know why, but this error started happen with me right now.. even my function being running at all for 8 months..

- There's no update in the code
- I tried run it being published or debugged locally
- For test, i updated the package

its keep getting the same error, didn't work.

Log:

[2020-01-03 03:55] pragnagopa commented on #2413
Needs investigation. Similar issue reported here: https://github.com/microsoft/vscode-azurefunctions/issues/1725

[2020-01-03 09:30] rkbalu opened #2399 "cosmos dependency"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Step A

2. Step B

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actual behavior observed.

#### Known workarounds

Provide a description of any known workarounds.

#### Related information

Prov

[2020-01-03 09:30] #2399 closed, assigned to nobody

[2020-01-03 09:39] rkbalu opened #2400 "Clarification: [AppInsight] - CosmosDB Dependency for Tcp protocol is not tracking automatically"
We are using Microsoft.Azure.DocumentDB.Core SDK with in Azure function V2.

AppInsight does not track the telemetry automatically when we use Protocol.Tcp and ConnectionMode.Direct as per https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-dependencies.

Are there any plan to support this in future?

* Microsoft.Azure.DocumentDB.Core ( 2.3.0 )
* Microsoft.Azure.WebJobs.Logging.Applic

[2020-01-03 11:00] meds commented on #2171
I seem to be having this problem too, sending a scheduled message through the queue client and then recieving an empty mySbMsg object in the srvice bus function (same azure functions project).

Seems odd this doesn't work, makes the whole service bus queue trigger useless, it's effectively broken and should be a higher priority to fix surely?

Then again there's still no way to delete queued messa

[2020-01-03 15:49] volllly commented on #2311
I would also need this feature 🙏

[2020-01-03 20:36] AtOMiCNebula commented on #2386
It is >= 3.0.11, but NuGet picks the lowest version it can based on criteria instead of then newest.  You really don't want your build to pass one day and fail the next just because some new sub-dependency was released and you haven't had a chance to validate.  This is just NuGet letting you know that something is amiss.

I added an explicit reference to v3.0.14 to work around this (which was need

[2020-01-03 20:38] AtOMiCNebula commented on #2386
FYI @fabiocav

[2020-01-04 15:01] cocowalla commented on #808
Has anyone from Microsoft had a look at this, and is it on the backlog?

For massive scale and better tenancy isolation, 1 queue per tenant would be ideal - but that would also require one function binding per queue too, which is far from ideal (and likely to hit some scaling limitation, which are rife throughout all Azure services)

[2020-01-05 10:57] hibearpanda commented on #625
This would be an important feature for us as well.

[2020-01-06 22:27] RickBlouch opened #2401 "How to spread out singleton locks across VMs"
Is there a way to influence the VM a singleton function will execute on?

For example, let's say I have 2 VMs running a webjob project with 10 timer triggers (among other service bus triggers, etc).  I'm looking for a way to control it such that each VM would execute ~5 singleton functions, rather than one of the nodes processing all 10 (which is what seems to happen by default).

I realize one wa

[2020-01-07 01:43] fabiocav commented on #2386
Assigning this to be addressed in sprint 67

[2020-01-07 12:12] luisega commented on #2365
+1 to this feature. It will be great for unit testing

[2020-01-07 18:00] kabirshaikh commented on #2380
I'm seeing the same issue with CosmosDb and Blob biding attributes. It works locally, but not when deployed to Azure.

[2020-01-07 18:28] rsuk commented on #1254
Although the issue with ordering of AddJsonFile and AddEnvironmentVariables has been fixed, the original issue (supporting a second .json file named for the current environment) is still something that would be very useful. Because of the way the ConfigureWebJobs code is structured, it isn't possible to add this in to the default ConfigureWebJobs() between the default appsettings and the environme

[2020-01-08 06:43] RajamohanShilpa commented on #1521
HI,
My azure function not trigger after upload my file to corresponding storage account container, but this is working fine when I test my local with following settings.

I had to use local.setting.json like below
[code]

[2020-01-08 12:26] Hurtyto commented on #2152
Hello everyone. I am working on exactly the same requirement. Do we have any progress on this?

[2020-01-08 12:31] Hurtyto commented on #2152
Hello @alrod :)
Do you have any information on this?
Thanks.

[2020-01-08 21:25] fabiocav commented on #2413
Assigning to sprint 67 for investigation

[2020-01-09 09:52] venkatx5 commented on #2395
Any update on this?

[2020-01-09 19:04] #2396 closed, assigned to soninaren

[2020-01-10 18:26] ahatch1490 commented on #1881
The exact same issue as @svachha

[2020-01-10 18:29] unowiz commented on #1635
I have the same issue. I have created a new project using Vs2019 Webjobs .NET framework template. There is no issue publishing from VS 2019 but when trying to do build on azure devops using msbuild or vsbuild tasks, it says succeeded but the webjobs zip contents would not have the dlls

[2020-01-10 18:40] paulbatum commented on #1635
So to clarify, are the above workaround steps (add the webjobs properties to your project file) not working? The templates should be updated to include these proeprties in VS 16.5 preview 2 and newer, but if these manual steps are not working for you then there might be another issue that we need to investigate.

[2020-01-10 19:20] unowiz commented on #1635
Hey @paulbatum, thanks, **Works**. I presumed the workaround didn't work earlier but that was for different reason.

[2020-01-10 19:24] paulbatum commented on #1635
@unowiz great, thanks letting me know. I will leave this issue open until the VS update is available.

[2020-01-13 08:16] OzBob commented on #770
@staal-it  from the merge date and the nuget dll create dates I would imply that v3+ is when it made it in.

I have wrapped all my 'CreateIfNotExists' with :

[code]

[2020-01-14 22:48] mathewc commented on #2363
This isn't an SDK issue, it's a Functions issue due to the IHostIdProvider implementation that Functions uses, which truncates to 32 characters. See https://github.com/Azure/azure-functions-host/issues/2015. I think this is a dupe.

[2020-01-15 03:40] HarshaNalluru commented on #2171
Hey @itair-miguel,

Very sorry for the late response. The issue is caused by a bug in the service-bus JS SDK.

**Cause** - Expected encoding was not being done in the `scheduleMessage()` method as opposed to the `send()` method.

While the issue occurred with the Azure Function Triggers, it is not the case when received the message with `Receiver.registerMessageHandler()` from the JS SDK, which is

[2020-01-15 06:51] mliesmons opened #2403 "Blob binding expression to servicebus trigger property no longer works"
Please see also https://github.com/Azure/azure-functions-servicebus-extension/issues/44#issue-545396362

This is a real blocking issue and makes upgrading for us imposible.

[2020-01-15 12:16] idg10 opened #2406 "IConfiguration not available in Startup class before service configuration"
Classes that perform initialization at startup via the `Microsoft.Azure.WebJobs.Hosting.WebJobsStartup` assembly attribute have no documented way to obtain configuration settings. An `IConfiguration` is available through dependency injection, but that is only accessible after service configuration is complete.

Compare this with startup types in ASP.NET Core, which are able to define a constructor

[2020-01-15 20:20] GuillaumePugnet opened #2408 "Azure Functions host fails for Blob Trigger watching a ADLSv2 account"
## Repro steps
    Create an ADLSv2 account
    Create a Function App (C#, netcoreapp3.1, Azure Functions v3 , blob trigger)
    Configure the binding to use the ALDSv2 account

## Expected behavior
    The blobs creation or update should trigger the function.

## Actual behavior
    The host fails with the following stacktrace :
System.Collections.Generic.KeyNotFoundException: The given key 'LogT

[2020-01-16 06:46] bluephoton commented on #2308
More info (that helped me) about how to use DI for TelemetryClient
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core

[2020-01-16 13:11] adrianteixeira commented on #822
@brettsam is there any actualization for this error?

I changed the Queue to an ServiceBus, and keep having the same error

[2020-01-17 01:38] pragnagopa opened #2409 "Populate metadata for all the input bindings"
As of now, metadata is only available for triggers. It is useful to populate metadata for all the input bindings

[2020-01-17 14:53] joalmeid commented on #2395
+1

[2020-01-17 21:34] pragnagopa opened #2410 "Unable to write batch of blobs from JavaScript functions"
Assigning array to the blob output binding from java script functions inserts whole array into one blob instead of treating it as collection of blobs

Note: CosmosDB output binding allows an array

cc @paulbatum

[2020-01-19 10:06] mdddev commented on #2109
I want to try out the proposed workaround of @NullMDR but I am to inexperienced to actually apply it properly. Unfortunately the information in the code snippet provided, I don't know where to actually implement it. Is this program.cs or function.cs? Sorry for the lack of knowledge..

[2020-01-20 07:49] himanshukumar-ayla commented on #2008
Is there any Update regarding this Issue .
Have you solved this issue ?

[2020-01-20 11:40] joalmeid commented on #2395
#2404

[2020-01-20 17:01] mdddev commented on #2109
Nevermind the above, it appears I have not read thoroughly enough.
The way I see it, you're explicitly defining the kind of storage account (i.e. the way it is created) in the DI. I am still new to all this, so apologies.

[2020-01-21 07:02] ThomasArdal opened #2412 "Logging null message on timeout"
I'm experiencing a timeout in one of my functions. I will have to look at that for obvious reasons, but I noticed a funny looking log statements when a function timeout:

![null](https://user-images.githubusercontent.com/563206/72782541-47d74180-3c24-11ea-8258-d35d84c445ed.png)

Looks like code inside the `FunctionExecutor` logs the message of `null` somewhere:

[code]

Not critical to me, but tho

[2020-01-21 19:57] #2263 closed

[2020-01-21 21:01] ghost commented on #2228
@anskanth I'm facing the same error message when trying to make multiple requests from postman. First request starts successfully and the next request fails with "The job is already running." I set my instance count to 10 in the app service scale out settings. Have you figured out why this is happening?

[2020-01-21 22:45] brettsam commented on #2413
I'm fairly certain this is coming from here: https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.Storage/Blobs/Listeners/BlobLogListener.cs#L181. It may be a race or some new behavior in Storage -- but this code has been around for 5+ years. I'll fix it up to be more defensive.

[2020-01-21 23:06] brettsam commented on #2413
@semawah -- do you happen to have Hierarchical Namespace enabled for your storage account?

[2020-01-22 00:17] #2413 closed, assigned to brettsam

[2020-01-22 00:44] gzuber opened #2415 "Fix storage account validation error message"
The changes in [this commit](https://github.com/Azure/azure-webjobs-sdk/commit/0901824c5f365def6426465eacd035742350d915) are causing a test failure [in the host](https://github.com/Azure/azure-functions-host/blob/dev/test/WebJobs.Script.Tests.Integration/WebHostEndToEnd/CSharpEndToEndTests.cs#L327) with the following message:

[code]

This is related to both AzureWebJobsStorage AND and binding-rel

[2020-01-22 07:05] backan10 commented on #2413
Yes, that I have.

[2020-01-22 15:08] brettsam commented on #2413
Thanks, that explains it. There's some subtle differences when using the Storage APIs against Data Lake: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-known-issues#issues-and-limitations-with-using-blob-apis. But this fix should handle that.

[2020-01-22 17:25] osnielvaldivia commented on #1314
Will 2020 be the year we get this? This feature would reduce a lot of unnecessary boilerplate in our functions projects.

[2020-01-23 08:01] NickSevens commented on #2290
@czb182 did you get any solution for this? I'm having what I think is the same issue.
Thanks

[2020-01-23 14:01] tomgallard commented on #2403
I think this is also related to:

https://github.com/Azure/azure-functions-servicebus-extension/issues/48
https://github.com/Azure/azure-functions-servicebus-extension/issues/52

[2020-01-23 15:26] czb182 commented on #2290
No.  I put in the code as I thought it should work, hoping that a future library update will make it work.  Unfortunately there is not a lot of activity in this repo, so not sure if/when that would happen

[2020-01-23 22:31] #2386 closed, assigned to kashimiz

[2020-01-24 02:18] llevlion commented on #1240
Using dependency injection does not seem to work correctly. The offset is still not set for partition "0".
GetInitialOffset() is never called with "0" on startup.

[2020-01-24 08:08] alhardy commented on #2088
Having the same issue

[2020-01-24 17:06] ekennedy6334 commented on #2395
Similar issue with C#:

System.Collections.Generic.KeyNotFoundException: The given key 'LogType' was not present in the dictionary.
   at System.Collections.Generic.Dictionary`2.get_Item(TKey key)
   at Microsoft.Azure.WebJobs.Host.Blobs.Listeners.BlobLogListener.GetLogsWithPrefixAsync(List`1 selectedLogs, CloudBlobClient blobClient, String prefix, CancellationToken cancellationToken) in C:\projec

[2020-01-24 17:19] olegkapustin commented on #2395
Looks like @brettsam has fixed this in [dev](https://github.com/Azure/azure-webjobs-sdk/blob/276f01d93e9ca42fa72a523337d73e7ae4400a57/src/Microsoft.Azure.WebJobs.Extensions.Storage/Blobs/Listeners/BlobLogListener.cs#L178):
https://github.com/Azure/azure-webjobs-sdk/blob/276f01d93e9ca42fa72a523337d73e7ae4400a57/src/Microsoft.Azure.WebJobs.Extensions.Storage/Blobs/Listeners/BlobLogListener.cs#L178

[2020-01-24 18:34] brettsam commented on #2395
This will be a part of the Microsoft.Azure.WebJobs.Extensions.Storage 3.0.11 release, which will likely happen in the next couple of weeks.

However, it's already a part of the 4.0.0-preview1 release, which I've just pushed to Nuget this morning. That moves our storage extension up to newer Storage SDK nugets, so there are some breaking changes around that for C# functions (if directly using the S

[2020-01-27 08:10] NickSevens opened #2420 "CancellationToken never cancelled in Triggered WebJob"
I'm having a triggered webjob which executes some `async` actions (Graph API calls) in a loop.
When trying to use the `cancellationToken` to handle application shutdown, it seems it's never set to cancelled.

My webjob is initiated with:

[code]
and Functions.RunBoxSync is defined as such:
[code]
But, as said, the cancellationToken is never cancelled.

How do I pass the **correct** cancellationTok

[2020-01-27 09:05] markusfoss commented on #1257
Will there be support for way to be able to declare visibilityTimeout or (even better) a exponential backoffpolicy?

With a exponential backoff policy of 2 seconds we could get this behavour using 5 redeliveries:
Invocation FAIL
-> wait 2 secs -> FAIL
-> wait 4 secs -> FAIL
-> wait 8 secs -> FAIL
-> wait 16 secs -> FAIL
-> wait 32 secs -> FAIL (or hopefully it succeeded ;-) )

By setting a visibil

[2020-01-27 17:52] Ansssss opened #2421 "TimeoutAttribute should accept setting name parameter to pull timespan from app config or environment variable"
Currently the TimeoutAttribute class does not have a constructor that would allow you to pass in a setting name (like say the [DisableAttribute](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs/DisableAttribute.cs) does). This means the timeout must be hard coded rather than App Config driven.

#### Repro steps

Define a service bus queue triggered function with a Ti

[2020-01-27 20:15] clauchiorean opened #2422 "No job functions found when using ProjectReference/PackageReference in some projects, version 3.x"
I have a common lib project that is used by all the background workers that are using the webjobs sdk. This is the only lib that has the references to the webjob sdk libs.

I'm using package reference and project reference with the new csproj version.

I have a weird case in which the host does not find any functions in some workers.

I've traced the problem in the function AssemblyReferencesSdkOr

[2020-01-28 10:05] dersia commented on #2384
bump

[2020-01-28 10:26] Vineet-Yadav commented on #2352
We are also facing the same issue.
Can anyone suggest, any possible way to publish .Net framework 4.8 supported application as Azure WebJob?

[2020-01-29 23:51] kashimiz commented on #2386
Microsoft.Azure.WebJobs.Extensions v3.0.6 is now available on [NuGet.](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions/) This version references
Microsoft.Azure.WebJobs.Host.Storage (>= 3.0.14).

[2020-01-30 07:02] SurushS commented on #2386
@kashimiz thank you for letting us know. And thanks for the quick pick up of the item. 😁

[2020-01-31 04:04] ericsampson commented on #2366
That’s great @ross-p-smith , has there been any interest in the PR? I’m curious why the tenant if needs to be specified explicitly - for instance it’s not required when using KeyVault with Managed Identity.

[2020-01-31 22:16] jeffhollan commented on #1597
Adding P1 so we discuss in upcoming sprint planning to see when we can start work on this.

// @fabiocav FYI

[2020-02-04 08:12] Piekop commented on #976
Hi all,
I know this has been a while, but we're experiencing the same issues with our webjobs.
Host dll is version 2.2.0.0.
The servicebustriggers are stalling while others keep un running correctly.
We don't have any storage operations in our own code, but the SDK is logging operations to the blobstorage.
More specific we're experiencing a 400 (bad request MD5mistmatch)
Any help is much appreciat

[2020-02-04 22:13] baywet commented on #1505
@brettsam
 Doing a cleanup of my GitHub issues here. You can most likely close this issue as mentioned in your previous comment

[2020-02-04 22:19] #1505 closed

[2020-02-05 05:45] abbasc52 opened #2425 "Concurrency issue in AsyncCollector for Table Storage while doing AddAsync"
We are using IAsyncCollector for table storage to push data to table. In our use case, we need to push up to 5 table entities parallelly in an async manner.
We are getting frequent batch size exceeded error. I suspect it is due to -
https://github.com/Azure/azure-webjobs-sdk/blob/a5049fe18e80699ebe7b6b3f0e144c3adc582b2c/src/Microsoft.Azure.WebJobs.Extensions.Storage/Tables/TableEntityWriter.cs#L10

[2020-02-05 17:18] jonarmstrong commented on #2389
I have the same issue with all of the web jobs that I deploy using `WEBSITE_RUN_FROM_PACKAGE`. The desire is that I should be able to stop a WebJob without taking the entire site down.

[2020-02-05 21:02] alrod opened #2452 "Create a storage extension package with eventgrid listener for blobs"
1. Introduce new Blob trigger param useEventGrid=true.
2. User must create http event grid subscription manually.

[2020-02-05 21:58] jeffhollan commented on #1597
@alrod thinking would be start to flesh out design. Would be great if you could set up a short sync / brain dump with myself, @paulbatum, and even @ealsur (from CosmosDB) to look at options and share scenarios.

[2020-02-06 17:31] JSCProjects commented on #1635
Still facing troubles generating a valid zip. I’m using dotnet.exe instead of msbuild.exe

[2020-02-07 08:29] avishnyakov commented on #2178
Hi team, what is the state of this one and what is the purpose of the options parameter?
cc @celluj34

[2020-02-07 22:51] kulkarnisonia16 commented on #2320
@brettsam - were you able to take a look at this?

[2020-02-07 23:51] paulbatum commented on #2178
It looks like there is no purpose right now. The schedule monitor used to be exposed on the options object, but it was moved as part of [this commit](https://github.com/Azure/azure-webjobs-sdk-extensions/commit/4f4cf82041167e08c351f6152cca0536ece7614d#diff-7b5831ac8a65165cf6e6d47248f6f73e). You could argue the type should be deleted until it needs to be re-introduced, but doing so seems like an un

[2020-02-07 23:53] SeanFeldman commented on #2178
Thanks @paulbatum. The least that could be done is an XMLDoc comment to provide an idea. Or a deprecation note until it's removed.

[2020-02-07 23:57] paulbatum commented on #2178
Also `AddTimers(...)` and `TimerOptions` live in webjobs-sdk-extensions so I need to move this.

[2020-02-08 00:34] nickwilsonr commented on #2365
+1 to this feature as well

[2020-02-10 14:26] zamzowd commented on #2380
I had similar issues arise a couple of weeks ago, and was able to resolve them by adding a fairly empty `host.json` file (that copies to the output directory):
[code]
While this file was previously effectively optional, I'm guessing there was an Azure runtime update that relied on having it.

[2020-02-11 01:20] ScottyMac52 commented on #1931
I am REALLY struggling with this same issue in Azure Functions for dot net core 3.x! When I run locally my local.settings.json is loaded and all is well. After I publish the Azure Function to Azure all of the sudden my custom settings are null? Here is the code I am currently using to load my configuration:

[code]

I am using VS 2019  and dot net core 3.1 to author Azure Functions in C#. I have r

[2020-02-11 02:53] ScottyMac52 commented on #1931
I **FINALLY** found a way to make this work. Many many many thanks to @bassem-mf for his solution created a light at the end of the tunnel!

[code]
Now I KNOW that the appsettings.json file is loaded for my function app!

[2020-02-11 17:14] JRiggenbach commented on #1708
Any update on this?  I'm attempting to do the same, but no luck.  I'm also curious about why the function.json does not contain the binding for the TableAttribute.

[2020-02-12 07:11] ehjalmar commented on #2380
Since last week we´re seeing the same issue in a number of functions which uses Binder for both input and output blobs. Strange thing is that if we redeploy the functions via Azure DevOps pipelines, it works the first time, but starts to fail again later after a few calls.

[2020-02-12 14:46] mohammedhussain6 opened #2427 "Start/Stop disabled for function app attached to azure dashboard"
Provide the steps required to reproduce the problem

1. Pin a function to azure dashboard and publish the dashboard

2. Now refresh the browser and select right-click the function which gives various options but the start/stop is disabled.

#### Expected behavior

It should allow the user to start/stop function from the dashboards.

#### Actual behavior

The start/Stop option is read-only

[2020-02-12 15:24] JSCProjects commented on #2088
Facing same issue here.

Other question related to webjobs how do you deploy your webjobs? I'm also facing [deployment issues](https://github.com/Azure/azure-webjobs-sdk/issues/1635#issuecomment-583018678) with v3

[2020-02-12 19:08] JBMCeridian commented on #2365
+1, very hard to unit test in its current implementation

[2020-02-15 07:35] andreatosato opened #2429 "Any ETA for IResolutionPolicy for public consumption?"
Hi all,
I use IResolutionPolicy for sample demo latest year.
Form "27 Jan 2018" IResolutionPolicy isn't changed. Why?
I can use it safely? I must change my approach?

https://github.com/Azure/azure-webjobs-sdk/blob/b798412ad74ba97cf2d85487ae8479f277bdd85c/src/Microsoft.Azure.WebJobs.Host/Bindings/IResolutionPolicy.cs#L16-L17

Thanks a lot!

[2020-02-15 08:00] andersekdahl opened #2430 "Why is heartbeat id a new guid instead of instance id?"
When we run a continous webjob _without_ it being singleton, it's very useful that heartbeats are logged to Azure BlobStorage. However, these ids logged to BlobStorage are random guids which makes them less useful. I thought those ids where the same as the `WEBSITE_INSTANCE_ID` which would make them a lot more useful.

Is there any reason for it being a random guid instead of the `WEBSITE_INSTANCE

[2020-02-15 19:38] DimaTodo89 commented on #1240
I was able to get the Azure Function to ignore all previous event hub data by using @paulbatum's code above and changing the FromEnqueuedTime(DateTime.UtcNow) to FromEnd().

I also had to consume from a consumer group previously unused by that Azure Function. You could probably achieve this second step by deleting the offset tracking files in the Azure Function storage but I haven't tested that (d

[2020-02-17 23:30] pvones commented on #1944
It still doesn't work. Setting the _config.DashboardConnectionString_ value has no effect on the Kudu dashboard. Is there any QA out there or we are the first few people who have ever used this setting?

There is another report https://stackoverflow.com/a/51217978

[2020-02-18 12:29] OskarNet commented on #2318
Any news on this?  Annoying to see thousands of dependency errors in App Insights

[2020-02-18 22:09] fabiocav opened #2431 "Update WebJobs SDK .NET Framework templates"
The .NET Framework templates for WebJobs are outdated and do not use the new model introduced in WebJobs 3.0.

Opening this issue to track the work to update those templates or work on guidance to users on Full Framework.

[2020-02-19 21:32] fabiocav commented on #1597
@alrod has an initial design for review. Once we settle on that, we'll move forward with implementation.

[2020-02-20 02:04] madelinegordon opened #2432 "Some exceptions are being treated as coming from customer code when that is not necessarily the case."
In this [IcM incident](https://icm.ad.msft.net/imp/v3/incidents/details/175136273/home), the customer was experiencing a container exception, which was a result of the host being disposed before the gRPC service. This is the exception:

`DryIoc.ContainerException : Container is disposed and should not be used: Container is disposed.
You may include Dispose stack-trace into the message via:
contain

[2020-02-20 04:39] gonace commented on #2032
@stephenschwan Bumping this since there are no examples or information found for how to use `UseWebJobsStartup`, would be great if someone (that knows) can provide a working (simple) example.

I've been trying to figure out how to use but without any success, I've created a class implementing `IWebJobsStartup` but the `ConfigureServices` method is never called.

[2020-02-20 23:33] mathewc opened #2434 "Consider making QueueTrigger InitialVisibility configurable"
Currently the initial visibility we use when dequeueing messages is 10 minutes (code [here](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.Storage/Queues/Listeners/QueueListener.cs#L104)). We have a user configurable value [QueuesOptions.VisibilityTimeout](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.Storage/

[2020-02-20 23:41] mathewc commented on #2158
It's by design that the "initial" visibility is different from the VisibilityTimeout that we allow you to configure. The feedback I believe is that you want the former to be customizable. I've logged a new issue https://github.com/Azure/azure-sdk-for-net/issues/32635 for that and will close this one.

[2020-02-20 23:41] #2158 closed

[2020-02-21 06:18] rahulseth01 opened #2435 "Singleton lock renewal failed for blob 'xxx/host.Listener' with error code 403."
Web job is crashing with error "Singleton lock renewal failed for blob 'xxx/host.Listener' with error code 403"

#### Repro steps

Provide the steps required to reproduce the problem
1. Web job is scheduled for every 30 sec and makes 100 parallel calls to API.

2. Intermittently, Web job crashes when on the start of next schedule. (it does not fails while servicebus messages or API calls are faile

[2020-02-21 06:22] rahulseth01 commented on #2435
Package Version:
"Microsoft.Azure.WebJobs" version="2.3.0"
"Microsoft.Azure.WebJobs.Core" version="2.3.0"
"Microsoft.Azure.WebJobs.Extensions" version="2.3.0"
"Microsoft.Azure.WebJobs.ServiceBus" version="2.3.0"
"WindowsAzure.ServiceBus" version="6.0.1"
"WindowsAzure.Storage" version="8.7.0"

[2020-02-21 23:37] paulbatum opened #2436 "WebJobs Dashboard needs to support TLS1.2 for its outbound calls"
The webjobs dashboard is a legacy component but it is still run in some environments that are undergoing upgrades, including TLS 1.2 enforcement. Right now the dashboard will fail if it tries to connect azure storage and TLS 1.2 is enforced.

I suspect viable options are:
- retarget the dashboard at a newer version of .NET Framework
- configure service point manager, something like this:

[code]

[2020-02-22 01:24] paulbatum commented on #1240
@DimaTodo89 thanks for sharing this, not sure how I missed FromEnd() (maybe its a more recent addition to the eventhub SDK?). I updated my code sample to use that.

[2020-02-22 09:08] svengeance commented on #1493
@brettsam I was running into this issue, however after installing the 4.0 beta for Microsoft.Azure.Storage, the warnings have went away. I scanned the release notes but nothing stood out and this issue wasn't referenced. Are you aware of any fixes therein that might have alleviated this?

[2020-02-23 15:39] rahulseth01 commented on #2435
Here is some update on this issue:
It seems issue was due to different location region for Azure Web API & Storage Account.
After moving the resources in some region, it resolved the issue.
This could be a KB article for all. :-)

[2020-02-23 15:39] #2435 closed, assigned to nobody

[2020-02-24 01:00] nickraphael commented on #1998
I'm getting this error too.  Nightmare.

[2020-02-24 14:38] brettsam commented on #1493
Do you mean the WebJobs package? https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage/4.0.0-preview1

I don't have any concrete changes -- but this is such a huge change in the Storage SDK that I suspect these types have all been reworked.

[2020-02-24 16:16] hcvdwerf commented on #2182
Could you please give an update? Still not working in .net core 3.1

[2020-02-25 03:33] svengeance commented on #1493
Heya, yeah I did mean the WebJobs package.

In any case I've been running the QueueTrigger webjob in Azure on Net 4.7.2 for a few days without a hiccough or crash, so I think I'll bite with the preview version and see it through.

[2020-02-26 08:18] MirzaMerdovic commented on #2063
Thanks @panesofglass I can confirm that I have this same issue when trying to run Azure Durable Function in Linux Container and I had to do the same workaround.
Although my INameResolver implementation is the same as the DeafaultNameResolver in [Azure WebJobs](https://github.com/Azure/azure-webjobs-sdk/blob/aeabc5f43f7c50ca67267cbfa429a08fc68623a9/src/Microsoft.Azure.WebJobs.Host/DefaultNameResolv

[2020-02-27 08:05] amigup opened #2442 "Custom ITelemetryInitializer in azure function .Net Core 3.1 does not work"
Custom `ITelemetryInitializer` in azure function .Net Core 3.1 does not work.

I've implemented a custom ITelemetryInitializer and injected using Dependency injection as Singleton but `Initialize` method of `ITelemetryInitializer` of custom class is not hit.

#### Repro steps

1. Created a new .Net core 3.1 Azure function with Http binding.
1. Installed Microsoft.Azure.Functions.Extensions 1.0.0 p

[2020-02-28 00:43] macrogreg opened #2445 "Improve re-throwing exceptions by using ExceptionDispatchInfo throughout"
At many places the SDK uses the following pattern:

[code]

The way the exception being re thrown is problematic. The resulting stack trace only shows the like on the respective method that contains the throw statement. A better way to re-thrown exceptions exists since NetFx version 4.5: `ExceptionDispatchInfo.Capture(ex).Throw()`. That approach will include richer stack trace information: bith,m

[2020-02-28 01:37] macrogreg commented on #2445
I have a PR for this locally, but I am having trouble pushing a private branch. Perhaps I am missing some permissions issue?

[2020-02-28 07:48] macrogreg opened #2446 "Add support for BindStepOrder.TightFunctionWrapper and ensure that sorting IOrderedValueBinder.StepOrder preserves declared parameter order"
The goal is twofold:

1) Fix an issue with how `IOrderedValueBinder.StepOrder` is processed when binding output values.
2) Add a new supported value to the `BindStepOrder` enum.

**Sub-section 1) Fix an issue with how `IOrderedValueBinder.StepOrder` is processed when binding output values.**

The docs claim that "Generally parameters are bound in their declared order". However `FunctionExecutor.Pa

[2020-02-28 16:01] brettsam commented on #2447
We're getting more-and-more folks coming to us with confusion around this and filtering. We need to do something to make this more clear. We could do something like:
1. By default, for Traces only, obey the filters that were applied and allow all other logs to flow.
2. Allow some strict "apply all filters to Live Metrics" option that obeys the filters for everything.
   - This could be triggered b

[2020-02-29 00:15] jeffhollan commented on #1597
Hey all - we met today and @alrod shared his proposal. I tried to put together one potential option in a sample here.  It has a README that lays out the behavior, and a sample of what an Event Hub trigger function could look like that allows users to explicitly determine to checkpoint or not.  Feel free to check it out and add feedback to this issue. https://github.com/jeffhollan/retry-design

[2020-02-29 00:34] paulbatum commented on #2436
This work item needs to be complete by early April to align with an Azure Stack release.

[2020-02-29 04:38] macrogreg commented on #2445
PR ready for review. I am working thought learning how to deal with the tests. Seems to be an infra issue. :)

[2020-02-29 05:24] macrogreg commented on #2445
@brettsam asked to provide a demo of how `ExceptionDispatchInfo.Capture(ex).Throw();` improves things compared to `throw;`. Here is an example:

I provide some source code below as an image, so that you can easily see the line numbers. Then I provide the output. It should make things clear.

![image](https://user-images.githubusercontent.com/20691812/75601194-b1d9d680-5a6d-11ea-8d80-6360c77525fe.p

[2020-02-29 05:50] macrogreg opened #2450 "Allow IValueBinders to opt into processing output values even if the function throws an exception"
#### Issue:

If user code throws an exception (in the function body or in one of the filters), the exception will propagate out of the Invoker and the FunctionExecutor. The IValueBinders of the output bindings will not be invoked.

However, bindings may wish to still process the output, even if the function threw an exception.
This may be for several reasons:
- Storage bindings may wish to persist

[2020-02-29 05:53] macrogreg commented on #2450
Initial PR (needs some work to add unit testing): https://github.com/Azure/azure-webjobs-sdk/pull/2451

[2020-03-02 18:09] rickdtully commented on #2060
is this issue still not resolved?

[2020-03-02 21:50] nicholastic commented on #2060
It's frustrating to see webjobs clutter up with unsolvable warnings every time they run. Can you please try to resolve this?

[2020-03-04 12:02] hisuwh commented on #822
@brettsam I had changed my application to run the host async but I am still seeing this issue.  My service is crashing and restarting about 12 times a day.  These are the logs I'm getting:

[code]

[2020-03-04 21:22] pragnagopa commented on #2452
Initial PR out. Moving to next sprint.

[2020-03-04 22:11] raasmasood commented on #2380
same issue as soon as i updated my functions .

[2020-03-05 04:23] alohaninja commented on #2389
@mattwoberts - your hunch is probably correct, run-from-package makes the entire site directory read-only. You can't disable the individual webjobs as it requires a file `disable.job` to be present in the webjobs directory for the job you wish to stop.

## Option 1: Migrate to Functions
We are moving some of our infrastructure from webjobs to functions as this is likely a limitation with webjobs c

[2020-03-09 14:53] brettsam commented on #2445
Here's some more examples: https://berserkerdotnet.github.io/blog/rethrow-exception-correctly-in-dotnet/

[2020-03-10 11:44] amigup commented on #2442
Any update on this issue?

[2020-03-10 23:17] alrod commented on #2403
the issue is fixed in https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.ServiceBus/4.1.1

[2020-03-10 23:18] #2403 closed, assigned to alrod

[2020-03-11 09:03] mliesmons commented on #2403
Great, POCO binding works again, tnx.

From: Alexey Rodionov <notifications@github.com>
Sent: Wednesday, March 11, 2020 12:18 AM
To: Azure/azure-webjobs-sdk <azure-webjobs-sdk@noreply.github.com>
Cc: Michel Liesmons <m@nais.be>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-webjobs-sdk] Blob binding expression to servicebus trigger property no longer works (#2403)

issue is fixed in

[2020-03-11 19:00] gabrieljoelc commented on #1597
@jeffhollan we are excited about this development. 👍

One outstanding concern we have is with how checkpointing is handled for errors that occur in the Function/binding _middleware_. When we first started trying out Event Hub for a big project in 2018, we quickly discovered that unhandled exceptions occurring before our our Function method body (i.e. application code) would _not_ stop the event hu

[2020-03-11 19:04] gabrieljoelc commented on #1558
For other googlers who find themselves on this GH issue trying to figure out which repo the event hub trigger source code is in, it is [here](https://github.com/Azure/azure-functions-eventhubs-extension).

[2020-03-11 20:18] TeraInferno commented on #1597
@jeffhollan We at my company are also excited about the additional configuration for event hub triggered function. As @gabrieljoelc mentioned, using Event Hub triggered functions often requires an almost paranoid amount of exception checking and error handling, and even that is not always enough. Having a configurable retry policy will go a long ways in improving the resilience and reliability of

[2020-03-11 21:51] jeffhollan commented on #1597
@gabrieljoelc I'll have to have @alrod clarify that as I don't know what the implementation would mean for this level

@TeraInferno great idea, likely makes sense to create a separate issue in this repo specifically for that feature.  It's just a little larger as we'd also need the ability for the user to define / declare a 'deadletter' event hub name, but I love the idea.

[2020-03-12 07:27] yuvalpeled1 opened #2454 "SingletonManager - No retry for blob lease renewal failure and eventually causes host crash"
We experience Azure Functions host crashes due to intermittent blob lease failures.

            public async Task<TaskSeriesCommandResult> ExecuteAsync(CancellationToken cancellationToken)
            {
                // Exceptions wil propagate
                bool executionSucceeded = await _lockManager.RenewAsync(_lock, cancellationToken);

                TimeSpan delay = _speedupStrategy.Ge

[2020-03-12 07:44] yuvalpeled1 commented on #2454
I suspect this commit caused the regression (3 years ago)
[commit ](https://github.com/Azure/azure-webjobs-sdk/commit/1d6e30fd719b85b0b0c6cf9e8a0b07e1e0a26bef?diff=split#diff-03975c56f40121be67c2ba5ff90cafd5)

[2020-03-12 12:22] d3ullist opened #2455 "Microsoft.Azure.Webjobs.Scripts.ExtensionsMetadataGenerator 1.1.6 can't detect blobtriggerattributes"
#### Repro steps

Create new azure function app, blobtrigger from the visual studio template.
Install nuget package Microsoft.Azure.Webjobs.Scripts.ExtensionsMetadataGenerator 1.1.6
Build/ run the project

#### Expected behavior

Function builds/ starts.

#### Actual behavior

Build error
[code]

#### Known workarounds

Downgrade to 1.1.5

#### Related information

Test project for reproduction ht

[2020-03-12 16:13] albe commented on #2177
In the meantime, there is storage sdk v12 https://github.com/Azure/azure-storage-net - so maybe it's not even worth adopting v11 by now and having to support that for some time

[2020-03-14 11:55] chrismimosil commented on #2065
Do we know where this is? Looking at those 3 in-progress PRs to bring the referenced version of storage up to v11 or v12, they seem to be stopped since Jan.  I'd really like to see the storage version updated as the current v9 version is over 90% of a deployed minimal functions app, and the split of storage libs will presumably reduce the size of referenced libs?

[2020-03-16 18:37] kulkarnisonia16 commented on #2305
@brettsam - just noticed this was assigned to Sprint 58, what is the current status on this?

[2020-03-16 20:18] brettsam commented on #2305
This is all done with the connection string work completed by @gzuber. It's a part of [2.0.12998](https://github.com/Azure/azure-functions-host/releases/tag/v2.0.12998) but this hasn't been released to China yet.

[2020-03-16 20:57] jelther commented on #1597
@jeffhollan , is this already available (the retry design) for usage ? We're suffering from missing events when we put a lot of pressure in an eventhub. We've wrapped almost every part of our code with a try-catch but it's not enough, we're still seeing missing events.

[2020-03-16 22:31] bbrandt commented on #2455
I get a similar error for `ServiceBusTriggerAttribute` with 1.1.6 of `ExtensionsMetadataGenerator`.  Same workaround.  Downgrading to 1.1.5 gets around it.

[code]

[2020-03-17 09:20] DanielLarsenNZ commented on #1597
@jeffhollan looks pretty good. It's a shame that throwing exception won't result in batch being retried, but I guess that ship has sailed.

Would it be possible to add circuit breaker into this design? Today we had a scenario where downstream dependency was throwing non-transient exception and we needed to stop while we fixed it. Or deadletter would help in this scenario as @TeraInferno mentioned.

[2020-03-17 16:22] jeffhollan commented on #1597
@jelther not ready yet - @alrod is working on it.

@DanielLarsenNZ circuit breaker adds an additional element of complexity as it requires having some "state" of the circuit. This could be in memory but that wouldn't get you very far if an instance was recycled and the state was lost. I've written this blog post for a pattern I've used.  https://dev.to/azure/serverless-circuit-breakers-with-durabl

[2020-03-18 16:20] GermanCoca opened #2456 ""Unable to acquire Singleton lock" after Webjobs deployment"
Please provide a succinct description of the issue.

#### Repro steps

When deploying our Webjob solution to the staging environment, we observe from the Kudu logs that the singleton locks are not being released for timer triggers. This in turn result in multiple errors _"Unable to acquire Singleton lock"_ when these Webjobs are initialized again.

This deployment is done in Azure Pipelines. To av

[2020-03-18 20:18] alrod commented on #2452
PR: https://github.com/Azure/azure-webjobs-sdk/pull/2438

[2020-03-18 20:41] fabiocav commented on #1597
We have a design for this item, work is currently in progress. Tracking this for completion in sprint 72.

[2020-03-19 10:21] estensen opened #2457 "Broken wiki link"
#### Repro steps
1. Go to https://github.com/Azure/azure-webjobs-sdk/wiki/Creating-custom-input-and-output-bindings
2. Press `Simple binding` link
2. 404

[2020-03-19 23:33] AlissonRS commented on #2046
Still an issue in 2020. I can't get App Insights for my webjobs using .net core 3.0.

[2020-03-20 13:12] CedricVandelaer commented on #2395
Hi, is it possible to install this preview package or an updated version in python azure web app?
I can only find the option to specify the version number of the extension bundle in the host.json file, but the extension bundle doesn't to be updated yet either.

Thanks in advance

[2020-03-24 06:14] digitalfuller opened #2459 "No way of ordering of TelemetryProcessors when using AddApplicationInsightsWebJobs extension method"
#### Issue Description

Our webjobs contain a custom TelemetryProcessor that filters out DependencyTelemetry that meets some specific criteria in order to reduce the volume of data we send to our Application Insights instance.

To do this when we were using SDK 2.x we added our custom TelemetryProcessor to the ApplicationInsights.config as the first processor e.g.

[code]

We recently moved to SDK

[2020-03-24 12:35] evilpilaf commented on #2365
I agree, this should be the default, either with IMessageReceiver or another interface, but the triggers shouldn't depend on concrete types.

[2020-03-24 13:57] onionhammer commented on #625
This would be extremely valuable, definitely a big thumbs up!

[2020-03-24 22:08] FlavioDiasPs commented on #1597
@jeffhollan @fabiocav
Will this be available on which Function versions?
Does Durable Functions suffer with the same problem and will also receive the feature?

[2020-03-24 23:43] srinayani opened #2460 "Upgrade to 3.0 SDK has issues Dashboard has error: "HostNotRunning""
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. After upgrading to webjob 3.0 SDK,  WebJob dashboard has error "Host is not running; requests will be queued but not execute until the host is started."
Host is initiliazed and running continuously and no error. It uses host.RunAsync().Wait(); and is waiting for dashboard

[2020-03-27 06:24] digitalfuller commented on #2422
I'm using a similar project structure to you and had the same issue.

I found that if I added the FunctionNameAttribute to my method then the function was found at startup (no additional file/project/nuget references required).

e.g.
[code]

[2020-03-29 15:03] empz commented on #2387
I've been doing a lot of googling to see if ADLS Gen2 can be used as a BlobTrigger to run Azure Functions. I couldn't find any clear explanation of this.

According to [this doc. page](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-supported-blob-storage-features), ADLS Gen2 has support for reactive events, but yet doesn't seem to be triggering my BlobTrigger Azure Function

[2020-03-30 14:52] ThomasVandenbon commented on #1597
@fabiocav will this design you're working on also be usable for CosmosDB triggered functions?

[2020-03-30 14:54] Peter-B- opened #2464 "Proxy with wildcard breaks url parameters in HTTP binding"
Using a ```{*url}```-wildcard in a proxy definition in ```proxies.json``` breaks url parameter matching (like ```Route = "users/{userId}/cars")```) in Azure Functions.

#### Repro steps

You can find a [simple example project here](https://github.com/Peter-B-/SpaHosting/tree/MinimalBugExample).

1. Create an Azure Function with a HTTP trigger

2. Add a route parameter:
[code]

3. Add a ````proxies

[2020-03-30 16:28] EvanMulawski commented on #2098
Any update on this? The amount of telemetry and storage requests generated is ridiculous, especially when you have a queue trigger (or similar). There is something to be said about the performance impact as well; additional execution time and therefore an additional cost for Consumption plans. My current workaround is creating the client and table reference myself using DI configuration in the v3

[2020-03-31 00:33] renatosalas opened #2465 "Upgrade Snapshot Collector version to 1.3.7"
Snapshot Collector version (1.3.4) does not have the Gov Clouds supports. (it was introduced in 1.3.5)

Could it be upgraded to the latest version 1.3.7, please?

Reference: https://github.com/Azure/azure-webjobs-sdk/blob/40572c8f719e044b0a58184697793791cdf8823a/src/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/WebJobs.Logging.ApplicationInsights.csproj#L29

[2020-03-31 00:35] renatosalas commented on #2465
I could not assign people. @brettsam

[2020-03-31 09:36] icecog commented on #2308
Hey guys,
Whats the progress on this? This seems to be a small problem that could have been fixed by now, no?
@brettsam

[2020-03-31 13:12] stasyess opened #2466 "Azure WebJob fails to start with null reference exception"
We have a WebJob project that is using Microsoft.Azure.WebJobs 1.1.2.
WebJob has a BlobTrigger function to unzip files and push them to another folder in a container:

[code]

However, the web job kept failing to start with a null reference exception, until we noticed that in another folder we had a blob of type AppendBlob.
Stack trace:

at Microsoft.Azure.WebJobs.Host.Storage.Blob.StoragePageBlob

[2020-03-31 22:47] paulbatum commented on #2065
@chrismimosil sorry for not getting back to you sooner, this got lost in my sea of notifications.

We released version [4.0.0-preview1](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage/4.0.0-preview1) of the storage extension. It references storage 11.x. However we did not split our storage extension itself, so the binary size probably won't change much.

I think its safe

[2020-04-01 05:25] andrew-vdb commented on #2065
In v12, they rename **BlobClient** to **BlobServiceClient** and make another different type of **BlobClient**
They also put the project in giant mega jumbo repo

This issue also obsolete as I don't see the point of aiming v11 anymore, but its depend on your product manager i guess

[2020-04-01 16:50] paulbatum commented on #2065
The point of targeting v11 is twofold:
1. It was more achievable for us - the required updates to our storage extension and functions host were relatively small because not a whole lot changed in terms of API surface area.
2. Thousands of customers have code that is written against the pre v12 API surface. Those customers need to be able to get reliability and performance fixes without requiring a

[2020-04-01 18:08] alrod commented on #1597
PR:
https://github.com/Azure/azure-webjobs-sdk/pull/2463

[2020-04-01 18:11] alrod commented on #1597
@ThomasVandenbon, we have plans to use it in EventHub, CosmosDB and Kafka. First trigger we are going to support is EventHub.

[2020-04-01 20:06] fabiocav commented on #1597
PR is open. Moving this to sprint 73 for completion.

[2020-04-01 21:40] gabrieljoelc commented on #1597
@alrod from my [comment](https://github.com/Azure/azure-webjobs-sdk/issues/1597#issuecomment-597811803) above:

will this PR handle retries for this?

[2020-04-02 04:24] jeffhollan commented on #2311
It's a valid feature and potentially just a few lines of code, but not yet at the top of the backlog. Keep letting us know (via 👍 or whatever) that this would be a worthwhile feature to implement more explicitly in the extension.  For now the recommended approach would be leveraging the Table SDKs directly in the Azure Function code (e.g. the Node Azure Table SDK) to perform an upsert operation.

[2020-04-03 14:53] divinci commented on #2420
See issue #2088 only a year old!

[2020-04-03 15:48] brettsam opened #2468 "Need a way to let triggers know whether function was started"
We have scenarios with both EventHubs and CosmosDB triggers where we checkpoint messages even upon failure. However, in some rare cases a trigger can call the Executor -- but something blows up before a function ever gets called. Two examples I've seen:
1. Host is shutting down and there's a slight race in EH where it attempts to run a function while the host is already disposed.
2. "No initialize

[2020-04-03 18:35] ealsur commented on #2468
This is already possible in Cosmos DB, we are just deciding to checkpoint anyway.
One easy way [here](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions.CosmosDB/Trigger/CosmosDBTriggerObserver.cs#L43) it to just let whatever exception we know about to bubble up. If we let it bubble up, the Change Feed Processor won't checkpoint and it will retry the batch.

The

[2020-04-06 04:27] amigup commented on #2442
Any update on this issue? @brettsam - Can you please assist here?

[2020-04-06 13:53] brettsam commented on #2442
Is this not getting hit when running locally? If so, make sure you have an `APPINSIGHTS_INSTRUMENTATIONKEY` in your local.settings.json file.

[2020-04-06 16:23] kierono commented on #1841
Is there an update on this?

[2020-04-06 17:51] amigup commented on #2442
I do have the setting in local.settings.json; even then in local it does not hit.
![image](https://user-images.githubusercontent.com/16287600/78576627-8dca9b80-784a-11ea-984c-5220cef9eed0.png)

However, after updating the package Microsoft.NET.Sdk.Functions to 3.0.5, things started working.

So closing this thread. Thanks for your assistance.

[2020-04-06 17:51] #2442 closed, assigned to nobody

[2020-04-06 18:50] jdiekhoff commented on #921
@alrod Have changes been made to IAsyncCollector to support batching in Service Bus? I'm still seeing individual calls to ServiceBus when adding an item with AddAsync.

[2020-04-06 19:08] lukasvosyka commented on #921
@jdiekhoff Yes, indeed. Please check out https://github.com/Azure/azure-functions-servicebus-extension/issues/15

[2020-04-06 20:19] jdiekhoff commented on #921
@lukasvosyka thanks for the link, I can see that batching is available for receiving messages from Service Bus. My question pertains to sending messages in batches to Service Bus. In my testing on 4.1.1 of the Microsoft.Azure.WebJobs.Extensions.ServiceBus nuget package, I'm still seeing individual calls to Service Bus when adding a message with AddAsync to an IAsyncCollector. It does not appear th

[2020-04-06 20:45] lukasvosyka commented on #921
@jdiekhoff Yes, I realized that afterwards :-) That's why I removed my reply then .. sorry for confusion.

[2020-04-06 21:02] lukasvosyka commented on #921
After some digging, it seems that the underlying Service Bus client SDK doesn't support batching, at least not for the .Net Standard variant. https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-performance-improvements?tabs=net-framework-sdk#client-side-batching

[2020-04-06 21:38] jdiekhoff commented on #921
@lukasvosyka Ah, ok. Thanks for clearing that up! Would still love to see batch operations for a servicebus output.

[2020-04-06 21:41] brettsam opened #2469 "Improve FunctionExecutor to be more resilient to exceptions thrown during result logging"
See https://github.com/Azure/azure-functions-host/pull/5862 for initial targeted fix.

One example: When we go to log the "Executed..." message here: https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Executors/FunctionExecutor.cs#L158. If that throws an exception, everything after this is skipped (including NotifyCompleteAsync()). We need to make sure that all of

[2020-04-08 19:31] samconn commented on #616
I tripped over something that I thought might be beneficial to the community ...

I was making some "improvements" to a working WebJobs application, which included moving our app.Config based configuration settings into a different system. Since there was nothing left in that file besides - what I thought!!! - was a superfluous `<supportedRuntime>` setting, I figured I'd just do a little cleanup a

[2020-04-08 23:53] joelcdp commented on #2060
still the same year old issue.  Agree with @nicholastic it is very frustrating.

      Warning: Only got partial types from assembly: Microsoft.Azure.WebJobs.Extensions.Storage, Version=3.0.10.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35
      The following loader failures occured when trying to load the assembly:
         - Method 'Commit' in type 'Microsoft.Azure.WebJobs.Host.Blobs.Bindin

[2020-04-09 14:31] brettsam commented on #1841
@kierono -- this is an internal class and this item was for some internal cleanup. Can you explain how it's impacting you?

[2020-04-09 18:56] bb-naveenkumar opened #2472 "Build Pipeline: Appveyor PR build issue"
I have been getting the below issue while creating a pull request. Can anyone suggest how to resolve this. Are there some configuration issue or something?

Attached log location:
https://ci.appveyor.com/project/appsvc/azure-webjobs-sdk-881mw/builds/32077091

#2398

Build started
git clone -q https://github.com/Azure/azure-webjobs-sdk.git C:\projects\azure-webjobs-sdk-881mw
git fetch -q origin +re

[2020-04-09 19:02] bb-naveenkumar commented on #2472
Hi @brettsam can you please suggest something for the above if there is something that could resolve the test issue, I have seen you recently pushed new changes on the azure sdk repo. Thanks in advance!

[2020-04-09 19:47] kierono commented on #1841
The issue we have experienced is with running a webjob with .Net Framework 4.7.2 and how the [DisableAttribute](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs/DisableAttribute.cs) is used from [HostListenerFactory](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Listeners/HostListenerFactory.cs).

We use the attribute and pass i

[2020-04-10 12:09] abondarenko commented on #2456
Hi,

any news here?
Looks like we have the same issue.

[2020-04-10 15:26] bb-naveenkumar commented on #2472
I have found that the appveyor needs some permissions for it to run, how can I run it for the PRs in this repository. Seems like my fork commits can be built using appveyor by adding it to a new project. However not the PR. Anyone has any suggestions?

[2020-04-10 19:53] AndAlsoFYI commented on #2366
We just were looking for exactly this feature.  We're using managed identity for all other cases (DB, Web Apps) in our project, and naturally expected to be able to do the same with web jobs.

[2020-04-14 10:42] bb-naveenkumar commented on #2472
Seems like few changes needs to be made in the pipeline, can you guys let me know if that could be done, since PR builds will only succeed if pipeline is corrected or contributors could access the project for appveyor, also correct me if I am wrong anywhere. Thanks in advance!

[2020-04-14 15:05] brettsam commented on #2472
This is by-design. We don't allow external contributors to run the CI without one of the team members first adding a "full-ci" tag to the PR. It really should be nicer than this -- sorry it's caused you so much trouble.

[2020-04-14 18:08] greglecki commented on #2060
It's still there:

`[04/14/2020 17:47:27 > 16a40b: INFO]       Warning: Only got partial types from assembly: Microsoft.Azure.WebJobs.Extensions.Storage, Version=3.0.10.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35
[04/14/2020 17:47:27 > 16a40b: INFO]       The following loader failures occured when trying to load the assembly:
[04/14/2020 17:47:27 > 16a40b: INFO]          - Method 'Commit'

[2020-04-14 20:31] yojagad opened #2475 "Update appinsights SDK to 2.13"
Appinsights updated their SDK to include this fix https://github.com/microsoft/ApplicationInsights-dotnet/pull/1661 and functions needs to pull this in.

cc: @brettsam @lmolkova

[2020-04-14 22:34] gidziu commented on #2420
same issue, is anyone working on this? Probably it is better to stay away from thsi webjob business

[2020-04-15 06:10] lankaapura commented on #2395
Hi @brettsam, When can we expect Microsoft.Azure.WebJobs.Extensions.Storage 3.0.11 in nuget?

I've created PR to Azure Functions Extention Bundle but it is failing since Microsoft.Azure.WebJobs.Extensions.Storage 3.0.11 is not out yet.
https://github.com/Azure/azure-functions-extension-bundles/pull/19

[2020-04-15 12:28] bb-naveenkumar commented on #2472
It's alright atleast we got to know that it's not something that I have been missing on my part. Thank you. :)

[2020-04-15 16:12] evannielsen commented on #2395
This is also a problem for a client of mine. Is there any way that we can get a timeline on when 3.0.11 will be released?

[2020-04-15 20:10] fabiocav commented on #2465
@brettsam , should we be moving this to 74?

[2020-04-16 14:00] FinVamp1 opened #2476 "Improve Queue Trigger\Storage binding to be more resilient when transient issues occur."
The Queue Trigger may timeout after two minutes and this causes a restart of the Host.

E.G

System.TimeoutException : The operation 'GetMessages' with id '60c56e17-66e8-49a3-b1dc-9ac5b393eabd' did not complete in '00:02:00'.    at async Microsoft.Azure.WebJobs.Extensions.Storage.TimeoutHandler.ExecuteWithTimeout[T](String operationName,String clientRequestId,IWebJobsExceptionHandler exceptionHand

[2020-04-16 19:44] brettsam commented on #2395
I'm trying to work through this now -- we've had a series of deployment issues that have slowed a lot our progress down. But I'll see if i can get a release out soon.

[2020-04-17 08:32] LingaMuthu555 commented on #1975
I disagree just to rely on AppInsight as we have to use Webjob for our long running tasks instead on function, seems AppInsight not giving enough information to replay any functional call or to track success and failure..

Please do not compare with Azure function based implementation with Webjob implementation, it creates lot of confusion

[2020-04-17 14:10] thinkgradient commented on #2387
Also interested to know if ADLS Gen2 is supported as a trigger or if it works using BlobTrigger.

[2020-04-17 14:12] empz commented on #2387
@thinkgradient This is what I ended up doing:

I've setup a new Event on my ADLS Gen2 account for the BlobCreated event and sending the messages to an Azure Storage Queue.
Then I've created an Azure Storage Queue triggered function and that's it!
Works great.

[2020-04-17 14:17] thinkgradient commented on #2387
Using EventGrid?

[2020-04-17 14:20] empz commented on #2387
Yes, I've just set it up through the Events section in the ADSL Gen2 account in Azure Portal.

[2020-04-17 14:30] thinkgradient commented on #2387
Ah I see - of course. That makes sense. Thanks eparizzi :)

[2020-04-18 07:19] ggailey777 opened #2477 "Note that the third DisableAttribute is only for WebJobs SDK"
We had a customer trying to use [this constructor](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs/DisableAttribute.cs#L54) of  `DisableAttribute` with their Functions project. This constructor is (apparently) only supported when using the WebJobs SDK directly, and this should be noted in the `/// <summary>` content tag.

[2020-04-19 02:48] Agendum commented on #1931
I use Host.CreateDefaultBuilder() to create my host, but a setting in my appSettings.json was overriding a setting in my appSettings.Production.json. Eventually I figured out that ConfigureWebJobs() also adds appSettings.json. This is pretty dumb -- ConfigureWebJobs() has no business touching my app configuration this way and the breaking change just needs to happen to fix this.

As a work-around,

[2020-04-19 23:59] BrunoZell commented on #2065
@paulbatum Is the difference between v11 and v12 synonymous with the different packages `Microsft.Azure.Storage.*` vs `Azure.Storage.*`? And will there be any solution for adopters of  `Azure.Storage.*`?

[2020-04-20 01:32] smokedlinq commented on #1577
I also have a use case where the timer schedule is stored in a separate system/data storage and would like to be able to control the schedule from there / via the UI without having to tweak the function app appsettings.

[2020-04-20 09:06] hbensalem commented on #1240
@paulbatum  Thanks for sharing this. Is there anyway to set the offset with a previously used consumer group ? Your solution only works for a newly created consumer group.

[2020-04-20 10:03] vullnetyy commented on #1240
@hbensalem this works with existing consumer groups as well, as long as you delete the offset data stored in azure-webjobs-eventhub in the storage account you connected to your function app.

Is there a reason you would like to avoid deleting this data?
Since your function would change the offsets on the consumer group data as soon as it starts running, I find it hard to imagine why you want to ke

[2020-04-20 21:51] paulbatum commented on #2065
Yes, that is what I'm referring to. If you look at the Azure.Storage.* packages they start at 12.x

We will update our storage extension to support 12.x but I don't have a ETA yet, sorry.

[2020-04-21 10:24] oviradoi commented on #2060
I have the same problem. I would appreciate a fix.

[2020-04-21 16:21] fabiocav commented on #2060
@oviradoi @greglecki @joelcdp is your setup identical to what @mgardi85 listed in the original issue (target, dependencies, etc.)? If not, can you please share your details or, better yet, a repro?

[2020-04-22 06:52] oviradoi commented on #2060
@fabiocav I have created a repro here: https://github.com/oviradoi/LoaderExceptionsRepro
I have included a readme file and I have implemented each step in the commit history.
I hope this will help you fix this problem. If you need more info, please let me know.

[2020-04-22 10:05] JakubHolovsky opened #2479 "Classic .NET Web App - Web Jobs v1 or v3? Support for v1?"
We have a classic .NET Web App (4.7.2) however recently I needed to add time triggered Web Job. As soon as you create a Web Job it adds it with the Nuget package version 1.12 My first instinct is to push the version to the latest but as soon as you add version v3 and up (maybe this happened for v2 as well) it starts adding these .NET core packages which in classic .NET app solution seem very stran

[2020-04-22 20:29] VictorGazzinelli commented on #808
Any updates? Has anyone found a workaround for this?

[2020-04-27 07:23] Peter-B- commented on #2464
Not even time for a triage?

[2020-04-28 11:36] VoidMonk commented on #2380
Got a similar error when using `SendGrid` bindings in a new Function v3 C# (.NET 3.1) class library.

Changing the bundle version as [suggested](https://github.com/Azure/azure-webjobs-sdk/issues/2380#issue-528654836) by @r1sc didn't help resolve this weird bug, but removing the bundle as [suggested](https://github.com/Azure/azure-webjobs-sdk/issues/2380#issuecomment-584147624) by @zamzowd got it w

[2020-04-29 09:21] toburger opened #2481 "Release beta versions on NuGet"
`Microsoft.Azure.WebJobs.Extensions.Storage` is available as version 4.0.0-preview1 on NuGet.
The rest of the packages should also be made available as preview packages.

Rationale: `Microsoft.Azure.WebJobs.Host.Storage` 3.0.14 is still referencing `WindowsAzure.Storage` which can/should be considered deprecated.

[2020-04-29 20:10] fabiocav commented on #2465
@brettsam assigning this back to `Triaged`, please update if needed.

[2020-04-29 22:21] brettsam commented on #1841
This does seem wrong. The only place we use this is where we determine disabled attribute so it's a fairly targeted removal but it'll affect a lot of people if there are side effects. I'll look through it and see what the impact would be (if any).

[2020-04-30 00:23] brettsam commented on #2465
Submitted the PR -- will get this in.

[2020-04-30 00:25] david-campbell commented on #1931
The way I got around this (VERY ANNOYING BUG ) was to remove the EnvironmentVariables.
So that my appsettings.{environment}.json wouldn't override them.
Once it is added. I can then call configApp.AddEnvironmentVariables(); to get them in the right order.

[code]

[2020-04-30 00:34] robertmclaws commented on #1931
Out of curiosity to those that came up with other solutions, did my 7 LoC solution not work?

[2020-04-30 00:50] #2465 closed, assigned to brettsam

[2020-04-30 01:10] david-campbell commented on #1931
I already implemented my fix before I found this thread.  I just didn't quite understand why it was happening until I found this thread.

[2020-04-30 05:50] Agendum commented on #1931
I really appreciate your contribution, and I am sure it works great in your application. The reason I chose to go my route was because I don't want to make any assumptions of how the underlying configuration providers are configured, their order, or what they are pointing to. Your solution assumes no other code adds configuration settings, especially environment ones (i.e. a new prefix). I don't l

[2020-04-30 07:56] thomaslevesque commented on #1931
I'm not a fan of manually removing the config sources... I just use a modified version of `ConfigureWebJobs`, which does [what `ConfigureWebJobs` should be doing](https://github.com/Azure/azure-webjobs-sdk/issues/1931#issuecomment-466431799).

[2020-04-30 21:23] robertmclaws commented on #1931
So, the way the Configuration API works is, the registration order matters, because the data is merged all the way down. If the same Provider with the same FileName is registered more than one later down the chain, that file will override any previous merges.

So, regardless of what the WebJobs SDK is doing, You should *never* add a configuration provider more than once with the same file path, or

[2020-04-30 22:25] josiahvinson commented on #2408
Experiencing the same issue. We were tracking the fix mentioned in #2413 but can confirm I'm seeing the exact same behavior with the same scenario as above.

[2020-04-30 22:25] david-campbell commented on #1931
I don't love my solution.. I just posted it as an alternative.. it doesn't remove all as suggested.  it removes all with a type of EnvironmentVariablesConfigurationSource.
My issue was my environment fille was being registered after the environment variables.  so..wrong order.
it fixed my issue..  but I actually went back and switched this use an extension implementation.   and I'll likely review

[2020-04-30 22:27] josiahvinson commented on #2395
Published today!

[2020-04-30 22:45] josiahvinson commented on #2408
@GuillaumePugnet according to #2395, a fix has been pushed to `Microsoft.Azure.WebJobs.Extensions.Storage` v. 3.0.11, out today. Can confirm it works!

[2020-04-30 23:39] brettsam commented on #2408
Thanks @josiahvinson! I'll close this as it should now be resolved with the new package.

[2020-04-30 23:39] #2408 closed, assigned to nobody

[2020-04-30 23:40] brettsam commented on #2395
Yes, sorry for not updating this issue -- 3.0.11 was released a few days ago and the next bundles release will contain this also (if it's not already out).

[2020-04-30 23:40] #2395 closed, assigned to nobody

[2020-05-01 18:50] dwoldo commented on #1240
@paulbatum Wonderful mitigation! Thank you. We can feasible set this option via appSettings in such as case we need to start at the end or even a specific period in time.

[2020-05-03 13:40] itpropro opened #2485 "Internal Server Error after activating Function Proxy"
In some scenarios, Azure Functions fail with the following error after creating an Azure Function Proxy:
[code]

#### Repro steps

1. Create new Function App with the following settings:
![image](https://user-images.githubusercontent.com/15030951/80917418-07c54600-8d5f-11ea-9ceb-fb5297cf5040.png)
2. Create a new Function called "getTest" with Authorization Level "Anonymous".
3. Create Function Pro

[2020-05-05 15:29] NickMSW opened #2487 "Include comments in Nuget Package"
#### Repro steps
When consuming the Microsoft.Azure.WebJobs nuget package, it would be extremely useful to have the code comments included in the package.

Would be nice to have comments accessible from VS.
![image](https://user-images.githubusercontent.com/55797929/81084101-1294ed80-8ebb-11ea-9bcc-0c074f6534cf.png)

* Package version: 3.0.16.0

[2020-05-05 17:56] FinVamp1 commented on #2476
https://github.com/Azure/azure-webjobs-sdk/pull/2486 will help with this.

[2020-05-05 17:59] FinVamp1 commented on #2476
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage/4.0.0-preview2 should help on this.

[2020-05-06 09:59] BryanSan commented on #2152
You can turn the autoComplete flag in host.json to off to avoid the second exception.
That second exception is because the function is calling to .Complete() / .Abandond() after it completes or receives an Exception but the problem is that you have already moved the message to the dead letter

[2020-05-06 20:13] bartdk-be commented on #1881
*bump any news on this one ?

[2020-05-08 18:08] ronbuchanan commented on #2248
A bit dated, but the only post I could find covering the issue I face upgrading from WJSDK 2 to 3.

Was running into issues as well, but was able to get it working with the following:

[code]

We use multiple Azure Config Service resources in our environment and apply hierarchically, i.e. `appsettings.json`, then the global config, then the app config. The `_configuration` object is an `IConfigura

[2020-05-11 11:38] ghost commented on #1598
What's the status of this? I think I'm facing this same issue with a project migrated from NetCore 2.2.100 to NetCore 3.1.201 and the proposed workaround https://github.com/Azure/azure-webjobs-sdk/issues/1598#issuecomment-468501905 doesn't work for me.

[2020-05-12 05:34] macrogreg commented on #2450
I am no longer sure whether the initial PR referenced above will cover out-of-proc languages.
If the improvement is desired, I'd be happy to continue working on it.
Please let me know.

[2020-05-12 05:34] #2450 closed, assigned to nobody

[2020-05-12 05:35] macrogreg commented on #2446
The initial PR referenced above does not cover out-of-proc languages.
If this improvement is desired, I'd be happy to extend it accordingly.
Please let me know. Closing for now.

[2020-05-12 05:35] #2446 closed, assigned to nobody

[2020-05-12 06:52] macrogreg opened #2488 "All kinds of convenience methods for creating bindings in FluentBindingRule should have an overload that accepts a factory that can process a ValueBindingContext"
The `FluentBindingRule` class contains a number of `BindToXxx` methods that represent convenience APIs for creating attribute bindings for function parameters and for return values.

Two of such methods (`BindToInput(..)` and `BindToStream(..)`) have overloads that allow the value factory to inspect the `ValueBindingContext` while creating the value bound by an attribute. This enables a number of

[2020-05-12 06:59] macrogreg commented on #2488
Heads-up @mathewc : This is the change we discussed previously.
Also heads-up @brettsam FYI.

[2020-05-14 15:08] BKB503 commented on #1284
any update on this?

[2020-05-14 15:28] mdddev commented on #2109
FYI, this is working for Service Bus and Event Hub. Jeff Hollan, principal pm on the azure functions team informed on the reason why this is on twitter

https://twitter.com/jeffhollan/status/1260600212617179137

[2020-05-15 05:49] abatishchev commented on #739
@mathewc hi, should we come back to this idea? Or give up and close?

[2020-05-15 08:45] mikegoatly commented on #2241
For what it's worth, I've just seen this exception logged for my application using the latest Microsoft.Azure.WebJobs.Extensions.ServiceBus SDK (v4.1.1).

The sequence of events I see for the function with the correlating operationId in the logs are:

| Log | Message |
| - | - |
| trace | Executing 'FunctionName' |
| trace | Trigger details |
| trace | Executed 'FunctionName' (Succeeded) |
| excep

[2020-05-18 12:41] saikatguha opened #2491 "No RequestTelemetry created in aspnet core TestServer"
**Describe your environment.**
* SDK version: dotnetc:2.12.0-21496
* .NET runtime version (.NET or .NET Core, TargetFramework in the .csproj file): netstandard2.0
* Hosting Info (IIS/Azure WebApps/etc): In-process **TestServer** in **Azure Functions**
* Platform and OS version: dotnet, Azure Functions 2.x, Windows 10

**Steps to reproduce.**
1. Create a `Startup` class with `services.AddApplicatio

[2020-05-19 14:43] gornikp commented on #2365
+1, Please add it! It is like basic functionality!

[2020-05-19 17:34] mathewc commented on #2420
In your code above, you're awaiting function completion BEFORE calling stop. So the function has completed before the token is cancelled by stop, so it's expected that the token your function receives isn't cancelled. What does your function body look like?

[2020-05-20 03:00] geoffrussel commented on #1314
Adding another +1 for this! I've built Web APIs using .NET and now .NET Core for years and Exception Filters make error handling so so so easy. I am dreading wrapping the code at the function level for every API endpoint as we consider moving our platform serverless.

[2020-05-20 23:36] oshevnin commented on #2284
What are the plans to backport the setting (APPLICATIONINSIGHTS_CONNECTION_STRING) to v1?
We have production app that is running v1 and are planning to deploy it in Azure Government

[2020-05-21 10:54] Glebby opened #2493 "Continuous webjob does not restart on failure"
I have an indefinitely-running continious webjob (sdk version 2.2). I would expect the webjob to restart automatically if any exception is thrown, but it doesn't. How can I make the webjob to restart autiomatically upon failure?

        static void Main()
        {
            var config = new JobHostConfiguration()
            {
                JobActivator = new UnityJobActivatorDependencyScope

[2020-05-21 16:25] uandrei opened #2494 "[Question] Need to anonymise part of information that is logged using AppInsights"
Asked this question in the appinsights-dotnet repo and been told to ask here for confirmation: https://github.com/microsoft/ApplicationInsights-dotnet/issues/1877

[2020-05-22 14:00] fume opened #2495 "$web should be allowed as container name in the BlobAttribute"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Enable Static Website on a Storage Account

2. Use a BlobAttribute to get Read/Write access to the $web container

#### Expected behavior

should work normally

#### Actual behavior

An exception is raised telling us that the container name is invalid

#### Known workaroun

[2020-05-22 16:19] uandrei commented on #2494
Answering my own question. Managed to achieve this through the TelemetryInitializer https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling#addmodify-properties-itelemetryinitializer
[code]

[2020-05-22 16:19] #2494 closed, assigned to nobody

[2020-05-22 21:45] mpowney opened #2759 "Storage queue triggered function generates trace level log entries in app insights"
With a queue triggered function in an app, e.g.

[code]

And a host.json configuration

[code]

Application insights continues to receive the trace level log info about the poll interval of the queue trigger, including messages like:

[code]
and
[code]

The result is a large amount of data ingested in to application insights, which results in unexpectedly high costs in Azure Monitor.

There doesn'

[2020-05-23 02:53] mpowney commented on #2759
The same behaviour can be reproduced by provisioning a Function app via the Azure Portal, using the classic function UI to create a cscript queue triggered function with the boilerplate definition:

run.csx:
[code]

function.json
[code]

host.json
[code]

[2020-05-23 07:24] giotab opened #2496 "FunctionInvocationFilterAttribute preview"
`FunctionInvocationFilterAttribute` has been in "preview" and hence "obsolete" since 2018.

Are there alternatives or plans to finalize it?

#### Repro steps

1. Create azure functions project in dotnet

2. Implement FunctionInvocationFilterAttribute

#### Expected behavior

The attribute filter has been in "preview" and hence "obsolete" since 2018. Are there any plans to finalize it?

#### Actual

[2020-05-24 22:59] saikatguha opened #2497 "Proxies different backendUri for known search-engine crawlers (e.g. Googlebot)"
I am hosting a Single-Page App (SPA) on Functions. Proxies is set up to route all requests except for the API route to the static HTML content hosted on Azure Storage. This works great for browsers. It doesn't work for crawlers that are not able to handle complex SPA Javascript.

On a normal VM, I would detect crawlers by User-Agent or IP address and provide a low-fidelity HTML view for crawlers,

[2020-05-25 16:43] MatthewSteeples commented on #2177
Related (possibly duplicate) of #2065

[2020-05-26 22:51] ogvolkov opened #2498 "QueueTrigger does not emit errors if the queue doesn't exist"
If the queue specified in QueueTrigger does not exist, Azure function is not triggered, and no error messages are produced. This makes configuration errors very painful to debug, as there are no exceptions, no log messages - it just doesn't work.

It seems that queue existence is checked in [QueueListener](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.S

[2020-05-27 05:02] sidkri commented on #2387
I have validated that Azure Functions now works with Azure StorageV2 with Data Lake Storage Gen2 Hierarchical namespace enabled without any special configuration needed.  Similar to accessing non-hierarchal namespace enabled blobs with "/"s in their name to model directories, setting up a trigger on a specific folder works when hierarchal namespaces is enabled. (e.g. below).  I will resolve this i

[2020-05-27 11:09] xzuttz commented on #2432
Hi @madelinegordon,
We are experiencing the same issue, several times a day.
Did you find a way to catch the lost events and re-run them?

[2020-05-27 14:14] saikatguha opened #2499 "The BlobChangeAnalysisStateProvider requires the default storage account 'Storage', which is not defined."
azurefunctions: 2.0.13351.0
Microsoft.NET.Sdk.Functions: 1.0.36

I have functions configured to not use blob storage, and instead to use local files.
I am seeing the following exceptions in my logs.

Key | Value |  
--- | --- | ---
Event time | 5/27/2020, 5:01:22 AM (Local time) |  
Message | The BlobChangeAnalysisStateProvider requires the default storage account 'Storage', which is not defined.

[2020-05-27 15:31] nvmkpk commented on #2177
May be related but certainly not duplicate. Original request was to move to newer than 9.4 but v12 has yet another API rewrite. I personally stopped using this library and implemented a similar one myself.

[2020-05-27 15:44] kdr213 commented on #2365
Unit testing in this scenario is super painful today. This would be a major improvement.

[2020-05-27 23:30] sidkri commented on #2387
Link to Azure docs issue tracking update to our docs to mention support of hierarchal namespaces in Storage V2 accounts:
https://github.com/MicrosoftDocs/azure-docs/issues/55824

Resolving the issue as no changes to the codebase are needed.

[2020-05-27 23:30] #2387 closed, assigned to sidkri

[2020-05-29 22:19] ayoubzghondi commented on #614
lll
l
ppk

[2020-05-30 09:56] vicky96talokar opened #2502 "Could not load file or assembly 'Microsoft.ApplicationInsights, Version=2.5.1.0"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Step A

2. Step B

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actual behavior observed.

#### Known workarounds

Provide a description of any known workarounds.

#### Related information

Prov

[2020-06-01 00:56] StingyJack commented on #1598
@dsplaisted - "F5" like the networking device?

Also linking [this](https://github.com/microsoft/msbuild/issues/608) because of similar convo

[2020-06-01 05:11] dsplaisted commented on #1598
By default, F5 is the shortcut key in Visual Studio to "Start Debugging".  In classic ASP.NET projects, when starting debugging, Visual Studio would not do a full build where it copied the content and web.config to an output directory.  Rather it would use those files from the project directory, so there was no opportunity to inject binding redirects during the build process.

[2020-06-01 09:59] IanKemp commented on #1284
Seems like the lack of update indicates that this feature is dead.

[2020-06-01 10:20] iamalexmang commented on #1284
I'm eagerly excited for this feature to make it to the day-light and be thread-safe. :-)
Any update on the roadmap would be much appreciated, @anthonychu @fabiocav

[2020-06-01 17:15] MisinformedDNA commented on #2457
+1, expect there are actually lots of broken links on that page.

[2020-06-01 18:45] velocicoder-1 commented on #2476
Even after upgrading to 4.0.0 I am still having this issue:
System.TimeoutException : The operation 'GetMessageAsync' with id '' did not complete in '00:03:00'.

[2020-06-01 19:02] brettsam commented on #2476
@velocicoder-1 -- can you let us know how you're set up? What region is your site in? What about your storage account? What kind of account is it?

[2020-06-01 19:28] velocicoder-1 commented on #2476
**Function app:**
3.x runtime
location: USGov Virginia
app service plan: P1V2

**Storage account:**
location: USGov Virginia, USGov Texas
account kind: StorageV2 (general purpose V2)

I have noticed that the exception occurs more often when one of the functions is performing a task that takes longer than 5 minutes.

[2020-06-01 19:34] brettsam commented on #2476
Also, did you remove the id from your copied error message above, or was it empty?

[2020-06-01 19:36] velocicoder-1 commented on #2476
I removed it.

[2020-06-01 19:57] brettsam commented on #2476
I think I know the issue... I believe it's due to https://github.com/Azure/azure-storage-net/issues/999.

When I get confirmation from the storage team, it should be easy for us to roll out a 4.0.1 fix that explicitly sets the NetworkTimeout rather than relying on the default.

[2020-06-01 20:12] velocicoder-1 commented on #2476
I see. Ok sounds good thanks.

[2020-06-01 20:59] #2476 closed, assigned to brettsam, FinVamp1

[2020-06-01 22:38] brettsam commented on #2476
I'll release 4.0.1 tomorrow morning -- thank you for the report @velocicoder-1.

[2020-06-02 11:39] velocicoder-1 commented on #2476
Thank you for the quick response. I will let you know if I have any trouble with the latest release.

[2020-06-02 14:18] brettsam commented on #2476
4.0.1 is now available: https://github.com/Azure/azure-webjobs-sdk/releases/tag/storage-v4.0.1

[2020-06-02 19:45] velocicoder-1 commented on #2476
@brettsam, unfortunately I am seeing the same exception as before with the latest release.

[2020-06-02 20:46] bbakermmc opened #2504 "QueueTrigger - CloudQueueMessage doesnt work"
If you make a trigger on 4.0.1 that use CloudQueueMessage  it wont work, it wants a string.

public static async Task RunAsync([QueueTrigger(SFQueues.DownloadBackupQueue)]
                                          CloudQueueMessage queueItem,
                                          ILogger log)

var queueObject = JsonConvert.DeserializeObject<QueueRecordDto>(queueItem.AsString);

[2020-06-02 21:59] brettsam commented on #2476
If you could share your Function App name (either explicitly or [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)), I can see if I find anything from the backend logs.

[2020-06-02 22:57] velocicoder-1 commented on #2476
UTC Execution Time: 2020-06-02T18:16:34.2749751Z
Execution ID Value: 597f4304-b199-4db7-bb65-52d7294caf3d
Region: USGov Virginia

[2020-06-03 03:45] brettsam commented on #2476
Could you try explicitly adding a reference to the 11.1.7 Storage Queue package and see if that helps at all?

[code]

[2020-06-03 10:08] jhested opened #2506 "Unhandled Exception: System.TimeoutException: The operation 'GetMessageAsync' with id '' did not complete in '00:03:00'."
We are experiencing constant timeout issues when using Azure Webjobs, which causes the WebJob to shutdown and restart around 10 times every day.

This has been ongoing for a year or so, and we have tried various ways to get around it, including
ServicePointManager.DefaultConnectionLimit = 500;
and increasing threadpools by using this [code](https://github.com/Azure/azure-functions-host/blob/43a4b6

[2020-06-03 12:03] velocicoder-1 commented on #2476
I added the reference and am still seeing the same exception.

[2020-06-03 15:26] brettsam commented on #2476
Yeah I see that from the backend logs. I was able to confirm that this package cancels `GetMessagesAsync` correctly (without an exception) in my repro app so I'm not entirely sure what you're running into. The only other scenario that I can think of is that you're hitting some kind of issue where the cancellation isn't able to correctly fire. It's interesting that I can see a bunch of your trigger

[2020-06-03 16:03] brettsam commented on #2476
Also -- could any of your functions be doing anything that are consuming resources (threads, connections) while they are running? Anything that could block timers and connections in the process?

You seem to be hitting this a lot and I do see an interesting correlation here -- one function, `PdfOcrStart` seems to be running whenever these timeouts occur, and often it doesn't complete. Could that f

[2020-06-03 18:39] velocicoder-1 commented on #2476
The target framework is netcoreapp3.1.
csproj file:
`<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <AzureFunctionsVersion>v3</AzureFunctionsVersion>
  </PropertyGroup>
  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|AnyCPU'">
    <PlatformTarget>x64</PlatformTarget>
  </PropertyGroup>
  <ItemGroup>
    <PackageRefere

[2020-06-03 20:43] velocicoder-1 commented on #2476
Similar issue: https://github.com/Azure/azure-webjobs-sdk/issues/2506

[2020-06-03 21:08] brettsam commented on #2506
Can you give the WebJobs Storage Extension 4.0.1 a try?

[2020-06-04 05:37] jhested commented on #2506
I've had the job running with version 4.0.1 since 21:09 UTC last night, but unfortunately it made no difference.

I've attached the latest log file
[jobs_log.txt](https://github.com/Azure/azure-webjobs-sdk/files/4727702/jobs_log.txt)

[2020-06-04 11:44] siparsons commented on #2365
+1 seems like a major oversight that this is not there.

[2020-06-04 12:25] brettsam commented on #2506
Note that (if it's the issue that's been plaguing us for months) -- there's a deadlock when parsing XML responses and the response hangs forever. In order to break the deadlock, we have to restart the process.

We've been working with the Storage SDK team on a solution -- the current release 4.0.1 was supposed to have all the scenarios covered, but I'm going to put out a 4.0.2 release soon that pu

[2020-06-04 15:13] jhested commented on #2506
Thank you very much for your feedback.

I have now been able to reproduce the issue in a test project i created, by using the following approach.

1. Create 30 functions with queuetriggers
2. In each function, spawn 5 tasks that calls a test website with a build-in Task.Delay(5 min) and wait for result.(Also increasing default WebRequest.Timeout to 6 min. (I guess anything > 3 mins would work)
3.

[2020-06-04 16:23] zmarty commented on #2488
@macrogreg @mathewc  Any idea when this can be checked in and shipped? We would like to use ValueBindingContext inside BindToCollector for an internal MSFT project.

[2020-06-04 17:24] et1975 opened #2508 "Adding UserSecretsId breaks Startup/IWebJobsBuilder"
Otherwise working function stops invoking registered `IWebJobsStartup` class once `UserSecretsId` element is added to the project file.

#### Repro steps

1. Take a .NET function with a working startup/IWebJobsStartup class registered.
1. Add `UserSecretsId` element to any of the project file's `PropertyGroup`.
1. Run `func host start`
1. Invoke the functionality that depends on the startup workin

[2020-06-04 22:15] onionhammer commented on #2481
Seems like a half-hearted attempt at deprecating packages if there's 2 different deprecated windowsazure storage nuget package suites still in active use by microsoft...

- WindowsAzure.Storage [Deprecated] but still in use
- Microsoft.Azure.Storage.* [Deprecated] but still in use
- Azure.Storage.* The new hotness

^ Confusing mess, and most large projects are probably using all 3 suites of packag

[2020-06-05 14:49] brettsam commented on #2506
Thanks for the dilligence here, @jhested. Since there's nothing on our end to be fixed, I'm going to close this issue.

For anyone else running into this -- take a look at your resource utilization and async patterns. This exception acts like a "warning" that something isn't able to complete (thread starvation; network contention, etc). We'll be removing the exception itself in a future release bu

[2020-06-05 14:49] #2506 closed, assigned to nobody

[2020-06-05 14:54] bbakermmc commented on #2504
@brettsam you going to take a look at this, this currently breaks the current functionality

![image](https://user-images.githubusercontent.com/30090055/83890984-86285580-a71a-11ea-87e6-3a22fe754f8f.png)

[2020-06-05 15:09] brettsam commented on #2504
I think you're seeing this b/c your `using` statement is still using `Microsoft.WindowsAzure.Storage.Queue`.

It now needs to be `Microsot.Azure.Storage.Queue` -- https://github.com/Azure/azure-webjobs-sdk/releases/tag/storage-v4.0.0.

If that still doesn't fix it, please let me know and I can investigate. But I tried both namespaces and `WindowsAzure` gave me this error, so I suspect that's what

[2020-06-05 17:45] bbakermmc commented on #2504
Thanks, of course we would be changing namespaces for the like 10x for all this azure stuff.

[2020-06-05 17:45] #2504 closed, assigned to nobody

[2020-06-06 05:50] fume opened #2511 "AzureWebJobs.<Function-Name>.Disabled value evaluation is case-sensitive"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Create a FunctionApp with at least a function in it

2. Disable the function via UI in the portal

3. The `AzureWebJobs.FunctionName.Disabled` Configuration Key is created with a value of `true`

4. The function is correctly disabled

5. Change the `AzureWebJobs.FunctionNa

[2020-06-06 06:25] fume commented on #2511
Adding a weird detail: if the AzureWebJobs.FunctionName.Disabled is set to `True`, you see the function as "Enabled" in the Portal, but if you try to run it, the Dependency Injector can't find the registered services. It seems that the Startup.cs class is ignored in this case.

Simply changing the AzureWebJobs.FunctionName.Disabled to 0, False or false will fix the situation so that error is not r

[2020-06-08 08:28] jamesharling commented on #2496
Also interested in an update on this. The limited functionality provided by the current Filters API and a lack of DI support means it's extremely difficult to bring HTTP APIs hosted by Azure Functions in line with those in App Services. For example, you cannot change the response code of an HTTP trigger using Filters, which is the the ideal place for cross-cutting concerns that do exactly this (au

[2020-06-08 20:18] FinVamp1 commented on #2305
This should be resolved and live in China

[2020-06-08 20:18] #2305 closed, assigned to brettsam

[2020-06-09 17:35] askgupta commented on #1779
Hi Rudra,

We're facing the same problem. Could you please let us know what fix did you apply for this?

Thanks,
Ashish

[2020-06-10 04:07] hiteshy commented on #2395
Has the Microsoft.Azure.Functions.ExtensionBundle been updated. It seems that the VSCode still fails with the error as below for ADLSv2 Blob Trigger.
System.Private.CoreLib: The given key 'LogType' was not present in the dictionary

[2020-06-10 13:15] giotab commented on #2496
@jamesharling
We are using the attribute for authentication actually.
Although dependency injection is not supported through constructors/parameters, you can still use something like
`request.HttpContext.RequestServices.GetRequiredService<ITokenValidator>()`
(ITokenValidator is interface we created).

As for modifying the response etc., we have something like this
[code]

It works nicely, but it i

[2020-06-10 13:26] #1841 closed, assigned to brettsam

[2020-06-10 13:58] brettsam commented on #2395
@soninaren -- did the bundles release with 3.0.11 go out?

[2020-06-10 19:58] hiteshy commented on #2395
I think no, as the bundles latest release 1.1.1 in [Git](https://github.com/Azure/azure-functions-extension-bundles) has version 3.0.10 for Microsoft.Azure.WebJobs.Extensions.Storage

[2020-06-10 22:22] sdg002 commented on #2499
Same problem here. Deployed a fresh Azure function (dotnet) via ARM. The HTTP end points get triggered but leads to 500 error.

[2020-06-11 14:41] qsdfplkj opened #2515 "A host error has occurred during startup operation."
Entity framework throws the following errors when used in Azure Functions after upgrading from 5.0.0-preview.3.20181.2.

Running locally with Azure Functions Core Tools, but the same issues exist on Azure.
(https://github.com/Azure/azure-functions-core-tools)

A host error has occurred during startup operation '28db500b-7bbd-4b51-8b06-0c9c4e6adaf2'.
System.Private.CoreLib: Could not load file or a

[2020-06-12 05:01] manjunathreddy1 opened #2516 "Web Job not working when adding a new message on the Service Queue"
We have configured continuously running web job to get triggered when the new message is added to the queue. But some time it is not getting triggered and if the web job is restrted it will start processing messages from queue and sometimes it is taking 10 to 15 minutes for the web job to get triggered.

Repro steps

When there is a new message in the storage queue, web job is not picking that mes

[2020-06-15 08:45] oviradoi commented on #2060
It looks like this issue was fixed in the Microsoft.Azure.WebJobs.Extensions.Storage v4.0.0 release

[2020-06-15 14:53] Methuselah96 opened #2517 "Microsoft.Azure.WebJobs 3.0.18 (and associated packages) not released to NuGet"
This GitHub repository shows a Microsoft.Azure.WebJobs 3.0.18 release on June 5 (https://github.com/Azure/azure-webjobs-sdk/releases/tag/v3.0.18), but there has been no corresponding version change on NuGet (https://www.nuget.org/packages/Microsoft.Azure.WebJobs/), which still has the latest version as 3.0.16.

[2020-06-15 21:18] zmarty opened #2518 "Make QueueTrigger poll interval configurable per queue"
Azure Functions v3 and .NET Core 3.1

In host.json under the queues JSON key we can set some system-wide settings on how often to poll for new Azure Storage queue items.

Can you please make the poll interval configurable as a constructor of QueueTriggerAttribute? We use more than 500 queues and we want to make some poll more aggressively, while let most of them poll more leisurely.

Right now we

[2020-06-15 21:19] zmarty commented on #2518
Sort of / maybe related: https://github.com/Azure/azure-webjobs-sdk/issues/4

[2020-06-15 22:15] brettsam commented on #2518
@mathewc didn't we have another issue on this in the past? I can't recall what we decided, but it does seem useful to move some of these down to the function itself where possible.

[2020-06-15 22:51] mathewc commented on #2518
Yes this has come up many times in the past, e.g. https://github.com/Azure/azure-functions-host/issues/1054 and https://github.com/Azure/azure-functions-host/issues/5972.

[2020-06-16 03:36] nicholastic commented on #2060
Still getting this:

[code]

[2020-06-16 15:21] chitoiur opened #2520 "Upgrade of Microsoft.Azure.WebJobs.Extensions.Storage to 4.0.2 fails."
Please provide a succinct description of the issue.

We are trying to upgrade Microsoft.Azure.WebJobs.Extensions.Storage from v3 to v4 and are unable to do so because of the following error from Nuget:

Version conflict detected for Microsoft.Spatial. Install/reference Microsoft.Spatial 7.5.3 directly to project BeneLynk.DocumentComposition to resolve this issue.
 Our Project -> Another Project De

[2020-06-17 06:28] abatishchev commented on #739
@mathewc hi, should we come back to this idea? Or give up and close?

[2020-06-17 06:29] abatishchev commented on #1309
@mathewc hi, should we come back to this idea? Or give up and close?

[2020-06-17 19:26] mathewc commented on #1309
Yes, we're not planning on adding any first class features for this currently. I think this is best left to application code - you should have everything you need to implement this for your specific scenario.

[2020-06-17 19:28] #1309 closed

[2020-06-18 16:37] shibayan opened #2522 "WebJobsOptionsFactory implementation ignores the "validations" parameter"
Because the implementation of the `WebJobsOptionsFactory` ignores the validation, it does not perform the intended validation.

#### Repro steps

[code]

#### Expected behavior

I expect the validation to run.
`Sample:Value` key if the application settings are not set and `OptionsValidationException` is thrown.

#### Actual behavior

No validation is performed and the property values are not check

[2020-06-19 14:02] abhishek-msft opened #2523 "Not able to set AzureWebJobsDashboard and AzureWebJobsStorage from KeyVault"
#### Description
I want to set the connection string for AzureWebJobsStorage from Key Vault instead of picking from appSettings.json > connectionStrings > AzureWebJobsStorage.

I don't want to load this from Azure Cloud Configuration either.

#### Repro steps

I tried using the InMemory configuration and Environment.SetEnvironmentVariable to provide the connection strings as below:

1. InMemory co

[2020-06-20 18:53] ms-teli opened #2524 "Question: is there any way to load entry function from another assembly?"
Please provide a succinct description of the issue.

My Function project is Project1. I want to have it loading another method with attribute "[FunctionName]" from project Project2, which doesn't work. Project1 depends on Project2.

Is that supposed to work or is there any workaround? Thank you!

[2020-06-22 09:15] carol-braileanu commented on #1094
I having the same issue, but I deploy the webjob via FTP. I can confirm the files are updated, but the old version of the webjob seems to be running in the background somehow. Even if I stop or delete the job it is still running in the background somehow. The only way I have been able to fix this in the past was to delete the entire app service and re-create it.

I was hoping there was an easier f

[2020-06-23 13:25] josh-endries opened #2525 "Support config to prevent Event Hub trigger sequence number advancement on exception"
If I have an Event Hub trigger and my processing fails, those events (or at least the ones in a batch that haven't been processed yet) are effectively lost. Yes, you can retry, within your invocation, however Functions are time-bound, so if you can't successfully do whatever you need to within the limit, you're screwed and the messages are lost. If your Function dies due to an unhandled exception,

[2020-06-24 20:16] soninaren opened #2527 "Implement an api to put host in drain mode."
When the host is put in drain mode, It should:
- Stop watching / listening for new traffic.
- Call cancel on the cancellation token passed as a parameter to the function invocation

The idea behind implementing this mode is that Antares would put the host in drain mode. Wait a certain amount of time for the existing / pending invocations to complete. Finally perform a scale-in operation.

Currentl

[2020-06-24 20:17] fabiocav commented on #2373
For this work, let's take an approach that provides a helpful message when no internet connectivity is available or when it is lost.

[2020-06-25 04:51] OzBob opened #2528 "Missing Queue for Host 1.6k errors in 3 days from AppInsights on WebApp"
I have running webjobs, continuously for months, and are continuing to run now, with no specific failures logged in their output, on the WebJob SDK kudu webpages.

BUT

Application Insights have reported 1,640 errors from the WebJob Host.

The error was: 404 when requesting:
https://{name}.queue.core.windows.net:443/azure-webjobs-host-abe5fb6ff9ec4c478f2a7f7d696f7dbe?comp=metadata

The queue does

[2020-06-26 13:37] VladDerptastic commented on #2141
Furthermore I can no longer even find `.AddApplicationInsights()` as an option method in `.ConfigureLogging()`. Is it being phased out? Or there's a new way to configure it?

    var builder = new HostBuilder();
            builder.ConfigureLogging((context, b) =>
            {
                b.AddConsole();
                //APPLICATION INSIGHTS HERE
            })
            .ConfigureAppConfi

[2020-06-30 16:09] realrubberduckdev opened #2529 "Functions v3: Can't bind Table to type System.Linq.IQueryable"
Hitting this issue while trying to follow [Azure Table storage bindings for Azure Functions - IQueryable](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table?tabs=csharp#iqueryable).

#### Repro steps

Provide the steps required to reproduce the problem

1. Unzip attached [FunctionApp3.zip](https://github.com/Azure/azure-webjobs-sdk/files/4853029/FunctionApp3.zi

[2020-06-30 18:55] kannannet opened #2530 "Graceful Shutting down of Multi instance continuous running webjob during Auto Scale-in"
When a multi instance continuous running webjob  reduces the number of instance because of Auto Scale-in that instance should  use to the shutdown file to gracefully close rather than termination of that instance

#### Expected behavior

Should use shutdown file and gracefully shutdown the instance during Auto scale-in

#### Actual behavior

Instance gets terminated which leads to loss of data.

[2020-07-01 08:44] OzBob commented on #2528
Workaround: read applicationinsights logs, and find the name of the 'missing' queue and manually create it.

[2020-07-02 01:17] OzBob commented on #2528
I found the same error on my UAT system. I did not manually create the webjob, this time i restarted the webapp, and the error stopped being logged in Application Insights.

So, my conclusion is that the what ever Microsoft/azure team did to the Host system to cause a ‘Health Event’, did not restart the webapp and caused some webjob ‘host’ to start trying to connect to a queue that had not been cr

[2020-07-02 23:06] Kdamour commented on #2527
Please do not forget to check on the prefetch messages when determining if a cancelled function has completed.  Traffic would need to be stopped to the Az Function instance and then any prefetched messages and the current processing function would need to be completed to safely reclaim the process/host.

[2020-07-02 23:30] soninaren commented on #2527
You are correct, we do check and handle prefetch messages during drain mode.

[2020-07-02 23:44] SeanFeldman opened #2531 "VS2019 Functions template for Queue Storage uses old major version"
The template references `Microsoft.Azure.WebJobs.Extensions.Storage` version 3.0.10 when 4.0.2 is available

#### Repro steps

Provide the steps required to reproduce the problem

1. Create a new Azure Functions with Storage Queue trigger
2. Reference a package that has the latest major version of Microsoft.Azure.WebJobs.Extensions.Storage as a dependency

NuGet will complain about package downgra

[2020-07-03 00:44] soninaren commented on #2527
Addressed in the the PR https://github.com/Azure/azure-webjobs-sdk/pull/2526

[2020-07-03 00:44] #2527 closed, assigned to soninaren

[2020-07-03 15:41] SeanFeldman commented on #2531
Moved to the [appropriate repository](https://github.com/Azure/azure-functions#issues--feature-requests): https://github.com/Azure/Azure-Functions/issues/1648

[2020-07-03 15:41] #2531 closed, assigned to nobody

[2020-07-05 08:48] mliesmons opened #2532 "Why this version limit System.IdentityModel.Tokens.Jwt (>= 5.4.0 && < 6.0.0)"
Not making our lives easier doing this, we currently are at 6.7.1

[2020-07-05 08:50] mliesmons commented on #2532
Not making our lives easier doing this, we currently are at 6.7.1

[2020-07-06 08:44] Francois-du-Plessis commented on #1092
@christopheranderson  is this issue still on the backlog or is there another recommended way with dealing with these type of situations?

[2020-07-06 11:32] SashaSidorenko commented on #2007
Hi There! I've tried to set schedule in app settings and this suggestion won't help.
So I have an appsetting
  {
    "name": "FGScheduleStandard",
    "value": "0 */5 * * * *",
    "slotSetting": false
  }

and I've got added it's as schedule in settings.job file

{
  "schedule": "%FGScheduleStandard%"
}

and all I have in https://{sitename}.scm.azurewebsites.net/api/triggeredwebjobs/{jobname}  is

[2020-07-07 18:14] dhtek commented on #2365
+1 We also need to unit test and it's very hard today !

[2020-07-10 20:36] jcbrooks92 commented on #560
Hi @shawndewet a little late to be commenting but yes scaling up (not sure about out) will help.
https://github.com/Azure/azure-webjobs-sdk/issues/1050#issuecomment-359009675

[2020-07-13 01:01] imtrobin opened #2533 "Inner exception lost in IFunctionExceptionFilter when thrown from static ctor"
I notice this behavior ,but I'm not sure if it's by design. I have a static ctor that throws

[code]

Compared to a normal try/catch

[code]

[2020-07-13 08:50] christianarg commented on #1466
This is a bad idea: Many large codebases were written in 1x or 2x and use textwritter with this breaking change they had to be rewritten

[2020-07-13 16:59] Bpflugrad opened #2534 "System.MissingMethodException for Existing Custom Library Method."
Hello,

Originally posted over at [`azure-functions-host` #6317](https://github.com/Azure/azure-functions-host/issues/6317) but I'm seeing this project is the one in the stack trace so I thought I would post here as well.

I am getting `System.MissingMethodException` for a custom wrapper for `Microsoft.ApplicationInsights.TelemetryClient`.  This seems to occur randomly, with the Function App opera

[2020-07-15 00:02] zanecop opened #2535 "JSON value in HttpTrigger is throwing 500 on post due to JSON Value being over the maximum allowable size of int type"
#### Repro steps

Post to a HttpTrigger as application/json with this node will cause a 500 returned.

`"labels": [
      {
        "id": 2203105043
      }`

Upon inspection in App Insights, the following exception was found:

Newtonsoft.Json.JsonReaderException | JSON integer 2203105043 is too large or small for an Int32. Path '[0].id', line 1, position 17.
-- | --

Additionally, I wanted to not

[2020-07-15 00:31] zanecop commented on #2535
this was put into the incorrect products page, closing out

[2020-07-15 00:31] #2535 closed, assigned to nobody

[2020-07-16 09:30] mike-suffield-ul commented on #2152
Still seeing this issue, has anyone found the solution?

[2020-07-17 08:27] erikerikson commented on #1597
Sorry to be late to the party.  I am rather new to EventHub and quite surprised to learn about the existing behavior.  I landed here after trying to find a thorough API definition document declaring the behavioral consequences of the possible interactions between my code and the function infrastructure (thank you for the blogs and example code Jeff!).  I am now quite worried about data loss and in

[2020-07-20 07:43] imtrobin opened #2747 "IFunctionExceptionFilter response cause HttpClient exception"
I'm using IFunctionExceptionFilter to return a response. Running locally, HttpClient.SendAsync throws 'Error while copying content to a stream.' If I upload to azure, it works fine.

I made a repro [here](https://github.com/dotnet/runtime/issues/21427#issuecomment-660473665)

[2020-07-22 02:41] fabiocav opened #2537 "test"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Step A

2. Step B

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actual behavior observed.

#### Known workarounds

Provide a description of any known workarounds.

#### Related information

Prov

[2020-07-22 02:42] #2537 closed, assigned to nobody

[2020-07-22 02:43] fabiocav opened #2538 "Test"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Step A

2. Step B

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actual behavior observed.

#### Known workarounds

Provide a description of any known workarounds.

#### Related information

Prov

[2020-07-22 02:43] #2538 closed, assigned to mathewc

[2020-07-22 18:04] czb182 commented on #2394
Revisiting this for new webjob.  I haven't tried yet, but I'm wondering how well using the workservice AI package would work versus the package in this repo.  The AI package in this repo has dependences on asp.net which seems weird.

[2020-07-22 20:27] tolzon opened #2539 "EventHub Trigger advances stream position when function times out"
When using the EventHubTrigger with batched events, we are observing that the position on the stream is advanced when the Function times out.  This is in the consumption plan.

#### Repro steps

Provide the steps required to reproduce the problem

1. Create a Function with an EventHubTrigger, and a code loop that will cause a timeout.

2. Add some items to the EventHub for the function to process.

[2020-07-22 23:52] alainbryden commented on #2152
I have the exact same problem. We have two requirements:
1. The ability to control whether a message is completed, dead-lettered, or abandoned
2. Have the function show as failed ("Error") in Azure portal Monitor, rather than "Success" when this happens.

[Everything I've read](https://stackoverflow.com/questions/42782379) has told me the only way to have a function show as "Failed" is to throw an

[2020-07-24 00:28] czb182 commented on #2517
please release to nuget

[2020-07-27 20:12] patrick-steele commented on #1257
My guess is that this isn't currently possible due to the sequencing of Service Bus messages, but I prefer Microsoft to comment on that.

One idea: Complete the current message and publish a new copy of it with a [scheduled time in the future](https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-sequencing#scheduled-messages).  Not quite as easy as [updating the visibility timeout]

[2020-07-27 21:41] fabiocav commented on #2284
Assigning this to 81 for estimation/planning

[2020-07-28 11:34] dickvdm commented on #1223
Will assemblies like Microsoft.Azure.WebJobs.dll, Microsoft.Azure.WebJobs.Extensions.dll, Microsoft.Azure.WebJobs.Extensions.Http.dll etc. be code signed?

[2020-07-28 14:35] fabiocav commented on #1223
@dickvdm what version are you looking at?

[2020-07-28 15:10] dickvdm commented on #1223
@fabiocav I see we are using some outdated versions (which do not have signing). Newer ones do. We just have to update to newer :-). Thnx!

[2020-07-28 15:37] sdg002 commented on #1284
Since filters are not going to be available anytime soon and we are activiely looking for a way to authorize the Azure functions using JWT tokens, I propose that Microsoft issue sample code(C#) demonstrating how to validate and authorize HTTP functions using JWT tokens.

Thank you.

[2020-07-29 17:27] lostmsu opened #2541 "LogError does not emit exception details in Azure Function"
I am using injected `ILogger log` as follows in my Azure Function:

[code]

When I open the function in Azure Portal, and switch to "Code + Test", when this line hits all I get in the "Logs" is

[code]

E.g. no exception message and stack trace do not actually appear in the log.

#### Repro steps

1. Create an Azure Function 3.0 with C#, that receives `ILogger log`

2. Throw and catch an exception

[2020-07-29 21:10] lostmsu opened #2542 "Inability to index a function should cause ARM template deployment to fail"
When I deploy an ARM template, I'd like to know, that some of my Azure Functions have not been recognized.

#### Repro steps

1. Create a function with two triggers

2. Deploy it using an ARM template + MSDeploy resource

#### Expected behavior

Deploy should fail mentioning inability to index the function.

#### Actual behavior

Deploy succeeds, and there's little indication of anything going wro

[2020-07-30 23:41] fume commented on #2511
hi, any update?

thanks a lot, regards

[2020-07-31 09:33] gornikp opened #2543 "Azure function host kills instances of working functions unexpectedly."
In our project a few functions on one function host. We have there few http triggered ones, few service bus triggered ones and an instance of durable functions. From time to time the host is restarted unexpectedly with no errors. That causes few errors including TaskCancelledException. OperationCancelledException and ObjectDisposedException (on service bus).

![image](https://user-images.githubuse

[2020-08-02 21:36] kzu opened #2546 "Allow an IFunctionFilter to modify the HTTP status code/response"
`IFunctionFilter` (and in particular `IFunctionInvocationFilter`) seems to be the only mechanism by which the execution pipeline of a function can be modified in a cross-cutting way (since you can't really access the host builder to add arbitrary middleware).

As such, it would be *very* useful if the filters could affect the resulting status code of a request (say in an HTTP-triggered function).

[2020-08-03 15:58] rgamage commented on #1590
I agree on the accessibility of the release notes page.  No way to discover that page from the home page, and critical info is missing.  For example, going from 3.x to 4.x sounds like a major, possibly breaking change - I see no way to tell what really happened there or why the big version jump.  Should I upgrade to 4.x?  No idea.  4.0.0 preview1 notes are missing, which is where I would look for

[2020-08-03 16:29] fabiocav commented on #2290
@czb182 going through some of these old issues and came across this without a response. Apologies for the delay, but are you still experiencing issues?

[2020-08-03 16:32] fabiocav commented on #2319
The tooling is not maintained on GitHub, but @vijayrkn might be able to comment on the above (sorry about the tagging you on such an old issue).

[2020-08-03 16:32] fabiocav commented on #2319
@jviau can you please confirm you're still experiencing this issue?

[2020-08-03 16:33] vijayrkn commented on #2319
This should be fixed in functions sdk 3.0.9

[2020-08-03 17:33] ThejaChoudary commented on #2333
@ajaypathak Please let us us know if your still facing the issues with version.Closing this .Thank You!

[2020-08-03 17:33] #2333 closed, assigned to nobody

[2020-08-03 18:35] czb182 commented on #2290
I no longer have access to the particular piece of software which experienced this issue, but presumably the issue still exists.

Thanks for reaching out.  I hope MSFT is able dedicate resources to catch back up on this particular SDK, as I'm sure your aware of the size of untriaged issues and pending PR's.  This SDK seems to be used on every project I get assigned.

[2020-08-04 17:06] andres-j opened #2545 "Using System.Text.Json with Azure Functions"
While attempting to use [System.Text.Json](https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-apis/) in our functions app we have run into an issue where the returned IMvcCoreBuilder's _AddJsonOptions_ function expects an _MvcJsonOptions_ object. The _MvcJsonOptions_ object contains only _SerializerSettings_, which accepts only Newtonsoft-specific types for converters and options:

[2020-08-04 17:27] andres-j commented on #2545
We have identified a possible fix by including

[code]

in our project file. Our only concern is whether adding this dependency directly might interfere with WebJobs specific dependencies designed to work with Azure Functions?

[2020-08-04 20:47] andres-j commented on #2545
Unfortunately this is not a viable solution - while it allows the project to compile this does not actually configure what is used to serialize a response. The application continues to serialize following the separate (and unconfigurable) webjobs framework configuration

[2020-08-04 21:16] kzu commented on #2546
@mhoeger should issues related to APIs implemented in the [webjobs-sdk](https://github.com/Azure/azure-webjobs-sdk) be reported in that repo? (such as this one: https://github.com/Azure/azure-webjobs-sdk/issues/1314)

[2020-08-04 21:21] kzu commented on #1314
Logged https://github.com/Azure/azure-functions-host/issues/6445 just in case it gets more visibility over there. Without some way of affecting the resulting output in some way, it's not overly useful for things like *validation* which is mentioned explicitly as one of the scenarios in the [wiki on filters](https://github.com/Azure/azure-webjobs-sdk/wiki/Function-Filters)

[2020-08-04 22:50] mhoeger commented on #2546
@mathewc / @fabiocav / @paulbatum - This is a request similar to https://github.com/Azure/azure-functions-host/issues/4927 and others on adding some sort of filters to simplify logic for cross-cutting concerns.

Marking as Triaged and as a feature

[2020-08-05 20:38] fabiocav commented on #2284
Work has been scoped. We'll have an issue tracking the specific work and linked to this.

[2020-08-06 16:18] jakub-klapka commented on #2365
+1 Unit testing function main method (which is the case for all functions out there) is painfully verbose without this.

[2020-08-07 17:00] ghost commented on #2319
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-07 23:09] zmarty commented on #2488
@fabiocav We still need this in an internal Microsoft project :) Thanks!

[2020-08-10 13:13] hansmbakker commented on #2545
This is related to https://github.com/Azure/azure-functions-host/issues/5469.

[2020-08-10 18:00] #2319 closed, assigned to nobody

[2020-08-10 19:32] apwestgarth commented on #2436
Six months since this was raised, can I get an ETA on it's resolution?

[2020-08-10 20:49] moorechr4484 commented on #1284
This is a bit frustrating as now we have to write boilerplate and duplicated error handling/authorization logic.  Come on Microsoft!  You obviously know this is an important part of any web framework as it was created for MVC AND WebApi.  Why is this suddenly not a priority?  By the way, I love how the error handling section of Azure HTTP Trigger functions states

https://docs.microsoft.com/en-us/

[2020-08-10 21:13] Rafaelki commented on #2529
I have the same problem.
I have Microsoft.Azure.WebJobs.Extensions.Storage (4.0.2) and Microsoft.NET.Sdk.Functions (3.0.9) with target framework .NET Core 3.1.
Replacing IQueryable by CloudTable I get a similar error:
 Microsoft.Azure.WebJobs.Extensions.Storage: Can't bind Table to type 'Microsoft.WindowsAzure.Storage.Table.CloudTable'

[2020-08-10 23:18] fabiocav commented on #1284
Adding @jeffhollan for awareness/priority discussions, but this has not yet changed.

@moorechr4484 did you have specific feedback/something you'd like to see changed on the doc, or are you pointing out something that seems obvious to you?

[2020-08-11 06:06] myfinder commented on #2520
I have this problem too.

[2020-08-11 16:05] KZeronimo commented on #2389
@alohaninja any recommendations for disabling continuous web jobs (NoAutomaticTrigger) that are invoked explicitly.  The disable flag approach doesn't seem to work from my testing

It seems continuous web jobs are a bit of a niche ...

[2020-08-12 11:02] ThejaChoudary commented on #2529
@realrubberduckdev was able to repro and found no build errors.Can you please provide more related data to investigate more.

[2020-08-12 11:05] realrubberduckdev commented on #2529
@ThejaChoudary Just to confirm you followed the steps described and didn't see the binding errors in the console when you started debugging?

Please let me know and I'll try again.

[2020-08-12 11:13] Rafaelki commented on #2529
@ThejaChoudary I didn't have any build errors either. The error is in the console when you started debugging:

![image](https://user-images.githubusercontent.com/24438807/90009047-43907580-dc95-11ea-9793-1cd82d7f23ef.png)

[2020-08-12 11:15] ThejaChoudary commented on #2529
@realrubberduckdev was saying that I was able to repro and getting the errors in console but the build was successfull.

[2020-08-12 11:22] realrubberduckdev commented on #2529
@ThejaChoudary then what more related data is needed for investigating? Sorry I misunderstood your comment earlier.

[2020-08-12 17:07] ThejaChoudary commented on #2529
@pragnagopa Can you please look into this as I am able to repro it locally .Thank You !

[2020-08-13 07:33] harishbhattbhatt commented on #1597
Is this retry feature available now to use ? I can see PR is still open

is there any ETA for getting this feature ? We are badly looking for it, its very painful that it is taking such a long time to implement it.

[2020-08-13 14:28] fabiocav commented on #1597
@harishbhattbhatt no ETA at this point, but this is being prioritized, so we hope to have this land soon.

Thank you for your patience!

[2020-08-13 16:37] krishnasingh1818 opened #2548 "Add ability to turn on SQL query logging for Azure Functions"
Before 28 july 2020 we were able to see the sql queries in appinsight dependencies logs, but now we are only seeing server names and no sql queries are logged from azure functions consumption plan.  We have other code in aks cluster and sql queries are logged for calls done for app hosted in aks.

#### Expected behavior

Sql queries not logged in appinsight for azure function consumption plan.

##

[2020-08-13 16:39] krishnasingh1818 commented on #2548
in appinsight under command section we are just seeing server name instead of full sql query that is execute. please advise.
![image](https://user-images.githubusercontent.com/10679463/90161962-8b78d080-dd59-11ea-8860-c00d01b560b5.png)

[2020-08-13 16:47] pragnagopa commented on #2529
@realrubberduckdev  - Thank you for reporting the issue. This is same as https://github.com/Azure/azure-webjobs-sdk/issues/1566 - binding `IQueryable` is only supported in the Functions V1.

Opened:  https://github.com/MicrosoftDocs/azure-docs/issues/60812 to track documentation update.

[2020-08-13 16:47] #2529 closed, assigned to nobody

[2020-08-13 17:02] Rafaelki commented on #2529
So if IQueryable is not supported, what are we supposed to use? I tried replacing IQueryable with CloudTable and I got a similar, as I posted previously (https://github.com/Azure/azure-webjobs-sdk/issues/2529#issuecomment-671592965) and you can see in this screenshot:

![image](https://user-images.githubusercontent.com/24438807/90164260-17591f80-dd8f-11ea-9eba-5cbdfc9b4d19.png)

[2020-08-13 17:30] Rafaelki opened #2549 "Functions v3: Can't bind Table to type Microsoft.WindowsAzure.Storage.Table.CloudTable"
I am following the steps described here https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table?tabs=csharp#cloudtable to use CloudTable in a V3 Function.

I have Microsoft.Azure.WebJobs.Extensions.Storage (4.0.2) and Microsoft.NET.Sdk.Functions (3.0.9) with target framework .NET Core 3.1.

The solution compiles but when I debug in Visual Studio I get this error:
`T

[2020-08-13 18:36] gabrieljoelc commented on #1597
I'm still interested if the retries will cover exceptions in the function extension as I've previously posted. I added another https://github.com/Azure/azure-webjobs-sdk/pull/2463#issuecomment-673638910 on the PR for more context.

[2020-08-13 19:37] brettsam commented on #2549
When we moved the Storage extension to 4.0, it updated to the latest Storage SDK -- which changed namespaces on us.

Change the `using Microsoft.WindowsAzure.Storage.Table;` statement to `using Microsoft.Azure.Cosmos.Table;` and it should get you working.

[2020-08-13 19:37] #2549 closed, assigned to brettsam

[2020-08-13 19:47] Rafaelki commented on #2549
Thanks @brettsam
I can confirm that the errors in the debug console are gone.
(I would have prefered that you give me the time to reproduce the fix BEFORE closing the issue)

[2020-08-14 02:40] rhythmnewt commented on #1221
In my case i have config for keyvault loaded first, then I have to load keyvault, then I have to deserialize my credentials from keyvault and only then I can have the service bus connection string to bind to. It took me a bit of time to get it right, but here's the solution in case someone else runs into same issue. Hope it helps someone!
[code]
Now when setting up the binding for the function I c

[2020-08-14 18:35] ericthomas1 commented on #2387
@sidkri,
Apologies for revisiting a closed issue, but I cannot find info anywhere on the following:
1. **Is there a way to scope the Function permissions down (from the DataLake container-level) to a namespace-level?**
  - Adding the DataLake connection string as a Function trigger App Setting seems to spike the Function CPU whenever a file is added _to the DataLake_ even though the file is skippe

[2020-08-14 21:58] Methuselah96 commented on #2517
Looks like it's been released (https://www.nuget.org/packages/Microsoft.Azure.WebJobs/3.0.18). Thanks!

[2020-08-14 21:58] #2517 closed, assigned to nobody

[2020-08-16 19:30] ch53k commented on #1950
I ran into this problem today and discovered that the only time I experienced scoped DI service acting as a transient DI transient when I included a service added as an HTTPClient to the constructor of a scoped service.

Example:
Startup:
[code]

TestHandler:
`public class TestHandler(HttpCustomClient http, SqlService sql) { }`

However, if I set this up like this it scoped services will act norma

[2020-08-18 13:55] BC89 commented on #1931
I've noticed this too and believe it plays into my current issue with ApplicationInsights. No matter what i do in my config settings, the built in webjobs logger nuget Microsoft.Azure.WebJobs.Logging.ApplicationInsights 3.0.18 wants to default to LogLevel == Information which is a lot of chatter/noise. In code I can override this by setting the log level in the configuration builder.

[code]
`
Ann

[2020-08-18 14:25] brettsam commented on #1931
@BC89 -- that seems like a different issue -- can you spin this off into a new issue and tag me in it?

[2020-08-18 14:32] BC89 opened #2551 "Webjobs - Appsettings, TelemetryClient and AppplicationInsights"
@brettsam I've noticed this too and believe it plays into my current issue with ApplicationInsights. No matter what i do in my config settings, the built in webjobs logger nuget Microsoft.Azure.WebJobs.Logging.ApplicationInsights 3.0.18 wants to default to LogLevel == Information which is a lot of chatter/noise. In code I can override this by setting the log level in the configuration builder.

[c

[2020-08-18 16:53] paulbatum commented on #308
Old issue. Dashboard logging is not under active maintenance.

[2020-08-18 16:53] #308 closed

[2020-08-18 17:32] lmolkova opened #2552 "Client location information is not populated on ApplicationInsights telemetry"
Client Ip address is not captured by ApplicationInsights SDK and client location information is not populated on the telemetry inside Azure Functions, but populated when ApplicationInsights SDK is user in ASP.NET or ASP.NET Core service.
Client IPs are protected GDPR so they do not appear by default on the portal, instead Application Inisghts ingestion service populates client location (city, stat

[2020-08-18 18:01] Bpflugrad commented on #2534
I haven't observed this problem in since mid July.  Is it possible one of the Azure Function Runtime updates silently fixed it?

[2020-08-19 16:49] v-anvari commented on #2427
Hi @mohammedhussain6, Thank you for bring out this issue to us. We were able to reproduce this issue, this seems like a portal issue. We are investigating this further with the portal team and we'll try to fix the issue at the earliest.

[2020-08-20 01:11] soninaren commented on #2436
This is now complete.

[2020-08-20 13:19] v-anvari commented on #2545
Hi @andres-j , We hope your issue is resolved by taking reference from "[Azure/azure-functions-host#5469](https://github.com/Azure/azure-functions-host/issues/5469)". We are closing this issue, since this is related to #5469. Please feel free to reopen this issue, in case of any further concerns.

[2020-08-20 13:19] #2545 closed, assigned to nobody

[2020-08-20 13:24] v-anvari commented on #2457
Hi @estensen, @MisinformedDNA , Thank you for pointing this out to us. We will update the WIKI page with the updated links.

CC @brettsam, if you had any comment on this ask.

[2020-08-20 13:34] v-anvari commented on #2363
Hi @alrod, We hope your issue is resolved by taking reference from ["Azure/azure-functions-host/issues/2015".](https://github.com/Azure/azure-functions-host/issues/2015). We are closing this issue, since this is related to #2015. Please feel free to reopen this issue, in case of any further concerns.

[2020-08-20 13:34] #2363 closed, assigned to nobody

[2020-08-20 16:56] v-anvari commented on #2349
Hi @ChadNedzlek , Thank you for bringing out this point to us. The "package description" shall be updated in the mentioned package.

[2020-08-20 17:13] v-anvari commented on #2487
Hi @NickMSW, Thank you for bringing up this request, taking this enhancement further and the team shall consider updating the comments in the upcoming releases.

[2020-08-23 01:19] NSouth commented on #1284
Can anyone elaborate on what "Integrate Filters fully with DI" means? What integration is missing? Thanks.

[2020-08-23 01:28] davidpeden3 commented on #1284
Filters are not constructed using DI. I.e., you must use service location to "inject" dependencies into them.

[2020-08-23 14:24] NSouth commented on #1284
@davidpeden3 , thank you. I'll note here a few observations about _global_ filters for others who are interested.
1. It seems `IFunctionFilter` _must_ be registered as a Singleton. You get a runtime error otherwise.
2. Other _Singleton_ services can be injected.
3. If you want access to non-Singleton services, you need to inject `IServiceScopeFactory` and create a scope to resolve such services.
H

[2020-08-24 09:20] wouter-b commented on #1757
Any new guidance?

[2020-08-24 12:18] vijaymarada commented on #1284
Following this.
After reading all of them. Even the Microsoft is made  IFunctionInvocationFilter, IFunctionExceptionFilter  obsoleted I feel, Its safe to use for the basic support of global exception handling and authorizing the requests for my HTTP trigger function.
@mathewc @paulbatum Any suggestions?

[2020-08-24 12:31] vijaymarada commented on #1314
+1, Even am counting on this.

So many duplicate threads on the same issue. Although IFunctionInvocationFilter, IFunctionExceptionFilter APis are obsoleted, shall We can consider using this until this ticket is addressed?

[2020-08-24 15:11] Ashtacore commented on #2311
Would be great to have this feature instead of having to use the outdated and bloated storage API.

[2020-08-24 16:39] pawod commented on #1980
For triggered jobs try to replace

`host.Run();` by `host.Start();`

in your Program.cs, it worked for me.

[2020-08-26 15:48] ZachTB123 opened #2576 "[Custom Handlers - Go] More clarity around exceptions"
I don't know if this is necessarily related to Custom Handlers, but I've encountered this plenty of times and it makes development difficult.

Errors that are surfaced in Application Insights aren't helpful in troubleshooting issues. For example, I have a timer triggered function that is running every two minutes and I cannot seem to go a day without some sort of issues. All of the exceptions I ha

[2020-08-26 15:49] ZachTB123 commented on #2576
@pragnagopa @anthonychu

[2020-08-26 16:01] pragnagopa commented on #2576
cc @yojagad
Thanks for opening the issue. I need to investigate more
- To confirm if function execution timeout exceptions are surfaced properly
- If there is anything we can do to capture full exception stack trace for the `System.Net.Sockets.SocketException`

[2020-08-26 18:19] MrMaheshwari commented on #1284
Why this is not based on attribute?

[2020-08-26 18:30] NSouth commented on #1284
@MrMaheshwari, I haven't tried it myself, but I believe you can implement invocation filters as attributes. See the example here:
https://www.c-sharpcorner.com/article/do-you-know-azure-function-have-function-filters/

[2020-08-26 18:44] MrMaheshwari commented on #1284
Thanks for sharing such a nice article

[2020-08-26 18:44] MrMaheshwari commented on #1284
Thanks for sharing such a nice article

[2020-08-26 22:39] hiraldesai opened #2559 "Question: is there a way to remove "prop__" prefix from custom dimensions?"
I would like to know if I use logger.BeginScope() with a state dictionary, is there a way for me to tell the SDK not to prefix the property with "prop__"?

[2020-08-27 01:34] ZachTB123 commented on #2576
@pragnagopa

Also seeing:

[code]

tonight when trying to write output. Seems to be correlated to my connections timing out.

Invocation ID: 0090d4f6-5b42-4fc8-a3b4-4bc76b6a8778
Timestamp: 2020-08-27 01:21:49.8549732

Don't seem to be reaching any thresholds based on the "Diagnose and solve problems" blade in the portal:

<img width="1072" alt="Screen Shot 2020-08-26 at 8 58 52 PM" src="https://us

[2020-08-27 11:36] MrMaheshwari commented on #1314
Any ETA for this to release, as this is in high demand?

[2020-08-27 11:48] MrMaheshwari commented on #1284
Any ETA to release this feature?

[2020-08-27 13:41] v-anvari commented on #2267
Hi @Freddy090909, closing this issue hoping that the issue has been resolved for you. Please feel free to reopen for any queries regarding this issue.

[2020-08-27 13:41] #2267 closed

[2020-08-27 13:51] v-anvari commented on #2427
Hi @mohammedhussain6, We have raised a [SO](https://stackoverflow.microsoft.com/questions/217432) to check if the issue is related to Ibiza- dashboard. An investigation work item has been raised for the same. We are closing this issue, since the issue is related to Ibiza dashboard.

[2020-08-27 13:51] #2427 closed, assigned to nobody

[2020-08-27 14:39] mohammedhussain6 commented on #2427
Thanks Anusri

On Thu, Aug 27, 2020 at 2:51 PM Anusri_Varier <notifications@github.com>
wrote:

--
Thanks & Regards,
Mohammed Hussain (Ph.D.)

[2020-08-27 16:10] MrMaheshwari commented on #1284
@NSouth Here is a limitation, we can not return back the HttpResponseMessage object

[2020-08-27 16:15] ThejaChoudary commented on #2548
@krishnasingh1818 it would be great if you share a simple repro ,we will investigate further.

[2020-08-31 13:12] IanKemp commented on #1284
Microsoft Azure dev team: issues "preview" of highly-requested feature
Also Microsoft Azure dev team: doesn't bother finishing said feature more than 3 years later

Have you guys, you know, considered hiring more devs so work actually gets done in a reasonable timeframe? It's not as if you work for a small mom-and-pop shop...

[2020-08-31 15:32] brandonh-msft commented on #901
Any update here?

[2020-08-31 23:57] mathewc commented on #1144
Now that we're on the lastest storage SDK, can we now remove this code? https://github.com/Azure/azure-webjobs-sdk/blob/50df9323e730c62207b85273712081cf9803f8c2/src/Microsoft.Azure.WebJobs.Extensions.Storage/Queues/QueueProcessor.cs#L147

[2020-09-01 14:18] brettsam commented on #1144
I just looked through the SDK and don't see anything that addresses what I was asking for. I submitted https://github.com/Azure/azure-sdk-for-net/issues/14755.

[2020-09-01 22:10] GeraltTheWolf commented on #2496
Is there any progress on this issue?

[2020-09-02 12:38] BrianVallelunga commented on #921
@lukasvosyka Despite what those docs say, the newest SDK does support batching now for Service Bus. See here: https://github.com/Azure/azure-sdk-for-net/blob/cb05f2e989d3cd3658084ae725f90041476bb8a7/sdk/servicebus/Microsoft.Azure.ServiceBus/src/QueueClient.cs#L346

I'd really like to see this added to the ICollector and IAsyncCollector interfaces as it would dramatically speed up some of my functi

[2020-09-02 14:27] zweim1 opened #2562 "Azure function Event Hub output binding using Sas Token, throws Time-out interval must be less than 2^32-2."
Please provide a succinct description of the issue.
Same issue as https://github.com/Azure/azure-sdk-for-net/issues/8530, but in Azure Function Event Hub output binding

Azure Function Event hub output binding connection string via SaS token valid for three months. It throws the following exception when send messages:

Executed 'MyFunctionName' (Failed, Id=45fb871d-c246-417e-94e8-e7f8dd28f067, Dur

[2020-09-02 19:42] zweim1 commented on #2562
Find a workaround:
By default, the nuget package used by function app Microsoft.Azure.WebJobs.Extensions.EventHubs (4.1.1) includes the nested dependency Microsoft.Azure.EventHubs.Processor (3.0.0).
If we explicitly add the latest Microsoft.Azure.EventHubs.Processor 4.3.0 package to the project, the exception goes away.

[2020-09-03 21:08] #2552 closed, assigned to nobody

[2020-09-04 12:07] v-anvari commented on #2307
@gjmoyer / @itsashish-patel , I believe this might have been caused by a race condition which has been fixed -- Azure/azure-webjobs-sdk [#2194](https://github.com/Azure/azure-webjobs-sdk/issues/2194)

The Functions runtime updates should have included the fix by now. Closing the issue, please feel free to re-open if you continue to see any such issue.

[2020-09-04 12:07] #2307 closed, assigned to nobody

[2020-09-04 14:35] DarinMacRae commented on #2098
The vast majority of Transactions showing up in Metrics are the CreateTable calls. It seems like such a waste of resources to just hammer away and get 409s. The simplest solution that would work for me would be to add a property on the binding (or in the hosts.json file) to tell it to let us handle any creation and just fail if it doesn't exist.

[2020-09-04 14:58] brettsam commented on #2186
Well, I completely missed following up on this -- @davidmatson do you know if you're still having this issue? If so we can take a look.

[2020-09-06 06:03] sanjaykulkarni04 opened #2566 "Azure Functions Blob storage trigger not firing for deleted blobs from container"
Please provide a succinct description of the issue.

Hi Team,

Azure Function is not being called for deleted blobs. I am referring sample code - https://docs.microsoft.com/bs-latn-ba/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=csharp

**Below is the sample code** -
`[FunctionName("BlobTriggerCSharp")]
public static void Run([BlobTrigger("samples-workitems/{name}")] Stream m

[2020-09-07 07:20] ThejaChoudary commented on #2228
@brettsam can you please look into this further.

[2020-09-07 07:26] ThejaChoudary commented on #2241
@shibuya-takahiro hope your issue resolved with the latest version.Proceeding to close the case,please feel free to reach out to us for any further queries.

[2020-09-07 07:26] #2241 closed

[2020-09-07 07:50] SergiyKostenko commented on #2098
Issue still exist, but I would like to share workaround I am using, I am temporally disabling Appinsigts for such kind of calls:
`TelemetryConfiguration.Active.DisableTelemetry = true;`
Hope that help someone

[2020-09-08 11:57] v-anvari commented on #2392
Hi @jonathanantoine, Apologies for the delayed response. I am sure there has been further releases in last few months.

But, If you are still wanting the release notes, kindly help us with the package or link of the NuGet package that you are referring to.

[2020-09-08 12:01] v-anvari commented on #2377
Hi @ranouf, Apologies for the delay in response. Let us know if you're still having this issue? If so we can take a look.

[2020-09-08 12:12] v-anvari commented on #2391
@bb-naveenkumar , apologies for the delayed response.  let us know if you are still looking for a fake storage for your unit testing.

[2020-09-08 13:18] sanjaykulkarni04 opened #2567 "Event Grid Trigger Azure Function: How to access metadata(user defined key, value pair) of deleted blobs?"
How to get metadata of deleted blob in Event Grid Trigger Azure Function? Below is a sample C# code -

[FunctionName("EventGridTriggerFunction")]
public static void Run([EventGridTrigger]EventGridEvent eventGridEvent, ILogger log)
{ log.LogInformation(eventGridEvent.Data.ToString());
}

Can I get from EventGridEvent --> data object property? Is there any way to set custom event schema with blob's

[2020-09-08 14:42] pragnagopa commented on #1597
@gabrieljoelc - regarding your comment https://github.com/Azure/azure-webjobs-sdk/pull/2463#issuecomment-673638910

- PR adds generic support of function execution retries in Webjobs SDK
- Delay in between retries can be customized by the user
- In case of event hubs,  using retry would mean that on function invocation failure, checkpointing will only happen after all the retry attempts have been

[2020-09-08 18:08] brettsam opened #2570 "Update App Insights Aggregator logging to use current best practices"
Back when we wrote the aggregator, it was recommended that we log the function name in the metric name. But now there are dimensions we can add that will improve the experience for creating charts.

Example recommendation from App Insights:
[code]

We'll need to roll this out in a versioned fashion where current metrics are "v1" and this new mode is "v2" so we don't change any existing apps.

[2020-09-08 19:26] mhoeger opened #2571 "Update build to use .net 3.1"
Opened PR here: https://github.com/Azure/azure-webjobs-sdk/pull/2569

But there was an error:
[code]

[2020-09-08 22:36] davidmatson commented on #2186
I'm not sure - I've switched to working on another project. If I recall correctly, the exception text still gets output but does not prevent loading, so I think it may be more spew and confusion than strictly blocking.

[2020-09-09 15:09] ttjackott commented on #2365
Please add this! Desperate for this for the sake of our unit tests!

[2020-09-09 16:42] sanjaykulkarni04 commented on #2567
@brettsam can you please help me?

[2020-09-10 12:24] v-anvari commented on #2366
This issue has been identified and has been here for a long time and a PR has been raised for the same, hence closing this issue. Please feel free to open a new issue if there are any queries regarding any feature

[2020-09-10 12:24] #2366 closed, assigned to nobody

[2020-09-10 14:51] jeffhollan commented on #1284
I can see some interest in this and so going to give the answer that may help folks plan the best, but things can always change.  We don't have any plans to bring functions filters as currently implemented as this preview feature forward.  That said, the scenario that many people are interested in using function filters for, namely to add some logic and middleware before an execution triggers, is

[2020-09-10 15:03] IanKemp commented on #1284
Honestly, that's exactly how I'd want it to work.

Not to be a downer or fail to give credit where it's due to you guys for your efforts, but for better or worse the ASP.NET Core "way" of doing dependency injection, middleware, etc. is effectively the standard in the .NET world, and Azure Functions' differences (seemingly at times just for the sake of being different) and limitations compared to A

[2020-09-12 12:00] ghost commented on #2392
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-12 13:00] ghost commented on #2391
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-12 13:00] ghost commented on #2377
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-14 04:03] VienArchway commented on #2520
Update nuget version of Spatial and OData.Core to latest version. That's solved my problem.

[code]

[2020-09-14 15:06] mauve opened #2575 "Update storage SDK to 12.x"
For example I really would like to migrate to `Azure.Storage.Blobs` (i.e. the v12 SDK) so that I can start using `Azure.Identity` for authentication instead of these annoying connection strings.

What is the timeline for migration? Is there some preview packages I can use? I am a new user so I do not care about backwards compatibility even though I understand that is important for GA.

[2020-09-14 17:59] fabiocav commented on #2522
Assigning this to the upcoming sprint

[2020-09-14 20:46] klenium opened #2577 "Do not print next 5 timer trigger occurrences concurrently"
If more than one timer is located in the project, the console becomes unreadable:

[code]

To which trigger these log entities connected to? I can not tell.

[2020-09-14 20:48] yojagad commented on #2576
Took a deeper look at this. The exception in question

`Exception type: System.Net.Sockets.SocketException
Message: The operation was canceled. Unable to read data from the transport connection: The I/O operation has been aborted because of either a thread exit or an application request.. The I/O operation has been aborted because of either a thread exit or an application request`

comes from Http

[2020-09-14 21:43] ZachTB123 commented on #1597
I'm also interested in this. Just throwing it out there but something like what AWS Lambda does called [Bisect on Function Error](https://aws.amazon.com/about-aws/whats-new/2019/11/aws-lambda-supports-failure-handling-features-for-kinesis-and-dynamodb-event-sources/) would be useful. That could potentially cut down on duplicate data when an invocation with a large batch size fails.

[2020-09-14 21:55] gabrieljoelc commented on #1597
@pragnagopa thank you for the feature summary.

However, this doesn't answer my question about errors happening in the function event hub trigger middleware (before it runs function body).

[2020-09-15 12:21] shamshuddeeen commented on #2387
Any updates on this. if yes, Azure blob trigger function works with data lake gen2. Can any one share code samples? via link or drop a snippet in comment section? That really helps a lot.
What i am trying to do?
I have a data lake container. inside HDFS name spaces ex: "container/year/month/day/bunch of files". files will upload on daily bases and folder structure is dynamic based on current date

[2020-09-15 13:00] #2392 closed, assigned to v-anvari

[2020-09-15 14:00] #2391 closed, assigned to brettsam, v-anvari

[2020-09-15 14:00] #2377 closed, assigned to v-anvari

[2020-09-15 14:42] AdrianPell commented on #921
I've been using IAsyncCollector for Azure queues for a while ... and recently I've started seeing, very very occasionally, that the queue message never seems to actually make it to the queue. At least, the consumer of the queue never receives it. Since there's no possible way for an error to surface, it's hard to tell what's happening. FWIW, the AddAsync call is pretty much the last thing in the f

[2020-09-15 15:50] ericthomas1 commented on #2387
@shamshuddeeen ,
1. Set set the `functions.json` `path` value to `container/year/month/day/{name}`.
2. Set the `local.settings.json` `triggerStorageAccount` to either:
  - The ADL Gen2 Connection String OR
  - A KeyVault reference to the Connection String
  - *Unfortunately*, this gives the Function full permissions on the ADL Storage Account.
    - No Access Control List nor Role is available to

[2020-09-15 17:50] fabiocav commented on #921
@AdrianPell are you seeing that with no changes on your side? If so, it might be worth sharing more details in a new issue so we can take a closer look here. Any errors, in addition to details on how you're hosting/using the feature (e.g. Functions, standalone WebJobs, hosting plans/model, etc.) would be helpful.

[2020-09-15 19:54] sidkri commented on #2387
@ericthomas1, sorry for the late response, I missed the email notification of your initial message.

Regarding #1, for consumption plan type functions, resource consumption is calculated based on how long a function invocation lasts only and not for activity like checking trigger sources.  For dedicated and premium plans, you pay for how long the workers/nodes are running. Documented [here.](https

[2020-09-15 21:27] #2284 closed, assigned to gzuber

[2020-09-16 15:51] v-anvari commented on #2485
Hi @itpropro , Proxy name is just a description and should have no impact on the runtime. We tried to reproduce the scenario, but the function app works as expected.

Let us know If you are still facing the issue, if yes, can you run the function url and we can check the logs from our side.

[2020-09-16 15:58] pragnagopa commented on #1597
@gabrieljoelc - Check pointing should not happen if exceptions are hit before function code is even executed. Please open a separate issue for that. Would be great if you can attach a simple repro.

[2020-09-16 16:13] pragnagopa commented on #1597
Addressed in PR https://github.com/Azure/azure-webjobs-sdk/pull/2463

[2020-09-16 16:13] #1597 closed

[2020-09-16 16:54] v-anvari commented on #2324
Hi @manu4rhyme-zz , Apologies for the delay in response.

You are right, Run-from-package makes the entire site directory read-only. You can't disable the individual webjobs as it requires a file "disable.job" to be present in the webjobs directory for the job you wish to stop. Which is more clearly explained in [#2389](https://github.com/Azure/azure-webjobs-sdk/issues/2389).

let us know If you h

[2020-09-16 17:57] v-anvari commented on #2328
Hi @geotinc , apologies for the delay in response. Kindly let us know if you are still using this scenario, and are facing issue, So that we can look into it further.

[2020-09-16 18:01] v-anvari commented on #2330
Hi @artsherwood , Apologies for the delay in response. We are sure this scenario has been resolved in later releases. But, kindly let us know if you are still looking out for a description for older version.

[2020-09-17 14:26] AlexEngblom commented on #2365
+1 unit testing without this is painful.

[2020-09-17 15:09] pragnagopa commented on #2575
@brettsam - Do we have any planned workitems to update storage SDK to v12?

cc @soninaren for bundles udpates.

[2020-09-17 15:13] mauve commented on #2575
I am aware that this is a breaking change, but it would be nice if there were a timeline or a way to opt in to early.

[2020-09-17 15:20] pragnagopa commented on #2575
To consume any major version updates in the dependency packages - major version updates will be released for extension packages and bundles.

Updated the title for the issue and triaged. We will update this issue when we have a timeline or a plan

[2020-09-17 15:26] mauve commented on #2575
Do you know when you might have a plan? How long should I be holding my breath for?

[2020-09-17 15:57] brettsam commented on #2341
Sorry for the slow reply here -- are you referring to the App Service Key Vault references? https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references.

If you can show exactly what you're trying to do, we may be able to point you in the right direction.

[2020-09-17 16:13] pragnagopa commented on #2577
When running in Azure, logs in ApplicationInsights should have function name. This issue is specific to logs when running locally.
Transferring this back to core tools repo.

@anthonychu  - should we include function name in the log message?

[2020-09-17 19:30] sanjaykulkarni04 commented on #2567
@brettsam just reminding you.. also please let me know how to set meta data while deleting blob using Rest api call?

[2020-09-17 23:50] paulbatum commented on #2575
Hi folks, we have some work in progress on this, for example see [here](https://github.com/Azure/azure-sdk-for-net/pull/15139). There is still significant work remaining, so we're not sure of when we might have a preview ready yet. But you should at least hear from us again later this calendar year on how the work is progressing.

[2020-09-18 09:59] v-anvari opened #2583 "Disable attribute doesn't seem to work for "NoAutomaticTrigger""
Please provide a succinct description of the issue.

Disabling continuous web jobs for "NoAutomaticTrigger" that are invoked explicitly.  "Disable" attribute doesn't seem to work for "NoAutomaticTrigger".

**Repro steps**:

Deploy a .NET project (with webjobs) using the WEBSITE_RUN_FROM_PACKAGE app setting.

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behav

[2020-09-18 10:02] v-anvari commented on #2389
Hi @KZeronimo , This seems like a different issue, we have raised a new issue for the same, which will be followed up in [#2583](https://github.com/Azure/azure-webjobs-sdk/issues/2583). Closing this issue.

[2020-09-18 10:02] #2389 closed, assigned to nobody

[2020-09-18 14:53] mauve commented on #2575
@paulbatum thanks for the followup, do you also know the status of ServiceBus (as the latest SDK there also supports Azure.Identity)?

[2020-09-18 16:13] brettsam commented on #2583
I believe that Disabled functions are still invokable directly, we just didn't start their listeners, but @mathewc can help confirm for us. If that's the case, then there's no real way to make a `NoAutomaticTrigger` function completely disabled.

[2020-09-18 16:28] mathewc commented on #2583
Correct - DisableAttribute only affects triggered functions (we don't start their listeners). They're still directly invokable via code however (JobHost.Call). See https://github.com/Azure/azure-webjobs-sdk/blob/b798412ad74ba97cf2d85487ae8479f277bdd85c/src/Microsoft.Azure.WebJobs/DisableAttribute.cs#L17.

[2020-09-18 18:56] pablosguajardo commented on #1327
Hello, I'm the same.
it fires 3 times.
surely they are the events I have created for testing.
But how do I eliminate them all so I create a new one to run only that one?

In the cosole there are 3 events that are triggered at the same time:
2020-09-18T15:28:13.541 [Information] Executing 'D2KEventGrid' (Reason='EventGrid trigger fired at 2020-09-18T15:28:13.2184099+00:00', Id=595fc416-0280-43e1-8d

[2020-09-18 20:18] paulbatum commented on #1327
@pablosguajardo I think you're talking about something different to what is being discussed here, because it looks you are using eventgrid, while this issue is discussing the behavior of the built-in blob trigger..

[2020-09-20 16:00] ghost commented on #2485
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-20 17:00] ghost commented on #2324
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-20 18:00] ghost commented on #2328
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-20 19:00] ghost commented on #2330
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-21 02:08] acblksun opened #2584 "How to correctly add a custom AI telemetry processor"
Hi there,

We're looking to add a custom AI telemetry processor when using the azure webjobs SDK nuget package
`Microsoft.Azure.WebJobs.Logging.ApplicationInsights`. We require some filtering for some of the automatically collected telemetry. In this case the telemetry we wish to filter is from Azure table storage. Our App Insights is flooded (and alerts on) 401 failures to table storage items we

[2020-09-21 15:46] rhythmnewt commented on #2499
I get the same error logged and I do have the AzureWebJobsStorage setting populated with storage connection. I have two bindings there, an HTTP trigger with ServiceBus output and ServiceBus trigger. Both triggers run successfully yet this error is logged in AI.

    <TargetFramework>netcoreapp3.1</TargetFramework>
    <AzureFunctionsVersion>v3</AzureFunctionsVersion>
    <PackageReference Include=

[2020-09-21 16:00] ghost commented on #2341
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-22 09:17] doublegrey commented on #1327
Quick solution for people who are trying to  properties.Created
BlobProperties

I was surprised that no one has provided a solution to this problem in 3 years 😄.
Hope my example will be useful to someone

[code]

Have a nice day!

[2020-09-22 14:46] MisinformedDNA commented on #1284
Yes. Yes. A million times Yes. At its core, Azure Functions should just be an ASP.NET Core app with an extra service (plus configuration), i.e.:

[code]

[2020-09-22 20:16] mcalvin-stratus10 opened #2586 "Upgrading to Microsoft.Azure.Functions.Extensions v1.1 breaks function in Azure"
Please provide a succinct description of the issue.

#### Repro steps

We upgraded to Microsoft.Azure.Functions.Extensions version 1.1 yesterday, and all of our Azure functions have the following error message:

```System.Private.CoreLib: could not load type 'Microsoft.Azure.WebJobs.Hosting.IWebJobsStartup2' from Assembly Microsoft.Azure.WEbJobs.Host, Version=3.0.17.0 ....'```

#### Expected behav

[2020-09-22 21:12] samuel-velazquez opened #2587 "Event and setting repos"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. Step A

2. Step B

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actual behavior observed.

#### Known workarounds

Provide a description of any known workarounds.

#### Related information

Prov

[2020-09-23 04:06] samuel-velazquez commented on #2587
Here from this class import and get url if go null.

[2020-09-23 10:16] ghost opened #2588 "Microsoft.Azure.WebJobs.Logging.ApplicationInsights NuGet package has dependency with known security vulnerabilities"
#### Description

Microsoft.Azure.WebJobs.Logging.ApplicationInsights references Microsoft.ApplicationInsights.AspNetCore as dependent package.
Microsoft.ApplicationInsights.AspNetCore had a security vulnerability issue in 2.14.0 (with Microsoft.AspNetCore.Hosting).
This has been fixed in 2.15.0.
The package Microsoft.Azure.WebJobs.Logging.ApplicationInsights references is >=2.14.0.
Please upgrade

[2020-09-23 11:20] v-anvari commented on #2368
Hi @KSchlobohm , Apologies for the delay in response. This issue was somehow missed, we are eager to know if you are still facing the same issue, so that we can look into it.

[2020-09-23 12:18] v-anvari commented on #2186
@brettsam , any thoughts here?

[2020-09-23 12:26] v-anvari commented on #2290
@brettsam , any thoughts here?

[2020-09-23 12:37] v-anvari commented on #2325
Hi @ashuthinks , Apologies for the delay in response. If we understood it right, do you want to move the messages to [Dead-letter queue](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dead-letter-queues#moving-messages-to-the-dlq)? if yes, then you can move message to DLQ by calling the [DeadLetter](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.qu

[2020-09-23 12:44] v-anvari commented on #2350
Hi @amigup , We apologize for un-attending the issue, there were multiple fixes done on [release 2.3.0](https://github.com/Azure/azure-webjobs-sdk/releases/tag/v2.3.0), latest release being [WebJobs 3.0.19](https://github.com/Azure/azure-webjobs-sdk/releases/tag/v3.0.19). We hope the issue has been resolved with later releases.

Closing this issue, in case of any queries regarding the same issue,

[2020-09-23 12:44] #2350 closed, assigned to nobody

[2020-09-23 12:49] v-anvari commented on #2353
Hi @gmanvel , We apologize for un-attending the issue, let us know if you are still looking out for help with this issue?

[2020-09-23 14:48] AndrewMorris-2 commented on #2365
This feature would be extremely useful for unit testing.

[2020-09-23 16:32] lansal15 commented on #2365
+1

[2020-09-23 16:43] markhamannpolaris commented on #2365
+1

[2020-09-23 16:54] tgursk commented on #2365
+1

[2020-09-23 16:58] brandonBotz commented on #2365
+1

[2020-09-23 17:00] #2485 closed, assigned to v-anvari

[2020-09-23 18:00] #2324 closed, assigned to v-anvari

[2020-09-23 18:06] jfren484 commented on #2365
+1

[2020-09-23 18:35] pragnagopa opened #2589 "Release Storage extension to nuget"
cc @gohar94

Once the deployment for https://github.com/Azure/app-service-announcements/issues/288 completes, release storage extension to nuget and create release work item to update bundles.

[2020-09-23 19:00] #2328 closed, assigned to v-anvari

[2020-09-23 20:00] #2330 closed, assigned to v-anvari

[2020-09-24 00:30] Chris-Johnston commented on #2472
Hi, I think that this pattern can be a bit confusing for new contributors. I was definitely confused when I saw that my build failed for a reason unrelated to the changes in my branch. If full CI is still not an option for every PR, could this be communicated to new contributors through either:
 - A message in a [pull request template](https://github.blog/2016-02-17-issue-and-pull-request-template

[2020-09-24 12:10] LayZeeDK commented on #2586
Probably related to https://github.com/Azure/azure-functions-dotnet-extensions/issues/51.

[2020-09-24 13:26] StingyJack commented on #2248
This is kind of ridiculous that we cant set a connection string unless we use a crummy json file, and that it has survived this long without being fixed. This has pretty much solidified never moving to the v3 SDK unless there is something worth moving for (like Webjobs v3 dont mysteriously stop logging for days, or the logging for them is not so hard to read).

[2020-09-24 15:12] pragnagopa commented on #2548
More details: https://github.com/microsoft/ApplicationInsights-dotnet/issues/1425

@brettsam  - Do you have any more details on this? Do we have to update SDK to expose an option to enable SQL query logging?

[2020-09-24 16:18] pragnagopa commented on #2186
@v-anvari - please try the repro and let us know if this is a blocker or not.

[2020-09-24 16:24] pragnagopa commented on #2228
@ThejaChoudary - please repro the issue.

[2020-09-24 16:28] mike1880 commented on #1314
Three years on and still no progress? This is really NOT optional, it needs doing.

[2020-09-24 16:35] pragnagopa commented on #2290
@v-anvari - Please repro this issue.

[2020-09-24 16:46] v-anvari commented on #2365
@alrod , Is this a feature we can add?

[2020-09-24 17:00] #2341 closed, assigned to brettsam

[2020-09-24 21:25] nicklasjepsen commented on #2328
@v-anvari  I have the exact same issue, however, I'm using version 4.0.1 of the web job packages.

[2020-09-24 21:41] nicklasjepsen commented on #2328
But my issue was caused by a wrong publish setting 😶

Change WebJob Type to **Continuous** when publishing from VS and running Timer triggered functions in the web job solved my problem.

[2020-09-24 22:36] rhythmnewt commented on #2499
I deleted my two comments as my issue was not related to this.

[2020-09-24 23:14] aaltotsky commented on #2586
I had the same issue:
`System.Private.CoreLib: Could not load type 'Microsoft.Azure.WebJobs.Hosting.IWebJobsStartup2' from assembly 'Microsoft.Azure.WebJobs.Host, Version=3.0.16.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.`

Add NuGet package
`<PackageReference Include="Microsoft.Azure.WebJobs" Version="3.0.19" />`
rebuild solution
Check the version of the Microsoft.Azure.WebJobs.Hostin C

[2020-09-24 23:56] goiri opened #2590 "[FeatureRequest] Input binding composed by multiple blobs"
# Overview
Currently, if we want to pass multiple blobs as inputs to our function, we need to explicitly specify each blob individually.
It would be useful to have the ability to specify a set of them (e.g., folder) and expose them to the function as a collection (e.g., list).

# Current status
We need to specify each input blob individually in the JSON:
[code]
This translates into the Python code

[2020-09-25 00:48] kzu commented on #1314
@vijaymarada the only reason they are marked Obsolete is that there's no equivalent [Preview] attribute they could use. My understanding from interacting with the team is that they have every intention to ship the feature as stable at some point.

[2020-09-25 13:45] brettsam commented on #2472
Your points are good ones -- I think there's a couple things we can do here. I'm going to re-open this and assign it to the next Sprint. Some things we can do:
1. Create a better experience when a non-team-member submits a PR. Instead of failing CI, try to get our "secretless" CI running again.
2. Explain in contributing.md that a team member will need to mark your PR valid for a full-ci run after

[2020-09-25 13:59] brettsam commented on #2248
@StingyJack -- can you share what you'd like to accomplish? You don't need any json files -- you can add whatever configuration you want using `ConfigureAppConfiguration()`. This issue is to make that a little bit easier by adding an explicit `IOptions<>` class that you can configure. But it's still possible by reading the config from anywhere you want.

[2020-09-25 14:05] brettsam commented on #2548
We need to expose a new setting that we flow through to the App Insights SDK -- `EnableSqlCommandTextInstrumentation`. Will assign this to next sprint.

[2020-09-25 14:37] v-anvari commented on #2371
Hi @ranouf , This is a known issue for webjobs 3.x onwards. Check this issue [comment](https://github.com/Azure/azure-webjobs-sdk/issues/1716#issuecomment-485967715) and this [comment](https://github.com/Azure/azure-webjobs-sdk/issues/2179#issuecomment-485555607).

Closing this issue as duplicate

[2020-09-25 14:37] #2371 closed, assigned to nobody

[2020-09-25 16:26] pragnagopa commented on #2576
Closing this issue as addressed.

Exception Message : `The operation was canceled. `  and the stack were accurate. We determined root cause to be HttpClient closing the connection as the timeout was not set properly. This issue is now fixed.

We have updated the functions host also to reflect full exception stack in the system logs to help us diagnose issues like these faster in future.

[2020-09-25 16:26] #2576 closed, assigned to yojagad

[2020-09-26 15:52] danielwertheim opened #2591 "FunctionExceptionFilterAttribute, is it ever going to get out of preview?"
Seem to have been in preview a rather long time: https://github.com/Azure/azure-webjobs-sdk/blame/dev/src/Microsoft.Azure.WebJobs.Host/Filters/FunctionExceptionFilterAttribute.cs#L13

What should be used instead if you want to intercept calls to functions?

[2020-09-27 04:35] samuel-velazquez commented on #2587
Array compose time: and reset so call back im process tasks hidden or blind if regular expression and if test and element above

[2020-09-27 12:00] ghost commented on #2368
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-27 13:00] ghost commented on #2353
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-27 13:00] ghost commented on #2325
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-09-28 08:34] ThejaChoudary commented on #2566
@sanjaykulkarni04 Could you please make sure that blob storage logs is enabled, because this service would scan through the logs and try to identify blobs that have been deleted, modified in addition to the usual blob strategy that it uses. So it is important to have logging enabled otherwise we wont be able to detect where blobs were deleted.
Also it may take a few minutes to delete and not a imm

[2020-09-28 08:40] ThejaChoudary commented on #2543
@gornikp Can you please provide us the App Information and timestamp to investigate more.

[2020-09-28 08:54] sanjaykulkarni04 commented on #2566
@ThejaChoudary Thank you so much for the quick response. Can you please share with me the documentation link?

Actually, my requirement is, whenever the user is uploading new/modifying/deleting files/blobs thru REST API calls (react client), I want to store the entire custom audit trail chain on each file (e.g. user name - person, blob creation time, last modified time, etc.). I am using Blob meta

[2020-09-28 15:39] brettsam commented on #2591
@mathewc -- what's the latest status on this?

[2020-09-28 16:24] ThejaChoudary commented on #2587
@samuel-velazquez Can you please explain us what was the exact issue you are facing?

[2020-09-28 21:25] u000fsr commented on #1726
any updates on the ability to nested properties in cosmos sql query?

[2020-09-29 14:28] KSchlobohm commented on #2368
I recreated this issue today using VS 2019 v16.7 preview 6.

![image](https://user-images.githubusercontent.com/23503973/94571978-1fcdc280-0236-11eb-9124-d2408d825247.png)

[2020-09-29 14:32] KSchlobohm commented on #2368
@v-anvari
* [2369](https://github.com/Azure/azure-webjobs-sdk/issues/2369)

Do you know anyone on the azure-webjobs-sdk-extensions project?
* [603](https://github.com/Azure/azure-webjobs-sdk-extensions/issues/603)

[2020-09-29 17:37] zmarty commented on #2103
@brettsam We saw this 7,457 times in the last 7 days in our Azure Function apps. Each such instance restarted the entire host.

{"assembly":"Microsoft.Azure.WebJobs.Host, Version=3.0.22.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35","method":"Microsoft.Azure.WebJobs.Host.Timers.TaskSeriesTimer+<RunAsync>d__14.MoveNext","level":15,"line":147,"fileName":"C:\\projects\\azure-webjobs-sdk-rqm4t\\

[2020-09-30 12:44] v-anvari commented on #2368
Hi @KSchlobohm ,NuGet package updates  brought in [breaking changes](https://github.com/Azure/app-service-announcements/issues/129) which is discussed in the [ git hub issue](https://github.com/Azure/app-service-announcements-discussions/issues/64). It's based on the generic host which is similar to the asp.net host. Here's an [example](https://github.com/Azure/azure-webjobs-sdk/blob/00686a5ae3b31

[2020-09-30 14:00] #2353 closed, assigned to v-anvari

[2020-09-30 14:00] #2325 closed, assigned to v-anvari

[2020-09-30 20:12] fabiocav commented on #2571
What is driving this change/requirement?

[2020-09-30 20:25] fabiocav commented on #2522
Moving to sprint 86, but we're trying to get this into the 85 payload.

[2020-09-30 20:27] fabiocav commented on #2571
Moving to sprint 86 for discussion.

[2020-09-30 20:53] fabiocav commented on #2472
@yojagad can you create issues to track migrating the build over to our DevOps infra?

[2020-09-30 20:55] jeffhollan opened #2595 "Expose current retry count in the context of the function"
Per the new retry feature rolling out, one scenario that is desired is the ability to deadletter / capture something that is on its final retry.  For example, if I have an event hub triggered function and define a retry policy of 5, on the 5th retry if it fails I want to catch that failure and store it in a deadletter queue or something so I can go inspect it later.  However, today the context for

[2020-09-30 20:56] jeffhollan commented on #2595
And this would need to be piped into Java, Python, C#, PowerShell, and JavaScript context objects - not sure if additional work needed on the language libraries to support this

[2020-09-30 21:49] pragnagopa commented on #2595
I agree `retrycount`  is useful to include in execution context.  Once this change is pulled into functions host --> Rpc layer needs to be updated to include this info. Language workers need to be updated to consume change in Rpc.

[2020-09-30 22:05] jeffhollan commented on #2595
FWIW I think just the retry count would be good, retry count + defined maximum slightly better, but best case we pass in the entire `RetryContext` with info on the exception that was hit last

[2020-10-01 01:09] mathewc commented on #2595
Yes, we might surface RetryContext on ExecutionContext. We'd just have to add MaxRetries to RetryContext - it's not there now. Not sure yet if we should surface that raw type, or have a new type with the members needed. E.g. RetryContext currently has an IFunctionInstance member on it that we might not want to expose here. Need to think about it more.

Another important thing - we need to be sure

[2020-10-01 15:29] brettsam commented on #2589
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage/4.0.3 is now released.

[2020-10-01 15:29] #2589 closed, assigned to brettsam

[2020-10-01 16:39] v-anvari commented on #2369
Hi @KSchlobohm , Thank you for bringing this up, It has been marked as a bug, which shall be corrected in the portal.

[2020-10-02 08:18] Scooletz commented on #2571
Hey @fabiocav . Is it possible to see the plans for this kind of issues? You mention `sprint 86`. Using `Projects` on GitHub would allow external contributors to plan their work in a wiser way. For instance, recently I issued a few performance related PRs and I don't know what are the plans for the components I changed. Are there any plans for this?

[2020-10-02 15:00] ghost commented on #2543
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-10-03 01:58] samuel-velazquez commented on #2587
only disponice town nice two me with

[2020-10-03 23:27] samuel-velazquez commented on #2587
us run this shape in bool is skeleton if func dynamic or them is declarate main soget inst feature cell (markdown) as frameworks

[2020-10-05 13:15] ThejaChoudary commented on #2566
@sanjaykulkarni04 Please refer the [link](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=csharp#polling) and also can you please confirm if deleted blobs were detected after enabling the logs.
And also for above question can you please elaborate the issue like what is your exact requirement?

[2020-10-05 13:49] ThejaChoudary commented on #2587
@samuel-velazquez Can you elaborate the issue and also provide us the repro steps of the issue your facing as we are unable to understand the issue by the above given information.

[2020-10-05 15:04] velocicoder-1 opened #2600 "Microsoft.Azure.Webjobs.Logging.ApplicationInsights 3.0.23 Dependencies - Microsoft.Azure.Webjobs 3.0.23 Does Not Exist"
I tried installing the latest Microsoft.Azure.Webjobs.Logging.ApplicationInsights Nuget Package and it has Microsoft.Azure.Webjobs v3.0.23 as a dependency, which does not exist.

[2020-10-05 15:51] samuel-velazquez commented on #2587
andwer list statement only them so char in platform include top if getso and hidden information class single do call like string validation

[2020-10-05 16:00] #2543 closed, assigned to soninaren, ThejaChoudary

[2020-10-05 17:09] ThejaChoudary commented on #2587
@samuel-velazquez The information provided here is not sufficient to work on the issue, hence proceeding to close the issue. Please free to open a new issue with required details .Thank You!

[2020-10-05 17:09] #2587 closed

[2020-10-06 01:49] robertmclaws commented on #2600
You folks need to either increpemtn Microsoft.Azure.WebJobs to version 3.0.23, or issue a new ApplicationInsights package that has the right dependency.

[2020-10-06 02:17] robertmclaws commented on #2456
Also having the same issue. Based on my research, I do not believe that the JobHost is actually calling the SingletonManager to release the lock. Using Visual Studio or other means to drop the disable.job file into the Job folder, the lock is still not released. And the way the APIs are designed, we cannot easily go in and release the lock ourselves, because of the layers between the SingletonList

[2020-10-06 15:34] stephanruhland commented on #2546
You could inject IHttpContextAccessor into your IFunctionFilter implementation.
The property HttpContext should allow you to modify the response.
Kind regards

[2020-10-06 16:36] ZachTB123 commented on #2576
Is there any sort of timeline of when this will be released?

[2020-10-06 16:53] brettsam commented on #2600
We're trying to get ApplicationInsights 3.0.23 hidden -- it was inadvertently released early. @fabiocav as FYI

[2020-10-06 16:57] brettsam commented on #2586
@mcalvin-stratus10 -- maybe our container images weren't up-to-date when you tried moved forward. Have you been able to try again?

[2020-10-06 17:06] gradynash-carmax commented on #2499
I am getting the same error, I'm using sdk version dotnetc:2.14.0-17971 is the only difference I can see.  Any ideas?

[2020-10-07 07:43] Scooletz opened #2601 "Clarify when and how external PRs are reviewed"
This is a question related to a the process of accepting Pull Requests that is described in [Contributing.md](https://github.com/Azure/azure-webjobs-sdk/blob/dev/CONTRIBUTING.md#submitting-pull-requests). Recently I opened a few PRs. They are not bug fixes. They're mostly focused on performance aspects of Azure Storage Queues, just to list a few:

- https://github.com/Azure/azure-webjobs-sdk/pull/

[2020-10-07 09:34] stephanruhland commented on #2591
We would love to see the Filters and the FilterAttributes out of Preview!

It targets a lot of interfaces and attributes:
- IFunctionInvocationFilter
- IFunctionExceptionFilter
- IFunctionFilter
- FunctionInvocationFilterAttribute
- FunctionExceptionFilterAttribute

Kind regards

[2020-10-07 09:36] DOliana commented on #2586
We are having the same issue. Adding `Microsoft.Azure.Webjobs` 3.0.19 did not fix it for us. These are our packages:
[code]

What did work is to revert `Microsoft.Azure.Functions.Extensions` to 1.0.0

[2020-10-07 13:44] brettsam commented on #2601
@Scooletz -- good question. Right now a lot of these are coming to me and it's getting backlogged a bit. We currently have a bot that assigns issues to people on the team immediately (round-robin style), so that we can have some accountability for responses. The same thing isn't happening for community PRs, though.

@fabiocav -- Is that something that we can adjust the bot to also do? Also it look

[2020-10-07 14:10] brettsam commented on #2586
@DOliana -- is that locally or in Azure? If locally, can you make sure you're running on the latest version of the Azure Functions Core Tools?

[2020-10-07 14:47] DOliana commented on #2586
It's locally when trying to debug in Visual Studio - so I am using what came with Visual Studio 16.7.5 (that's 3.0.2534). While trying to update I foudn out that I was facing the issue described [here on SO](https://stackoverflow.com/a/61337685).

After performing the described steps and veryfing that the used version of the core tools is newer (not the latest, but higher 3.0.2931) it worked again

[2020-10-07 14:57] robertmclaws commented on #2456
I wrote an Azure CLI script for an Azure DevOps pipeline to help take care of this during my deployments so that I could make my [SimpleMessageBus](https://girhub.com/CloudNimble/SimpleMessageBus) project run predictably. Would be great if the shutdown processes with the V3 SDK could be tested and double-checked, because I don't think they are shutting down gracefully.

Here's the script:

[code]